/***********************************************************
	Filename: .css
	Note	: 后台专用CSS，已合并，后台只用一个CSS文件
	Version : 4.0
	Web		: www.phpok.com
	Author  : qinggan <qinggan@188.com>
	Update  : 2014年1月7日
***********************************************************/


/* 后台全局样式 */
html{font-size:12px;font-family:"Microsoft Yahei","宋体","Arial","Tahoma";margin:0;padding:0;}
body{margin:3px;padding:0;overflow-y:scroll;_margin:0; _height:100%;}
img{border:0 none;margin:0;padding:0;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;color:darkblue;}
select{padding:3px;}


/* 字体样式 */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wky9vz');
	src:url('fonts/icomoon.eot?#iefix-wky9vz') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wky9vz') format('woff'),
		url('fonts/icomoon.ttf?-wky9vz') format('truetype'),
		url('fonts/icomoon.svg?-wky9vz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-home:before{content:"\e600"}
.icon-office:before{content:"\e644"}
.icon-newspaper:before{content:"\e645"}
.icon-pencil:before{content:"\e601"}
.icon-droplet:before{content:"\e602"}
.icon-image:before{content:"\e603"}
.icon-images:before{content:"\e604"}
.icon-camera:before{content:"\e605"}
.icon-music:before{content:"\e606"}
.icon-film:before{content:"\e607"}
.icon-camera2:before{content:"\e608"}
.icon-pacman:before{content:"\e609"}
.icon-connection:before{content:"\e60a"}
.icon-book:before{content:"\e60b"}
.icon-books:before{content:"\e60c"}
.icon-library:before{content:"\e60d"}
.icon-file:before{content:"\e60e"}
.icon-file2:before{content:"\e60f"}
.icon-file3:before{content:"\e646"}
.icon-copy:before{content:"\e647"}
.icon-stack:before{content:"\e610"}
.icon-folder:before{content:"\e648"}
.icon-folder-open:before{content:"\e611"}
.icon-tag:before{content:"\e612"}
.icon-tags:before{content:"\e613"}
.icon-barcode:before{content:"\e614"}
.icon-qrcode:before{content:"\e615"}
.icon-cart:before{content:"\e616"}
.icon-coin:before{content:"\e649"}
.icon-credit:before{content:"\e64a"}
.icon-calculate:before{content:"\e64b"}
.icon-phone:before{content:"\e617"}
.icon-address-book:before{content:"\e618"}
.icon-envelope:before{content:"\e619"}
.icon-pushpin:before{content:"\e61a"}
.icon-location:before{content:"\e61b"}
.icon-map:before{content:"\e61c"}
.icon-history:before{content:"\e64c"}
.icon-clock:before{content:"\e61d"}
.icon-calendar:before{content:"\e64d"}
.icon-calendar2:before{content:"\e61e"}
.icon-print:before{content:"\e61f"}
.icon-keyboard:before{content:"\e64e"}
.icon-screen:before{content:"\e620"}
.icon-mobile:before{content:"\e64f"}
.icon-mobile2:before{content:"\e650"}
.icon-tablet:before{content:"\e621"}
.icon-cabinet:before{content:"\e651"}
.icon-download:before{content:"\e622"}
.icon-upload:before{content:"\e652"}
.icon-undo:before{content:"\e653"}
.icon-redo:before{content:"\e654"}
.icon-forward:before{content:"\e655"}
.icon-reply:before{content:"\e656"}
.icon-bubble:before{content:"\e657"}
.icon-bubbles:before{content:"\e623"}
.icon-bubbles2:before{content:"\e624"}
.icon-user:before{content:"\e625"}
.icon-users:before{content:"\e626"}
.icon-user2:before{content:"\e658"}
.icon-user3:before{content:"\e659"}
.icon-quotes-left:before{content:"\e65a"}
.icon-busy:before{content:"\e65b"}
.icon-search:before{content:"\e627"}
.icon-expand:before{content:"\e628"}
.icon-contract:before{content:"\e629"}
.icon-expand2:before{content:"\e65c"}
.icon-contract2:before{content:"\e65d"}
.icon-key:before{content:"\e62a"}
.icon-lock:before{content:"\e62b"}
.icon-wrench:before{content:"\e62c"}
.icon-settings:before{content:"\e65e"}
.icon-equalizer:before{content:"\e65f"}
.icon-cogs:before{content:"\e660"}
.icon-cog:before{content:"\e62d"}
.icon-wand:before{content:"\e62e"}
.icon-bug:before{content:"\e62f"}
.icon-pie:before{content:"\e661"}
.icon-stats:before{content:"\e630"}
.icon-bars:before{content:"\e631"}
.icon-gift:before{content:"\e662"}
.icon-leaf:before{content:"\e632"}
.icon-rocket:before{content:"\e633"}
.icon-lab:before{content:"\e663"}
.icon-remove:before{content:"\e634"}
.icon-briefcase:before{content:"\e664"}
.icon-airplane:before{content:"\e635"}
.icon-truck:before{content:"\e665"}
.icon-target:before{content:"\e666"}
.icon-shield:before{content:"\e667"}
.icon-lightning:before{content:"\e668"}
.icon-switch:before{content:"\e669"}
.icon-powercord:before{content:"\e636"}
.icon-list:before{content:"\e66a"}
.icon-numbered-list:before{content:"\e66b"}
.icon-menu:before{content:"\e66c"}
.icon-tree:before{content:"\e66d"}
.icon-cloud:before{content:"\e637"}
.icon-cloud-download:before{content:"\e638"}
.icon-cloud-upload:before{content:"\e639"}
.icon-download2:before{content:"\e63a"}
.icon-upload2:before{content:"\e66e"}
.icon-globe:before{content:"\e66f"}
.icon-earth:before{content:"\e63b"}
.icon-link:before{content:"\e670"}
.icon-flag:before{content:"\e63c"}
.icon-attachment:before{content:"\e671"}
.icon-eye:before{content:"\e672"}
.icon-eye-blocked:before{content:"\e673"}
.icon-bookmark:before{content:"\e674"}
.icon-bookmarks:before{content:"\e675"}
.icon-star:before{content:"\e676"}
.icon-star2:before{content:"\e677"}
.icon-star3:before{content:"\e678"}
.icon-heart:before{content:"\e63d"}
.icon-thumbs-up:before{content:"\e679"}
.icon-thumbs-up2:before{content:"\e67a"}
.icon-smiley:before{content:"\e63e"}
.icon-sad:before{content:"\e67b"}
.icon-warning:before{content:"\e67c"}
.icon-notification:before{content:"\e67d"}
.icon-question:before{content:"\e67e"}
.icon-info:before{content:"\e67f"}
.icon-info2:before{content:"\e680"}
.icon-blocked:before{content:"\e681"}
.icon-cancel-circle:before{content:"\e682"}
.icon-checkmark-circle:before{content:"\e683"}
.icon-spam:before{content:"\e684"}
.icon-close:before{content:"\e685"}
.icon-checkmark:before{content:"\e686"}
.icon-minus:before{content:"\e687"}
.icon-plus:before{content:"\e688"}
.icon-enter:before{content:"\e689"}
.icon-exit:before{content:"\e68a"}
.icon-loop:before{content:"\e68b"}
.icon-font:before{content:"\e68c"}
.icon-text-height:before{content:"\e68d"}
.icon-text-width:before{content:"\e68e"}
.icon-bold:before{content:"\e68f"}
.icon-underline:before{content:"\e690"}
.icon-italic:before{content:"\e691"}
.icon-strikethrough:before{content:"\e692"}
.icon-omega:before{content:"\e693"}
.icon-sigma:before{content:"\e694"}
.icon-table:before{content:"\e695"}
.icon-insert-template:before{content:"\e696"}
.icon-pilcrow:before{content:"\e697"}
.icon-paragraph-left:before{content:"\e698"}
.icon-paragraph-center:before{content:"\e699"}
.icon-paragraph-right:before{content:"\e69a"}
.icon-indent-increase:before{content:"\e69b"}
.icon-indent-decrease:before{content:"\e69c"}
.icon-newtab:before{content:"\e69d"}
.icon-embed:before{content:"\e69e"}
.icon-code:before{content:"\e69f"}
.icon-console:before{content:"\e6a0"}
.icon-share:before{content:"\e6a1"}
.icon-google-drive:before{content:"\e6a2"}
.icon-twitter:before{content:"\e6a3"}
.icon-feed:before{content:"\e6a4"}
.icon-tux:before{content:"\e63f"}
.icon-apple:before{content:"\e6a5"}
.icon-finder:before{content:"\e640"}
.icon-android:before{content:"\e641"}
.icon-windows8:before{content:"\e642"}
.icon-delicious:before{content:"\e6a6"}
.icon-file-pdf:before{content:"\e6a7"}
.icon-file-openoffice:before{content:"\e6a8"}
.icon-file-word:before{content:"\e6a9"}
.icon-file-excel:before{content:"\e6aa"}
.icon-file-zip:before{content:"\e6ab"}
.icon-file-powerpoint:before{content:"\e6ac"}
.icon-file-xml:before{content:"\e6ad"}
.icon-file-css:before{content:"\e6ae"}
.icon-html5:before{content:"\e6af"}
.icon-css3:before{content:"\e6b0"}
.icon-chrome:before{content:"\e6b1"}
.icon-firefox:before{content:"\e6b2"}
.icon-IE:before{content:"\e643"}
.icon-opera:before{content:"\e6b3"}
.icon-safari:before{content:"\e6b4"}

/* 自定义常用样式 */
.lft{text-align:left;}
.clear{clear:both; height:0; margin:0; padding:0; width:0; border:none; overflow:hidden;font-size:0;}
.red{color:red;}
.darkblue{color:darkblue;}
.b{font-weight:bold;}
.i{font-style:italic;}
.n{font-style:normal;}
.center{text-align:center;}
.gray{color:gray;}
.hand{cursor:pointer;}
.hide{display:none;}
.hidden{display:none;}
.mb3{margin-bottom:3px;}
.mtop{margin-top:3px;}
.w33{width:33px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w99{width:99px;}
.w150{width:150px;}
.ti24{text-indent:24px}
.size10{font-size:10px;}



.welcome{padding:10px;line-height:25px;}
.welcome p{text-indent:24px;line-height:25px;}

/* 网站下的DIV */
.top{position:relative;background:#2D2D2D;border-bottom:1px solid #000;height:29px;line-height:29px;overflow:hidden;color:#fff;}
.top .logo{width:130px;height:29px;cursor:pointer;overflow:hidden;text-align:center;}
.top a{color:#fff;display:block;height:29px;overflow:hidden;padding-left:10px;padding-right:10px;margin-right:5px;}
.top a:hover{background:#4C4C4C;}
.top a.active{background:#4C4C4C;font-weight:bold;border-top:2px solid #DD4B39;height:27px;line-height:27px;}
.top_search{position:relative;background:#F5F5F5;border-bottom:1px solid #E5E5E5;min-width:980px;}

.main{margin:0 auto;padding:0;position:relative;}
.main .tips{border:1px solid #E5E5E5;background:#F5F5F5;padding-left:12px;line-height:25px;margin-top:3px;}

.main .body{margin-right:3px;overflow:hidden;}
.main .tips p{margin:1px 0;}
.main .tips div.action{
	float:right;
	line-height:25px;
	padding-right:5px;
	padding-left:18px;
	background:url("../images/tips_action_a.gif") left center no-repeat;
}
.main .help{
	border:1px solid #E5E5E5;
	background:#F5F5F5;
	padding-left:12px;
	margin:3px 0 0 0;
}
.main .help h4{
	height:26px;
	line-height:26px;
	margin:0;
	padding:0;
	font-size:12px;
}
.main .help p{text-indent:24px;font-size:12px;font-style:italic;margin:0 0 5px 0;padding:0;}


.foot{text-align:left;border-top:1px solid #ccc;padding:7px 5px;font-family:"Tahoma","Arial";line-height:22px;height:40px;color:#929292;}
.foot a{color:#929292;}
.foot .foot_right{float:right;text-align:right;display:block;height:40px;line-height:40px;font-weight:bold;font-size:14px;}
/* 管理员个人中心 */
ul.admin_panel{list-style:none;margin:0;padding:0;}
ul.admin_panel li{float:left;margin-right:10px;width:100px;height:31px;background:url("../images/button.png") 0 -62px no-repeat;text-align:center;margin-top:10px;line-height:29px;cursor:pointer;}
ul.admin_panel li.hover{background-position:0 -93px;}

.list{margin:5px 3px 0 0;}
.list th{padding:0;border-bottom:2px solid #E5E5E5;height:25px;background:#D1D1D1;}
.list th.lft{text-align:left;text-indent:5px;}
.list tr.list{background:#F3F3F3}
.list tr:nth-child(2n+1){background:#F1F1F1}
.list td{padding:3px;}
.list tr:hover{background:#F9F9F9;}
.list tr.end{background:none}


.list2{margin:5px 3px 0 0;}
.list2 th{padding:0;border-bottom:2px solid #E5E5E5;height:25px;background:#D1D1D1;}
.list2 th.lft{text-align:left;}
.list2 tr.list{background:#F3F3F3}
.list2 td{padding:3px;}
.list2 tr.hover{background:#2D2D2D;}
.list2 tr.hover td{color:#fff;}
.list2 tr.hover td a{color:#fff;}

.table{padding:2px 10px;margin:1px 5px 0 5px;cursor:default;}
.table:after{clear:both;height:0;visibility:hidden;display: block;}
.table .title{padding-left:3px;line-height:23px;}
.table .title span.note{color:gray;font-style:italic;font-weight:normal;}
.table .content{padding-left:3px;}
.table .content .price{margin-top:5px;margin-right:0;}
.table .content .price th{padding:0;border-bottom:2px solid #E5E5E5;height:25px;background:#D1D1D1;}
.table .content .price th.lft{text-align:left;}
.table .content .price tr.list{background:#F3F3F3}
.table .content .price td{padding:3px;}
.table .content textarea{font-size:14px;font-family:"Microsoft Yahei","宋体","Arial","Tahoma"}
.table .content td label{margin:0 10px 0 0;padding:0;display:inline-block;}
.table .content td label input{margin-right:5px;vertical-align:-7%;}


.table .content ul.lang{margin:0;padding:0;list-style:none;}
.table .content ul.lang li{margin-bottom:3px;}


/* 常用表单 */
input[type=text],input[type=password]{
	border:1px solid #E5E5E5;
	height:25px;
	line-height:25px;
	font-size:18px;
	font-weight:normal;
}

textarea.long{width:500px;height:80px;}
textarea.default{width:350px;height:40px;}
input.long{width:500px;}
input.default{width:350px;}
input.width100{width:100px;}
input.width120{width:120px;}
input.short{width:55px;}
input.short50{width:50px;}
input.radio{border:0;height:22px;line-height:22px;}
input.checkbox{border:0;height:22px;line-height:22px;}
input.submit,input.button,input.btn,input.ext_btn{
	border:1px solid #ACACAC;
	margin:0 0 0 3px;
	padding:2px 6px;
	text-align:center;
	background:#ECECEC url("../images/btn_bg.jpg") center center repeat-x;
	color:#000;
}
input.submit{color:darkred;font-weight:bold;}
input.submit:hover,input.button:hover,input.btn:hover,input.ext_btn:hover{border-color:#7EB4EA;background:#E3F0FC;}

/* 提交按钮自定义 */
input.submit2 {
	margin:0;
	padding:0;
	text-align:center;
	background:url("../images/button.png") left top no-repeat;
	width:100px;
	height:31px;
	border:0;
	color:#fff;
	font-weight:bold;
}
input.submit2:hover{
	background-position:0 -31px;
}

input.button2{
	margin:0;
	padding:5px 10px 6px 10px;
	background:#F3F3F3;
	border:1px solid #D9D9D9;
	font-weight:bold;
	cursor:default;
}
input.button2:hover{
	background:#F1F1F1;
	border-color:#C6C6C6;
}

/* 常用Table表单 */
th.id{width:60px;}
th.id30{width:30px;}
th.action{width:120px;text-align:left;padding-left:5px;}
th.title{text-align:left;padding-left:3px;}
th.sign{width:120px;}

td.id{text-align:center;}

/* 用于Ajax的提示 */
.tips_ajax{padding:20px;}

/*常用按钮图标*/
a.icon{background:url("../images/icons.gif") no-repeat;width:16px;height:16px;display:block;float:left;margin-left:3px;margin-right:2px;cursor:pointer;}
a.add{background-position:0 0;}
a.edit{background-position:-16px 0;}
a.delete{background-position:-32px 0;}
a.del2{background-position:-16px -32px;}
a.attr{background-position:-48px 0;}
a.field{background-position:-48px 0;}
a.none{background-position:right -70px;}
a.layout{background-position:0 -48px;}
a.prev{background-position:-64px 0;}
a.folder{background-position:-48px -96px;}
a.sqlback{background-position:0 -112px;}
a.status1{background:url("icons.gif") 0 -16px;width:16px;height:16px;margin:0 3px;display:block;}
a.status0{background:url("icons.gif") -16px -16px;width:16px;height:16px;margin:0 3px;display:block;}
a.is_gd{background:url("icons.gif") 0 -16px;width:16px;height:16px;margin:0 3px;display:block;}
a.no_gd{background:url("icons.gif") -16px -16px;width:16px;height:16px;margin:0 3px;display:block;}
a.piclink{background-position:-16px -112px;}
a.pic_gd{background-position:-32px -112px;}
a.pic_del{background-position:-48px -112px;}
a.copy{background-position:-64px -48px;}
a.end{margin-right:0;}
a.space{background:none;cursor:default;}

div.cate{height:20px;margin:5px auto auto auto;padding:3px 10px 1px 10px;line-height:20px;float:left;border:1px solid #000;}
div.cate_add
{
	float:left;
	margin:5px auto auto auto;
	padding:4px 4px 0px 4px;
	border:1px solid #000;
	border-left:0;
	padding-bottom:1px\0; /* IE9 */
	*padding:4px; /* IE6 或 IE7 */
}

div.cate:hover{text-decoration:underline;color:#000;}
div.cate_0{background:#99FFFF;}
div.cate_1{background:#FFFF33;}
div.cate_2{background:#FF6666;}
div.cate_3{background:#CCFF33;}
div.cate_4{background:#DDAAAA;}
div.cate_5{background:#CC66FF;}
div.cate_6{background:#6633FF;}
div.cate_7{background:#83D3B4;}
div.cate_8{background:#DACCC7;}
div.cate_9{background:#AD78E9;}

/* 图标库 */
div.icon{background:url("../images/icon.png") no-repeat;width:24px;height:24px;cursor:pointer;display:block;}
div.icon_attr{background-position:0 -48px;}

input.icon{background:url("../images/icon.png") no-repeat;width:24px;height:24px;cursor:pointer;display:block;margin:0;padding:0;float:left;margin-right:5px;border:0;}
input.icon_edit{background-position:0 0;}
input.icon_add{background-position:0 -72px;}


/* SPAN 中使用的一些样式 */
div.error{height:30px;line-height:30px;background:url("../images/error_24.png") left center no-repeat;padding-left:28px;margin-left:4px;color:red;}

/* 树形菜单中涉及到的样式 */
.cate_list{margin:5px 3px 0 0;}
.cate_list th{padding:0;border-bottom:2px solid #E5E5E5;height:25px;background:#D1D1D1;}
.cate_list tr:hover{background:#F9F9F9;}
.cate_list tr.list{background:#F3F3F3;}
.cate_list tr.list:hover{background:#F9F9F9;}
.cate_list td{height:28px;padding:0;margin:0;line-height:24px;}


.cate_line{width:24px;background:url("../images/cate_line.gif") center center repeat-y;}
.cate_end{width:24px;background:url("../images/cate_end.gif") center center no-repeat;}
.cate_middle{width:24px;background:url("../images/cate_middle.gif") center center no-repeat;}

.pagelist{text-align:center;height:30px;overflow:hidden;margin-top:7px;}
.pagelist ul{list-style:none;margin:0;padding:0;text-align:center;float:right;}
.pagelist ul:after{clear:both;content:"&nbsp;",display: block;visibility:hidden;}
.pagelist ul li{display:inline;height:22px;line-height:24px;margin:0 5px 0 0;}
.pagelist ul li a{display:inline;padding:1px 5px;border:1px solid #ddd;cursor:pointer;}
.pagelist ul li a:hover{background:#efefef;border:1px solid #ccc;text-decoration:none;}
.pagelist ul li a.current{background:#E4E4E4;border:1px solid #ccc;text-decoration:none;}

ul.layout{list-style:none;margin:0;padding:0;}
ul.layout li{float:left;margin-right:5px;line-height:26px;}
ul.layout li label{}
ul.layout li label input{margin-top:7px;}

ul.layout_user{list-style:none;margin:0;padding:0;}
ul.layout_user li{float:left;margin-right:5px;}

ul.btnlist{list-style:none;margin:3px 0 0 0;padding:0}
ul.btnlist:after{content:".";display: block;visibility: hidden;clear:both;height:0;line-height:0;}
ul.btnlist li{float:left;margin:0;}

/* 右小侧 */
.sub_left{float:left;}
.sub_right{float:right;width:170px;margin-right:0px;}

/* 小栏目 */
.block{margin-top:7px;}
.block h3{height:30px;line-height:30px;font-size:14px;text-indent:12px;background:#999999;margin:0;padding:0;}
.block .content{border:1px solid #ccc;}

/* 下拉菜单样式 */
select.p_cate{font-size:14px;}


/* 分类列表下的排序样式 */
input.cate_taxis{width:65px;text-align:center;height:22px;line-height:22px;margin:0;padding:0;}


/* 网站内容维护 */
ul.project{list-style:none;margin:0;padding:0;position: relative;}
ul.project li{float:left;width:100px;height:80px;cursor:pointer;margin:10px 0 0 10px;position:relative;z-index:2;padding-top:2px;border:1px solid #fff;border-radius:5px;}
ul.project li.hover{background:#EBEBEB;border:1px solid #EBEBEB;}
ul.project li div.img{width:48px;height:52px;margin:0 0 0 26px;position:relative;}
ul.project li div.txt{text-align:center;overflow:hidden;height:24px;line-height:24px;}
em.toptip{float:right;display:block;min-width:16px;height:16px;border-radius:8px;background:red;color:#fff;text-align:center;line-height:16px;font-style:normal;}
ul.project li em{position:absolute;top:5px;right:5px;}
/* 图标选择器 */
ul.icolist{list-style:none;margin:0;padding:0;}
ul.icolist li{float:left;width:80px;height:60px;overflow:hidden;cursor:pointer;}
ul.icolist li img{width:48px;height:48px;}

/* 附件管理器 */
ul.attrlist{list-style:none;margin:0 -5px 0 0;padding:0;}
ul.attrlist li{margin:5px 5px 0 0;padding:3px;position:relative;float:left;border:1px solid #dedede;cursor:default;}
ul.attrlist li:hover{border:1px solid #DD4B39;}
ul.attrlist li div.pic{float:left;width:80px;text-align:center;margin:5px 5px 0 0;}
ul.attrlist li div.txt{float:left;width:167px;}
ul.attrlist li div.btn{float:left;width:80px;}
ul.attrlist li .ipt{margin-bottom:5px;}
ul.attrlist li .ipt input.attr{width:160px;}
ul.attrlist li .ipt input.res_btn{width:45px;height:23px;border:1px solid #ccc;background:#efefef;margin-right:3px;}



/* 自定义字段浮动 */
.float_fields{position:absolute;right:0;top:40px;width:120px;border:1px solid #1B1B1B;z-index:950;}
.float_fields h3{background:#CCC;color:#1B1B1B;height:24px;line-height:24px;margin:0;padding:0;text-align:center;}
.float_fields ul{list-style:none;margin:0;padding:0;background:#FFF;}
.float_fields ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.float_fields ul li{text-align:center;overflow:hidden;cursor:pointer;}
.float_fields ul li:nth-child(2n){background:#EEE;}
.float_fields ul li:hover{color:red;}
.float_fields .float_page{height:27px;background:#CCC;padding-left:10px;}
.float_fields .float_page:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.float_fields .float_page a{float:left;display:block;width:20px;margin:2px;text-align:center;line-height:20px;border:1px solid #fff;}
.float_fields .float_page a.over{background:#bbb;font-weight:bold;}
.float_fields .float_page a.add{float:right;border:0;margin:4px 4px 0 0;}

#float_tab{position:absolute;right:1px;top:40px;width:40px;}
#float_tab ul{list-style:none;position:relative;margin:0;padding:0}
#float_tab ul li{display:block;margin:2px;padding:1px;border:1px solid #FFF;cursor:pointer;}
#float_tab ul li.tab_out{filter:gray; -moz-opacity:.3;opacity:0.3;}
#float_tab ul li:hover{filter:gray; -moz-opacity:.7;opacity:0.7;}
#float_tab ul li.tab_over{-moz-opacity:1;opacity:1;}


/* 按钮样式 */
button.button{
	height:23px;
	padding:0 5px;
	margin:0;
	border:1px solid #ACACAC;
	line-height:19px;
	text-align:center;
}
button.button:hover{
	border-color:#7EB4EA;
	background:#E3F0FC;
}
button.disabled{
	color:#AAA;
	background:#EEE;
}


/* 网上提供的多浏览器下支持的按钮 */
.phpok-btn{display:inline-block; border-width:1px 0; border-color:#bbbbbb; border-style:solid; vertical-align:middle;}
.phpok-btn .b{float:left; background:#e3e3e3; border-width:0 1px; border-color:#bbbbbb; border-style:solid; margin:0 -1px; position:relative;font-weight:normal;}
.phpok-btn .c{display:block; line-height:0.6em; background:#f9f9f9; border-bottom:2px solid #eeeeee;}
.phpok-btn .d{display:block; padding:0.1em 0.6em; margin-top:-0.7em; cursor:default;}
.phpok-btn:hover{border-color:#0033CC;}
.phpok-btn:hover .b{border-color:#0033CC;}

/* 评论 */
.comment{margin:3px auto;position:relative;}
.comment .content{border:1px solid #ccc;padding:3px;line-height:170%;font-size:14px;}
.comment .content p{margin:0;padding:0;}
.comment .action{margin-bottom:3px;float:right;width:auto;}
.comment fieldset.adm-reply{margin:3px 20px;border:1px solid red;}
.comment fieldset.adm-reply p{margin:0;padding:0;}
fieldset.sub_comment{border:1px solid darkblue;margin-left:48px;}


/* 表格线条配置，该样式暂时在购物车，订单里被使用到 */
div.table_lc{background:#ccc;}
div.table_lc table{border-spacing:1px;width:100%;}
div.table_lc th{padding:5px;background:#efefef;}
div.table_lc th.lft{text-align:left;}
div.table_lc td{padding:5px;background:#fff;}
div.table_lc td.center{text-align:center;}
div.table_lc input.qty{text-align:center;width:45px;}
div.table_lc input.price{width:150px;}


/* 自定义表单图片选择后生成的列表 */
table.ext_upload{
	cellmargin:0;
	cellspacing:0;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
table.ext_upload th,table.ext_upload td{
	padding:0;
	margin:0;
	border:0;
}
table.ext_upload td.ext_img{
	width:100px;
	text-align:center;
}
table.ext_upload td.ext_img img{
	width:80px;
	height:80px;
	border:0;
	margin:0;
	padding:0;
}
table.ext_upload td.ext_res{
	padding:0;
	margin:0;
	border:0;
}
table.ext_upload td.ext_res div.res_title{
	border:0;
	margin:0 0 5px 0;
	padding:0;
}
table.ext_upload td.ext_res div.res_title input.ext_input{
	width:350px;
	border:1px solid #E5E5E5;
	height:25px;
	line-height:25px;
	font-size:16px;
	font-weight:normal;
}
table.ext_upload td.ext_res div.res_note{
	border:0;
	margin:0 0 5px 0;
	padding:0;
}
table.ext_upload td.ext_res div.ext_note .ext_textarea{
	width:350px;
	height:40px;
	border:1px solid #E5E5E5;
	line-height:20px;
	font-size:14px;
	font-weight:normal;
}
table.ext_upload td.ext_res div.ext_action input.ext_btn{
	border:1px solid #ACACAC;
	margin:0 0 0 3px;
	padding:1px 6px;
	text-align:center;
	background:#ECECEC url("../images/btn_bg.jpg") center center repeat-x;
	color:#000;
}
table.ext_upload td.ext_res div.ext_action input.ext_submit{
	border:1px solid #ACACAC;
	margin:0 0 0 3px;
	padding:1px 6px;
	text-align:center;
	background:#ECECEC url("../images/btn_bg2.jpg") center center repeat-x;
	color:#000;
}
table.ext_upload td.ext_res div.ext_action input.ext_taxis{
	border:1px solid #E5E5E5;
	height:25px;
	line-height:25px;
	font-size:16px;
	font-weight:normal;
	width:50px;
	text-align:center;
}

table.ext_upload input.submit,input.button,input.btn,input.ext_btn{
	border:1px solid #ACACAC;
	margin:0 0 0 5px;
	height:23px;
	padding:0 6px;
	line-height:23px;
	text-align:center;
	background:#ECECEC url("../images/btn_bg.jpg") center center repeat-x;
	color:#000;
}
table.ext_upload input.submit{color:darkred;font-weight:bold;}
table.ext_upload input.submit:hover,input.button:hover,input.btn:hover,input.ext_btn:hover{border-color:#7EB4EA;background:#E3F0FC;}


/* 自定义表单中的普通文本框 */
table.ext_text{
	cellmargin:0;
	cellspacing:0;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
table.ext_text th,table.ext_text td{
	padding:0;
	margin:0;
	border:0;
}

/* 自定义复选框涉及到的UL LI Lable 等样式 */
ul.ext_checkbox{list-style:none;margin:0;padding:0;}
ul.ext_checkbox li{float:left;padding-right:5px;line-height:25px;}
ul.ext_checkbox li label input{width:auto;height:auto;padding-right:3px;}

ul.ext_radio{list-style:none;margin:0;padding:0;}
ul.ext_radio li{float:left;padding-right:5px;line-height:25px;}
ul.ext_radio li label input{width:auto;height:auto;padding-right:3px;}

div.sqlmain{background:#D1D1D1;margin:3px 3px 0 0;}
div.sqlmain table.sqlframe{border-spacing:1px;width:100%;}
div.sqlmain th{padding:5px;background:#E5E5E5;margin:0;}
div.sqlmain th.lft{text-align:left;}
div.sqlmain td{padding:0px;background:#fff;}
div.sqlmain td.center{text-align:center;}
div.sqlmain .error{color:darkred;background:#F7FBFF;font-weight:bold;}

table.sublist{margin:0;border-spacing:1px;width:100%;}
table.sublist th{padding:0;border-bottom:2px solid #E5E5E5;height:25px;background:#E5E5E5;margin:0;}
table.sublist th.tit{background:#ccc;}
table.sublist tr.list{background:#F3F3F3}
table.sublist td{padding:3px;}
table.sublist tr:hover{background:#F9F9F9;}


ul.list_cate{list-style:none;margin:0;padding:0;position:relative;}
ul.list_cate li{float:left;margin:0 5px 5px 0;}


/* 兼容IE6 IE7 的浮动设置 */
.clearfix:after{visibility:hidden;display:block;font-size:0;clear:both;height:0;line-height:0;margin:0;padding:0;}
* html .clearfix{zoom: 1;}
*:first-child + html .clearfix{zoom: 1;}

/* ICONS 新版图标 */
.ico,.status0,.status1,.status2
{
	background:url('../images/icon.gif') right bottom no-repeat;
	width:16px;
	height:16px;
	overflow:hidden;
	cursor:pointer;
	display:block;
}

/* 状态属性 */
.status0{background-position:-16px 0;}
.status1{background-position:0 0;}
.status2{background-position:-64px 0;}

/* 页面 JS 切换涉及到的样式 */
ul.group{border-bottom:1px solid #e1e1e1;padding:0 20px;height:35px;margin-bottom:10px;list-style:none}
ul.group li
{
	height:34px;
	border:1px solid #e1e1e1;
	margin-right:10px;
	line-height:34px;
	font-size:14px;
	float:left;
	background:#f9f9f9;
	padding:0 10px;
	cursor:pointer;
	border-radius:5px 5px 0 0; /* 圆角 仅限IE9以上使用 */
}
ul.group .on,ul.group li.hover
{
	background:#fff;
	border-bottom:1px solid #fff;
}

/* 最新版本自定义控制样式 */
/*上传相关样式*/
._e_upload{margin:0;padding:0;width:600px;overflow:hidden;}
._e_upload:after{visibility:hidden;display:block;font-size:0;clear:both;height:0;line-height:0;margin:0;padding:0;}
._e_upload ._list{}
._e_upload ._select table{
	width:auto;
	height:auto;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
._e_upload ._select table td{padding:0;margin:0;border:0;padding-right:4px;vertical-align:top}
._e_upload ._elist .img{width:120px;text-align:center;}
._e_upload ._elist ._line{border-bottom:1px solid #ccc;margin-bottom:3px;}
._e_upload ._elist ._line_end{border:0;}
._e_upload ._elist ._textarea{border:1px solid #ccc;width:450px;height:60px;}
._e_upload ._elist ._input{border:1px solid #ccc;width:454px;}



/* smartMenu.css	by zhangxinxu */
.smart_menu_box{display:none; width:140px; position:absolute; z-index:201105;}
.smart_menu_body{padding:1px; border:1px solid #B8CBCB; background-color:#fff; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;}
.smart_menu_ul{margin:0; padding:0; list-style-type:none;}
.smart_menu_li{position:relative;}
.smart_menu_a{display:block; height:25px; line-height:24px; padding:0 5px 0 25px; color:#000; font-size:12px; text-decoration:none; overflow:hidden;}
.smart_menu_a:hover, .smart_menu_a_hover{background-color:#348CCC; color:#fff; text-decoration:none;}
.smart_menu_li_separate{line-height:0; margin:3px; border-bottom:1px solid #B8CBCB; font-size:0;}
.smart_menu_triangle{width:0; height:0; border:5px dashed transparent; border-left:5px solid #666; overflow:hidden; position:absolute; top:7px; right:5px;}
.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle{border-left-color:#fff;}
.smart_menu_li_hover .smart_menu_box{top:-1px; left:130px;}



.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; }
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url("../images/loading.gif") no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #1c6a9e; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0F3A56; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
/* common end */

.aui_inner { background:#FFF; }
.aui_outer, .aui_inner { border:1px solid rgba(0, 0, 0, .7); border:1px solid #333\9; }
.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:8px; height:8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .4); background:#000\9!important; filter:alpha(opacity=40); }
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se { background:rgba(0, 0, 0, .5); background:#000\9!important; filter:alpha(opacity=50); }
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:28px; line-height:27px; padding:0 28px 0 10px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); background-color:#edf5f8; font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important; background-color:#bdc6cd; background: linear-gradient(top, #edf5f8, #bdc6cd); background: -moz-linear-gradient(top, #edf5f8, #bdc6cd); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd'); border-top:1px solid #edf5f8; border-bottom:1px solid #b6bec5; }
.aui_state_focus .aui_title { color:#4c5a5f; }
.aui_state_drag .aui_title { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); box-shadow:none; }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { padding:0; top:4px; right:4px; width:21px; height:21px; line-height:21px; font-size:18px; color:#68767b; text-align:center; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); }
.aui_close:hover { background:#C72015; color:#FFF; }
.aui_close:active { box-shadow: none; }
.aui_content { color:#666; }
.aui_state_focus .aui_content { color:#000; }
.aui_buttons { background-color:#F6F6F6; border-top:solid 1px #DADEE5; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:3px; height:3px; }
.aui_state_noTitle .aui_inner { border:1px solid #666; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-size:18px; text-decoration:none; color:#214FA3; background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none; color:#900; }
.aui_state_noTitle .aui_dialog { box-shadow: none; }


