/**
 * 弹出窗样式，后台通用版本
 * @作者 qinggan <admin@phpok.com>
 * @版权 深圳市锟铻科技有限公司
 * @网站 http://www.phpok.com
 * @版本 4.x
 * @授权 http://www.phpok.com/lgpl.html PHPOK开源授权协议：GNU Lesser General Public License
 * @日期 2017年03月22日
**/
.aui_outer {
	text-align:left;
}
table.aui_border, table.aui_dialog {
	border:0;
	margin:0;
	border-collapse:collapse;
	width:auto;
}
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer {
	padding:0;
}
.aui_header, .aui_buttons button {
	font: 14px/1.2 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
}
.aui_header{
	background:#fff;
}
.aui_title {
	overflow:hidden;
	text-overflow: ellipsis;
}
.aui_state_noTitle .aui_title {
	display:none;
}
.aui_close {
	display:block;
	position:absolute;
	text-decoration:none;
	outline:none;
	_cursor:pointer;
}
.aui_close:hover {
	text-decoration:none;
}
.aui_main {
	text-align:center;
	min-width:9em;
	background:#fff;
}
.aui_content {
	display:inline-block;
	*zoom:1;
	*display:inline;
	text-align:left;
	border:none 0;
}
.aui_content.aui_state_full {
	display:block;
	width:100%;
	margin:0;
	padding:0!important;
	height:100%;
}
.aui_loading {
	width:96px;
	height:32px;
	text-align:left;
	text-indent:-999em;
	overflow:hidden;
	background:url("../images/loading.gif") no-repeat center center;
}
.aui_icon {
	vertical-align: middle;
	background:#fff;
}
.aui_icon div {
	width:36px;
	height:36px;
	margin:10px 0 10px 20px;
	background-position: center center;
	background-repeat:no-repeat;
}
.aui_buttons {
	padding:9px;
	text-align:right;
	white-space:nowrap;
}
.aui_buttons button {
	margin-left:10px;
	padding: 8px 12px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width:auto;
	overflow:visible;
	color: #444;
	border: solid 1px #D8DADA;
	background: #f5f5f5;
}

.aui_buttons button::-moz-focus-inner {
	border:0;
	padding:0;
	margin:0;
}

.aui_buttons button:hover {
	border-color:#D7D9DB;
	background:#E6E6E6;
}

.aui_buttons button[disabled] {
	cursor:default;
	color:#666;
	background:#DDD;
	border: solid 1px #999;
	filter:alpha(opacity=50);
	opacity:.5;
	box-shadow:none;
}

button.aui_state_highlight {
	color: #FFF;
	border: solid 1px #3887ED;
	background: #458FEE;
}

button.aui_state_highlight:hover {
	color:#FFF;
	border: solid 1px #2C6DC3;
	background: #3A77C7;
}

/* common end */
 .aui_inner {
	/*background:#FFF;*/
}
.aui_nw, .aui_ne, .aui_sw, .aui_se {
	width:8px;
	height:8px;
}

.aui_state_focus .aui_dialog {
	/*box-shadow:0 0 8px rgba(0, 0, 0, 0.2);*/
	box-shadow:0 0 8px #000;
}

.aui_state_drag .aui_outer, .aui_outer:active {
	box-shadow:none;
}
.aui_state_drag .aui_dialog{
	background:#fff;
}
.aui_titleBar {
	position:relative;
	height:100%;
}
.aui_title {
	padding:0 28px 0 20px;
	color:#222;
	font-size:16px;
	line-height:44px;
	border-bottom:1px solid #ededed;
	font-weight:500;
	text-shadow:0 0 1px #000;
	letter-spacing: 1px;
}

.aui_state_drag .aui_title {
	box-shadow:none;
}
.aui_state_drag .aui_titleBar {
	box-shadow:none;
}
.aui_close {
	padding:0;
	top:10px;
	right:14px;
	width:24px;
	height:24px;
	line-height:20px;
	font-size:28px;
	color:#68767b;
	text-align:center;
}
.aui_close:hover {
	background:#C72015;
	color:#FFF;
}
.aui_close:active {
	box-shadow: none;
}
.aui_content {
	color:#666;
	font-size:14px;
}
.aui_state_focus .aui_content {
	color:#000;
}
.aui_buttons {
	background-color:#f5f5f5;
	border-top:solid 1px #ededed;
}
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se {
	width:3px;
	height:3px;
}
.aui_state_noTitle .aui_outer {
	border:none 0;
	box-shadow:none;
}
.aui_state_noTitle .aui_titleBar {
	bottom:0;
}
.aui_state_noTitle .aui_close {
	top:4px;
	right:4px;
}
