@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wky9vz');
	src:url('fonts/icomoon.eot?#iefix-wky9vz') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wky9vz') format('woff'),
		url('fonts/icomoon.ttf?-wky9vz') format('truetype'),
		url('fonts/icomoon.svg?-wky9vz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-home:before{content:"\e600"}
.icon-office:before{content:"\e644"}
.icon-newspaper:before{content:"\e645"}
.icon-pencil:before{content:"\e601"}
.icon-droplet:before{content:"\e602"}
.icon-image:before{content:"\e603"}
.icon-images:before{content:"\e604"}
.icon-camera:before{content:"\e605"}
.icon-music:before{content:"\e606"}
.icon-film:before{content:"\e607"}
.icon-camera2:before{content:"\e608"}
.icon-pacman:before{content:"\e609"}
.icon-connection:before{content:"\e60a"}
.icon-book:before{content:"\e60b"}
.icon-books:before{content:"\e60c"}
.icon-library:before{content:"\e60d"}
.icon-file:before{content:"\e60e"}
.icon-file2:before{content:"\e60f"}
.icon-file3:before{content:"\e646"}
.icon-copy:before{content:"\e647"}
.icon-stack:before{content:"\e610"}
.icon-folder:before{content:"\e648"}
.icon-folder-open:before{content:"\e611"}
.icon-tag:before{content:"\e612"}
.icon-tags:before{content:"\e613"}
.icon-barcode:before{content:"\e614"}
.icon-qrcode:before{content:"\e615"}
.icon-cart:before{content:"\e616"}
.icon-coin:before{content:"\e649"}
.icon-credit:before{content:"\e64a"}
.icon-calculate:before{content:"\e64b"}
.icon-phone:before{content:"\e617"}
.icon-address-book:before{content:"\e618"}
.icon-envelope:before{content:"\e619"}
.icon-pushpin:before{content:"\e61a"}
.icon-location:before{content:"\e61b"}
.icon-map:before{content:"\e61c"}
.icon-history:before{content:"\e64c"}
.icon-clock:before{content:"\e61d"}
.icon-calendar:before{content:"\e64d"}
.icon-calendar2:before{content:"\e61e"}
.icon-print:before{content:"\e61f"}
.icon-keyboard:before{content:"\e64e"}
.icon-screen:before{content:"\e620"}
.icon-mobile:before{content:"\e64f"}
.icon-mobile2:before{content:"\e650"}
.icon-tablet:before{content:"\e621"}
.icon-cabinet:before{content:"\e651"}
.icon-download:before{content:"\e622"}
.icon-upload:before{content:"\e652"}
.icon-undo:before{content:"\e653"}
.icon-redo:before{content:"\e654"}
.icon-forward:before{content:"\e655"}
.icon-reply:before{content:"\e656"}
.icon-bubble:before{content:"\e657"}
.icon-bubbles:before{content:"\e623"}
.icon-bubbles2:before{content:"\e624"}
.icon-user:before{content:"\e625"}
.icon-users:before{content:"\e626"}
.icon-user2:before{content:"\e658"}
.icon-user3:before{content:"\e659"}
.icon-quotes-left:before{content:"\e65a"}
.icon-busy:before{content:"\e65b"}
.icon-search:before{content:"\e627"}
.icon-expand:before{content:"\e628"}
.icon-contract:before{content:"\e629"}
.icon-expand2:before{content:"\e65c"}
.icon-contract2:before{content:"\e65d"}
.icon-key:before{content:"\e62a"}
.icon-lock:before{content:"\e62b"}
.icon-wrench:before{content:"\e62c"}
.icon-settings:before{content:"\e65e"}
.icon-equalizer:before{content:"\e65f"}
.icon-cogs:before{content:"\e660"}
.icon-cog:before{content:"\e62d"}
.icon-wand:before{content:"\e62e"}
.icon-bug:before{content:"\e62f"}
.icon-pie:before{content:"\e661"}
.icon-stats:before{content:"\e630"}
.icon-bars:before{content:"\e631"}
.icon-gift:before{content:"\e662"}
.icon-leaf:before{content:"\e632"}
.icon-rocket:before{content:"\e633"}
.icon-lab:before{content:"\e663"}
.icon-remove:before{content:"\e634"}
.icon-briefcase:before{content:"\e664"}
.icon-airplane:before{content:"\e635"}
.icon-truck:before{content:"\e665"}
.icon-target:before{content:"\e666"}
.icon-shield:before{content:"\e667"}
.icon-lightning:before{content:"\e668"}
.icon-switch:before{content:"\e669"}
.icon-powercord:before{content:"\e636"}
.icon-list:before{content:"\e66a"}
.icon-numbered-list:before{content:"\e66b"}
.icon-menu:before{content:"\e66c"}
.icon-tree:before{content:"\e66d"}
.icon-cloud:before{content:"\e637"}
.icon-cloud-download:before{content:"\e638"}
.icon-cloud-upload:before{content:"\e639"}
.icon-download2:before{content:"\e63a"}
.icon-upload2:before{content:"\e66e"}
.icon-globe:before{content:"\e66f"}
.icon-earth:before{content:"\e63b"}
.icon-link:before{content:"\e670"}
.icon-flag:before{content:"\e63c"}
.icon-attachment:before{content:"\e671"}
.icon-eye:before{content:"\e672"}
.icon-eye-blocked:before{content:"\e673"}
.icon-bookmark:before{content:"\e674"}
.icon-bookmarks:before{content:"\e675"}
.icon-star:before{content:"\e676"}
.icon-star2:before{content:"\e677"}
.icon-star3:before{content:"\e678"}
.icon-heart:before{content:"\e63d"}
.icon-thumbs-up:before{content:"\e679"}
.icon-thumbs-up2:before{content:"\e67a"}
.icon-smiley:before{content:"\e63e"}
.icon-sad:before{content:"\e67b"}
.icon-warning:before{content:"\e67c"}
.icon-notification:before{content:"\e67d"}
.icon-question:before{content:"\e67e"}
.icon-info:before{content:"\e67f"}
.icon-info2:before{content:"\e680"}
.icon-blocked:before{content:"\e681"}
.icon-cancel-circle:before{content:"\e682"}
.icon-checkmark-circle:before{content:"\e683"}
.icon-spam:before{content:"\e684"}
.icon-close:before{content:"\e685"}
.icon-checkmark:before{content:"\e686"}
.icon-minus:before{content:"\e687"}
.icon-plus:before{content:"\e688"}
.icon-enter:before{content:"\e689"}
.icon-exit:before{content:"\e68a"}
.icon-loop:before{content:"\e68b"}
.icon-font:before{content:"\e68c"}
.icon-text-height:before{content:"\e68d"}
.icon-text-width:before{content:"\e68e"}
.icon-bold:before{content:"\e68f"}
.icon-underline:before{content:"\e690"}
.icon-italic:before{content:"\e691"}
.icon-strikethrough:before{content:"\e692"}
.icon-omega:before{content:"\e693"}
.icon-sigma:before{content:"\e694"}
.icon-table:before{content:"\e695"}
.icon-insert-template:before{content:"\e696"}
.icon-pilcrow:before{content:"\e697"}
.icon-paragraph-left:before{content:"\e698"}
.icon-paragraph-center:before{content:"\e699"}
.icon-paragraph-right:before{content:"\e69a"}
.icon-indent-increase:before{content:"\e69b"}
.icon-indent-decrease:before{content:"\e69c"}
.icon-newtab:before{content:"\e69d"}
.icon-embed:before{content:"\e69e"}
.icon-code:before{content:"\e69f"}
.icon-console:before{content:"\e6a0"}
.icon-share:before{content:"\e6a1"}
.icon-google-drive:before{content:"\e6a2"}
.icon-twitter:before{content:"\e6a3"}
.icon-feed:before{content:"\e6a4"}
.icon-tux:before{content:"\e63f"}
.icon-apple:before{content:"\e6a5"}
.icon-finder:before{content:"\e640"}
.icon-android:before{content:"\e641"}
.icon-windows8:before{content:"\e642"}
.icon-delicious:before{content:"\e6a6"}
.icon-file-pdf:before{content:"\e6a7"}
.icon-file-openoffice:before{content:"\e6a8"}
.icon-file-word:before{content:"\e6a9"}
.icon-file-excel:before{content:"\e6aa"}
.icon-file-zip:before{content:"\e6ab"}
.icon-file-powerpoint:before{content:"\e6ac"}
.icon-file-xml:before{content:"\e6ad"}
.icon-file-css:before{content:"\e6ae"}
.icon-html5:before{content:"\e6af"}
.icon-css3:before{content:"\e6b0"}
.icon-chrome:before{content:"\e6b1"}
.icon-firefox:before{content:"\e6b2"}
.icon-IE:before{content:"\e643"}
.icon-opera:before{content:"\e6b3"}
.icon-safari:before{content:"\e6b4"}