body{ background:#ededed; margin:0; padding:0; font-size:14px; font-family:"Microsoft Yahei","宋体","Tahoma","Arial"; color:#4d4d4d;}
.top{ height:232px; background:url("../images/top.jpg") center no-repeat; margin:0 auto;}
.top .logo{text-align:center;line-height:280px;}
.main{ height:240px; background:url("../images/main_bg.jpg") repeat-x;}
.box{ height:225px; background:url("../images/main.jpg") center no-repeat; margin:0 auto; padding:15px 0 0 0;}
.bottom{ background:url("../images/bottom.jpg") center no-repeat; height:56px;}
.user{ width:145px; height:27px; line-height:27px; border:1px solid #7ea3b8; padding:0 0 0 35px;}
.user_bg1{ background:url("../images/user01.jpg") left no-repeat #fff;}
.user_bg2{ background:url("../images/user02.jpg") left no-repeat #fff;}
.user_bg3{ width:64px; padding:0 0 0 2px;text-transform:uppercase;}
.but{ width:137px; height:35px;margin-left:35px; line-height:35px;border:0;background:#E3E3E3;font-size:14px;font-weight:bold;background:url('../images/btnbg.png') left center no-repeat;font-family:"Microsoft Yahei";color:#fff;}
input.but:hover{color:#FAFAFA;}
.lang{height:21px;border:1px solid #7ea3b8;}
form{margin:0;padding:0}

