body{font-size:16px;font-family:"Microsoft Yahei","Verdana","Geneva","sans-serif","Arial","Tahoma","HELVETICA";}
.body{margin:7% auto;max-width:600px;width:96%;}
.body .tips{line-height:170%}
.body .tips .title{margin-left:50px;font-weight:bold;}
.body .tips .note{margin-left:50px;color:gray;}
.body .tips .txt{margin-left:50px;font-weight:500;min-height:36px;line-height:200%}
.body .notice{background:url("../images/skins/icons/question.png") left center no-repeat;}
.body .ok{background:url("../images/skins/icons/succeed.png") left center no-repeat;}
.body .success{background:url("../images/skins/icons/succeed.png") left center no-repeat;}
.body .error{background:url("../images/skins/icons/error.png") left center no-repeat;}
.debug_time{width:600px;margin:2px auto;}

.red{color:red;}

.foot{width:550px;margin:2px auto;padding:7px 5px;font-family:"Tahoma","Arial";line-height:22px;height:40px;color:#929292;}
.foot a{color:#929292;}
