/***********************************************************
	文件：.css
	备注：弹出窗口样式
	版本：4.0
	网站：www.phpok.com
	作者：qinggan <qinggan@188.com>
	日期：2014年5月20日
***********************************************************/
.phpok-win {
	width:100%;
	z-index:999;
	position:fixed;
	left:0;
	top:0;
	cursor: default;
	font-family:"Microsoft Yahei","宋体","Arial","Tahoma";
	background:#fff;
}
.phpok-win .window {
	background:#63b4fb;
	border:1px solid #4c8ac0;
	padding-bottom:5px;
}
.phpok-win-lock{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index: 998;
	background:#fff;
	opacity:0.5;
	filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	zoom:1;
}
/* 移动弹层时创建一个DIV层 */
.phpok-win-vlayer{
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.5;
	filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	zoom:1;
}
.phpok-win .body{ background:#f0f0f0; border:1px solid #5499d6; margin:0 5px; padding:0; overflow:hidden;}
.phpok-win .body .red{color:red;}
.phpok-win .body .darkblue{color:darkblue;}
.phpok-win .body .main {
	padding:0;
	margin:0;
	overflow:hidden;
	width:auto;
	height:auto;
	min-width:10px;
	min-height:10px;
	background:none;
}
.phpok-win .window .title{ height:30px; position:relative;overflow:hidden;}
.phpok-win .window .title h3.h3 {
	line-height:30px;
	position:absolute;
	width:100%;
	top:0;
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.phpok-win .window .title div.button{ position:absolute; top:0; right:6px; height:20px;}
.phpok-win .window .title div.button ul{margin:0;padding:0;list-style:none;}
.phpok-win .window .title div.button ul li{ float:left; margin-left:2px;list-style:none;}
.phpok-win .window .title div.button ul li.close a{ width:45px; height:20px; background:url('images/button.png') 19px 7px no-repeat #c75050; display:block;}
.phpok-win .window .title div.button ul li.close a:hover{ background-color:#e25959;}
.phpok-win .window .title div.button ul li.min a{ width:18px; height:20px; background:url('images/button.png') 5px -108px no-repeat; display:block;}
.phpok-win .window .title div.button ul li.min a:hover{ background-color:#0000FF;}
.phpok-win .window .title div.button ul li.max-max a{ width:20px; height:20px; background:url('images/button.png') 5px -34px no-repeat; display:block;}
.phpok-win .window .title div.button ul li.max-max a:hover{ background-color:#0000FF;}
.phpok-win .window .title div.button ul li.max a{ width:20px; height:20px; background:url('images/button.png') 5px -76px no-repeat; display:block;}
.phpok-win .window .title div.button ul li.max a:hover{ background-color:#0000FF;}


.phpok-win .body .main .prompt{ background:#fff; overflow:hidden;}
.phpok-win .body .main .prompttable{ margin:10px;}
.phpok-win .body .main .prompttable td{ padding:5px;}
.phpok-win .body .main .promptbtn{ background:#f0f0f0; border-top:1px solid #cacaca; padding:10px; overflow:hidden;}

.phpok-win .body .main div.promp-button {
	background:#f0f0f0;
	border-top:1px solid #cacaca;
	padding:10px;
	overflow:hidden;
}
.phpok-win .body .main  div.promp-button input{ float:right; margin-left:10px;}
.phpok-win .body .main div.promp-button input.submit{
	height:30px;
	line-height:30px;
	background:#d81313;
	padding:0 15px;
	font-size:14px;
	color:#fff;
	border:none 0;
	cursor:pointer;
	overflow:visible;
}
.phpok-win .body .main div.promp-button input.button{
	height:30px;
	line-height:30px;
	background:#e6e6e6;
	padding:0 15px;
	font-size:14px;
	color:#000;
	cursor:pointer;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#e6e6e6));
	background:-moz-linear-gradient(top, #f0f0f0, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e6e6e6', GradientType=0);
	border:1px solid #cacaca;
	overflow:visible;
}
.phpok-win .body .content{padding:0;margin:0;}
.phpok-win .body .main iframe.content{ border:1px solid #adadad;}
