<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>莫名短信</title>
	<note>官网是：http://www.duanxin.cm</note>
	<code>
		<account>
			<title>帐号</title>
			<note>8位的接口帐号, 如:70288881</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密码</title>
			<note>帐号登录密码，在传输过程中执行32位加密</note>
			<type>text</type>
			<required>true</required>
		</password>
		<server>
			<title>请求地址</title>
			<note>即接口请求地址，如：http://api.duanxin.cm/</note>
			<type>text</type>
			<required>true</required>
		</server>
		<mobile>
			<title>手机号</title>
			<note>填写管理员接收短信要用到的手机号，多个手机号用英文逗号“,”隔开</note>
			<type>text</type>
			<required>false</required>
		</mobile>
	</code>
	<manage>
		<balance>
			<title>查余额</title>
			<exec>balance</exec>
			<type>ajax</type>
		</balance>
		<send>
			<title>发短信</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
	</manage>
</root>