RewriteEngine  on

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.phpok.com/$1 [L,R=301]

RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^. index.php [L]
