<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="RewriteRule1" stopProcessing="true">
					<match url="^index.php$"  />
					<action type="Rewrite" url="/-"  />
				</rule>
				<rule name="RewriteRule2" stopProcessing="true">
					<match url="^."  />
					<action type="Rewrite" url="/index.php"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>