<?xml version="1.0" encoding="utf-8"?>
<root>
	<title><![CDATA[通华收银宝]]></title>
	<code>
		<mch_no>
			<title>商户号</title>
			<type>text</type>
		</mch_no>
		<access_code>
			<title>接入号</title>
			<type>text</type>
		</access_code>
		<private_key>
			<title>私钥文件</title>
			<type>text</type>
			<typebtn>file</typebtn>
		</private_key>
		<public_key>
			<title>公钥文件</title>
			<type>text</type>
			<typebtn>file</typebtn>
		</public_key>
		<utype>
			<title>支付类型</title>
			<type>select</type>
			<option>
				<wxpay_scancode>微信扫码</wxpay_scancode>
				<wxpay_minapp>微信小程序支付</wxpay_minapp>
				<wxpay_branch_mp>微信公众号支付（服务商授权）</wxpay_branch_mp>
				<alipay_scancode>支付宝扫码</alipay_scancode>
				<alipay_pcweb>支付宝PCWEB支付</alipay_pcweb>
				<alipay_h5>支付宝H5支付</alipay_h5>
				<unionpay_scancode>银联扫码</unionpay_scancode>
			</option>
		</utype>
		<wx_appid>
			<title>微信子APPID</title>
			<note>微信公众号支付必填</note>
			<type>text</type>
		</wx_appid>
		<institution>
			<title>付款机构</title>
			<type>radio</type>
			<note>支付宝PC，APP，H5支付时必填，非支付宝系，请选择不设置</note>
			<option>
				<alipayhk>阿里云支付（香港）</alipayhk>
				<alipaycn>阿里云支付</alipaycn>
				<none>不设置</none>
			</option>
			<default>none</default>
		</institution>
		<env>
			<title>运行环境</title>
			<type>radio</type>
			<option>
				<demo>调试环境</demo>
				<product>生产环境</product>
			</option>
			<default>product</default>
		</env>
	</code>
</root>