/*可以在这里添加你自己的css*/
.view{
	font-family: "微软雅黑","宋体","Arial Narrow",HELVETICA;
	color: #000;
	font-size:16px;
}
.view p{
	font-size: 100%;
	font-weight: 500;
	margin: 0 0 1em 0;
	text-indent: 2em;
	vertical-align: baseline;
	line-height: 150%;
}
.view * p{text-indent:0;margin:0;}
.view img{max-width:100%}