<!-- include tpl=head_lay  -->
<table class="layui-table">
<thead>
<tr>
	<th width="50px">{langID}</th>
	<th>{lang收件人}</th>
	<th>{lang联系方式}</th>
	<th>{lang地址}</th>
</tr>
</thead>
<tbody>
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
<tr>
	<td>{$value.id}</td>
	<td>
		{$value.fullname}
	<td>
		<!-- if $value.mobile --><div class="layui-icon icon-mobile"> {$value.mobile}</div><!-- /if -->
		<!-- if $value.email --><div class="layui-icon icon-envelope" style="margin-top:7px"> {$value.email}</div><!-- /if -->
		<!-- if $value.tel --><div class="layui-icon icon-phone" style="margin-top:7px"> {$value.tel}</div><!-- /if -->
	</td>
	<td>
		{$value.country}
		<!-- if $value.province != $value.city -->/ {$value.province}<!-- /if -->
		<!-- if $value.city != $value.county && $value.city -->/ {$value.city}<!-- /if -->
		<!-- if $value.county -->/ {$value.county}<!-- /if -->
		/ {$value.address}
		<!-- if $value.is_default --><span class="layui-badge-rim">{lang默认}</span><!-- /if -->
	</td>
</tr>
<!-- /loop -->
</tbody>
</table>
<!-- if $pagelist && $total > $psize --><!-- include tpl=pagelist --><!-- /if -->
<!-- include tpl=foot_open -->