<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang会员} <span class="note">{lang请选择会员信息}</span>
	</div>
	<div class="content">{func form_edit user_id $rs.user_id user}</div>
</div>
<div class="table">
	<div class="title">
		{lang收件人姓名} <span class="note">{lang请填写收件人的真实姓名}</span>
	</div>
	<div class="content">
		<input type="text" name="fullname" id="fullname" value="{$rs.fullname}" class="w99" />
	</div>
</div>

<div class="table">
	<div class="title">
		{lang省市县} <span class="note">{lang请填写收件人地址}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><input type="text" name="country" id="country" value="{$rs.country ? $rs.country : '中国'}" placeholder="{lang国家}" /></li>
			<li><input type="text" name="province" id="province" value="{$rs.province}" placeholder="{lang省份}" /> {lang省}</li>
		</ul>
		<ul class="layout" style="margin-top:10px;">
			<li><input type="text" name="city" id="city" value="{$rs.city}" placeholder="{lang城市}" /> {lang市}</li>
			<li><input type="text" name="county" id="county" value="{$rs.county}" placeholder="{lang县区}" /> {lang县（区）}</li>
		</ul>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang地址} <span class="note"></span>
	</div>
	<div class="content">
		<input type="text" name="address" id="address" value="{$rs.address}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang邮编} <span class="note"></span>
	</div>
	<div class="content">
		<input type="text" name="zipcode" id="zipcode" value="{$rs.zipcode}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang邮箱Email} <span class="note"></span>
	</div>
	<div class="content">
		<input type="text" name="email" id="email" value="{$rs.email}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang手机} <span class="note"></span>
	</div>
	<div class="content">
		<input type="text" name="mobile" id="mobile" value="{$rs.mobile}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang固定电话} <span class="note"></span>
	</div>
	<div class="content">
		<input type="text" name="tel" id="tel" value="{$rs.tel}" class="w99" />
	</div>
</div>
</form>
<!-- include tpl=foot_open -->