<!-- include tpl=head -->
<script type="text/javascript">
function admin_system(val)
{
	if(val && val == 1)
	{
		$("#sysmenu_html").hide();
	}
	else
	{
		$("#sysmenu_html").show();
	}
}
function to_use_all()
{
	$("input[data=category_use]").attr("checked",true);
}
function check_save()
{
	var account = $("#account").val();
	if(!account)
	{
		$.dialog.alert("{lang管理员账号不能为空}");
		return false;
	}
	var id = $("#id").val();
	//检测账号是否存在
	var url = get_url("admin","check_account") + "&account="+$.str.encode(account);
	if(id && id != "undefined")
	{
		url += '&id='+id;
	}
	var rs = json_ajax(url);
	if(rs.status != "ok")
	{
		$.dialog.alert(rs.content);
		return false;
	}
	if(!id || id == "0" || id == "undefined")
	{
		var pass = $("#pass").val();
		if(!pass || pass.length < 4)
		{
			$.dialog.alert("{lang密码不能为空或密码长度太短}");
			return false;
		}
	}
	//
	//判断是否是系统管理员
	var if_system = $("input[name=if_system]:checked").val();
	if(if_system != "1")
	{
		//检测是否有
		var popedom_id = $.input.checkbox_join("sysmenu_html");
		if(!popedom_id)
		{
			$.dialog.alert("{lang账号：}<span class='red'>"+account+"</span> {lang不是系统管理员，请配置好权限！}");
			return false;
		}
		//检查系统中是否还存在系统管理员（如果不存在，必须至少有一位系统管理员）
		var url = get_url("admin","check_if_system");
		if(id)
		{
			url += "&id="+id;
		}
		var rs = json_ajax(url);
		if(rs.status != "ok")
		{
			$.dialog.alert(rs.content);
			return false;
		}
	}
}
$(document).ready(function(){
	top.$.desktop.title('{if $id}{lang编辑管理员}{else}{lang添加管理员}{/if}');
});
</script>
<div class="tips">
	{lang您当前的位置：}<a href="{func admin_url admin}" title="{lang管理员列表}">{lang管理员列表}</a>
	&raquo; <!-- if $id -->{lang编辑管理员}<!-- else -->{lang添加管理员}<!-- /if -->
</div>
<form method="post" action="{func admin_url admin save}" onsubmit="return check_save();">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang管理员账号：}
		<span class="note">{lang请填写管理员的账号，建议使用}<span class="red">{lang英文单词，中文或数字}</span></span>
	</div>
	<div class="content">
		<input type="text" id="account" name="account" class="default" value="{$rs.account}" />
	</div>
</div>

<div class="table">
	<div class="title">
		{lang管理员密码：}
		<span class="note"><!-- if $id -->{lang不修改密码请留空，}<!-- /if -->{lang密码长不能少于4位数，建议使用}<span class="red">{lang数字，字母及下划线}</span>{lang等}</span>
	</div>
	<div class="content">
		<input type="text" id="pass" name="pass" class="default" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang管理员邮箱：}
		<span class="note">{lang此邮箱可用于接收网站通知信息，请不要和SMTP配置的邮箱一致}</span>
	</div>
	<div class="content">
		<input type="text" id="email" name="email" class="default" value="{$rs.email}" />
	</div>
</div>
<!-- if $popedom.status -->
<div class="table">
	<div class="title">
		{lang状态：}
		<span class="note">{lang设置该管理员是否启用！}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="radio" name="status" id="status_0" value="0" {if !$rs.status} checked{/if} /></td>
			<td><label for="status_0"> {lang禁用}</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="status" id="status_1" value="1" {if $rs.status} checked{/if} /></td>
			<td><label for="status_1"> {lang启用}</label></td>
		</tr>
		</table>
	</div>
</div>
<!-- else -->
<input type="hidden" name="status" value="{$rs.status ? 1 : 0}" />
<div class="table">
	<div class="title">
		{lang状态：}
		<span class="note">{lang您没有权限设置管理员状态}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="radio" {if !$rs.status} checked{/if} disabled /></td>
			<td> {lang禁用}</td>
			<td>&nbsp;</td>
			<td><input type="radio" {if $rs.status} checked{/if} disabled /></td>
			<td> {lang启用}</td>
		</tr>
		</table>
	</div>
</div>
<!-- /if -->

<!-- if $session.admin_rs.if_system -->
<div class="table">
	<div class="title">
		{lang管理员级别：}
		<span class="note"><span class="red">{lang系统管理员}</span>{lang是最高级别管理也是开发管理员，可管理整个平台所有功能}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="radio" name="if_system" id="if_system_1" value="1"{if $rs.if_system} checked{/if} onclick="admin_system(1)" /></td>
			<td><label for="if_system_1"> {lang系统管理员}</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="if_system" id="if_system_0" value="0"{if !$rs.if_system} checked{/if} onclick="admin_system(0)" /></td>
			<td><label for="if_system_0"> {lang普通管理员}</label></td>
		</tr>
		</table>
	</div>
</div>
<!-- else -->
<div class="table">
	<div class="title">
		{lang管理员级别：}
		<span class="note">{lang您只能添加普通管理员信息}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="radio" name="if_system" id="if_system_0" value="0"{if !$rs.if_system} checked{/if} onclick="admin_system(0)" /></td>
			<td><label for="if_system_0"> {lang普通管理员}</label></td>
		</tr>
		</table>
	</div>
</div>
<!-- /if -->
<div id="sysmenu_html" class="hide">
<div class="table">
	<div class="title">
		{lang功能权限分配：}
		<span class="note">{lang分配系统后台各个功能的权限}</span>
	</div>
	<div class="content">
		<!-- loop from=$syslist key=$key value=$value -->
		<div class="list" id="mlist_{$value.id}" style="border:1px solid #ccc;">
		<table cellpadding="0" cellspacing="0" width="100%" style="padding:1px;">
		<tr>
			<th class="lft" width="130px">&nbsp; {func P_Lang $value.title}</th>
			<th colspan="2" align="right">
				<input type="button" value="{lang全选}" onclick="$.input.checkbox_all('mlist_{$value.id}')" />
				<input type="button" value="{lang全不选}" onclick="$.input.checkbox_none('mlist_{$value.id}')" />
				<input type="button" value="{lang反选}" onclick="$.input.checkbox_anti('mlist_{$value.id}')" />
			</th>
		</tr>
			<!-- loop from=$value.sublist key=$k value=$v -->
			<!-- if $v.appfile != 'list' && $v.appfile != 'admin' -->
			<tr id="mlist_{$v.id}">
				<td><div style="text-indent:24px;">{func P_Lang $v.title}</div></td>
				<td width="180px" align="center">
					<input type="button" value="{lang全选}" onclick="$.input.checkbox_all('mlist_{$v.id}')" />
					<input type="button" value="{lang全不选}" onclick="$.input.checkbox_none('mlist_{$v.id}')" />
					<input type="button" value="{lang反选}" onclick="$.input.checkbox_anti('mlist_{$v.id}')" />
				</td>
				<td>
					<!-- if $glist[$v['id']] -->
					<ul class="layout">
						<!-- loop from=$glist[$v['id']] key=$kk value=$vv -->
						<li><label><input type="checkbox" name="popedom[]" value="{$vv.id}"{if $plist && in_array($vv.id,$plist)} checked{/if} /> {func P_Lang $vv.title}</label></li>
						<!-- /loop -->
					</ul>
					<!-- /if -->
				</td>
			</tr>
			<!-- /if -->
			<!-- /loop -->
		</table>
		</div>
		<!-- /loop -->
	</div>
</div>

<div class="table">
	<div class="title">
		{lang内容配置：}
		<span class="note">{lang设置网站的内容里的权限}<span class="darkblue i">{lang（子项权限请同时启用父项的查看权限）}</span></span>
	</div>
	<div class="content">
		<!-- loop from=$sitelist key=$key value=$value -->
		<div class="list" id="site_{$value.id}" style="border:1px solid #ccc;">
		<table cellpadding="0" cellspacing="0" width="100%" style="padding:1px;">
		<tr>
			<th class="lft">&nbsp;{$value.title}</th>
			<th colspan="2" align="right">
				<input type="button" value="{lang全选}" onclick="$.input.checkbox_all('site_{$value.id}')" />
				<input type="button" value="{lang全不选}" onclick="$.input.checkbox_none('site_{$value.id}')" />
				<input type="button" value="{lang反选}" onclick="$.input.checkbox_anti('site_{$value.id}')" />
			</th>
		</tr>
			<!-- loop from=$value.sonlist key=$k value=$v -->
			<tr id="site_p_{$v.id}">
				<td><div style="text-indent:5px;">{$v.space}{$v.title}</div></td>
				<td width="180px" align="center">
					<input type="button" value="{lang全选}" onclick="$.input.checkbox_all('site_p_{$v.id}')" />
					<input type="button" value="{lang全不选}" onclick="$.input.checkbox_none('site_p_{$v.id}')" />
					<input type="button" value="{lang反选}" onclick="$.input.checkbox_anti('site_p_{$v.id}')" />
				</td>
				<td>
					<ul class="layout">
						<!-- loop from=$v._popedom key=$kk value=$vv -->
						<li><label><input type="checkbox" name="popedom[]" value="{$vv.id}"{if $plist && in_array($vv.id,$plist)} checked{/if} /> {func P_Lang $vv.title}</label></li>
						<!-- /loop -->
					</ul>
				</td>
			</tr>
			<!-- /loop -->
		</table>
		</div>
		<!-- /loop -->
	</div>
</div>

</div>

<div class="table">
	<div class="content">
		<input type="submit" value="{lang提交}" class="submit2" />
	</div>
</div>
</form>
<br />
<script type="text/javascript">
$(document).ready(function(){
	admin_system("{$rs.if_system}");
});
</script>
<!-- include tpl=foot -->