<!-- inc:head -->
<script type="text/javascript" src="{echo add_js('all.js')}"></script>
<div class="tips">
	{lang您当前的位置：}
	<a href="{url ctrl=all/}">{lang全局维护}</a>
	&raquo; {lang网站域名}
</div>

<div class="list">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="id">ID</th>
	<th>{lang域名}</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr{if $rslist_id.num%2 == ""} class="list"{/if}>
	<td class="center">{$value.id}</td>
	<td>
		<!-- if $value.id == $rs.domain_id -->
		<input type="text" id="domain_{$value.id}" value="{$value.domain}" class="default" disabled />
		<span class="red"> {lang主域名管理：}<a href="{echo admin_url('all','setting')}">{lang网站信息}</a></span>
		<!-- else -->
		<input type="text" id="domain_{$value.id}" value="{$value.domain}" class="default" />
		<input type="button" value="{lang更新}" class="btn" onclick="domain_update({$value.id})" />
		<input type="button" value="{lang设主域名}" class="btn" onclick="domain_default({$value.id})" />
		<input type="button" value="{lang删除}" class="btn" onclick="domain_delete({$value.id})" />
		<!-- end -->
	</td>
</tr>
<!-- /foreach -->
<tr>
	<td class="center">{lang添加}</td>
	<td>
		<input type="text" id="domain_0" class="default" />
		<input type="button" value="{lang添加}" class="btn" onclick="domain_add()" />
	</td>
</tr>
</table>
</div>


<!-- inc:foot -->