<!-- include tpl=head_lay -->
<form method="post" id="post_save" class="layui-form" onsubmit="return $.admin_all.ext_save()">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-header">
		{lang内容}_{lang标识} <span class="darkblue">{$rs.identifier}</span>
		<!-- if $popedom.gset && $session.adm_develop -->
		<div class="layui-btn-group fr">
			<input type="button" value="{lang维护设置}" onclick="$.admin_all.group({$id})" class="layui-btn layui-btn-sm" />
			<input type="button" value="{lang删除}" onclick="$.admin_all.group_delete({$id})" class="layui-btn layui-btn-sm layui-btn-danger" />
		</div>
		<!-- /if -->
	</div>
	<div class="layui-card-body">
		<!-- loop from=$extlist key=$key value=$value -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{$value.title}
				<div class="darkblue"><small>[{$value.identifier}]</small></div>
			</label>
			<!-- if $value.note --><div class="layui-input-block gray" style="line-height:38px;">{$value.note}</div><!-- /if -->
			<div class="layui-input-block">
				{$value.html}
			</div>
			<!-- if $popedom.ext && $session.adm_develop -->
			<div class="layui-input-block mtop">
				<div class="layui-btn-group">
					<input type="button" value="{lang编辑}" class="layui-btn layui-btn-xs" onclick="ext_edit('{$value.identifier}','{$ext_module}')" />
					<input type="button" value="{lang删除}" class="layui-btn layui-btn-xs layui-btn-danger" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')" />
				</div>
			</div>
			<!-- /if -->
		</div>
		<!-- /loop -->
		<!-- if $popedom.ext && $session.adm_develop -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang扩展}
			</label>
			<div class="layui-input-inline long" id="_quick_insert" data-id="{$ext_module}"></div>
		</div>
		<!-- /if -->
	</div>
</div>
<input type="hidden" data-name="fields" value="{$value.identifier}" disabled />
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang提交}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消关闭}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>

</form>
<!-- include tpl=foot_lay -->