<!-- inc:head -->
<script type="text/javascript" src="{func include_js all.js}"></script>
<div class="tips">
	您当前的位置：
	<a href="{echo admin_url('all')}">全局维护</a>
	&raquo; {$rs.title} 
	<!-- if $popedom.gset -->
	【<a href="{echo admin_url('all','gset')}&id={$id}">维护设置</a>】
	<!-- /if -->
</div>
<form method="post" id="{$ext_module}" action="{echo admin_url('all','ext_save')}">
<input type="hidden" id="id" name="id" value="{$id}" />

<!-- loop from=$extlist key=$key value=$value -->
<div class="table">
	<div class="title">
		<table cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">{$value.title}<span class="darkblue">[{$value.identifier}]</span>：</td>
			<td><span class="note">{$value.note}</span></td>
			<!-- if $popedom.ext -->
			<td><a class="icon edit" onclick="ext_edit('{$value.identifier}','{$ext_module}')"></a></td>
			<td><a class="icon delete" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')"></a></td>
			<!-- /if -->
		</tr>
		</table>
	</div>
	<div class="content">{$value.html}</div>
</div>
<!-- /loop -->


<!-- if $popedom.ext -->
<div class="table">
	<div class="content">
		<span id="_quick_insert"></span>
		<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				'url':"{url ctrl=ext func=select type=all module=$ext_module/}",
				'dataType':'html',
				'cache':false,
				'async':true,
				'beforeSend': function (XMLHttpRequest){
					XMLHttpRequest.setRequestHeader("request_type","html");
				},
				'success':function(rs){
					$("#_quick_insert").html(rs);
				}
			});
		});
		</script>
		<input type="button" value="标准创建扩展字段" onclick="ext_add('{$ext_module}')" class="button2" />
	</div>
</div>
<!-- /if -->
<div class="table">
	<div class="content">
		<br />
		<input type="submit" value="提 交" class="submit" />
		<br />
	</div>
</div>
</form>

<!-- inc:foot -->