<!-- inc:head -->
<script type="text/javascript" src="{func include_js all.js}"></script>
<div class="tips">
	{lang您当前的位置：}
	<a href="{url ctrl=all/}">{lang全局维护}</a>
	&raquo; {lang网站域名}
</div>

<div class="list">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="id">ID</th>
	<th width="400">{lang域名}</th>
	<th>{lang操作}</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr>
	<td class="center">{$value.id}</td>
	<td><input type="text" id="domain_{$value.id}" value="{$value.domain}" class="default" /></td>
	<td>
		<div class="button-group">
			<input type="button" value="{lang更新}" onclick="domain_update({$value.id})" class="phpok-btn" />
			<!-- if $value.id != $rs.domain_id -->
				<input type="button" value="{lang设主域名}" class="phpok-btn" onclick="domain_default({$value.id})" />
				<!-- if $value.is_mobile -->
				<input type="button" value="{lang取消手机版专用}" class="phpok-btn" onclick="unset_mobile({$value.id})" />
				<!-- else -->
				<input type="button" value="{lang设为手机版专用}" class="phpok-btn" onclick="set_mobile({$value.id})" />
				<!-- /if -->
				<input type="button" value="{lang删除}" class="phpok-btn" onclick="domain_delete({$value.id})" />
			<!-- /if -->
		</div>
	</td>
</tr>
<!-- /foreach -->
<tr>
	<td class="center">{lang添加}</td>
	<td><input type="text" id="domain_0" class="default" /></td>
	<td><input type="button" value="{lang添加}" class="phpok-btn" onclick="domain_add()" /></td>
</tr>
</table>
</div>


<!-- inc:foot -->