<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function save()
{
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('all','tpl_setting_save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('操作成功',function(){
					opener.$.dialog.close();
				},'succeed');
				return true;
			}
			$.dialog.alert(rs.info);
			return false;
		}
	});
}
</script>
<form method="post" id="post_save" onsubmit="return false">
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>名称</th>
			<th>默认模板</th>
			<th>自定义模板</th>
		</tr>
		</thead>
		<!-- loop from=$tpls key=$key value=$value id=$tmpid -->
		<tr>
			<td><!-- if $value.title -->{$value.title}<!-- else -->{$value.default}<!-- /if --></td>
			<td>{$value.default}<!-- if $tplext -->.{$tplext}<!-- /if --></td>
			<td>
				<select name="{$key}">
					<option value="">{lang使用默认模板…}</option>
					<!-- loop from=$filelist key=$k value=$v id=$idx -->
					<option value="{$v.id}"{if $value.tpl && $v.id == $value.tpl} selected{/if}>{$v.title}</option>
					<!-- /loop -->
				</select>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
</form>

<!-- include tpl=foot_open -->