<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang名称}
		<span class="note">{lang用于后台阅读，尽量简短，建议不超过5个汉字}</span></span>
	</div>
	<div class="content">
		<input type="text" id="title" name="title" class="w99" value="{$rs.title}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang标识}
		<span class="note">{lang限字母、数字、下划线或中划线，且必须是字母开头}</span>
	</div>
	<div class="content"><input type="text" id="identifier" name="identifier" class="default" value="{$rs.identifier}" /></div>
</div>

<div class="table">
	<div class="title">
		{lang图标}
		<span class="note">{lang必填，需要确认一个图标}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<!-- loop from=$icolist key=$key value=$value -->
			<li><label title="{func basename $value}">
				<table>
				<tr>
					<td><input type="radio" name="ico" value="{$value}"{if $rs.ico == $value} checked{/if} /></td>
					<td><img src="{$value}" alt="{func basename $value}" /></td>
				</tr>
				</table>
			</label></li>
			<!-- /loop -->
			<div class="clear"></div>
		</ul>
	</div>
</div>

<div class="table">
	<div class="title">
		{lang状态}
		<span class="note">{lang是否在前台网页启用}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><label for="status_0"><input type="radio" name="status" id="status_0" value="0"{if $id && !$rs[status]} checked{/if} />{lang不启用}</label></td>
			<td><label for="status_1"><input type="radio" name="status" id="status_1" value="1"{if !$id || $rs[status]} checked{/if} />{lang启用}</label></td>
		</tr>
		</table>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->