<!-- include tpl=head_lay -->
<div class="layui-card">
    <div class="layui-card-header">{lang验证码设置，打勾表示启用验证码，不打勾表示禁用验证码}</div>
    <div class="layui-card-body layui-main">
        <form method="post" class="layui-form" id="post_save" onsubmit="return $.admin_all.vcode_save();">
            <!-- loop from=$vcodelist key=$key value=$value id=$idx -->
            <div class="layui-form-item">
                <label class="layui-form-label">{$value.title}</label>
                <div class="layui-input-block">
                    <!-- loop from=$value.list key=$k value=$v id=$idxx -->
                    <input type="checkbox" id="{$key}-{$k}" name="{$key}-{$k}" {if $v.status} checked{/if} title="{$v.title}">
                    <!-- /loop -->
                </div>
            </div>
            <!-- /loop -->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">{lang提交}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- include tpl=foot_lay -->