<!-- include tpl=head_lay -->
<div class="layui-row layui-col-space15">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-header">{lang网站域名维护}</div>
			<div class="layui-card-body">
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="500">
						<col>
					</colgroup>
					<thead>
					<tr>
						<th>ID</th>
						<th>{lang域名}</th>
						<th>{lang操作}</th>
					</tr>
					</thead>
					<tbody>
					<!-- loop from=$rslist key=$key value=$value -->
					<tr>
						<td>{$value.id}</td>
						<td><input type="text" id="domain_{$value.id}" value="{$value.domain}" class="layui-input" /></td>
						<td>
							<div class="layui-btn-group">
								<input type="button" value="{lang更新}" id="domain_{$value.id}_submit" onclick="$.admin_all.domain_update({$value.id})" class="layui-btn" />
								<input type="button" value="{lang删除}" class="layui-btn layui-btn-danger" onclick="$.admin_all.domain_delete({$value.id})" />
								<!-- if $value.id != $rs.domain_id -->
								<input type="button" value="{lang设主域名}" class="layui-btn" onclick="$.admin_all.domain_default({$value.id})" />
									<!-- if $value.is_mobile -->
									<input type="button" value="{lang取消手机版专用}" class="layui-btn" onclick="$.admin_all.domain_mobile({$value.id},0)" />
									<!-- else -->
									<input type="button" value="{lang设为手机版专用}" class="layui-btn" onclick="$.admin_all.domain_mobile({$value.id},1)" />
									<!-- /if -->
								<!-- /if -->
							</div>
						</td>
					</tr>
					<!-- /loop -->
					<tr>
						<td>{lang添加}</td>
						<td><input type="text" id="domain_0" class="layui-input" /></td>
						<td>
							<input type="button" value="{lang添加}" id="domain_0_submit" class="layui-btn" onclick="$.admin_all.domain_add()" />
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- include tpl=foot_lay -->