<!-- inc:head -->
<script type="text/javascript" src="{func include_js all.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#email_test').submit(function(){
		$(this).ajaxSubmit({
			'type':'post',
			'dataType':'json',
			'url':api_url('email','','_langid={$session.admin_lang_id}'),
			'success':function(rs){
				if(rs.status == 'ok')
				{
					var email = $('#email').val();
					$.dialog.alert('{lang邮件已发送到指定邮箱：}'+email,function(){
						$.phpok.reload();
					},'succeed');
				}
				else
				{
					if(!rs.content) rs.content = '{lang邮件发送失败}';
					$.dialog.alert(rs.content);
					return false;
				}
			}
		});
		return false;
	});
});
</script>
<div class="tips">
	{lang您当前的位置：}
	<a href="{echo admin_url('all')}">{lang全局维护}</a>
	&raquo; {lang在线发送邮件}
</div>
<form method="post" id="email_test">
<div class="table">
	<div class="title">
		{lang目标邮箱：}
		<span class="note">{lang即收件人邮箱}</span></span>
	</div>
	<div class="content">
		<input type="text" id="email" name="email" class="long" value="" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang邮件主题：}
		<span class="note">{lang填写邮件的主题，不能为空}</span></span>
	</div>
	<div class="content"><input type="text" id="title" name="title" class="long" value="" /></div>
</div>
<div class="table">
	<div class="title">
		{lang邮件内容：}
		<span class="note">{lang填写要发送的邮件内容}</span></span>
	</div>
	<div class="content">{$content}</div>
</div>

<div class="table">
	<div class="content">
		<br />
		<input type="submit" value="{lang提交}" class="submit2" />
		<br />
	</div>
</div>
</form>
<!-- inc:foot -->