<!-- include tpl=head_lay -->
<form id="setting" class="layui-form" onsubmit="return $.admin_all.save()">
<div class="layui-card ">
	<div class="layui-card-header">{lang基本设置}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang网站名称}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="title" id="title" value="{$rs.title}" placeholder="{lang即在前台使用的名称信息}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-inline auto gray lh38">{lang即在前台使用的名称信息}</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang安装目录}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="dir" value="{$rs.dir}" placeholder="{lang根目录请用 /，其他目录请写目录名且要求以 / 结束，如：/phpok/}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-inline auto gray lh38">{lang根目录请用 /，其他目录请写目录名且要求以 / 结束，如：/phpok/}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang网站版LOGO 绑定网站的LOGO信息}"></i>
				{lang网站Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit logo $rs.logo text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang手机版LOGO 绑定网站的手机版LOGO}"></i>
				{lang手机Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit logo_mobile $rs.logo_mobile text form_btn=image}
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang显示于网站标题前的小图标，规格建议使用32x32，建议只使用PNG格式}">&#xe702;</i>
				{lang站点图标}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit favicon $rs.favicon text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang用于数据加密通迅时使用，建议定期更改}"></i>
				{langAPI验证串}
			</label>
			<div class="layui-input-inline default-auto">
				<ul class="layout">
					<li><input type="text" id="api_code" name="api_code" value="{$rs.api_code}" placeholder="{lang用于数据加密通迅时使用，建议定期更改}" autocomplete="off" class="layui-input long"></li>
					<li style="margin-top:3px;"><input type="button" class="layui-btn layui-btn-sm" onclick="$.admin_all.rand()" value="{lang随机生成}"/></li>
				</ul>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang添加页头信息，如添加google验证，百度验证等，支持HTML}"></i>
				{lang网站扩展}
			</label>
			<div class="layui-input-block">
				{$code_editor_info}
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{lang扩展信息}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang网站状态}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="status" lay-filter="status" data="status_close" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang要停止此网站运行，请在这里关闭}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="status_close" {if $rs.status} style="display: none" {/if}>
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang简单说明关闭网站的通知信息}"></i>
				{lang关闭说明}
			</label>
			<div class="layui-input-block">
				
				<textarea name="content" placeholder="{lang请输入关闭网站的原因}" class="layui-textarea" style="resize:none;">{$rs.content}</textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang网站风格}
			</label>
			<div class="layui-input-inline">
				<select id="tpl_id" name="tpl_id">
					<!-- if $tpl_list -->
						<!-- loop from=$tpl_list key=$key value=$value id=$tmpid -->
						<option value="{$value.id}" {if $rs.tpl_id== $value.id} selected{/if}>{$value.title}</option>
						<!-- /loop -->
					<!-- else -->
						<option value="">{lang未安装风格包，请先安装}</option>
					<!-- /if -->
				</select>
			</div>
			<div class="layui-input-inline auto lh38">
				<input class="layui-btn layui-btn-sm" type="button" onclick="$.admin_all.setting_style('{$rs.id}')" value="{lang自定义风格}"/>
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang指定网站要使用的默认风格，注意，风格不区分语言和站点，请仔细选择}
			</div>
		</div>
		
		<!-- if $multiple_language -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang默认语言}
			</label>
			<div class="layui-input-inline">
				<select id="lang" name="lang">
					<!-- loop from=$langlist key=$key value=$value -->
					<option value="{$key}" {if $rs.lang== $key} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang未设置语言包时，将调用系统默认语言包}</div>
		</div>
		<!-- else -->
		<input type="hidden" name="lang" id="lang" value="cn"/>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang注册}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="register_status" data="register_close" lay-filter="status" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.register_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang注册功能开关，关闭注册请写上注册原因}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="register_close" {if $rs.register_status} style="display: none" {/if}>
			<label class="layui-form-label">{lang关闭原因}</label>
			<div class="layui-input-block">
				<textarea name="register_close" placeholder="{lang请输入关闭注册的原因}" class="layui-textarea">{$rs.content}</textarea>
			</div>
			<div class="layui-input-block mtop">{lang简单说明关闭注册的通知信息}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang登录}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="login_status" data="login_close" lay-filter="status" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.login_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang登录功能开关}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="login_close" {if $rs.login_status} style="display: none" {/if}>
			<label class="layui-form-label">{lang关闭原因}</label>
			<div class="layui-input-block">
				<textarea name="login_close" placeholder="{lang请输入关闭登录的原因}" class="layui-textarea">{$rs.content}</textarea>
			</div>
			<div class="layui-input-block mtop">{lang简单说明关闭登录的通知信息}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang设置会员登录的默认方式}">&#xe702;</i>
				{lang登录方式}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="login_type" {if !$rs.login_type} checked{/if} value="0" title="{lang普通登录（即账号密码登录方式）}">
				<!-- if $gateway_email -->
				<input type="radio" name="login_type" value="email" {if $rs.login_type== 'email'} checked{/if} title="{langEmail验证登录}">
				<!-- /if -->
				<!-- if $gateway_sms -->
				<input type="radio" name="login_type" value="sms" {if $rs.login_type== 'sms'} checked{/if} title="{lang短信验证登录}">
				<!-- /if -->
			</div>
		</div>

		<!-- if $gateway_email -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang邮件验证码}
			</label>
			<div class="layui-input-inline default-auto">
				<select name="login_type_email">
					<option value="">{lang请选择…}</option>
					<!-- loop from=$email_tplist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}" {if $rs.login_type_email== $value.identifier} selected{/if}>{$value.title}<!-- if $value.note --> （{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang请配置好邮件验证码模板}</div>
		</div>
		<!-- /if -->
		<!-- if $gateway_sms -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang短信验证码}
			</label>
			<div class="layui-input-inline default-auto">
				<select name="login_type_sms">
					<option value="">{lang请选择…}</option>
					<!-- loop from=$sms_tplist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}" {if $rs.login_type_sms== $value.identifier} selected{/if}>{$value.title}<!-- if $value.note --> （{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang请配置好短信验证码模板}</div>
		</div>
		<!-- /if -->
	</div>
</div>

<div class="layui-card">
	<div class="layui-card-header">{lang电子商务}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang电子商务}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="biz_status" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.biz_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang仅限这里启用电商后，整个平台才支持电商化}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang电商特点}</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="biz_main_service" value="1" title="{lang服务}" {if $rs.biz_main_service} checked{/if}>
				<input type="radio" name="biz_main_service" value="0" title="{lang实物}" {if !$rs.biz_main_service} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang请勾选实物或服务，以方便在录入产品时优先选中项}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang订单号规则}</label>
			<div class="layui-input-block">
				<input type="text" id="biz_sn" name="biz_sn" value="{$rs.biz_sn}" placeholder="{lang用于数据加密通迅时使用，建议定期更改}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-block" style="margin-top:5px;">
				<div class="layui-btn-group">
					<input type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$('#biz_sn').val('')" value="{lang清空}">
					<input type="button" value="{lang前缀}" onclick="insert_input('prefix[P]','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang年}" onclick="insert_input('year','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang月}" onclick="insert_input('month','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang日}" onclick="insert_input('date','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang时}" onclick="insert_input('hour','biz_sn','-')" class="layui-btn layui-btn-sm "/>
					<input type="button" value="{lang分}" onclick="insert_input('minute','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang秒}" onclick="insert_input('second','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang随机}" onclick="insert_input('rand','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang时间戳}" onclick="insert_input('time','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang序号}" onclick="insert_input('number','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang订单ID}" onclick="insert_input('id','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang会员ID}" onclick="insert_input('user','biz_sn','-')" class="layui-btn layui-btn-sm"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang电商货币}</label>
			<div class="layui-input-inline default-auto">
				<select name="currency_id">
					<option value="">{lang不使用}</option>
					<!-- loop from=$currency_list key=$key value=$value -->
					<option value="{$value.id}" {if $rs.currency_id== $value.id} selected{/if}>{$value.title}_{lang标识}_{$value.code}, {lang汇率}_{$value.val}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang启用电子商务功能需要设置前台默认货币}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang默认支付}</label>
			<div class="layui-input-inline default-auto">
				<select name="biz_payment">
					<option value="0">{lang不指定}</option>
					<!-- loop from=$payment key=$key value=$value -->
					<option value="{$value.id}" {if $rs.biz_payment== $value.id} selected{/if}>{$value.group_title}_{$value.title}<!-- if $value.wap -->_{lang手机版}<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang用于创建订单时默认绑定支付方式}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang运费}</label>
			<div class="layui-input-inline default-auto">
				<select name="biz_freight">
					<option value="0">{lang不使用运费}</option>
					<!-- loop from=$freight key=$key value=$value id=$tmpid -->
					<option value="{$value.id}" {if $rs.biz_freight== $value.id} selected{/if}>{$value.title}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang请选择电商平台运费计算方法}</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{langSEO优化}</div>
	<div class="layui-card-body">
		<div id="seo_setting">
			
			<div class="layui-form-item">
				<label class="layui-form-label">{lang网址优化}</label>
				<div class="layui-input-block">
					<input type="radio" name="url_type" value="default" title="{lang默认动态网址}"{if $rs.url_type == "default" || !$rs.url_type} checked{/if}>
					<span style="position: absolute; top: 9px;">{lang示例：}http://www.domain.com/index.php?id={lang标识或数字ID}</span>
				</div>
				<div class="layui-input-block">
					<input type="radio" name="url_type" value="rewrite"{if $rs.url_type== "rewrite"} checked{/if} title="{lang伪静态页}">
					<span style="position: absolute; top: 9px;">{lang示例：}http://www.domain.com/{lang标识或数字ID}.html</span>
				</div>
				<div class="layui-input-block mtop">{lang本系统全面支持网址优化，您可以根据自身条件进行设置}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{langSEO标题}</label>
				<div class="layui-input-block">
					<input type="text" id="seo_title" name="seo_title" value="{$rs.seo_title}" class="layui-input" autocomplete="off">
				</div>
				<div class="layui-input-block mtop">{lang针对HTML里的Title属性进行优化，建议使用英文竖线分割开来，不超过80字}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{langSEO关键字}</label>
				<div class="layui-input-block">
					<input type="text"  id="seo_keywords" name="seo_keywords" value="{$rs.seo_keywords}" class="layui-input" autocomplete="off">
				</div>
				<div class="layui-input-block mtop">{lang简单明了用几个词来描述您的网站，多个词用英文逗号隔开}</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">{langSEO摘要}</label>
				<div class="layui-input-block">
					<textarea name="seo_desc" class="layui-textarea">{$rs.seo_desc}</textarea>
				</div>
				<div class="layui-input-block mtop">{lang针对您的网站，简单描述其作用，目标群体，未来方向等信息，建议不超过100字}</div>
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{lang上传配置}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang游客上传}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="upload_guest" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.upload_guest} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang启用上传权限后，游客可以上传JPG，GIF，PNG，JPEG，ZIP，RAR这几种类型的附件}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang会员上传}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="upload_user" lay-skin="switch" value="1" lay-text="{lang启用}|{lang禁用}" {if $rs.upload_user} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang启用后，会员可以上传后台开放的附件类型上传}</div>
		</div>
	</div>
</div>
<!-- if LICENSE != 'LGPL' -->


<div class="layui-card">
	<div class="layui-card-header">{lang后台自定义Logo}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang左侧栏大图}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">{lang显示在后台管理左上方的LOGO，图片规格是220x50，建议上传PNG格式}</div>
			<div class="layui-input-block">
				{func form_edit adm_logo29 $rs.adm_logo29 text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang左侧栏小图}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">{lang显示缩小后的Logo，规格是：50x50，建议上传PNG格式}</div>
			<div class="layui-input-block">
				{func form_edit adm_logo50 $rs.adm_logo50 text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang登录页}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">{lang显示在登录页上，建议使用PNG透明图片，图片规格是300x75}</div>
			<div class="layui-input-block">
				{func form_edit adm_logo180 $rs.adm_logo180 text form_btn=image}
			</div>
		</div>
	</div>
</div>
<!-- /if -->

<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang保存配置}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消关闭}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->