<!-- include tpl=head -->
<script type="text/javascript">
$(document).ready(function(){
	$("#project li").each(function(i){
		$(this).click(function(){
			var url = $(this).attr("href");
			var txt = $(this).text();
			if(txt == '' || $.trim(txt) == ''){
				txt = $(this).attr('title');
			}
			if(url){
				$.win(txt,url);
				return true;
			}
			return false;
		});
	});
});
</script>
<ul class="project" id="project">
	<!-- if $popedom.site -->
	<li title="{lang配置网站信息，包括网址域名，布全局关键字等}" href="{url ctrl=all func=setting/}">
		<div class="img"><img src="images/ico/setting.png" class="ie6png"/></div>
		<div class="txt">{lang网站信息}</div>
	</li>
	<!-- /if -->
	<!-- if $popedom.domain -->
	<li title="{lang网站可以绑定的域名}" href="{url ctrl=all func=domain/}">
		<div class="img"><img src="images/ico/alias.png" class="ie6png" /></div>
		<div class="txt">{lang网站域名}</div>
	</li>
	<!-- /if -->
	<!-- if $popedom.gset || $popedom.set -->
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<li title="{$value.title}" href="{url ctrl=all func=set id=$value.id/}">
		<div class="img"><img src="{$value.ico}" class="ie6png" /></div>
		<div class="txt">{func P_Lang $value.title}</div>
	</li>
	<!-- /loop -->
	<!-- /if -->
	<!-- if $popedom.gset && $session.adm_develop -->
	<li title="{lang添加全局}" onclick="$.admin_all.group()" style="border: 1px dashed #cacaca;padding:20px;">
		<div class="img"><img src="images/plus.png" class="ie6png" /></div>
	</li>
	<!-- /if -->
</ul>
<div class="clear"></div>
<!-- inc:foot -->