<!-- include tpl=head -->
<div class="tips">
	<div class="left">
		{lang您当前的位置：}{lang应用管理器} &raquo; {lang已安装应用}
	</div>
	<!-- if $popedom.setting -->
	<div class="action"><a href="javascript:$.admin_appsys.setting();void(0)">{lang配置环境}</a></div>
	<!-- /if -->
	<!-- if $popedom.remote -->
	<div class="action"><a href="javascript:$.admin_appsys.remote();void(0)">{lang更新远程数据}</a></div>
	<!-- /if -->
</div>
<div class="list">
<table width="100%" class="list" cellpadding="0" cellspacing="0">
<tr>
	<th width="60px">{lang标识}</th>
	<th class="lft">{lang名称}</th>
	<th>{lang后台管理}</th>
	<th>{lang前台}</th>
	<th>{lang接口}</th>
	<th>{lang安装状态}</th>
	<th>&nbsp;</th>
</tr>
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
<tr>
	<td class="center">{$key}</td>
	<td id="{$key}_title">{$value.title}</td>
	<td class="center">
		<!-- if $value.status && $value.status.admin -->支持<!-- else --><span class="gray">不支持</span><!-- /if -->
	</td>
	<td class="center">
		<!-- if $value.status && $value.status.www -->支持<!-- else --><span class="gray">不支持</span><!-- /if -->
	</td>
	<td class="center">
		<!-- if $value.status && $value.status.api -->支持<!-- else --><span class="gray">不支持</span><!-- /if -->
	</td>
	<td class="center"><!-- if $value.installed --><span class="gray">已安装</span><!-- else --><span class="red">未安装</span><!-- /if --></td>
	<td class="center">
		<!-- if $value.installed -->
		<input type="button" value="{lang卸载}" onclick="$.admin_appsys.uninstall('{$key}')" class="phpok-btn" />
		<!-- else -->
		<input type="button" value="{lang安装}" onclick="$.admin_appsys.install('{$key}')" class="phpok-btn" />
		<!-- /if -->
	</td>
</tr>
<!-- /loop -->
</table>
</div>
<!-- include tpl=foot -->