<!-- include tpl=head_open -->
<form method="post" id="post_save">
<div class="table">
	<div class="title">
		{lang服务器} <span class="note">{lang请配置远程服务器}</span>
	</div>
	<div class="content">
		<input type="text" name="server" id="server" value="{$rs.server}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{langIP} <span class="note">{lang如无法解析域名，请手工指定IP}</span>
	</div>
	<div class="content">
		<input type="text" name="ip" id="ip" value="{$rs.ip}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang目录} <span class="note">{lang不清楚请设置为} /</span>
	</div>
	<div class="content">
		<input type="text" name="folder" id="folder" value="{$rs.folder}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang是否启用HTTPS} <span class="note">{lang官网提供的APP接口默认是没有启用 HTTPS}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="https" value="1"{if $rs.https} checked{/if} />{lang启用 HTTPS}</label></li>
			<li><label><input type="radio" name="https" value="0"{if !$rs || !$rs.https} checked{/if} />{lang禁用 HTTPS}</label></li>
		</ul>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->