<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang安装应用}
		<!-- if $popedom.setting || $popedom.remote -->
		<div class="layui-btn-group test-table-operate-btn fr">
			<!-- if $popedom.setting -->
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.add()"><i class="layui-icon">&#xe654;</i>{lang创建}</button>
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.import_zip()"><i class="layui-icon">&#xe653;</i>{lang导入}</button>
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.setting()"><i class="layui-icon">&#xe716;</i> {lang配置}</button>
			<!-- /if -->
			<!-- if $popedom.remote -->
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.remote()"><i class="layui-icon">&#xe601;</i> {lang云数据}</button>
			<!-- /if -->
			
		</div>
		<!-- /if -->
	</div>
</div>
<div class="layui-row layui-col-space10">
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
    	<div class="layui-card">
    		<div class="layui-card-header">
    			{$value.title}
    		</div>
    		<div class="layui-card-body">
    			<div style="height:72px;line-height:24px;overflow:hidden;color:gray;">{$value.note}</div>
				<div class="layui-btn-group">
					<input type="button" value="{lang安装}" onclick="$.admin_appsys.install('{$key}')" class="layui-btn layui-btn-xs" />
					<!-- if $value.local -->
					<input type="button" value="{lang导出}" onclick="$.admin_appsys.export_zip('{$key}')" class="layui-btn layui-btn-xs" />
					<input type="button" value="{lang删除}" onclick="$.admin_appsys.delete_apps('{$key}')" class="layui-btn layui-btn-xs layui-btn-danger" />
					<!-- /if -->
				</div>
    		</div>
    	</div>
	</div>
	<!-- /loop -->
</div>
<!-- include tpl=foot_lay -->