<!-- include tpl=head title="货币及汇率管理" -->
<script type="text/javascript" src="{func add_js currency.js}"></script>
<div class="tips">
	<!-- if $popedom.add -->
	<div class="action"><a href="{echo admin_url('currency','set')}">添加货币</a></div>
	<!-- /if -->
	您当前的位置：
	<a href="{echo admin_url('currency')}">货币管理</a>
	&raquo; 已添加货币信息
</div>
<script type="text/javascript">
function update_taxis(val,id)
{
	var url = get_url("currency","sort","sort["+id+"]="+val);
	$.phpok.json(url,function(rs){
		if(rs.status == 'ok'){
			$.phpok.reload();
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	});
}
$(document).ready(function(){
	$("div[name=taxis]").click(function(){
		var oldval = $(this).text();
		var id = $(this).attr('data');
		$.dialog.prompt('{lang请填写新的排序：}',function(val){
			if(val != oldval){
				update_taxis(val,id);
			}
		},oldval);
	});
});
</script>
<div class="list">
<table width="100%" class="list" cellpadding="0" cellspacing="0">
<tr>
	<th width="50">货币代号</th>
	<th width="80">数字代码</th>
	<th width="30px">&nbsp;</th>
	<th class="lft">名称</th>
	<th width="150px">汇率</th>
	<th width="150px" style="text-align:left;">显示效果</th>
	<th width="60px">排序</th>
	<th>&nbsp;</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr>
	<td align="center">{$value.code}</td>
	<td class="center">{$value.code_num}</td>
	<td><span class="status{$value.status}" id="status_{$value.id}"{if $popedom.status} onclick="phpok_status({$value.id},'{func admin_url currency status}')"{else} style="cursor: default;"{/if} value="{$value.status}"></span></td>
	<td><label for="id_{$value.id}">{$value.title}</label></td>
	<td align="center">{$value.val}</td>
	<td class="darkblue">{$value.symbol_left}{func rand 10 99}.{func rand 10 99}{$value.symbol_right}</td>
	<td class="center"><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
	<td>
		<div class="button-group">
			<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=currency func=set id=$value.id/}')" class="phpok-btn" /><!-- /if -->
			<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="currency_del('{$value.id}','{$value.title}')" class="phpok-btn" /><!-- /if -->
		</div>
	</td>
</tr>
<!-- /loop -->
</table>
</div>
<!-- include tpl=foot -->