<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		<!-- if $id -->{lang编辑货币信息}<!-- else -->{lang添加货币信息}<!-- /if -->
		<div class="fr">
			<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.phpok.go('{url ctrl=currency/}')">{lang返回}</button>
		</div>
	</div>
	<div class="layui-card-body">
		<form method="post" class="layui-form" action="{url ctrl=currency func=setok/}" onsubmit="return check_save()">
		<!-- if $id -->
		<input type="hidden" name="id" id="id" value="{$id}" />
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang名称}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="title" required lay-verify="required" name="title" value="{$rs.title}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang用于后台管理，使用您习惯的语言来编写}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang货币代号}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="code" name="code" required lay-verify="required" value="{$rs.code}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang设置货币的标识，国际标准为三个大写的字母}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang数字代号}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="code_num" name="code_num" required lay-verify="required" value="{$rs.code_num}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang设置货币的数字代码，国际标准为三个数字}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang汇率}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="val" name="val" required lay-verify="required" value="{$rs.val}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang设置该货币的汇率，一般情况是以美元为1.00000为基础}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang格式化}
			</label>
			<div class="layui-input-inline short">
				<input type="text" id="symbol_left" name="symbol_left" value="{$rs.symbol_left}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid">{func rand 10 99}.{func rand 10 99}</div>
			<div class="layui-input-inline short">
				<input type="text" id="symbol_right" name="symbol_right"value="{$rs.symbol_right}" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang状态}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="status" value="1"{if $rs.status} checked{/if} title="{lang启用}" />
				<input type="radio" name="status" value="0"{if !$rs.status} checked{/if} title="{lang禁用}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang是否显示}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="checkbox" name="hidden" lay-text="{lang显示}|{lang隐藏}" value="1" {if $rs.hidden} checked{end} lay-skin="switch">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang排序}
			</label>
			<div class="layui-input-inline short">
				<input type="text" id="taxis" name="taxis" value="{$rs.taxis ? $rs.taxis : 255}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang设置排序，最大值不超过255，最小值为0，值越小越往前靠}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline auto">
				<button class="layui-btn" type="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
		</form>
	</div>
</div>
<!-- include tpl=foot_lay -->