<!-- include tpl=head_lay nopadding=true overflowy=true -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item" style="min-height:38px;">
			<select name="type" id="type" lay-filter="type">
				<option value="editor"{if $type == 'editor'} selected{/if}>内容编辑器</option>
				<option value="code"{if $type == 'code'} selected{/if}>代码编辑器</option>
				<option value="textarea"{if $type == 'textarea'} selected{/if}>文本区</option>
				<option value="image"{if $type == 'image'} selected{/if}>图片附件</option>
				<option value="video"{if $type == 'video'} selected{/if}>视频链接</option>
				<option value="iframe"{if $type == 'iframe'} selected{/if}>Iframe 框架</option>
				<option value="calldata"{if $type == 'calldata'} selected{/if}>数据调用</option>
			</select>
		</div>
		<!-- if $type == 'editor' -->
		<div class="layui-form-item">
			{$content_html}
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			var opener = $.dialog.opener;
			var c = opener.$("div[pre-id={$id}]").find("div[pre-type=content]").html();
			if(c && c != 'undefined'){
				c = $.trim(c);
			}
			if(c && c != 'undefined'){
				UE.getEditor('content').addListener("ready", function () {
		        	UE.getEditor('content').setContent(c);
		        });
			}
		});
		</script>
		<!-- elseif $type == 'code' -->
		<div class="layui-form-item">
			{$content_html}
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			var opener = $.dialog.opener;
			var c = opener.$("div[pre-id={$id}]").find("div[pre-type=content]").html();
			if(c && c != 'undefined'){
				c = $.trim(c);
			}
			if(c && c != 'undefined'){
				code_editor_content.setValue(c);
			}
		});
		</script>
		<!-- elseif $type == 'textarea' -->
		<div class="layui-form-item">
			<textarea name="content" id="content" style="width:720px;height:420px;resize:none;"></textarea>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			var opener = $.dialog.opener;
			var c = opener.$("div[pre-id={$id}]").find("div[pre-type=content]").html();
			if(c && c != 'undefined'){
				c = $.trim(c);
			}
			if(c && c != 'undefined'){
				c = c.replace(/<br\s*[\/]*\s*>/g,"\n");
				$("#content").val(c);
			}
		});
		</script>
		<!-- elseif $type == 'image' -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				规格
			</label>
			<div class="layui-input-inline default-auto">
				<select id="gdtype" name="gdtype">
					<option value="">原图（默认）</option>
					<!-- loop from=$gdlist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}">{$value.title}（{$value.width ? $value.width : '默认'} &#215; {$value.height ? $value.height : '默认'}）</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline">
				<input type="text" name="round" id="round" placeholder="圆角" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				<i class="layui-icon layui-tips" lay-tips='设为0或留空表示默认，支持百分比和像素，具体查看教程：https://www.phpok.com/css-box-radius.html'>&#xe702;</i>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">宽高</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="width" id="width" placeholder="宽度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid"> &#215; </div>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="height" id="height" placeholder="高度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid">单位是像素，留空表示自动</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				链接
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="link" id="link" class="layui-input" />
			</div>
			<div class="layui-input-inline">
				<select id="target" name="target">
					<option value="">默认</option>
					<option value="_blank">新窗口</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				Alt 文本
			</label>
			<div class="layui-input-block">
				<input type="text" name="alt" id="alt" placeholder="用于图片未加载或丢失时显示的提示" class="layui-input" />
			</div>
		</div>
		<div class="layui-form-item" style="min-height:220px">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				{$content_html}
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			design_update_image();
		});
		</script>
		<!-- elseif $type == 'video' -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				视频地址
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="link" id="link" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				<div class="layui-btn-group">
					<input type="button" value="{lang选择视频}" class="layui-btn layui-btn-sm" onclick="$.phpokform.text_button_video_select('link')" />
					<input type="button" value="{lang预览}" class="layui-btn layui-btn-sm" onclick="$.phpokform.text_button_video_preview('link')" />
					<input type="button" value="{lang清除}" class="layui-btn layui-btn-sm layui-btn-warm" onclick="$.phpokform.clear('link');" />
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				视频设置
			</label>
			<div class="layui-input-block">
				<input type="checkbox" name="autoplay" id="autoplay" title="自动播放" lay-skin="primary" />
				<input type="checkbox" name="loop" id="loop" title="循环" lay-skin="primary" />
				<input type="checkbox" name="muted" id="muted" title="静音" lay-skin="primary" />
				<input type="checkbox" name="controls" id="controls" title="控制器" lay-skin="primary" />
				<input type="checkbox" name="playsinline" id="playsinline" title="内联播放" lay-skin="primary" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				预加载
			</label>
			<div class="layui-input-block">
				<input type="radio" name="preload" value="auto" title="自动" />
				<input type="radio" name="preload" value="metadata" title="元数据" />
				<input type="radio" name="preload" value="none" title="无" checked />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">宽高</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="width" id="width" placeholder="宽度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid"> &#215; </div>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="height" id="height" placeholder="高度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid">单位是像素，留空表示自动</div>
		</div>
		<div class="layui-form-item" style="min-height:200px;">
			<label class="layui-form-label">
				海报图像
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="poster" id="poster" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				<div class="layui-btn-group">
					<input type="button" value="{lang选择图片}" class="layui-btn layui-btn-sm" onclick="$.phpokform.text_button_image_select('poster')" />
					<input type="button" value="{lang预览}" class="layui-btn layui-btn-sm" onclick="$.phpokform.text_button_image_preview('poster')" />
					<input type="button" value="{lang清除}" class="layui-btn layui-btn-sm layui-btn-warm" onclick="$.phpokform.clear('poster');" />
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			design_update_video();
		});
		</script>
		<!-- elseif $type == 'iframe' -->

		<div class="layui-form-item">
			<label class="layui-form-label">宽高</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="width" id="width" placeholder="宽度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid"> &#215; </div>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="height" id="height" placeholder="高度" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid">单位是像素或%，留空表示自动</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				链接
			</label>
			<div class="layui-input-block">
				<input type="text" name="link" id="link" class="layui-input" />
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			design_update_iframe();
		});
		</script>
		<!-- elseif $type == 'calldata' -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				调用中心
			</label>
			<div class="layui-input-inline default-auto">
				<select id="code" name="code" lay-filter="code">
					<option value="">请选择…</option>
					<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}">{$value.title} / {$value.typename} / {$value.identifier}</option>
					<!-- /loop -->
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">
				自定义参数
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">一行一个参数，参数写法如：keywords=关键字，或 ext[扩展字段]=值，具体请上官网论坛查询</div>
			<div class="layui-input-block">
				<textarea name="param" id="param" class="layui-textarea" style="resize:none;"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				模板风格
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">官方默认模板放在 _data/design/ 下，用户自身模块放在 tpl/模板目录/design/ 下，<a href="javascript:$.win('模板维护','{url ctrl=design func=tpl/}')" title="">点此维护</a></div>
			<div class="layui-input-block">
				<select id="tplfile" name="tplfile" lay-filter="tplfile">
					<option value="">请选择…</option>
					<!-- loop from=$tplist key=$key value=$value id=$tmpid -->
					<optgroup label="{$value.title}">
						<!-- loop from=$value.rslist key=$k value=$v id=$idxx -->
						<option value="{$k}">{$v.title}<!-- if $v.title != $k -->（{$k}）<!-- /if --></option>
						<!-- /loop -->
					</optgroup>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-block" style="min-height:160px">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs4" id="preview">
				    	
					</div>
					<div class="layui-col-xs8" id="note">
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			design_update_calldata();
		});
		</script>
		<!-- /if -->
		
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->