<!-- include tpl=head_lay -->
<div class="hide" id="express_select_info">
<select id="code">
	<option value="">{lang请选择…}</option>
	<!-- loop from=$codelist key=$key value=$value -->
	<option value="{$value.id}">{$value.title}<!-- if $value.note --> / {$value.note}<!-- /if --></option>
	<!-- /loop -->
</select>
</div>
<div class="layui-card">
	<div class="layui-card-header ">
		{lang物流管理}
		<div class="fr">
			<input type="button" value="{lang添加物流}" onclick="$.admin_express.add()" class="layui-btn layui-btn-sm layui-btn-normal" />
		</div>
	</div>

	<div class="layui-card-body">

		<table class="layui-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>{lang物流}</th>
				<th>{lang公司名称}</th>
				<th>{lang官方网站}</th>
				<th>{lang接口}</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value -->
			<tr>
				<td>{$value.id}</td>
				<td id="title_{$value.id}">{$value.title}</td>
				<td>{$value.company}</td>
				<td><a href="{$value.url}" target="_blank">{$value.homepage}</a></td>
				<td>{$codelist[$value.code][title]}</td>
				<td>
					<div class="layui-btn-group">
						<input type="button" value="{lang编辑}" onclick="$.admin_express.edit('{$value.id}')" class="layui-btn layui-btn-sm" />
						<input type="button" value="{lang删除}" onclick="$.admin_express.del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>

</div>
<!-- include tpl=foot_lay -->