<!-- include tpl=head_lay -->
<script type="text/javascript">
function submit_save()
{
	
}
</script>
<form method="post" class="layui-form" id="postsave" onsubmit="return $.admin_express.save()">
<!-- if $id --><input type="hidden" name="id" id="id" value="{$id}" /><!-- /if -->
<input type="hidden" name="code" id="code" value="{$code}" />
<div class="layui-card">
	<div class="layui-card-header">
		{lang当前使用接口} <span class="red">{$extlist.title}</span>
	</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang物流名称}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="title" id="title" value="{$rs.title}" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				{lang填写常用的名称，如顺丰快递，中通快递等易识别名称}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang公司名}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="company" name="company" class="layui-input" value="{$rs.company}" />
			</div>
			<div class="layui-form-mid">
				{lang填写该物流或快递所属公司全称}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang官方网站}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="homepage" name="homepage" class="layui-input" value="{$rs.homepage}" />
			</div>
			<div class="layui-form-mid">
				{lang请填写官方网站，建议以http://或https://开头}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				Logo
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit logo $rs.logo text form_btn=image}
			</div>
			<div class="layui-form-mid">
				{lang请上传物流快递Logo}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang公司介绍}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">{lang介绍该物流公司的一些情况}</div>
			<div class="layui-input-block">
				{func form_edit content $rs.content editor height=360&btn_image=1}
			</div>
		</div>
	</div>
</div>
<!-- if $extlist.code -->


<div class="layui-card">
	<div class="layui-card-header">
		{lang接口涉及到的参数}
	</div>
	<div class="layui-card-body">
		<!-- loop from=$extlist.code key=$key value=$value -->
		<!-- php:$valinfo = ($rs['ext'] && $rs['ext'][$key]) ? $rs['ext'][$key] : $value.default -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{$value.title}
			</label>
			<div class="layui-input-block">
				<!-- if $value.type == 'radio' -->
					<!-- loop from=$value.option key=$k value=$v -->
					<input type="radio" name="{$code}_{$key}" value="{$k}"{if $valinfo == $k} checked{/if} title="{$v}" />
					<!-- /loop -->
				<!-- elseif $value.type == 'select' -->
				<select name="{$code}_{$key}" id="{$code}_{$key}" lay-search>
					<option value="">{lang请选择…}</option>
					<!-- loop from=$value.option key=$k value=$v -->
					<option value="{$k}"{if $valinfo == $k} selected{/if}>{$v}</option>
					<!-- /loop -->
				</select>
				<!-- elseif $value.type == 'checkbox' -->
				<!-- php:$valinfo = $valinfo ? explode(',',$valinfo) : array() -->
					<!-- loop from=$value.option key=$k value=$v -->
					<input type="checkbox" name="{$code}_{$k}" value="{$k}"{if in_array($k,$valinfo)} checked{/if} title="{$v}" />
					<!-- /loop -->
				<!-- else -->
					<!-- php:$input_name = $code.'_'.$key -->
					<!-- if $value.typebtn == 'file' -->
					{func form_edit $input_name $valinfo text form_btn=file&width=500}
					<!-- elseif $value.typebtn == 'image' -->
					{func form_edit $input_name $valinfo text form_btn=image&width=500}
					<!-- elseif $value.typebtn == 'video' -->
					{func form_edit $input_name $valinfo text form_btn=video&width=500}
					<!-- else -->
					<input type="text" id="{$code}_{$key}" name="{$code}_{$key}" class="layui-input" value="{$valinfo}" />
						<!-- if $value.typebtn == 'tpl' -->
						<input type="button" value="{lang选择}" onclick="phpok_tpl_open('{$code}_{$key}')" class="btn" />
						<input type="button" value="{lang清空}" onclick="$('#{$code}_{$key}').val('');" class="btn" />
						<!-- /if -->
					<!-- /if -->
				<!-- /if -->
			</div>
			<!-- if $value.note --><div class="layui-input-block mtop">{$value.note}</div><!-- /if -->
		</div>
		<!-- /loop -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang查询频率}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="radio" name="rate" value="2"{if $rs.rate == 2} checked{/if} title="{lang两小时}" />
				<input type="radio" name="rate" value="4"{if $rs.rate == 4} checked{/if} title="{lang四小时}" />
				<input type="radio" name="rate" value="6"{if $rs.rate == 6} checked{/if} title="{lang六小时}" />
				<input type="radio" name="rate" value="8"{if $rs.rate == 8} checked{/if} title="{lang八小时}" />
				<input type="radio" name="rate" value="10"{if $rs.rate == 10 || !$rs.rate} checked{/if} title="{lang十小时}" />
			</div>
			<div class="layui-form-mid">
				{lang请选择间隔多长时间进行物流查询，以保证数据高效}
			</div>
		</div>
		
	</div>
</div>
<!-- /if -->
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang保存数据}" class="layui-btn layui-btn-danger" id="save_button" />
		<input type="button" value="{lang关闭}" class="layui-btn layui-btn-primary" onclick="$.admin.close()" />
		<!-- if $id --><span style="padding-left:2em;color:#ccc;">保存不会关闭页面，请手动关闭</span><!-- /if -->
	</div>
</div>

</form>

<!-- include tpl=foot_lay -->