<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang常用字段管理}
		<div class="fr">
			<button type="button" class="layui-btn layui-btn-sm" onclick="$.admin_fields.set();"><i class="layui-icon">&#xe608;</i> {lang添加新字段}</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
			<thead>
			<tr>
				<th>{lang名称}</th>
				<th>{lang字段名}</th>
				<th><div>{lang字段类型}</div></th>
				<th><div>{lang表单类型}</div></th>
				<!-- if $popedom.modify || $popedom.delete --><th class="action">{lang操作}</th><!-- /if -->
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
			<tr id="admin_tr_{$value.id}">
				<td>{$value.title}</td>
				<td>{$value.identifier}</td>
				<td>{$value.field_type_name}</td>
				<td>{$value.form_type_name}</td>
				<!-- if $popedom.modify || $popedom.delete -->
				<td>
					<div class="layui-btn-group">
						<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.admin_fields.set('{$value.identifier}')" class="layui-btn layui-btn-sm" /><!-- /if -->
						<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="$.admin_fields.del('{$value.identifier}')" class="layui-btn layui-btn-sm layui-btn-danger" /><!-- /if -->
					</div>
				</td>
				<!-- /if -->
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->