<!-- include tpl=head_lay nopadding=true -->
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<tr>
			<td width="30%" align="right">ID：</td>
			<td>{$rs.id}</td>
		</tr>
		<!-- if !$m_rs.mtype -->
		<tr>
			<td align="right"><!-- if $p_rs.alias_title -->{$p_rs.alias_title}<!-- else -->{lang主题}<!-- /if -->：</td>
			<td>{$rs.title}</td>
		</tr>
		<!-- /if -->
		<!-- loop from=$mlist key=$key value=$value id=$tmpid -->
		<tr>
			<td align="right">{$value.title}：</td>
			<td>{$rs[$value.identifier]}</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<!-- include tpl=foot_lay is_open=true -->