<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function form_check_search()
{
	if(!$("#keywords").val()){
		$.dialog.alert(p_lang('请输入要搜索的关键字'));
		return false;
	}
	return true;
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" action="{url ctrl=form func=quicklist id=$id/}" onsubmit="return form_check_search()">
			<ul class="layout">
				<li style="margin-top:2px;"><input type="text" name="keywords" id="keywords" class="layui-input" value="{$keywords}" placeholder="{lang输入要搜索的关键字}" /></li>
				<li style="margin-top:5px;"><input type="submit" value="{lang搜索}" class="layui-btn layui-btn-sm layui-btn-warm" /></li>
			</ul>
		</form>
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<!-- loop from=$layout key=$key value=$value id=$tmpid -->
			<th style="max-width:20%;">{$value}</th>
			<!-- /loop -->
			<th width="110px">{lang操作}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$idx -->
		<tr id="title_{$value.id}">
			<td>{$value.id}</td>
			<!-- loop from=$layout key=$k value=$v id=$idxx -->
				<!-- if is_array($value[$k])  -->
					<!-- php:$c_list = $value[$k]['_admin'] -->
					<!-- if $c_list.type == 'pic' -->
					<td><img src="{$c_list.info}" width="28px" height="28px" border="0" style="border:1px solid #dedede;padding:1px;" /></td>
					<!-- else -->
						<!-- if is_array($c_list.info) -->
						<td>{echo implode(' / ',$c_list.info)}</td>
						<!-- else -->
						<td>{$c_list.info ? $c_list.info : '-'}</td>
						<!-- /if -->
					<!-- /if -->
				<!-- else -->
				<td>{$value[$k] ? $value[$k] : '-'}</td>
				<!-- /if -->
			<!-- /loop -->
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang查看}" onclick="$.admin_form.view('{$value.id}','{$p_rs.id}')" class="layui-btn layui-btn-sm layui-btn-normal" />
					<input type="button" value="{lang选择}" onclick="$.phpokform.extitle_select_action('{$value.id}','{$id}','{$identifier}','{$maxcount}')" class="layui-btn layui-btn-sm" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$.phpokform.extitle_remove_selected('{$identifier}');
});
</script>
<!-- include tpl=foot_lay is_open=true -->