<!-- include tpl=head_lay nopadding=true -->
<form method="post" id="post_save" class="layui-form" onsubmit="return false">
<!-- if $id -->
<input type="hidden" name="id" id="id" value="{$id}" />
<!-- else -->
<input type="hidden" name="fid" id="fid" value="{$fid}" />
<!-- /if -->
<input type="hidden" name="country" id="country" value="中国" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang名称}
			</label>
			<div class="layui-input-block">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-input-block mtop">{lang设定一个名称用于后台维护管理，如为：区域一，域二或是华东区，华北区等}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang摘要}
			</label>
			<div class="layui-input-block">
				<input type="text" id="note" name="note" class="layui-input" value="{$rs.note}" />
			</div>
			<div class="layui-input-block mtop">{lang简单描述该区域的主要地址}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang排序}
			</label>
			<div class="layui-input-inline short">
				<input type="text" id="taxis" name="taxis" class="layui-input" value="{$rs ? $rs.taxis : $taxis}" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang自定义区域排序}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang注意，要勾选城市，相应的省份也应当勾选上}">&#xe702;</i>
				{lang省市}
			</label>
			<div class="layui-input-block">
				<table class="layui-table">
				<thead>
				<tr>
					<th width="120px">{lang省份}</th>
					<th>{lang城市}</th>
				</tr>
				</thead>
				<!-- loop from=$prolist key=$key value=$value id=$tmpid -->
				<tr id="pro_{$tmpid.num}">
					<td><label><input type="checkbox" name="area[]" value="{$key}" data="pro{$key}"{if $area[$key]} checked{/if} onclick="update_pro('{$key}')" lay-ignore /> {$key}</label></td>
					<td>
						<ul class="layout">
							<!-- loop from=$value key=$k value=$v id=$tmpid2 -->
							<li><label><input type="checkbox" lay-ignore name="city_{$key}[]" data="city{$key}" value="{$k}"{if $area[$key][$k]} checked{/if} onclick="update_city('{$key}')" /> {$k}</label></label></li>
							<!-- /loop -->
						</ul>
						<div class="clear"></div>
					</td>
				</tr>
				<!-- /loop -->
				</table>
			</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->