<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{$rs.title}
		<div class="layui-btn-group fr">
			<button type="button" class="layui-btn layui-btn-sm" onclick="$.admin_freight.zone_add({$fid})"><i class="layui-icon">&#xe654;</i> {lang添加区域}</button>
			<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.admin.close()"><i class="layui-icon">&#x1007;</i> {lang关闭}</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>{lang名称}</th>
			<th>{lang排序}</th>
			<th></th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td>{$value.id}</td>
			<td>{$value.title}<!-- if $value.note --><span class="gray i">（{$value.note}）</span><!-- /if --></td>
			<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang编辑}" onclick="$.admin_freight.zone_edit({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang删除}" onclick="$.admin_freight.zone_del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->