<!-- include tpl=head_lay -->
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
<div class="layui-card">
	<div class="layui-card-header">
		{$value.title}
		<div class="fr">
			<input type="button" value="{lang添加}" onclick="$.admin_gateway.add('{$key}')" class="layui-btn layui-btn-sm" />
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>{lang标题}</th>
				<th>{lang默认}</th>
				<th>{lang状态}</th>
				<th>{lang排序}</th>
				<th width="100px">{lang操作}</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$value.list key=$k value=$v -->
			<tr>
				<td>{$v.id}</td>
				<td>
					{$v.title}
					<!-- if $v.extbtn -->
					<div style="margin-top:3px;">
						<!-- loop from=$v.extbtn key=$kk value=$vv id=$tmpid3 -->
						<input type="button" value="{$vv.title}" onclick="gateway_extmanage('{$v.id}','{$kk}','{$vv.type}')" class="layui-btn layui-btn-xs" />
						<!-- /loop -->
					</div>
					<!-- /if -->
				</td>
				<td>
					<!-- if $v.is_default -->
					<span class="darkblue">{lang是}</span>
					<!-- else -->
					<input type="button" value="{lang设为默认}" onclick="$.admin_gateway.set_default({$v.id})" class="phpok-btn" />
					<!-- /if -->
				</td>
				<td>
					<input type="button" value="{if $v.status}{lang启用中}{else}{lang已禁用}{/if}" onclick="update_status({$v.id},{$v.status})" class="layui-btn layui-btn-sm {if !$v.status} layui-btn-danger{/if}" />
				</td>
				<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$v.id}">{$v.taxis}</div></td>
				<td>
					<div class="layui-btn-group">
						<input type="button" value="{lang编辑}" onclick="$.win('{lang编辑}_#{$v.id}','{url ctrl=gateway func=set id=$v.id/}')" class="layui-btn layui-btn-sm" />
						<input type="button" value="{lang删除}" onclick="delete_it('{$v.id}','{$v.title}')" class="layui-btn layui-btn-sm layui-btn-danger" />
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- /loop -->

<!-- include tpl=foot_lay -->