<!-- include tpl=head -->
<script type="text/javascript">
function add_it(id)
{
	var url = get_url('gateway','getlist','id='+id);
	var rs = $.phpok.json(url);
	if(rs.status == 'ok'){
		var content = '<select id="code">';
		for(var i in rs.content){
			content += '<option value="'+rs.content[i].id+'">'+rs.content[i].title+'</option>';
		}
		content += '</select>';
		$.dialog({
			'title': '网关选择器',
			'lock':true,
			'content':content,
			'cancel':function(){return true;},
			'cancelVal':'取消',
			'okVal':'提交',
			'ok':function(){
				var code = $("#code").val();
				var url = get_url('gateway','set','type='+id+"&code="+code);
				$.phpok.go(url);
				return true;
			}
		});
	}else{
		$.dialog.alert(rs.content);
		return false;
	}
}
function update_taxis(val,id)
{
	$.ajax({
		'url':get_url('gateway','sort','sort['+id+']='+val),
		'dataType':'json',
		'cache':false,
		'async':true,
		'beforeSend': function (XMLHttpRequest){
			XMLHttpRequest.setRequestHeader("request_type","ajax");
		},
		'success':function(rs){
			if(rs.status == 'ok'){
				$.phpok.reload();
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
function update_status(id,val)
{
	if(val == 1){
		$.dialog.confirm('确定要关闭这个网关吗？',function(){
			var url = get_url('gateway','status','id='+id+"&status=0");
			var rs = $.phpok.json(url);
			if(rs && rs.status == 'ok'){
				$.phpok.reload();
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		});
	}else{
		var url = get_url('gateway','status','id='+id+"&status=1");
		var rs = $.phpok.json(url);
		if(rs && rs.status == 'ok'){
			$.phpok.reload();
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	}
}
function update_default(id)
{
	var url = get_url('gateway','default','id='+id);
	var rs = $.phpok.json(url);
	if(rs.status == 'ok'){
		$.phpok.reload();
	}else{
		$.dialog.alert(rs.content);
		return false;
	}
}
function delete_it(id,title)
{
	$.dialog.confirm('确定要删除网关：<span class="red">'+title+"</span> 吗？删除后是不能恢复的",function(){
		var url = get_url('gateway','delete','id='+id);
		var rs = $.phpok.json(url);
		if(rs.status == 'ok'){
			$.phpok.reload();
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	});
}
$(document).ready(function(){
	$("div[name=taxis]").click(function(){
		var oldval = $(this).text();
		var id = $(this).attr('data');
		$.dialog.prompt('{lang请填写新的排序：}',function(val){
			if(val != oldval){
				update_taxis(val,id);
			}
		},oldval);
	});
});
</script>
<div class="tips">
	{lang当前位置：}{lang第三方网关路由管理}
	<div class="clear"></div>
</div>
<ul class="list_cate clearfix">
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<li>
		<div class="cate cate_{$tmpid.num%9}"><a href="{url ctrl=gateway id=$key/}">{$value.title}</a></div>
		<div class="cate_add cate_{$tmpid.num%9}"><a href="javascript:add_it('{$key}');void(0)" title="添加网关：{$value.title}"><img src="images/cate_add.png" border="0" alt="" /></a></div>
	</li>
	<!-- /loop -->
</ul>
<div class="clear"></div>
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th>ID</th>
	<th class="lft">标题</th>
	<th>所属网关</th>
	<th>默认</th>
	<th>状态</th>
	<th>排序</th>
	<th class="lft">操作</th>
</tr>
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<!-- loop from=$value.list key=$k value=$v -->
	<tr>
		<td class="center">{$v.id}</td>
		<td>{$v.title}</td>
		<td class="center">{$value.title}</td>
		<td class="center">
			<!-- if $v.is_default -->
			<span class="darkblue">是</span>
			<!-- else -->
			<input type="button" value="设为默认" onclick="update_default({$v.id})" class="phpok-btn" />
			<!-- /if -->
		</td>
		<td class="center">
			<input type="button" value="{if $v.status}{lang启用中}{else}{lang已禁用}{/if}" onclick="update_status({$v.id},{$v.status})" class="phpok-btn" />
		</td>
		<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$v.id}">{$v.taxis}</div></td>
		<td>
			<div class="button-group">
				<input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=gateway func=set id=$v.id/}')" class="phpok-btn" />
				<input type="button" value="{lang删除}" onclick="delete_it('{$v.id}','{$v.title}')" class="phpok-btn" />
			</div>
		</td>
	</tr>
	<!-- /loop -->
	<!-- /loop -->
</table>

<!-- include tpl=foot -->
