<!-- include tpl=head -->
<script type="text/javascript" src="{func add_js admin.gateway}"></script>
<div class="tips">
	{lang当前位置：}{lang第三方网关路由管理}
	<div class="clear"></div>
</div>
<ul class="list_cate clearfix">
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<li>
		<div class="cate cate_{$tmpid.num%9}"><a href="{url ctrl=gateway id=$key/}">{$value.title}</a></div>
		<div class="cate_add cate_{$tmpid.num%9}"><a href="javascript:add_it('{$key}');void(0)" title="添加网关：{$value.title}"><img src="images/cate_add.png" border="0" alt="" /></a></div>
	</li>
	<!-- /loop -->
</ul>
<div class="clear"></div>
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th>ID</th>
	<th class="lft">标题</th>
	<th>所属网关</th>
	<th>默认</th>
	<th>状态</th>
	<th>排序</th>
	<th class="lft">操作</th>
</tr>
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<!-- loop from=$value.list key=$k value=$v -->
	<tr>
		<td class="center">{$v.id}</td>
		<td>{$v.title}</td>
		<td class="center">{$value.title}</td>
		<td class="center">
			<!-- if $v.is_default -->
			<span class="darkblue">是</span>
			<!-- else -->
			<input type="button" value="设为默认" onclick="update_default({$v.id})" class="phpok-btn" />
			<!-- /if -->
		</td>
		<td class="center">
			<input type="button" value="{if $v.status}{lang启用中}{else}{lang已禁用}{/if}" onclick="update_status({$v.id},{$v.status})" class="phpok-btn" />
		</td>
		<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$v.id}">{$v.taxis}</div></td>
		<td>
			<div class="button-group">
				<input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=gateway func=set id=$v.id/}')" class="phpok-btn" />
				<input type="button" value="{lang删除}" onclick="delete_it('{$v.id}','{$v.title}')" class="phpok-btn" />
				<!-- loop from=$v.extbtn key=$kk value=$vv id=$tmpid3 -->
				<input type="button" value="{$vv.title}" onclick="gateway_extmanage('{$v.id}','{$kk}','{$vv.type}')" class="phpok-btn" />
				<!-- /loop -->
			</div>
		</td>
	</tr>
	<!-- /loop -->
	<!-- /loop -->
</table>

<!-- include tpl=foot -->
