<!-- include tpl=head -->
<div class="tips">
	{lang您当前的位置：}<a href="{url ctrl=gd/}" title="{lang图片方案}">{lang图片方案}</a>
	&raquo; {lang列表}
	<div class="action"><a href="{url ctrl=gd func=set/}">{lang添加方案}</a></div>
	<div class="action" id="gd_filename"><a href="javascript:$.admin_gd.tofile()">{lang编辑器使用原文件}</a></div>
	<div class="clear"></div>
</div>
<div class="list">
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th class="id">ID</th>
	<th>{lang标识串}</th>
	<th>{lang宽} &#215; {lang高}</th>
	<th>{lang生成方式}</th>
	<th>{lang编辑器支持}</th>
	<th class="status">{lang水印}</th>
	<th class="action">{lang操作}</th>
</tr>
<!-- php:$is_editor = false -->
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
<tr>
	<td class="center">{$value.id}</td>
	<td class="center">{$value.identifier}</td>
	<td class="center">{$value.width} x {$value.height}</td>
	<td class="center">{$value.cut_type ? P_Lang('裁剪法') : P_Lang('缩放法')}</td>
	<td class="center">
		<!-- if $value.editor -->
		<!-- php:$is_editor = true -->
		<span class="red">{lang默认}</span>
		<!-- else -->
		<input type="button" value="{lang设为默认}" class="btn" onclick="$.admin_gd.editor('{$value.id}')" />
		<!-- /if -->
	</td>
	<td class="center"><!-- if $value.mark_picture --><span class="darkblue">{lang有}</span><!-- else -->{lang无}<!-- /if --></td>
	<td>
		<!-- if $popedom.modify || $popedom.delete -->
		<div class="button-group">
			<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=gd func=set id=$value.id/}')" class="phpok-btn" /><!-- /if -->
			<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="$.admin_gd.del('{$value.id}')" class="phpok-btn" /><!-- /if -->
		</div>
		<!-- /if -->
	</td>
</tr>
<!-- /loop -->
</table>
</div>
<!-- if !$is_editor -->
<script type="text/javascript">
$(document).ready(function(){
	$("#gd_filename").show();
});
</script>
<!-- /if -->
<!-- include tpl=foot -->