<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="phpok.com" />
	<meta http-equiv="expires" content="wed, 26 feb 1997 08:21:57 gmt"> 
	<title>{$config.title}</title>
	<link href="{#css#}/css.php?file=open.css,artdialog.css,form.css,smartmenu.css&version={:VERSION}" rel="stylesheet" type="text/css" />
	{func phpok_head_css}
	<script type="text/javascript" src="{url ctrl=js /}"></script>
	{func phpok_head_js}
	<!-- plugin head -->
</head>
<body ondragstart="return false;">