<!-- include tpl=head_lay csstype=default js=js/art-template.js -->
<script type="text/javascript" src="{url ctrl=js func=ext js=admin.all.js /}"></script>
<!-- if $all_info -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang全局信息}
		<!-- if $session.admin_rs.if_system && $session.adm_develop -->
		<div class="fr">
			<a href="javascript:$.admin_all.group();void(0)">
				<i class="layui-icon">&#xe654;</i> 添加
			</a>
		</div>
		<!-- /if -->
	</div>
	<div class="layui-card-body">
		<div class="sub_box" id="all_setting">
			<div class="box_item">
				<ul>
					<!-- if $all_popedom.site -->
					<li><a title="{lang配置网站信息，包括网址域名，布全局关键字等}" href="javascript:$.win('{lang网站信息}','{url ctrl=all func=setting/}');void(0);">
							<div class="top_img"><img src="images/ico/setting.png" alt="{lang网站信息}" class="ie6png" width="48" height="48" /></div>
							<div class="name">{lang网站信息}</div>
						</a>
					</li>
					<!-- if $show_vcode_setting -->
					<li><a title="{lang验证码开启或关闭设置}" href="javascript:$.win('{lang验证码配置}','{url ctrl=all func=vcode/}');void(0);">
							<div class="top_img"><img src="images/ico/setting2.png" alt="{lang验证码配置}" class="ie6png" width="48" height="48" /></div>
							<div class="name">{lang验证码}</div>
						</a>
					</li>
					<!-- /if -->
					<!-- /if -->
					<!-- if $all_popedom.domain -->
					<li><a title="{lang网站可以绑定的域名}" href="javascript:$.win('{lang网站域名}','{url ctrl=all func=domain/}');void(0);">
							<div class="top_img"><img src="images/ico/alias.png" alt="{lang网站域名}" class="ie6png" width="48" height="48" /></div>
							<div class="name">{lang网站域名}</div>
						</a>
					</li>
					<!-- /if -->
					<!-- if $site_popedom.order && $config.biz_status -->
					<li><a title="{lang订单常规配置}" href="javascript:$.win('{lang订单常规配置}','{url ctrl=site func=order_status/}');void(0);">
							<div class="top_img"><img src="images/ico/shopping_setting.png" alt="{lang订单常规配置}" class="ie6png" width="48"
								 height="48" /></div>
							<div class="name">{lang订单配置}</div>
						</a>
					</li>
					<!-- /if -->
					<!-- loop from=$plugin_alist key=$key value=$value id=$tmpid -->
					<li><a title="{$value.title}" href="javascript:$.win('{$value.title}','{$value.url}');void(0);">
							<div class="top_img"><img src="{$value.ico}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
							<div class="name">{$value.title}</div>
						</a>
					</li>
					<!-- /loop -->
					<!-- if $all_popedom.gset || $all_popedom.set -->
					<!-- loop from=$all_rslist key=$key value=$value id=$tmpid -->
					<li{if $session.admin_rs.if_system} menu-right="true" menu-right-1="{lang管理}" menu-right-1-exec="$.admin_all.group({$value.id})"{/if}><a title="{$value.title}" href="javascript:$.win('{$value.title}','{url ctrl=all func=set id=$value.id/}');void(0);">
							<div class="top_img"><img src="{$value.ico}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
							<div class="name">{$value.title}</div>
						</a>
					</li>
					<!-- /loop -->
					<!-- /if -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /if -->
<!-- if $list_rslist || $qlink -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang内容管理}
		<!-- if $session.admin_rs.if_system && $session.adm_develop -->
		<div class="fr">
			<a href="javascript:$.admin_index.quick_link();void(0)">
				<i class="layui-icon">&#xe654;</i> 添加
			</a>
		</div>
		<!-- /if -->
	</div>
	<div class="layui-card-body">
		<div class="sub_box" id="list_setting">
			<div class="box_item">
				<ul>
					<!-- loop from=$list_rslist key=$key value=$value -->
						<!-- if $value.rslist -->
						<li id="group-thumb-{$key}">
							<a title="{$value.title}" href="javascript:$.admin_index.showgroup('{$key}','{$value.title}');void(0);">
								<div class="top_img2">
									<div class="layui-row">
										<!-- loop from=$value.rslist key=$k value=$v id=$idxx -->
										<!-- if $idxx.num<7 -->
										<div class="layui-col-xs4">
									    	<img src="{$v.ico ? $v.ico : 'images/ico/default.png'}" style="width:100%;height:100%" />
										</div>
										<!-- /if -->
										<!-- /loop -->
									</div>
								</div>
								<div class="name">{$value.title}</div>
							</a>
						</li>
						<!-- else -->
						<li pid="{$value.id}"{if $session.admin_rs.if_system} menu-right="true" menu-right-1="{lang管理}" menu-right-1-exec="$.win('{lang项目管理}_#{$value.id}','{url ctrl=project func=set id=$value.id/}')" menu-right-2="{lang编辑}" menu-right-2-exec="$.win('{lang项目扩展编辑}_#{$value.id}','{url ctrl=project func=content id=$value.id/}')"{/if}><a title="{$value.title}" href="javascript:$.win('{$value.nick_title ? $value.nick_title : $value.title}','{$value.url}');void(0);">
								<div class="top_img"><img src="{$value.ico ? $value.ico : 'images/ico/default.png'}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
								<div class="name">{$value.nick_title ? $value.nick_title : $value.title}</div>
							</a>
						</li>
						<!-- /if -->
					<!-- /loop -->
					<!-- loop from=$qlink key=$key value=$value id=$tmpid -->
					<li pid="{$value.id}"{if $session.admin_rs.if_system} menu-right="true" menu-right-1="管理" menu-right-1-exec="$.admin_index.quick_link('{$value.id}')" menu-right-2="删除" menu-right-2-exec="$.admin_index.quick_link_delete('{$value.id}')"{/if}>
						<a title="{$value.title}" href="{if $value.islink}{$value.link}{else}javascript:$.win('{$value.intitle ? $value.intitle : $value.title}','{$value.link}');void(0);{/if}"{if $value.islink} target="_blank"{/if}>
							<div class="top_img"><img src="{$value.ico ? $value.ico : 'images/ico/default.png'}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
							<div class="name">{$value.title}</div>
						</a>
					</li>
					<!-- /loop -->
					
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- loop from=$list_rslist key=$key value=$value id=$tmpid -->
<!-- if $value.rslist -->
<div id="groups-{$key}" style="display:none;width:450px;">
	<div class="sub_box">
	<div class="box_item">
	<ul>
		<!-- loop from=$value.rslist key=$k value=$v id=$idxx -->
		<li pid="{$value.id}">
			<a title="{$value.title}" href="javascript:$.win('{$v.nick_title ? $v.nick_title : $v.title}','{$v.url}');void(0);">
				<div class="top_img"><img src="{$v.ico ? $v.ico : 'images/ico/default.png'}" alt="{$v.title}" width="48" height="48" /></div>
				<div class="name">{$v.nick_title ? $v.nick_title : $v.title}</div>
			</a>
		</li>
		<!-- /loop -->
	</ul>
	</div>
	</div>
</div>
<!-- /if -->
<!-- /loop -->
<!-- /if -->

<!-- include tpl=homepage-stat -->
<!-- include tpl=homepage-report -->
<!-- include tpl=homepage-serverlist -->
<!-- include tpl=homepage-safecheck -->


<!-- plugin body -->
<div class="foot">
	<div class="foot_left">
		<!-- if $app->license_powered -->
		Powered by <a href="//www.phpok.com" target="_blank">phpok.com</a>,
		<!-- /if -->
		CopyRight &copy; {$license_site} {func license_date}, All Right Reserved.
		<!-- if $sys.debug --><br />{func debug_time}<!-- /if -->
	</div>
	<div class="foot_right">{$license} Version {$version}</div>
	<div class="clear"></div>
</div>
<!-- plugin foot -->
</body>
</html>