<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Expires" content="wed, 26 feb 1997 08:21:57 GMT" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title><!-- if $config.title -->{$config.title} - <!-- /if -->{lang后台管理}</title>
	<link href="css/admin-index.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/window.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/artdialog.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/icomoon.css?version={$version}" />
	<script type="text/javascript" src="{url ctrl=js ext=admin.index/}"></script>
	<!-- plugin head -->
</head>

<body>
<div class="header">
	<div class="logo"><a href="{$sys.admin_file}" title="{$config.title}"><img src="{$config.adm_logo29 ? $config.adm_logo29 : 'images/logo.jpg'}" alt="{$config.title}" height="45px" /></a></div>
	<div class="head_user head_tool" onclick="javascript:phpok_admin_logout();void(0);" title="{lang管理员退出}"><img class="head_user_img" src="images/logout.png" alt="{lang管理员退出}" /></div>
	<div class="head_tool head_list" id="top-menu-icon">
		<a href="javascript:;" class="head_list_link" id="top-menu-a" title="{lang功能菜单}"></a>
		<div class="header-tc-content" id="top-menu">
			<span class="header-tc-ct-bg"></span>
			<ul class="first_ul">
				<!-- loop from=$menulist key=$key value=$value -->
				<li{if $menulist_id.num == $menulist_id.total} class="laster_line"{/if} name="subtree">
					<a href="javascript:void(0);" >{func P_Lang $value.title}</a>
					<div class="second_ul" style="display:none;">
						<span class="arrow_right"></span>
						<ul>
							<!-- loop from=$value.sublist key=$k value=$v id=sub_id -->
							<li{if $sub_id.num == $sub_id.total} class="laster_line"{/if}><a href="javascript:$.win('{func P_Lang $v.title}','{$v.url}')">{func P_Lang $v.title}</a></li>
							<!-- /loop -->
						</ul>
					</div>
				</li>
				<!-- /loop -->
			</ul>
		</div>
	</div>
	<div class="head_tool head_desktop"><a href="javascript:$.desktop.tohome();void(0);" class="head_desktop_link" title="{lang显示桌面}"></a></div>
	<div class="head_tool head_config"><a href="javascript:phpok_admin_control();void(0);" class="head_config_link" title="{lang修改个人信息}"></a></div>
	<div class="head_web">
		<span class="clear_cache" onclick="phpok_admin_clear()">{lang清空缓存}</span>
		<span class="gohome"><a href="{$sys.www_file}?siteId={$session.admin_site_id}" target="_blank" title="{lang访问网站}">{lang访问网站}</a></span>
		<span class="leftspan">{lang网站：}</span>
		<select class="web_select" name="top_site_id" id="top_site_id" onchange="goto_site(this.value,{$session.admin_site_id})">
			<!-- loop from=$sitelist key=$key value=$value -->
			<option value="{$value.id}"{if $value.id == $session.admin_site_id} selected{/if}>{$value.alias ? $value.alias : $value.title}</option>
			<!-- /loop -->
		</select>
		<!-- if $session.admin_rs.if_system -->
		<a href="javascript:add_site();void(0);" class="web_add" title="{lang添加新站点}"></a>
		<!-- /if -->
		<ul class="head_tab" id="phpok-taskbar"></ul>
	</div>
</div>

<div class="content"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<!-- if $iconlist -->
	<td valign="top" width="180px">
	<div class="c_left">
		<ul>
			<!-- loop from=$iconlist key=$k value=$v -->
			<li appfile="{$v.appfile}"><a href="javascript:$.win('{func P_Lang $v.title}','{$v.url}');void(0);"><span class="icon-{$v.icon}"></span>{func P_Lang $v.title}</a></li>
			<!-- /loop -->
		</ul>
	</div>
	</td>
	<!-- /if -->
	<td valign="top"><div class="index_main"{if !$iconlist} style="margin-left:10px"{/if}>
		<div class="sub_box" id="all_setting"{if !$all_info} style="display:none;"{/if}>{$all_info}</div>
		<div class="sub_box" id="list_setting"{if !$list_setting} style="display:none;"{/if}>{$list_setting}</div>
		<div style="float:right;">{lang语言}
			<select onchange="update_select_lang(this.value)" style="padding:3px;">
				<!-- loop from=$langlist key=$key value=$value id=$tmpid -->
				<option value="{$key}"{if $key == $session.admin_lang_id} selected{/if}>{$value}</option>
				<!-- /loop -->
			</select>
		</div>
		<div class="clear"></div>
	</div></td>
</tr>

</table>
	<!-- plugin body -->
	<div class="clear"></div>
</div>
<!-- plugin foot -->
<div class="foot">
	<div class="foot_left">
		<!-- if $app->license_powered -->
		Powered by <a href="http://www.phpok.com" target="_blank">phpok.com</a>,
		<!-- /if -->
		CopyRight &copy; {$license_site} {func license_date}, All Right Reserved.
		<!-- if $sys.debug -->
		<br />{func debug_time 1 1 1 1}
		<!-- /if -->
	</div>
	<div class="foot_right"><span class="darkblue">{$license}</span>{lang，版本：}{$version}</div>
</div>
<script type="text/javascript">
function pendding_info()
{
	var url = get_url('index','pendding');
	$.ajax({
		'url':url,
		'cache':false,
		'async':true,
		'dataType':'json',
		'success': function(rs){
			if(rs.status == "ok" && rs.content){
				var list = rs.content;
				var html = '<em class="toptip">{total}</em>';
				var total = 0;
				for(var key in list){
					if(list[key]['id'] == 'user' || list[key]['id'] == 'reply'){
						$("li[appfile="+list[key]['id']+"] a em").remove();
						$("li[appfile="+list[key]['id']+"] a").append(html.replace('{total}',list[key]['total']));
					}else{
						$("li[pid="+list[key]['id']+"] a em").remove();
						$("li[pid="+list[key]['id']+"] a").append(html.replace('{total}',list[key]['total']));
						total = parseInt(total) + parseInt(list[key]['total']);
					}
				}
				if(total>0){
					$("li[appfile=list] a em").remove();
					$("li[appfile=list] a").append(html.replace('{total}',total));
				}
				window.setTimeout("pendding_info()", 10000);
			}else{
				$("em.toptip").remove();
				window.setTimeout("pendding_info()", 12000);
			}
		}
	});
}
$(document).ready(function(){
	//关闭提示
	$.win2.init({'close_tip':'{$session.admin_rs.close_tip}'});
	pendding_info();
	//自定义右键
	var r_menu = [[{
		'text':'{lang刷新网页}',
		'func':function(){
			$.phpok.reload();
		}
	},{
		'text': "{lang清空缓存}",
		'func': function() {phpok_admin_clear();}    
	},{
		'text':'{lang修改我的信息}',
		'func':function(){phpok_admin_control();}
	},{
		'text': "{lang显示桌面}",
		'func': function() {$.desktop.tohome();}    
	}],[{
		'text':'{lang关于PHPOK}',
		'func':function(){
			$.dialog({
				'title':'{lang关于PHPOK}',
				'lock':true,
				'drag':false,
				'fixed':true,
				'content':'PHPOK企业站系统采用PHP+MySQL架构，基于LGPL协议开源并且免费。<br />本程序支持分类，项目，站点信息，模块等数据自定义<br />程序无任何内置广告代码<br />在使用过程序中，有任何问题，均可以登录 <a href="http://www.phpok.com/help.html" target="_blank" class="red">www.phpok.com/help.html</a> 查阅<br />如果您认可并打算捐助我们，点这里查看我们的收款账号：<a href="http://www.phpok.com/pay.html" target="_blank"style="color:red;">www.phpok.com/pay.html</a>'
			});
		}
	}]];
	$(window).smartMenu(r_menu,{'textLimit':8});
	$(document).keydown(function(e){
		if (e.keyCode == 8){
			return false;
		}
	});
});
</script>
</body>
</html>
