<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="wed, 26 feb 1997 08:21:57 gmt" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<title><!-- if $config.title -->{$config.title}_<!-- /if -->{lang后台管理}</title>
	<meta name="renderer" content="webkit" />
	<!-- if $config.favicon -->
	<link rel="shortcut icon" href="{$config.favicon}" />
	<!-- /if -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="phpok-copyright" content="{$license}" />
	<meta name="phpok-version" content="{$version}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="{#css#}/css.php?type=admin" />
	<link rel="stylesheet" href="{$sys.webroot}static/admin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="{$sys.webroot}static/admin/style/admin.css" media="all">
	<link rel="stylesheet" href="{#css#}/extadmin.css" media="all">
	<script type="text/javascript" src="{$sys.webroot}static/admin/layui/layui.js"></script>
	<script type="text/javascript" src="{url ctrl=js _ctrl=index _func=index /}"></script>
	<!-- plugin head -->
</head>
<body class="layui-layout-body">
	<div id="LAY_app">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<!-- 头部区域 -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item layadmin-flexible" lay-unselect>
						<a href="javascript:;" layadmin-event="flexible" title="{lang侧边伸缩}"> <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" layadmin-event="refresh" title="{lang刷新}"><i class="layui-icon layui-icon-refresh-3"></i> {lang刷新}</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:$.admin_index.clear();void(0);" title="{lang清空缓存}"><i class="layui-icon layui-icon-fonts-clear"></i> {lang清空缓存}</a>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="{$sys.www_file}?siteId={$session.admin_site_id}" target="_blank" title="{lang前台访问}"> <i class="layui-icon layui-icon-website"></i> {lang访问网站}</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="fullscreen"> <i class="layui-icon layui-icon-screen-full"></i> {lang全屏}</a>
					</li>
					<!-- if $sitelist && count($sitelist)>1 -->
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;"> <cite>{$config.title}</cite></a>
						<dl class="layui-nav-child">
							<!-- loop from=$sitelist key=$key value=$value id=$tmpid -->
							<dd><a href="{url ctrl=index func=site id=$value.id/}">{$value.id} - {$value.title}</a></dd>
							<!-- /loop -->
						</dl>
					</li>
					<!-- /loop -->
					<!-- if $session.admin_rs.if_system && $session.adm_develop -->
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:$.admin_index.site();void(0);" title="{lang添加新站点}"><i class="layui-icon layui-icon-add-1"></i> {lang添加站点}</a>
					</li>
					<!-- /if -->
					<!-- if $sys.multiple_language && $langlist -->
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;"><cite id="lang_title">{$language}</cite></a>
						<dl class="layui-nav-child multiple_language">
							<!-- loop from=$langlist key=$key value=$value id=$tmpid -->
							<dd{if $key == $session.admin_lang_id} class="language_selected"{/if}><a href="{url ctrl=index _langid=$key/}">{$value}</a></dd>
							<!-- /loop -->
						</dl>
					</li>
					<!-- /if -->
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;"> <cite>{$session.admin_account}</cite></a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:$.admin_index.me();void(0);">基本资料</a></dd>
							<dd><a href="javascript:$.admin_index.pass();void(0);">修改密码</a></dd>
							<!-- if !$sys.develop && $session.admin_rs.if_system -->
								<!-- if $session.adm_develop -->
								<dd><a href="javascript:$.admin_index.develop(0);void(0);">应用模式</a></dd>
								<!-- else -->
								<dd><a href="javascript:$.admin_index.develop(1);void(0);">开发模式</a></dd>
								<!-- /if -->
							<!-- /if -->
							<dd><a href="javascript:$.admin_index.logout();void(0);">退出</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect> <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
					<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
						<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
				</ul>
			</div>
			<!-- 侧边菜单 -->
			<div class="layui-side layui-side-menu">
				<div class="layui-side-scroll">
					<div class="layui-logo" lay-href="{url ctrl=index func=homepage/}">
						<span><!-- if $logo --><img src="{$logo}" width="190px" /><!-- else -->{$config.title}<!-- /if --></span>
					</div>
					<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
						<li data-name="home" class="layui-nav-item layui-this">
			              <a href="javascript:;" lay-href="{url ctrl=index func=homepage/}">
			                <i class="layui-icon layui-icon-home"></i>
			                <cite>{lang后台首页}</cite>
			              </a>
			            </li>
			            <!-- if $list_rslist && !$session.adm_develop -->
			            <li data-name="list" class="layui-nav-item">
			              <a href="javascript:;" lay-tips="{lang内容管理}" lay-direction="2">
			                <i class="layui-icon layui-icon-app"></i>
			                <cite>{lang内容管理}</cite>
			              </a>
			              <dl class="layui-nav-child">
								<!-- loop from=$list_rslist key=$key value=$value id=$idx -->
								<dd pid="{$value.id}" data-name="project_{$value.id}"> <a lay-href="{$value.url}" lay-text="{$value.title}">{$value.nick_title ? $value.nick_title : $value.title}</a></dd>
								<!-- /loop -->
						  </dl>
			            </li>
			            <!-- /if -->
			            <!-- if $all_info && !$session.adm_develop -->
			            <li data-name="all" class="layui-nav-item">
			              <a href="javascript:;" lay-tips="{lang全局管理}" lay-direction="2">
			                <i class="layui-icon layui-icon-util"></i>
			                <cite>{lang全局管理}</cite>
			              </a>
			              <dl class="layui-nav-child">
								<!-- if $all_popedom.site -->
								<dd data-name="config_site"> <a lay-href="{url ctrl=all func=setting/}">{lang网站信息}</a></dd>
								<!-- /if -->
								<!-- if $show_vcode_setting -->
								<dd data-name="config_vcode"> <a lay-href="{url ctrl=all func=vcode/}">{lang验证码配置}</a></dd>
								<!-- /if -->
								<!-- if $all_popedom.domain -->
								<dd data-name="config_domain"> <a lay-href="{url ctrl=all func=domain/}">{lang网站域名}</a></dd>
								<!-- /if -->
								<!-- if $site_popedom.order && $config.biz_status -->
								<dd data-name="config_order_status"> <a lay-href="{url ctrl=site func=order_status/}">{lang订单常规配置}</a></dd>
								<!-- /if -->
								<!-- loop from=$plugin_alist key=$key value=$value id=$tmpid -->
								<dd data-name="plugin_{$value.id}"> <a lay-href="{$value.url}">{$value.title}</a></dd>
								<!-- /loop -->
								<!-- if $all_popedom.gset || $all_popedom.set -->
								<!-- loop from=$all_rslist key=$key value=$value id=$tmpid -->
								<dd data-name="all_{$value.id}"> <a lay-href="{url ctrl=all func=set id=$value.id/}">{$value.title}</a></dd>
								<!-- /loop -->
								<!-- /if -->
						  </dl>
			            </li>
			            <!-- /if -->
			            <!-- if $session.adm_develop -->
			            <li data-name="list" class="layui-nav-item">
			              <a href="javascript:;" lay-href="{url ctrl=list/}" lay-text="{lang内容管理}">
			                <i class="layui-icon layui-icon-app"></i>
			                <cite>{lang内容管理}</cite>
			              </a>
			            </li>
			            <li data-name="all" class="layui-nav-item">
			              <a href="javascript:;" lay-tips="{lang全局管理}" lay-href="{url ctrl=all/}" lay-direction="2">
			                <i class="layui-icon layui-icon-util"></i>
			                <cite>{lang全局管理}</cite>
			              </a>
			            </li>
			            <!-- /if -->
			            <!-- loop from=$iconlist key=$key value=$value id=$tmpid -->
			            <li data-name="{$value.appfile}" class="layui-nav-item">
			              <a href="javascript:;" lay-href="{$value.url}" lay-text="{func P_Lang $value.title}">
			                <i class="icon-{$value.icon}" style="margin-left:-24px;padding-right:6px;"></i>
			                <cite>{func P_Lang $value.title}</cite>
			              </a>
			            </li>
			            <!-- /loop -->

						<!-- loop from=$menulist key=$key value=$value id=$tmpid -->
						<li data-name="group-{$value.id}" class="layui-nav-item">
							<a href="javascript:;" lay-tips="{func P_Lang $value.title}" lay-direction="2"> <i class="layui-icon layui-icon-component"></i><cite>{func P_Lang $value.title}</cite>
							</a>
							<dl class="layui-nav-child">
								<!-- loop from=$value.sublist key=$k value=$v id=$idxx -->
								<dd data-name="{$v.appfile}"> <a lay-href="{$v.url}" lay-text="{func P_Lang $v.title}">{func P_Lang $v.title}</a></dd>
								<!-- /loop -->
							</dl>
						</li>
						<!-- /loop -->
					</ul>
				</div>
			</div>
			<!-- 页面标签 -->
			<div class="layadmin-pagetabs" id="LAY_app_tabs">
				<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-down">
					<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;"></a>
							<dl class="layui-nav-child layui-anim-fadein">
								<dd layadmin-event="closeThisTabs"><a href="javascript:;">{lang关闭当前标签页}</a>
								</dd>
								<dd layadmin-event="closeOtherTabs"><a href="javascript:;">{lang关闭其它标签页}</a>
								</dd>
								<dd layadmin-event="closeAllTabs"><a href="javascript:;">{lang关闭全部标签页}</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
					<ul class="layui-tab-title" id="LAY_app_tabsheader">
						<li lay-id="{url ctrl=index func=homepage/}" lay-attr="{url ctrl=index func=homepage/}" class="layui-this"><i class="layui-icon layui-icon-home"></i>
						</li>
					</ul>
				</div>
			</div>
			<!-- 主体内容 -->
			<div class="layui-body" id="LAY_app_body">
				<div class="layadmin-tabsbody-item layui-show">
					<iframe src="{url ctrl=index func=homepage/}" frameborder="0" class="layadmin-iframe"></iframe>
				</div>
			</div>
			<!-- 辅助元素，一般用于移动设备下遮罩 -->
			<div class="layadmin-body-shade" layadmin-event="shade"></div>
		</div>
	</div>
	<!-- plugin body -->
	<!-- plugin foot -->
</body>
</html>