<!-- include tpl=head_lay -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<div class="layui-card">
	<div class="layui-container layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang基础缓存}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('compile',this)" value="{lang清空编译缓存}" />
			</div>
			<div class="layui-form-mid">
				{lang清理模板编译后的即时生成缓存文件}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang文件缓存}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('file',this)" value="{lang清空文件缓存}" />
			</div>
			<div class="layui-form-mid">
				{lang清理 _cache/ 目录下的缓存文件}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang日志}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('log',this)" value="{lang清空日志缓存}" />
			</div>
			<div class="layui-form-mid">
				{lang系统生成的日志及调试日志}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang购物车}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('cart',this)" value="{lang清空购物车}" />
			</div>
			<div class="layui-form-mid">
				{lang清理购物车里的缓存信息，请慎用}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang会话缓存}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('session',this)" value="{lang清理用户Session}" />
			</div>
			<div class="layui-form-mid">
				{lang主要是清理过期Session数据}
			</div>
		</div>
		<!-- if $is_opcache -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langOP缓存}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('opcache',this)" value="{lang清理PHP的OP缓存}" />
			</div>
			<div class="layui-form-mid">
				{lang主要是清理PHP系统自带的Opache缓存}
			</div>
		</div>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang更新异常}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('u_error',this)" value="{lang清理更新异常}" />
			</div>
			<div class="layui-form-mid">
				{lang主要是清理更新过程中出现异常的数据}
			</div>
		</div>
		<!-- if $sys.engine && $sys.engine.cache && $sys.engine.cache.file != 'default' -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang其他}
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" data-name="cache" onclick="$.admin_index.clear('other',this)" value="{lang清理组件缓存}" />
			</div>
			<div class="layui-form-mid">
				{lang清理其他接口缓存的数据，需要接口引挈提供}
			</div>
		</div>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				&nbsp;
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm layui-btn-danger" data-name="cache" onclick="$.admin_index.clear('all',this)" value="{lang一键清理全部}" />
			</div>
			<div class="layui-form-mid">
				{lang系统会清除全部缓存}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				&nbsp;
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="$.win('{lang批量更新附件}','{url ctrl=res func=update_pl id=all/}')" value="{lang更新附件}" />
			</div>
			<div class="layui-form-mid">
				{lang系统会在新窗口打开，把所有附件执行一次更新}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				&nbsp;
			</label>
			<div class="layui-input-inline auto">
				<input type="button" class="layui-btn layui-btn-sm" onclick="$.admin_index.editor_resinfo()" value="{lang更新编辑框附件}" />
			</div>
			<div class="layui-form-mid">
				{lang检测所有可视化编辑器，替换成当前默认规则的图片，将在新窗口打开}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function res_compress_act()
{
	var maxwidth = $("#maxwidth").val();
	if(!maxwidth){
		$.dialog.alert('请设置最小宽度');
	}
	if(maxwidth<1000){
		$.dialog.alert('图片小于1000px宽度不支持');
		return false;
	}
	var maxheight = $("#maxheight").val();
	if(!maxheight){
		$.dialog.alert('请设置最小高度');
	}
	if(maxheight<1000){
		$.dialog.alert('图片小于1000px高度不支持');
		return false;
	}
	var maxfilesize = $("#maxfilesize").val();
	if(!maxfilesize){
		$.dialog.alert('请设置图片只有超出多少才处理');
	}
	if(maxfilesize<500){
		$.dialog.alert('图片小于500KB不执行');
		return false;
	}
	$.dialog.confirm('确定要批量压缩图片吗？压缩后请记得批量更新附件',function(){
		$.win("批量压缩图片",get_url('res','compress','maxwidth='+maxwidth+"&maxheight="+maxheight+"&maxfilesize="+maxfilesize));
		return true;
	});
	return false;
}
</script>
<div class="layui-card">
	<div class="layui-card-header">
		压缩大图，主要压缩一些超大图，造成页面显示出问题
	</div>
	<div class="layui-container layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				宽度
			</label>
			<div class="layui-input-inline short">
				<input type="number" name="maxwidth" id="maxwidth" value="1920" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				px，单位是像素，设置最大的图片宽度，只有超过这个宽度的才执行处理，不超过不处理
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				高度
			</label>
			<div class="layui-input-inline short">
				<input type="number" name="maxheight" id="maxheight" value="3000" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				px，单位是像素，设置最大的图片高度，只有超过这个高度的才执行处理，不超过不处理
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				大小
			</label>
			<div class="layui-input-inline short">
				<input type="number" name="maxfilesize" id="maxfilesize" value="1024" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				KB，单位是KB，仅处理超过指定值大小的图片，单位KB，小于500KB的不处理，1M=1024KB
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				&nbsp;
			</label>
			<div class="layui-input-inline default-auto">
				<input type="button" value="开始批量更新" class="layui-btn" onclick="res_compress_act()" />
			</div>
		</div>		
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->