<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('list','save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('项目编辑成功',function(){
					opener.$.phpok.reload();
				},'succeed');
				return true;
			}
			$.dialog.alert(rs.info);
			return false;
		}
	});
	return false;
}
</script>
<form method="post" id="post_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		名称：
		<span class="note">设置名称</span>
	</div>
	<div class="content"><input type="text" id="title" name="title" class="long" value="{$rs.title}" /></div>
</div>
<!-- loop from=$extlist key=$key value=$value -->
<div class="table">
	<div class="title">
		<table cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">{$value.title}<span class="darkblue">[{$value.identifier}]</span>：</td>
			<td><span class="note">{$value.note}</span></td>
		</tr>
		</table>
	</div>
	<div class="content">{$value.html}</div>
</div>
<!-- /loop -->
<div class="table">
	<div class="title">
		SEO标题：
		<span class="note">设置此标题后，网站Title将会替代默认定义的，不能超过85个汉字</span>
	</div>
	<div class="content">
		<input type="text" id="seo_title" name="seo_title" class="long" value="{$rs.seo_title}" />
	</div>
</div>
<div class="table">
	<div class="title">
		SEO关键字：
		<span class="note">多个关键字用英文逗号或英文竖线隔开</span>
	</div>
	<div class="content">
		<input type="text" id="seo_keywords" name="seo_keywords" class="long" value="{$rs.seo_keywords}" />
	</div>
</div>
<div class="table">
	<div class="title">
		SEO描述：
		<span class="note">简单描述该主题信息，用于搜索引挈，不支持HTML，不能超过85个汉字</span>
	</div>
	<div class="content">
		<textarea name="seo_desc" id="seo_desc" class="long">{$rs.seo_desc}</textarea>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang标签：}
		<span class="note">{lang多个标签用 [title] 分开，最多不能超过10个|title:$tag_config.separator}</span>
	</div>
	<div class="content"><input type="text" id="tag" name="tag" class='long' value='{$rs.tag}' /></div>
</div>
</form>

<!-- include tpl=foot_open -->