<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function save()
{
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('list','save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('项目编辑成功',function(){
					$.admin.title($("#title").val());
					window.setTimeout(function(){
						$.dialog.close();
					}, 200);
				},'succeed');
				return true;
			}
			$.dialog.alert(rs.info);
			return false;
		}
	});
	return false;
}
</script>
<form method="post" id="post_save" class="layui-form" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<input type="hidden" name="style" id="style" value="{$rs.style}" />
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang名称}
			</label>
			<div class="layui-input-block">
				<div class="layui-col-sm9">
					<input type="text" id="title" name="title" class="layui-input" style="{$rs.style}" value="{$rs.title}" />
				</div>
			    <div class="layui-col-sm2" style="margin-left:10px;margin-top:3px;">
				    <button type="button" class="layui-btn layui-btn-sm" onclick="$.admin_list.style_setting('style','title')">
						<i class="layui-icon">&#xe64e;</i> {lang样式}
					</button>
			    </div>
			</div>
		</div>
		<!-- loop from=$extlist key=$key value=$value -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{$value.title}
			</label>
			<div class="layui-input-block">
				{$value.html}
			</div>
			<!-- if $value.note --><div class="layui-input-block mtop">{$value.note}</div><!-- /if -->
		</div>
		<!-- /loop -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langSEO标题}
			</label>
			<div class="layui-input-block">
				<input type="text" id="seo_title" name="seo_title" class="layui-input" value="{$rs.seo_title}" />
			</div>
			<div class="layui-input-block mtop">{lang设置此标题后，网站Title将会替代默认定义的，不能超过85个汉字}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langSEO关键字}
			</label>
			<div class="layui-input-block">
				<input type="text" id="seo_keywords" name="seo_keywords" class="layui-input" value="{$rs.seo_keywords}" />
			</div>
			<div class="layui-input-block mtop">{lang多个关键字用英文逗号或英文竖线隔开}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langSEO描述}
			</label>
			<div class="layui-input-block">
				<textarea name="seo_desc" id="seo_desc" class="layui-textarea">{$rs.seo_desc}</textarea>
			</div>
			<div class="layui-input-block mtop">{lang简单描述该主题信息，用于搜索引挈，不支持HTML，不能超过85个汉字}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang项目标签}
			</label>
			<div class="layui-input-block">
				<input type="text" id="tag" name="tag" class='layui-input' value='{$rs.tag}' />
			</div>
			<div class="layui-input-block mtop">{lang多个标签用 [title] 分开，最多不能超过10个|title:$tag_config.separator}</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->