<div class="list">
<table width="100%" class="list" cellpadding="0" cellspacing="0">
<tr>
	<th class="center" style="min-width:100px;">{$rs.title}</th>
	<th colspan="4" class="center" style="background:#fff;min-width:420px;">
		<select id="attr_{$rs.id}_opt" style="width:90%" onchange="$.admin_list_edit.attr_option_quickadd('{$rs.id}',this.value)">
			<option value="">{lang请选择…}</option>
			<!-- loop from=$optlist key=$key value=$value id=$tmpid -->
			<option value="{$value.id}">{$value.title}</option>
			<!-- /loop -->
		</select>
	</th>
	<th style="background:#fff;text-align:center;">
		<div class="button-group" style="margin-top:5px;">
			<input type="button" value="{lang添加}" onclick="$.admin_list_edit.attr_option_add('{$rs.id}')" class="phpok-btn" />
			<input type="button" value="{lang删除属性}" onclick="$.admin_list_edit.attr_remove('{$rs.id}')" class="phpok-btn" />
		</div>
	</th>
</tr>
<tr name="attr_{$rs.id}_thead">
	<th class="center">{lang属性名称}</th>
	<th class="center">{lang重量加减} Kg</th>
	<th class="center">{lang体积加减} M<sup>3</sup></th>
	<th class="center">{lang价格加减}</th>
	<th class="center">{lang排序}</th>
	<th class="center">{lang操作}</th>
</tr>
<!-- loop from=$rslist key=$key value=$value id=$idx -->
<tr name="attr_{$rs.id}" id="attr_{$rs.id}_{$value.vid}" data-name="{$value.title}">
	<td class="center">
		<input type="hidden" name="_attr_{$rs.id}[]" value="{$value.vid}" />
		{$value.title}
	</td>
	<td class="center"><input type="text" name="_attr_weight_{$rs.id}[{$value.vid}]" value="{$value.weight}" class="short center" /></td>
	<td class="center"><input type="text" name="_attr_volume_{$rs.id}[{$value.vid}]" value="{$value.volume}" class="short center" /></td>
	<td class="center"><input type="text" name="_attr_price_{$rs.id}[{$value.vid}]" value="{func round $value.price 2}" class="center" style="width:100px" /></td>
	<td class="center"><input type="text" name="_attr_taxis_{$rs.id}[{$value.vid}]" value="{$value.taxis}" class="short center" /></td>
	<td class="center"><input type="button" value="{lang删除}" onclick="$.admin_list_edit.attr_option_delete('{$rs.id}','{$value.vid}')" class="phpok-btn" /></td>
</tr>
<!-- /loop -->
</table>
</div>