<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" id="_listedit" class="layui-form" onsubmit="return $.admin_list.single_save()">
		<input type="hidden" name="id" id="id" value="{$id}" />
		<input type="hidden" name="pid" id="project_id" value="{$pid}" />
		<!-- loop from=$extlist key=$key value=$value id=$tmpid -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{$value.title}
			</label>
			<!-- if $value.note --><div class="layui-input-block gray" style="line-height:38px;">{$value.note}</div><!-- /if -->
			<div class="layui-input-block">
				{$value.html}
				<!-- if $popedom.ext && $value.is_edit && $session.adm_develop -->
				<div class="layui-btn-group">
					<!-- if $ext_module != 'add-list' -->
					<input type="button" value="{lang编辑}" class="layui-btn layui-btn-xs" onclick="ext_edit('{$value.identifier}','{$ext_module}')" />
					<!-- /if -->
					<input type="button" value="{lang删除}" class="layui-btn layui-btn-xs layui-btn-danger" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')" />
				</div>
				<!-- /if -->
			</div>
		</div>
		<!-- /loop -->
		<div class="layui-form-item">
			<label class="layui-form-label">&nbsp;</label>
			<div class="layui-input-inline default-auto">
				<input type="submit" value="{lang提交保存}" class="layui-btn layui-btn-danger" />
			</div>
			<div class="layui-input-inline auto gray"></div>
		</div>
		</form>
	</div>
</div>
<!-- include tpl=foot_lay -->