<!-- include tpl=head -->
<script type="text/javascript" src="{func include_js list.js}"></script>
<div class="tips">
	{lang您当前的位置：}{lang内容管理}
	<!-- if $pid -->
		<!-- loop from=$plist key=$key value=$value id=plist_id -->
		&raquo; <a href="{echo admin_url('list','action')}&id={$value.id}" title="{$value.title}">{$value.title}</a>
		<!-- /loop -->
	<!-- /if -->
	<!-- if $parent_id -->
	&raquo; {lang父主题：}<a href="{echo admin_url('list','edit')}&id={$parent_id}" title=""><span class="red">{$parent_rs.title}</span></a>
	<!-- /if -->
	&raquo; <!-- if $id -->{lang编辑内容}<!-- else -->{lang添加内容}<!-- end -->
</div>
<ul class="group">
	<li class="on" onclick="$.admin.group(this)" name="main" title="{lang主要内容}">{lang主要内容}</li>
	<!-- if $p_rs.is_biz --><li onclick="$.admin.group(this)" name="biz" title="{lang启用电子商务功能}">{lang电子商务}</li><!-- /if -->
	<li onclick="$.admin.group(this)" name="extinfo" title="{lang扩展信息，包括SEO优化在内}">{lang扩展信息}</li>
	<!-- if $p_rs.is_seo --><li onclick="$.admin.group(this)" name="seo" title="{lang全站SEO信息设置}">{langSEO优化}</li><!-- /if -->
</ul>

<form method="post" id="_listedit" onsubmit="return $.admin_list_edit.save()">
<input type="hidden" id="_root_cate" value="{$p_rs.cate}" />
<input type="hidden" id="_root_cate_multiple" value="{$p_rs.cate_multiple}" />
<input type="hidden" name="id" id="id" value="{$id}" />
<input type="hidden" name="pid" id="pid" value="{$pid}" />
<input type="hidden" name="parent_id" id="parent_id" value="{$parent_id}" />
<div id="main_setting">
	<div class="table">
		<div class="title">
			<!-- if $p_rs.alias_title -->{$p_rs.alias_title}<!-- else -->{lang主题}<!-- /if --> <span class="note">{lang不能超过80个汉字}<!-- if $p_rs.note -->，{$p_rs.alias_note}<!-- /if --></span>
		</div>
		<div class="content">
			<input type="text" name="title" id="title" value="{$rs.title}" class="title" />
		</div>
	</div>
	<!-- if $attrlist && $p_rs.is_attr -->
	<div class="table">
		<div class="content">
			<ul class="layout">
				<li>{lang属性：}</li>
				<!-- loop from=$attrlist key=$key value=$value -->
				<li><label><input type="checkbox" name="attr[]" id="_attr_{$key}" value="{$key}"{if $value.status} checked{/if} />{$value.val}</label></li>
				<!-- /loop -->
			</ul>
		</div>
	</div>
	<!-- /if -->
	<!-- if $p_rs.is_identifier -->
	<div class="table">
		<div class="title">
			{lang自定义网址标识} <span class="note">{lang仅支持字母、数字、下划线或中划线且必须是字母开头}</span>
		</div>
		<div class="content">
			<ul class="layout">
				<li style="width:50%"><input type="text" id="identifier" name="identifier" value="{$rs.identifier}" class="title" /></li>
				<li>
					<div class="button-group" id="identifier-button">
						<input type="button" value="{lang随机标识}" onclick="$.admin_list.rand_identifier()" class="phpok-btn" />
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /if -->
	<!-- if $p_rs.cate -->
	<div class="table">
		<div class="content">
			<select name="cate_id" id="cate_id" class="single">
				<option value=""><!-- if $p_rs.cate_multiple -->{lang请选择主分类…}<!-- else -->{lang请选择分类…}<!-- /if --></option>
				<!-- loop from=$catelist key=$key value=$value id=$tmpid -->
				<option value="{$value.id}"{if $value.id == $rs.cate_id} selected{/if}>{$value._space}{$value.title}</option>
				<!-- /loop -->
			</select>
		</div>
	</div>
		<!-- if $p_rs.cate_multiple -->
		<div class="table">
			<div class="title">
				{lang扩展分类：}<span class="note">{lang请按住 CTRL 键进行多选}</span>
			</div>
			<div class="content">
				<select name="ext_cate_id[]" multiple="multiple" class="multiple">
					<!-- loop from=$catelist key=$key value=$value id=$tmpid -->
					<option value="{$value.id}"{if in_array($value.id,$extcate)} selected{/if}>{$value._space}{$value.title}</option>
					<!-- /loop -->
				</select>
			</div>
		</div>
		<!-- /if -->
	<!-- /if -->
	<!-- if $p_rs.is_tag -->
	<div class="table">
		<div class="title">
			{lang标签：}
			<span class="note">{lang多个标签用 [title] 分开，最多不能超过10个|title:$tag_config.separator}</span>
		</div>
		<div class="content">
			<table width="100%">
			<tr>
				<td><input type="text" id="tag" name="tag" class='long' value='{$rs.tag}' style="width:100%;" /></td>
				<td style="padding-left:10px;">
					<div class="button-group">
						<input type="button" value="{lang更多选择}" onclick="$.phpok_list.tag()" id="tag_more" class="phpok-btn" />
						<input type="button" value="{lang清空}" onclick="$('input[name=tag]').val('')" class="phpok-btn" />
					</div>
				</td>
			</tr>
			<!-- if $tag_config.count && $taglist -->
			<tr>
				<td colspan="2">
					<div class="button-group">
						<!-- loop from=$taglist key=$key value=$value id=$tmpid -->
						<input type="button" value="{$value.title}" onclick="$.phpok_list.tag_append(this.value,'{$tag_config.separator}')" class="phpok-btn" />
						<!-- /loop -->
					</div>
				</td>
			</tr>
			<!-- /if -->
			</table>
		</div>
	</div>
	<!-- /if -->
	<!-- loop from=$extlist key=$key value=$value id=extlist_id -->
	<div class="table clearfix" id="form_html_{$value.identifier}">
		<div class="title">
			{$value.title}：
			<span class="note">{$value.note}
				<!-- if $popedom.ext && $value.is_edit -->
				<!-- if $ext_module != 'add-list' -->
				<a class="icon edit" onclick="ext_edit('{$value.identifier}','{$ext_module}')"></a>
				<!-- /if -->
				<a class="icon delete" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')"></a>
				<!-- /if -->
			</span>
		</div>
		<div class="content">{$value.html}</div>
	</div>
	<!-- /loop -->
	<!-- if $popedom.ext -->
	<div class="table">
		<div class="content">
			<ul class="layout">
				<li>
					<select id="_tmp_select_add" style="padding:3px">
						<option value="">{lang主题自定义扩展字段…}</option>
						<!-- loop from=$extfields key=$key value=$value -->
						<option value="{$value.identifier}">{$value.title} - {$value.identifier}</option>
						<!-- /loop -->
					</select>
				</li>
				<li>
					<div class="button-group">
						<input type="button" value="{lang快速添加}" onclick="$.admin_list.update_select_add('{$ext_module}')" class="phpok-btn" />
						<input type="button" value="{lang手动创建字段}" onclick="ext_add('{$ext_module}')" class="phpok-btn" />
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /if -->
</div>

<!-- if $p_rs.is_biz -->
<div id="biz_setting" class="hide">
	<div class="table">
		<div class="title">
			{lang产品类型：}
		</div>
		<div class="content">
			<ul class="layout">
				<li><label><input type="radio" name="is_virtual" value="0"{if !$rs.is_virtual} checked{/if} />{lang实物}</label></li>
				<li><label><input type="radio" name="is_virtual" value="1"{if $rs.is_virtual} checked{/if} />{lang服务}</label></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang销售价格：}<span class="note">{lang请设置产品的价格及计算货币类型}</span>
		</div>
		<div class="content">
			<ul class="layout">
				<li><input type="text" name="price" id="price" value="{$rs.price}" class="title" /></li>
				<li>
					<select name="currency_id" id="currency_id" onchange="price_show_auto()">
						<!-- loop from=$currency_list key=$key value=$value -->
						<option value="{$value.id}"{if $rs[currency_id] == $value.id} selected{/if} code="{$value.code}" rate="{$value.val}" sleft="{$value.symbol_left}" sright="{$value.symbol_right}">{$value.title}</option>
						<!-- /loop -->
					</select>
				</li>
			</ul>
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang计量单位：}<span class="note">{lang填写产品的计量单位，以方便结算}</span>
		</div>
		<div class="content">
			<ul class="layout">
				<li><input type="text" id="unit" name="unit" value="{$rs.unit}" /></li>
				<!-- if $unitlist -->
				<li>
					<div class="button-group">
						<!-- loop from=$unitlist key=$key value=$value id=$tmpid -->
						<input type="button" value="{$value}" onclick="$('#unit').val(this.value)" class="phpok-btn" />
						<!-- /loop -->
					</div>
				</li>
				<!-- /if -->
			</ul>		
		</div>
		<!-- if $freight && $freight.type == 'weight' -->
		<div class="table">
			<div class="title">
				{lang重量：}
			</div>
			<div class="content">
				<input type="text" id="weight" name="weight" value="{$rs.weight}" /> {lang千克}
			</div>
		</div>
		<!-- /if -->
		<!-- if $freight && $freight.type == 'volume' -->
		<div class="table">
			<div class="title">
				{lang体积：}
			</div>
			<div class="content">
				<input type="text" id="volume" name="volume" value="{$rs.volume}" /> {lang立方米}
			</div>
		</div>
		<!-- /if -->
	
	</div>

	<!-- if $p_rs.biz_attr -->
	<script type="text/javascript">
	function biz_attr_reload()
	{
		$("#biz_attr_options").html('<div style="background:#fff;padding:30px;text-align:center;"><img src="images/loading.gif" /></div>');
		biz_attr_loading();
	}
	function biz_attr_loading()
	{
		var tid = "{$id}";
		var url = get_url('list','options_html','pid={$pid}&tid='+tid);
		$.phpok.json(url,function(rs){
			if(rs.status == 'ok'){
				if(!rs.content){
					rs.content = '';
				}
				$("#biz_attr_options").html(rs.content);
			}else{
				$("#biz_attr_options").html(rs.content);
			}
		});
	}
	
	function attr_add(tid,pid)
	{
		var val = $("#biz_attr_id").val();
		if(!val){
			$.dialog.alert('请选择一个要添加的属性');
			return false;
		}
		var text = $("#biz_attr_id").find('option:selected').text();
		var url = get_url('list','options_add','aid='+val);
		if(tid && tid != 'undefined'){
			url += "&tid="+tid;
		}else{
			url += "&pid="+pid;
		}
		var rs = $.phpok.json(url+"&type=chk");
		if(rs.status != 'ok'){
			$.dialog.alert(rs.content);
			return false;
		}
		$.dialog.open(url,{
			'title':'添加属性，'+text,
			'width':'700px',
			'height':'400px',
			'lock':true,
			'ok':function(){
				var iframe = this.iframe.contentWindow;
				if (!iframe.document.body) {
					alert('iframe还没加载完毕呢');
					return false;
				};
				iframe.save();
				return false;
			},
			'okVal':'提交',
			'cancel':function(){
				return true;
			},
			'cancelVal':'取消'
		});

	}
	function biz_attr_delete(aid,tid)
	{
		var url = get_url('list','options_delete','aid='+aid+"&tid="+tid);
		var rs = $.phpok.json(url);
		if(rs.status == 'ok'){
			biz_attr_reload();
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	}
	function biz_attr_edit(aid,tid)
	{
		var url = get_url('list','options_edit','aid='+aid);
		if(tid && tid != 'undefined'){
			url += "&tid="+tid;
		}else{
			url += "&pid={$pid}";
		}
		var rs = $.phpok.json(url+"&type=chk");
		if(rs.status != 'ok'){
			$.dialog.alert(rs.content);
			return false;
		}
		$.dialog.open(url,{
			'title':'编辑属性',
			'width':'700px',
			'height':'400px',
			'lock':true,
			'ok':function(){
				var iframe = this.iframe.contentWindow;
				if (!iframe.document.body) {
					alert('iframe还没加载完毕呢');
					return false;
				};
				iframe.save();
				return false;
			},
			'okVal':'提交',
			'cancel':function(){
				return true;
			},
			'cancelVal':'取消'
		});
	}
	$(document).ready(function(){
		biz_attr_reload();
	});
	</script>
	<div class="biz_attr">
		<div class="biz_attr_select">
			<table cellpadding="0" cellspacing="0">
			<tr>
				<!-- if $biz_attrlist -->
				<td>
					<select id="biz_attr_id">
						<option value="">请选择一个属性…</option>
						<!-- loop from=$biz_attrlist key=$key value=$value id=$tmpid -->
						<option value="{$value.id}">{$value.title}</option>
						<!-- /loop -->
					</select>
				</td>
				<td>&nbsp;</td>
				<!-- /if -->
				<td><input type="button" value="{lang添加属性}" onclick="attr_add('{$id}','{$p_rs.id}')" class="phpok-btn" /></td>
				<td style="line-height:160%;">&nbsp;负号表示减，返之为加，如+10，表示加10，-10表示减10</td>
			</tr>
			</table>
		</div>
		<div id="biz_attr_options" class="options"></div>
	</div>
	<!-- /if -->
</div>
<!-- /if -->

<div id="extinfo_setting" class="hide">
	<div class="table">
		<div class="title">
			{lang状态：}
		</div>
		<div class="content">
			<ul class="layout">
				<li><label><input type="radio" name="status" id="status_0" value="0"{if $id && !$rs[status]} checked{/if} />{lang未审核}</label></li>
				<li><label><input type="radio" name="status" id="status_1" value="1"{if !$id || $rs[status]} checked{/if} />{lang已审核}</label></li>
			</ul>
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang是否隐藏：}
		</div>
		<div class="content">
			<ul class="layout">
				<li><label><input type="radio" name="hidden" id="hidden_0" value="0"{if !$rs[hidden]} checked{/if} />{lang显示}</label></li>
				<li><label><input type="radio" name="hidden" id="hidden_1" value="1"{if $rs.hidden} checked{/if} />{lang隐藏}</label></li>
			</ul>
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang发布时间：}<span class="note">{lang自定义发布时间，留空使用系统时间}</span>
		</div>
		<div class="content">
			<ul class="layout">
				<li><input type="text" id="dateline" name="dateline" class="default" value="{if $rs.dateline}{func date 'Y-m-d H:i:s' $rs.dateline}{/if}" onfocus="$.admin_list.show_date()" /></li>
				<li>
					<div class="button-group">
						<input type="button" value="{lang时间选择器}" class="phpok-btn" id="btn_dateline_datetime" onclick="$.phpokform.laydate_button('dateline','datetime')" />
						<input type="button" value="{lang清空}" onclick="$.phpokform.clear('dateline')" class="phpok-btn" />
					</div>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang阅读次数：}<span class="note">{lang正常情况请不要设置，以保证数据的准确，仅支持整数}</span>
		</div>
		<div class="content">
			<input type="text" id="hits" name="hits" value="{$rs.hits}" />
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang财富基数：}<span class="note">{lang只支持整数，用于计算会员虚拟财富增减}</span>
		</div>
		<div class="content">
			<input type="text" id="integral" name="integral" value="{$rs.integral}" />
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang排序}<span class="note">{lang排序值只支持数字，不清楚请留空}</span>
		</div>
		<div class="content">
			<input type="text" id="sort" name="sort" value="{$rs.sort}" />
		</div>
	</div>
	<div class="table">
		<div class="title">
			{lang绑定会员}<span class="note">{lang绑定会员功能，允许会员对主题进行修改或删除，需要开放发布权限}</span>
		</div>
		<div class="content">{func form_edit user_id $rs.user_id user}</div>
	</div>
	<div class="table">
		<div class="title">
			{lang自定义内容模板}<span class="note">{lang为空将使用} <span class="red">{$p_rs.tpl_content ? $p_rs.tpl_content : $p_rs.identifier.'_content'}</span></span>
		</div>
		<div class="content">
			<ul class="layout">
				<li><input type="text" id="tpl" name="tpl" class="default" value="{$rs.tpl}" /></li>
				<li>
					<div class="button-group">
						<input type="button" value="{lang选择}" onclick="phpok_tpl_open('tpl')" class="phpok-btn" />
						<input type="button" value="{lang清空}" onclick="$('#tpl').val('');" class="phpok-btn" />
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- if $p_rs.is_seo -->
<div id="seo_setting" class="hide">
	<div class="table">
		<div class="title">
			{langSEO标题：}<span class="note">{lang设置此标题后，网站Title将会替代默认定义的，不能超过50个汉字}</span>
		</div>
		<div class="content">
			<input type="text" id="seo_title" name="seo_title" class="title" value="{$rs.seo_title}" />
		</div>
	</div>
	<div class="table">
		<div class="title">
			{langSEO关键字：}<span class="note">{lang多个关键字用英文逗号隔开，为空将使用默认}</span>
		</div>
		<div class="content">
			<input type="text" id="seo_keywords" name="seo_keywords" class="title" value="{$rs.seo_keywords}" />
		</div>
	</div>
	<div class="table">
		<div class="title">
			{langSEO描述：}<span class="note">{lang简单描述该主题信息，用于搜索引挈，不支持HTML，不能超过80个汉字}</span>
		</div>
		<div class="content">
			<textarea name="seo_desc" id="seo_desc" class="long" style="width:100%">{$rs.seo_desc}</textarea>
		</div>
	</div>
</div>
<!-- /if -->



<div class="clear"></div>
<div class="submit-info"><input type="submit" value="{lang提交}" class="submit2 phpok_submit_click" /></div>
</form>
<!-- include tpl=foot -->