<!-- inc:head -->
<script type="text/javascript" src="{func include_js list.js}"></script>
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	top.$.desktop.title('{$rs.title}');
});
</script>
<!-- if $project_list -->
<script type="text/javascript">
function pendding_info()
{
	var url = get_url('index','pendding_sublist');
	$.ajax({
		'url':url,
		'cache':false,
		'async':true,
		'dataType':'json',
		'success': function(rs){
			if(rs.status == "ok"){
				var list = rs.content;
				var html = '<em class="toptip">{total}</em>';
				var total = 0;
				for(var key in list){
					$("li[id=project_"+list[key]['id']+"] em").remove();
					$("li[id=project_"+list[key]['id']+"]").append(html.replace('{total}',list[key]['total']));
				}
				//每隔一分钟检测一次
				window.setTimeout("pendding_info()", 60000);
			}else{
				//移除提示
				$("em.toptip").remove();
				//每隔三分钟进行一次检测
				window.setTimeout("pendding_info()", 180000);
			}
		}
	});
}

$(document).ready(function(){
	pendding_info();
	$("#project li").mouseover(function(){
		$(this).addClass("hover");
	}).mouseout(function(){
		$(this).removeClass("hover");
	}).click(function(){
		var url = $(this).attr("href");
		if(url){
			$.phpok.go(url);
		}else{
			alert("未指定动作！");
			return false;
		}
	});
});
</script>
<div class="tips"><span class="red">{$rs.title}</span> 子项信息，请点击进入修改</div>
<ul class="project" id="project">
	<!-- loop from=$project_list key=$key value=$value -->
	<li id="project_{$value.id}" title="{$value.title}" status="{$value.status}" href="{url ctrl=list func=action id=$value.id/}">
		<div class="img"><img src="{$value.ico ? $value.ico : 'images/ico/default.png'}" /></div>
		<div class="txt" id="txt_{$value.id}">{$value.nick_title ? $value.nick_title : $value.title}</div>
	</li>
	<!-- /loop -->
</ul>
<div class="clear"></div>
<!-- /if -->

<!-- if $rs.module -->
<script type="text/javascript">
function reply_it(id,title)
{
	var url = get_url('list','comment','id='+id);
	$.dialog.open(url,{
		'title':'{lang评论：}'+title,
		'lock':true,
		'width':'90%',
		'height':'90%',
		'cancel':function(){return true;}
	});
}
</script>
<div class="tips">
	{lang您当前的位置：}{lang内容管理}
	<!-- loop from=$plist key=$key value=$value id=plist_id -->
	&raquo; <a href="{url ctrl=list func=action id=$value.id/}" title="{$value.title}">{$value.nick_title ? $value.nick_title : $value.title}</a>
	<!-- /loop -->
	<!-- if $show_parent_catelist -->
	&raquo; <a href="{url ctrl=list func=action id=$pid cateid=$show_parent_catelist/}">{$parent_cate_rs.title}</a>
	<!-- /if -->
	<!-- if $keywords -->
	&raquo; <span class="red">{$keywords}</span>
	<!-- /if -->
	<!-- if $popedom.set || $session.admin_rs.if_system -->
	<div class="action"><a href="{url ctrl=list func=set id=$pid/}">{lang编辑项目}</a></div>
	<!-- /if -->
	<!-- if $popedom.add -->
	<div class="action"><a href="{url ctrl=list func=edit pid=$pid/}">{lang添加内容}</a></div>
	<!-- /if -->
	<span id="AP_ACTION_HTML" title="插件节点，后台内容列表管理栏面包屑"></span>
</div>
<div class="tips" style="position;relative;">
	<form method="post" action="{url ctrl=list func=action id=$pid/}">
	<div style="float:left;width:800px;">
		<div><table>
		<tr>
			<td><select name="status">
				<option value="">{lang选择状态…}</option>
				<option value="1"{if $status==1} selected{/if}>已审核</option>
				<option value="2"{if $status==2} selected{/if}>未审核</option>
			</select></td>
			<!-- if $rs.is_attr -->
			<td><select name="attr" id="search_attr">
				<option value="">{lang选择属性…}</option>
				<!-- loop from=$attrlist key=$key value=$value -->
				<option value="{$key}"{if $attr == $key} selected{/if}>{$value}</option>
				<!-- /loop -->
			</select></td>
			<!-- /if -->
			<!-- if $rs.cate && $catelist -->
			<td><select name="cateid">
				<option value="">{lang选择分类…}</option>
				<!-- loop from=$catelist key=$key value=$value -->
				<option value="{$value.id}"{if $cateid == $value.id} selected{/if}>{$value.title}</option>
				<!-- /loop -->
			</select></td>
			<!-- /if -->
			<td>{lang时间范围：}</td>
			<td><input type="text" name="dateline_start" value="{$dateline_start}" placeholder="开始时间" onfocus="laydate()" style="width:110px;" /></td>
			<td>{lang至}</td>
			<td><input type="text" name="dateline_stop" value="{$dateline_stop}" placeholder="结束时间" onfocus="laydate()" style="width:110px;" /></td>
		</tr>
		</table></div>
		<table>
		<tr>
			<td><select name="orderby_search">
				<option value="">{lang默认排序}</option>
				<option value="hits_hot"{if $orderby_search=='hits_hot'} selected{/if}>{lang查看次数多到少}</option>
				<option value="hits_cold"{if $orderby_search=='hits_cold'} selected{/if}>{lang查看次数少到多}</option>
				<!-- if $rs.is_biz -->
				<option value="price_high"{if $orderby_search=='price_high'} selected{/if}>{lang价格从高到低}</option>
				<option value="price_low"{if $orderby_search=='price_low'} selected{/if}>{lang价格从低到高}</option>
				<!-- /if -->
				<option value="sort_max"{if $orderby_search=='sort_max'} selected{/if}>{lang排序从高到低}</option>
				<option value="sort_min"{if $orderby_search=='sort_min'} selected{/if}>{lang排序从低到高}</option>
				<option value="dateline_max"{if $orderby_search=='dateline_max'} selected{/if}>{lang最后发布排在前面}</option>
				<option value="dateline_min"{if $orderby_search=='dateline_min'} selected{/if}>{lang以前发布的排在前面}</option>
			</select></td>
			<td>{lang关键字查找：}</td>
			<td><select name="keytype">
				<option value="">{lang关键字类型…}</option>
				<option value="title"{if $keytype == 'title'} selected{/if}>{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}</option>
				<!-- if $rs.is_identifier -->
				<option value="identifier"{if $keytype == 'identifier'} selected{/if}>{lang自定义标识}</option>
				<!-- /if -->
				<!-- if $rs.is_tag -->
				<option value="tag"{if $keytype == 'tag'} selected{/if}>{lang标签}</option>
				<!-- /if -->
				<!-- if $rs.is_seo -->
				<option value="seo_title"{if $keytype == 'seo_title'} selected{/if}>{langSEO标题}</option>
				<option value="seo_keywords"{if $keytype == 'seo_keywords'} selected{/if}>{langSEO关键字}</option>
				<option value="seo_desc"{if $keytype == 'seo_desc'} selected{/if}>{langSEO描述}</option>
				<!-- /if -->
				<!-- loop from=$ext_list key=$key value=$value id=$tmpid -->
				<!-- if $value.search == 1 || $value.search == 2 -->
				<option value="{$value.identifier}"{if $keytype == $value.identifier} selected{/if}>{$value.title}</option>
				<!-- /if -->
				<!-- /loop -->
			</select></td>
			<td><input type="text" id="keywords" name="keywords" class="default" value="{$keywords}" placeholder="{lang请输入要搜索的关键字}" /></td>
		</tr>
		</table>
	</div>
	<div style="float:left;width:18%;margin-top:20px;"><input type="submit" value="提交搜索" onclick="" class="submit2" /></div>
	</form>
	<div class="clear"></div>
</div>
<!-- /if -->

<!-- if $rs.admin_note -->
<div class="tips clearfix">{$rs.admin_note}</div>
<!-- /if -->


<!-- if $catelist -->
<ul class="list_cate clearfix">
	<!-- loop from=$catelist key=$key value=$value -->
	<li>
		<div class="cate cate_{$catelist_id.num%9}"><a href="{echo admin_url('list','action')}&id={$pid}&cateid={$value.id}">{$value.title}</a></div>
		<div class="cate_add cate_{$catelist_id.num%9}"><a href="{echo admin_url('list','edit')}&pid={$pid}&cateid={$value.id}"><img src="images/cate_add.png" border="0" alt="" /></a></div>
	</li>
	<!-- /loop -->
</ul>
<div class="clear"></div>
<!-- /if -->

<!-- if $rslist -->
<div class="list clearfix">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th width="20px">&nbsp;</th>
	<th width="20px">&nbsp;</th>
	<th>&nbsp;</th>
	<th class="lft">{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}</th>
	<!-- if $rs.cate -->
	<th>{lang主分类}</th>
	<!-- /if -->
	<!-- loop from=$layout key=$key value=$value -->
		<!-- if $key == "dateline" -->
		<th style="width:150px">{$value}</th>
		<!-- elseif $key == "hits" -->
		<th style="width:50px">{lang点击}</th>
		<!-- else -->
		<th class="lft">{$value}</th>
		<!-- /if -->
	<!-- /loop -->
	<th style="width:80px">{lang排序}</th>
	<th style="width:30px">&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- php:$tmp_m = 0 -->
<!-- foreach($rslist AS $key=>$value) -->
<!-- php:$tmp_m++ -->
<tr id="list_{$value.id}" title="{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}: {$value.title}&#10;{lang发布日期}: {echo date('Y-m-d H:i:s',$value[dateline])}">
	<td class="center"><input type="checkbox" name="ids[]" id="id_{$value.id}" value="{$value.id}" /></td>
	<td><span class="status{$value.status}" id="status_{$value.id}" {if $popedom.status}onclick="set_status({$value.id})"{else} style="cursor: default;"{/if} value="{$value.status}"></span></td>
	<td class="center">{$value.id}</td>
	<td><label for="id_{$value.id}">
		{$value.title}
		<!-- if $value.attr -->
			<!-- php:$attr = explode(",",$value['attr']) -->
			<!-- loop from=$attr key=$attr_k value=$attr_v -->
			<a href="{echo admin_url('list','action')}&id={$pid}&attr={$attr_v}" class="gray">[{$attrlist[$attr_v]}]</a>
			<!-- /loop -->
		<!-- /if -->
		<!-- if $value.identifier -->
		<span class="gray i">（{$value.identifier}）</span>
		<!-- /if -->
		<!-- if $rs.is_biz -->
		<span class="red i"> {func price_format $value.price $value.currency_id}</span>
		<!-- /if -->
		<!-- if $value.hidden -->
		<span class="red i">({lang隐藏})</span>
		<!-- /if -->
		<!-- if $clist && $clist[$value.id] -->
		<div class="extcate">
			分类：
			<!-- loop from=$clist[$value.id] key=$ck value=$cv -->
			<a href="{url ctrl=list func=action id=$pid cateid=$cv/}" class="i">{$cateall[$cv]}</a> 
			<!-- /loop -->
		</div>
		<!-- /if -->
	</label>
	</td>
	<!-- if $rs.cate -->
	<td class="gray center">
		<!-- if $value.cate_id && is_array($value.cate_id) -->
		<a href="{echo admin_url('list','action')}&id={$pid}&cateid={$value.cate_id.id}">{$value.cate_id.title}</a>
		<!-- else -->
		{lang未设分类}
		<!-- /if -->
	</td>
	<!-- /if -->
	
	<!-- loop from=$layout key=$k value=$v -->
		<!-- if $k == "dateline" -->
		<td class="center">{func date Y-m-d $value.dateline}</td>
		<!-- elseif $k == "hits" -->
		<td class="center">{$value.hits}</td>
		<!-- elseif $k == "user_id" -->
		<td>{$value._user ? $value._user : '-'}</td>
		<!-- else -->
			<!-- if is_array($value[$k])  -->
				<!-- php:$c_list = $value[$k]['_admin'] -->
				<!-- if $c_list.type == 'pic' -->
				<td><img src="{$c_list.info}" width="28px" height="28px" border="0" class="hand" onclick="preview_attr('{$c_list.id}')" style="border:1px solid #dedede;padding:1px;" /></td>
				<!-- else -->
					<!-- if is_array($c_list.info) -->
					<td>{echo implode(' / ',$c_list.info)}</td>
					<!-- else -->
					<td>{$c_list.info ? $c_list.info : '-'}</td>
					<!-- /if -->
				<!-- /if -->
			<!-- else -->
			<td>{$value[$k] ? $value[$k] : '-'}</td>
			<!-- /if -->
		<!-- /if -->
	<!-- /loop -->
	<td class="center"><input type="text" class="short center" value="{$value.sort}" tabindex="{$tmp_m}" onblur="update_taxis(this.value,'{$value.id}')" /></td>
	<td class="center"><span id="taxis_{$value.id}"></span></td>
	<td>
		<div class="button-group">
			<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=list func=edit id=$value.id/}')" class="phpok-btn" /><!-- /if -->
			<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="content_del('{$value.id}')" class="phpok-btn" /><!-- /if -->
			<!-- if $session.admin_rs.if_system && $rs.is_appoint --><input type="button" value="{lang指派}" class="phpok-btn" onclick="set_admin_id('{$value.id}')" /><!-- /if -->
			<!-- if $popedom.comment && $rs.comment_status && $comments[$value.id] --><input type="button" class="phpok-btn" value="{lang评论}" onclick="reply_it('{$value.id}','{$value.title}')"{if $comments[$value.id].uncheck} style="color:red;" title="{lang未审核评论：}{$comments[$value.id].uncheck}"{/if} /><!-- /if -->
			<!-- if $rs.subtopics && !$value[parent_id] && $popedom.add --><input type="button" value="加子主题" onclick="$.phpok.go('{url ctrl=list func=edit parent_id=$value.id pid=$value.project_id/}')" class="phpok-btn" /><!-- /if -->
		</div>
	</td>
</tr>
	<!-- loop from=$value.sonlist key=$kk value=$vv -->
	<!-- php:$tmp_m++ -->
	<tr id="list_{$vv.id}" title="{$rs.alias_title ? $rs.alias_title : '主题'}：{$vv.title}&#10;发布日期：{echo date('Y-m-d H:i:s',$vv[dateline])}">
		<td class="center"><input type="checkbox" name="ids[]" id="id_{$vv.id}" value="{$vv.id}" /></td>
		<td><span class="status{$vv.status}" id="status_{$vv.id}" {if $popedom.status}onclick="set_status({$vv.id})"{else} style="cursor: default;"{/if} value="{$vv.status}"></span></td>
		<td class="center">{$vv.id}</td>
		<td><label for="id_{$vv.id}">
			&nbsp; &nbsp; ├─ {$vv.title}
			<!-- if $vv.attr -->
				<!-- php:$attr = explode(",",$vv['attr']) -->
				<!-- loop from=$attr key=$attr_k value=$attr_v -->
				[{$attrlist[$attr_v]}]
				<!-- /loop -->
			<!-- /if -->
			<!-- if $vv.identifier -->
			<span class="gray i">（{$vv.identifier}）</span>
			<!-- /if -->
			<!-- if $rs.is_biz -->
			<span class="red i"> {func price_format $vv.price $vv.currency_id}</span>
			<!-- /if -->
			<!-- if $vv.hidden -->
			<span class="red i">(隐藏)</span>
			<!-- /if -->
			<!-- if $clist && $clist[$vv.id] -->
			<div class="extcate">
				分类：
				<!-- loop from=$clist[$vv.id] key=$ck value=$cv -->
				<a href="{url ctrl=list func=action id=$pid cateid=$cv/}" class="i">{$cateall[$cv]}</a> 
				<!-- /loop -->
			</div>
			<!-- /if -->
		</label>
		</td>
		<!-- if $rs.cate -->
		<td class="gray center">
			<!-- if $vv.cate_id && is_array($vv.cate_id) -->
			<a href="{echo admin_url('list','action')}&id={$pid}&cateid={$vv.cate_id.id}">{$vv.cate_id.title}</a>
			<!-- else -->
			未设分类
			<!-- /if -->
		<!-- /if -->
		<!-- loop from=$layout key=$k value=$v -->
			<!-- if $k == "dateline" -->
			<td class="center">{echo date("Y-m-d",$vv[dateline])}</td>
			<!-- elseif $k == "hits" -->
			<td class="center">{$vv.hits}</td>
			<!-- elseif $k == 'user_id' -->
			<td>{$vv._user ? $vv._user : '-'}</td>
			<!-- else -->
				<!-- if is_array($vv[$k])  -->
					<!-- php:$c_list = $vv[$k]['_admin'] -->
					<!-- if $c_list.type == 'pic' -->
					<td><img src="{$c_list.info}" width="28px" height="28px" border="0" class="hand" onclick="preview_attr('{$c_list.id}')" style="border:1px solid #dedede;padding:1px;" /></td>
					<!-- else -->
						<!-- if is_array($c_list.info) -->
						<td>{echo implode(' / ',$c_list.info)}</td>
						<!-- else -->
						<td>{$c_list.info ? $c_list.info : '-'}</td>
						<!-- /if -->
					<!-- /if -->
				<!-- else -->
				<td>{$vv[$k] ? $vv[$k] : '-'}</td>
				<!-- /if -->
			<!-- /if -->
		<!-- /loop -->
		<td class="center"><input type="text" class="short center" value="{$vv.sort}" tabindex="{$tmp_m}" onblur="update_taxis(this.value,'{$vv.id}')" /></td>
		<td class="center"><span id="taxis_{$vv.id}"></span></td>
		<td>
			<div class="button-group">
				<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=list func=edit id=$vv.id/}')" class="phpok-btn" /><!-- /if -->
				<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="content_del('{$vv.id}')" class="phpok-btn" /><!-- /if -->
				<!-- if $session.admin_rs.if_system && $rs.is_appoint --><input type="button" value="{lang指派}" class="phpok-btn" onclick="set_admin_id('{$vv.id}')" /><!-- /if -->
				<!-- if $popedom.comment && $rs.comment_status && $comments[$vv.id] --><input type="button" class="phpok-btn" value="{lang评论}" onclick="reply_it('{$vv.id}','{$vv.title}')"{if $comments[$vv.id].uncheck} style="color:red;" title="{lang未审核评论：}{$comments[$vv.id].uncheck}"{/if} /><!-- /if -->
			</div>
		</td>
	</tr>
	<!-- /loop -->
<!-- /foreach -->
</table>
</div>
<!-- /if -->
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td style="padding-top:5px;">
		<!-- if $rslist -->
		<ul class="layout">
			<li>
				<div class="button-group">
					<input type="button" value="{lang全选}" class="phpok-btn" onclick="$.input.checkbox_all()" />
					<input type="button" value="{lang全不选}" class="phpok-btn" onclick="$.input.checkbox_none()" />
					<input type="button" value="{lang反选}" class="phpok-btn" onclick="$.input.checkbox_anti()" />
				</div>
			</li>
			<li><select id="list_action_val" style="width:200px;margin-top:0px;" onchange="update_select()">
				<option value="">{lang选择要执行的动作…}</option>
				<!-- if $opt_catelist -->
				<optgroup label="{lang分类操作}">
					<!-- loop from=$opt_catelist key=$key value=$value -->
					<option value="cate:{$value.id}">{$value._space}{$value.title}</option>
					<!-- /loop -->
				</optgroup>
				<!-- /if -->
				<!-- if $rs.is_attr -->
				<optgroup label="{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}{lang属性}">
					<!-- loop from=$attrlist key=$key value=$value -->
					<option value="attr:{$key}">{$value} {$key}</option>
					<!-- /loop -->
				</optgroup>
				<!-- /if -->
				<optgroup label="其他">
					<!-- if $popedom.status -->
					<option value="status">{lang审核}</option>
					<option value="unstatus">{lang取消审核}</option>
					<!-- /if -->
					<option value="hidden">{lang隐藏}</option>
					<option value="show">{lang显示}</option>
					<!-- if $popedom.delete -->
					<option value="delete">{lang删除}</option>
					<!-- /if -->
					<!-- if $session.admin_rs.if_system && $rs.is_appoint -->
					<option value="appoint">{lang指派管理员维护}</option>
					<!-- /if -->
				</optgroup>
				</select></li>
			<li id="attr_set_li" class="hide">
				<select name="attr_set_val" style="margin-top:0px;" id="attr_set_val">
					<option value="add">{lang添加}</option>
					<option value="delete">{lang移除}</option>
				</select>
			</li>
			<!-- if $opt_catelist -->
			<li id="cate_set_li" class="hide">
				<select name="cate_set_val" style="margin-top:0px;" id="cate_set_val">
					<!-- if $rs.cate_multiple -->
					<option value="add">{lang添加扩展分类}</option>
					<option value="delete">{lang移除分类绑定}</option>
					<!-- /if -->
					<option value="move">{lang移动主分类}</option>
				</select>
			</li>
			<!-- /if -->
			<li id="plugin_button"><input type="button" value="{lang执行操作}" onclick="list_action_exec()" class="phpok-btn" /></li>
		</ul>
		<!-- /if -->
	</td>
	<td align="right"><!-- include tpl=pagelist --></td>
</tr>
</table>

<!-- include tpl=foot -->
