<!-- include tpl=head -->
<ul class="project" id="project">
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<li id="project_{$value.id}" title="{$value.title}" status="{$value.status}" href="{url ctrl=list func=action id=$value.id/}">
		<div class="project">
			<div class="img"><img src="{$value.ico ? $value.ico : 'images/ico/default.png'}" /></div>
			<div class="txt" id="txt_{$value.id}">{$value.nick_title ? $value.nick_title : $value.title}</div>
		</div>
	</li>
	<!-- /loop -->
</ul>
<div class="clear"></div>
<!-- include tpl=foot -->