<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript" src="{url ctrl=js func=ext js=admin.reply.js/}"></script>
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th width="20"></th>
			<th>{lang星数}</th>
			<th>{lang内容}</th>
			<th>{lang图片}</th>
			<th>{lang时间}</th>
			<th width="160"></th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr data-id="replylist_{$value.id}">
			<td>{$value.id}</td>
			<td>
				<span class="status{$value.status}" id="status_{$value.id}" {if $popedom.status}onclick="$.admin_reply.status({$value.id})"{else} style="cursor:default"{/if} value="{$value.status}"></span>
			</td>
			<td>
				<!-- if $value.star == 1 --><div class="layui-tips" lay-tips="{lang一星}">★☆☆☆☆</div><!-- /if -->
				<!-- if $value.star == 2 --><div class="layui-tips" lay-tips="{lang二星}">★★☆☆☆</div><!-- /if -->
				<!-- if $value.star == 3 --><div class="layui-tips" lay-tips="{lang三星}">★★★☆☆</div><!-- /if -->
				<!-- if $value.star == 4 --><div class="layui-tips" lay-tips="{lang四星}">★★★★☆</div><!-- /if -->
				<!-- if $value.star == 5 --><div class="layui-tips" lay-tips="{lang五星}">★★★★★</div><!-- /if -->
			</td>
			<td>
				<div>{$value.content}</div>
			</td>
			<td>
				<!-- loop from=$value.res key=$k value=$v id=$idxx -->
				<img src="{$v.ico}" width="60px" class="hand" onclick="$.admin_reply.preview_attr({$v.id})" />
				<!-- /loop -->
			</td>
			<td>{func date 'Y-m-d H:i:s' $value.addtime}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang新回复}" onclick="$.admin_reply.adm({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang修改}" onclick="$.admin_reply.edit({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang删除}" onclick="$.admin_reply.del({$value.id})" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- loop from=$value.adm_reply key=$k value=$v id=$idxx -->
		<tr data-id="replylist_{$value.id}" id="adm_reply_{$v.id}">
			<td colspan="6">
				<span class="red">{lang管理员回复} - {$idxx.num}</span>
				<small class="gray">{lang回复时间} {func date 'Y-m-d H:i:s' $value.addtime}</small>
				{$v.content}
			</td>
			<td>
				<!-- if ($popedom.delete && $v.admin_id == $session.admin_id) || $session.admin_rs.if_system -->
				<input type="button" value="{lang删除}" onclick="$.admin_reply.del({$v.id},'reply')" class="layui-btn layui-btn-sm layui-btn-danger" />
				<!-- /if -->
			</td>
		</tr>
		<!-- /loop -->
		<!-- /loop -->
		</table>
		<div class="center"><!-- include tpl=pagelist --></div>
	</div>
</div>

<!-- include tpl=foot_lay -->