<!-- include tpl=head_lay -->
<style type="text/css">
.log-title{
	max-width:500px;
	word-wrap:break-word;
	word-break:break-all;
}
.log-title b{
	color:red;
}
</style>
<div class="layui-card">
	<div class="layui-card-header">
		<form method="post" class="layui-form" action="{url ctrl=log/}">
		<div class="layui-form-item">
			<div class="layui-inline">
                <input type="text" id="start_date" class="layui-input" name="start_time" value="{$start_time}"  placeholder="{lang日期}">
            </div>
			<div class="layui-inline">
				<input type="submit" value="提交搜索" class="layui-btn layui-btn-sm" />
				<input type="button" value="下载日志" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.admin_log.download()"/>
			</div>
			<div class="layui-inline">只读取1000条最新日志，如需更多请下载到本地查看</div>
		</div>
		</form>
	</div>
	<div class="layui-card-body">
		<table class="layui-table layui-form">
		<thead>
		<tr>
			<th></th>
			<th>备注/网址</th>
			<th>IP</th>
			<th>操作人</th>
			<th>应用端</th>
			<th>文件</th>
			<th>时间</th>
		</tr>
		</thead>
		<tbody>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid  -->
			<tr data-index="0" id="list_{$value.id}">
				<td>{$tmpid.num}</td>
				<td class="log-title">
					<!-- if $value.note --><div>{$value.note}</div><!-- /if -->
					<div class="gray">{$value.url}</div>
				</td>
				<td>{$value.ip}</td>
				<td data-field="title">
						<!-- if $value.account --><span class="red">{$value.account}</span><!-- /if -->
						<!-- if $value.account && $value.user --> / <!-- /if -->
						<!-- if $value.user --><span class="blue">{$value.user}</span><!-- /if -->
						<!-- if !$value.admin_id && !$value.user_id -->{lang访客/系统}<!-- /if -->
				</td>
				<td>
					<!-- if $value.appid == 'admin' -->后台<!-- elseif $value.appid == 'api' -->接口<!-- else -->前台<!-- /if -->
				</td>
				<td>{$value.ctrl}_control.php &raquo; {$value.func}_f</td>
				<td>{$value.dateline}</td>
			</tr>
			<!-- /loop -->
		</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->