<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="wed, 26 feb 1997 08:21:57 gmt" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<title>{lang管理员登录}</title>
	<meta name="author" content="phpok.com" />
	<!-- if $config.favicon -->
	<link rel="shortcut icon" href="{$config.favicon}" />
	<!-- /if -->
	<link rel="stylesheet" type="text/css" href="css/artdialog.css" />
	<link href="js/slick/slick-theme.css" rel="stylesheet"/>
	<link href="js/slick/slick.css" rel="stylesheet"/>
	<script type="text/javascript" src="{url ctrl=js func=mini ext=jquery.phpok.js,jquery.form.min.js,jquery.artdialog.js,admin.login.js /}"></script>
	<script src="js/slick/slick.js" type="text/javascript"></script>
</head>
<body>
<!-- 轮播图 -->
<div class="c-banner">
	<div class="c-wrap">
		<div class="c-item" style="background: url('images/login/1.jpg') no-repeat;background-size:cover;"></div>
		<div class="c-textBox"><p class="c-text">如切如磋，如琢如磨</p></div>
	</div>
	<div class="c-wrap">
		<div class="c-item" style="background: url('images/login/2.jpg') no-repeat;background-size:cover;"></div>
		<div class="c-textBox"><p class="c-text">四季轮转，云卷云舒</p></div>
	</div>
	<div class="c-wrap">
		<div class="c-item" style="background: url('images/login/3.jpg') no-repeat;background-size:cover;"></div>
		<div class="c-textBox"><p class="c-text">大美中华，君之功也</p></div>
	</div>
	<div class="c-wrap">
		<div class="c-item" style="background: url('images/login/4.jpg') no-repeat;background-size:cover;"></div>
		<div class="c-textBox"><p class="c-text">他山之石，可以攻玉</p></div>
	</div>
</div>
<!-- if $multiple_language && $langlist -->
<div id="c-language" data-lang="{$session.admin_lang_id}">
	<div class="c-select clear">
		<p class="c-text fl">{$langlist[$session.admin_lang_id]}</p>
		<i class="c-triangle fr"></i>
	</div>
	<ul class="c-option">
		<!-- loop from=$langlist key=$key value=$value id=$tmpid -->
		<li data-lang="{$key}"><a href="javascript:update_lang('{$key}');void(0)">{$value}</a></li>
		<!-- /loop -->
	</ul>
</div>
<!-- /if -->
<div id="c-content">
	<div class="c-wrap clear">
		<form class="c-form fr" id="adminlogin" onsubmit="return admlogin()">
			<p class="c-title">Welcome</p>
			<div class="c-user">
				<span></span>
				<input type="text" name="user" tabindex="1" placeholder="{lang请输入您的账号}">
			</div>
			<!-- 密码 -->
			<div class="c-password">
				<span></span>
				<input type="password" name="pass" tabindex="2" placeholder="{lang请输入您的密码}">
			</div>
			<!-- if $vcode -->
			<div class="c-code">
				<span></span>
				<input type="text" name="_code" tabindex="3" placeholder="{lang验证码}">
				<div class="c-img">
					<img src="images/blank.gif" style="cursor:pointer;" id="src_code">
				</div>
			</div>
			<!-- /if -->
			<div class="c-btn">
				<button type="submit">{lang管理员登录}</button>
			</div>
		</form>
	</div>
</div>
<!-- if $logo -->
<div style="margin:35px;">
	<div class="logo"><img src="{$logo}" border="0" alt="{$config.title}" style="width:300px;" /></div>
</div>
<!-- /if -->
<!-- if $vcode -->
<script type="text/javascript">
$(document).ready(function(){
	window.setTimeout(function(){
		login_code('admin');
	}, 500);
	$("#src_code").click(function(){
		login_code('admin');
	})
});
</script>
<!-- /if -->
</body>
</html>
