<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<div class="table">
	<div class="title">
		旧密码：
		<span class="note">修改密码前，请输入旧的密码，以验证您身份的合法性质</span>
	</div>
	<div class="content">
		<input type="password" id="oldpass" name="oldpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
<div class="table">
	<div class="title">
		新密码：
		<span class="note">请输入新的密码，长度不能少于5位，建议字母+数字组合</span>
	</div>
	<div class="content">
		<input type="password" id="newpass" name="newpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
<div class="table">
	<div class="title">
		验证密码：
		<span class="note">请再次输入密码</span>
	</div>
	<div class="content">
		<input type="password" id="chkpass" name="chkpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
</form>
<!-- inc:foot_open -->