<!-- include tpl=head_lay nopadding=true overflowy=true -->
<form method="post" id="post_save" onsubmit="return false">
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				<span class="red">*</span> {lang旧密码}
			</label>
			<div class="layui-input-block">
				<input type="password" id="oldpass" name="oldpass" class="layui-input" autocomplete="off" disableautocomplete />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang新密码}
			</label>
			<div class="layui-input-block">
				<input type="password" id="newpass" name="newpass" class="layui-input" autocomplete="off" disableautocomplete />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang验证密码}
			</label>
			<div class="layui-input-block">
				<input type="password" id="chkpass" name="chkpass" class="layui-input" autocomplete="off" disableautocomplete />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang二次密码}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">用于二次安全确认，不能和登录密码相同，不清楚请留空</div>
			<div class="layui-input-block">
				<input type="password" id="vpass" name="vpass" class="layui-input" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				
			</label>
			<div class="layui-input-block">
				
			</div>
		</div>
	</div>
</div>

</form>
<!-- include tpl=foot_lay is_open=true -->