<!-- inc:head_open -->
<script type="text/javascript">
function check_save()
{
	var oldpass = $("#oldpass").val();
	if(!oldpass)
	{
		$.dialog.alert("旧密码不能为空");
		return false;
	}
	var newpass = $("#newpass").val();
	var chkpass = $("#chkpass").val();
	if(!newpass)
	{
		$.dialog.alert("新密码不能为空");
		return false;
	}
	if(newpass != chkpass)
	{
		$.dialog.alert("两次输入的密码不一致");
		return false;
	}
	if(oldpass == newpass)
	{
		$.dialog.alert("新旧密码是一样的，不能执行此操作");
		return false;
	}
	return true;
}
</script>
<form method="post" action="{echo admin_url('me','password_save')}" onsubmit="return check_save()">
<div class="table">
	<div class="title">
		旧密码：
		<span class="note">修改密码前，请输入旧的密码，以验证您身份的合法性质</span>
	</div>
	<div class="content">
		<input type="password" id="oldpass" name="oldpass" class="default" value="" />
	</div>
</div>
<div class="table">
	<div class="title">
		新密码：
		<span class="note">请输入新的密码，长度不能少于5位，建议字母+数字组合</span>
	</div>
	<div class="content">
		<input type="password" id="newpass" name="newpass" class="default" value="" />
	</div>
</div>
<div class="table">
	<div class="title">
		验证密码：
		<span class="note">请再次输入密码</span>
	</div>
	<div class="content">
		<input type="password" id="chkpass" name="chkpass" class="default" value="" />
	</div>
</div>
<br />
<div class="table">
	<div class="content">
		<input type="submit" value="提 交" class="submit" />
	</div>
</div>
</form>
<!-- inc:foot_open -->