<!-- include tpl=head_lay nopadding=true overflowy=true -->
<form method="post" id="post_save" onsubmit="return false">
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang管理员账号}
			</label>
			<div class="layui-input-block gray" style="line-height:38px;">账号修改后需要重新登录</div>
			<div class="layui-input-block">
				<input type="text" id="name" name="name" class="layui-input" value="{$rs.account}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang管理员姓名}
			</label>
			<div class="layui-input-block">
				<input type="text" id="fullname" name="fullname" class="layui-input" value="{$rs.fullname}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang邮箱}
			</label>
			<div class="layui-input-block">
				<input type="text" id="email" name="email" class="layui-input" value="{$rs.email}" />
			</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->