<!-- include tpl=head -->
<script type="text/javascript">
function field_form_opt(val,eid)
{
	if(!val || val == "undefined"){
		$("#form_type_ext").html('').hide();
		return false;
	}
	var url = get_url("form","config") + "&id="+$.str.encode(val);
	if(eid && eid != "undefined"){
		url += "&eid="+eid;
	}
	url += "&etype=fields";
	var html = get_ajax(url);
	if(html && html != 'exit'){
		$("#form_type_ext").html(html).show();
	}
}

function save()
{
	var obj = art.dialog.opener;
	$("#form_save").ajaxSubmit({
		'url':get_url('module','field_addok','mid={$mid}'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status == 'ok'){
				$.dialog.alert('{lang字段创建成功}',function(){
					obj.$.dialog.close();
					obj.$.phpok.reload();
				});
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
</script>
<div class="tips clearfix">
	您当前的位置：
	<a href="{url ctrl=module/}">模块管理</a>
	&raquo; <a href="{url ctrl=module func=fields id=$mid/}" title="{$m_rs.title}">{$m_rs.title}</a>
	&raquo; 添加字段
</div>
<form method="post" id="form_save" onsubmit="return false">
<div class="table">
	<div class="title">
		名称/标识：
		<span class="note">名称会在表单中体现，标识限：<span class="darkblue b">字母、数字及下划线，且必须以字母开头</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="title" name="title" value="{$rs.title}" placeholder="名称" /></td>
			<td>&nbsp;/&nbsp;</td>
			<td><input type="text" id="identifier" name="identifier" value="{$rs.identifier}" placeholder="标识" /></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		字段备注：
		<span class="note">填写表单时，指定这个项目的注意事项</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" value="{$rs.note}" /></div>
</div>

<div class="table">
	<div class="title">
		字段类型 / 表单类型：
		<span class="note">请慎重选项此项，一般创建后不要修改。</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<select name="field_type" id="field_type">
					<option value="">请选择字段类型…</option>
					<!-- loop from=$fields key=$key value=$value -->
					<option value="{$key}"{if $rs.field_type == $key} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</td>
			<td>&nbsp;/&nbsp;</td>
			<td>
				<select name="form_type" id="form_type" onchange="field_form_opt(this.value,'{$id}')">
					<option value="">请选择表单类型…</option>
					<!-- loop from=$forms key=$key value=$value -->
					<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</td>
		</tr>
		</table>
	</div>
</div>

<div id="form_type_ext" style="display:none;"></div>
<input type="hidden" name="form_style" id="form_style" value="{$rs.form_style}" />

<div class="table">
	<div class="title">
		表单默认值：
		<span class="note">设置表单默认值，如果表单中有多个值，请用英文逗号隔开</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="long" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		接收数据格式化：
		<span class="note">设置文本常见格式，如HTML，整型，浮点型等</span>
	</div>
	<div class="content">
		<select name="format" id="format">
			<!-- loop from=$formats key=$key value=$value id=format_list_id -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>			
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		排序：
		<span class="note">值越小越往前靠，可选范围：1-255</span>
	</div>
	<div class="content">
		<input type="text" name="taxis" id="taxis" value="{$rs.taxis ? $rs.taxis : 255}" />
	</div>
</div>
<div class="table">
	<div class="title">
		前端处理：
		<span class="note">设置前端是否可用，如果需要前端加载相应属性请在这里操作！</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><label><input type="radio" name="is_front" value="0"{if !$rs.is_front} checked{/if} />禁用</label></td>
			<td><label><input type="radio" name="is_front" value="1"{if $rs.is_front} checked{/if} />使用</label></td>
		</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
function search_set(val){
	if(val == 3){
		$("#search_separator_html").show();
	}else{
		$("#search_separator_html").hide();
	}
}
</script>
<div class="table">
	<div class="title">
		搜索：
		<span class="note">指定该字段的搜索类型</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><label><input type="radio" name="search" value="0" checked onclick="search_set(0)" />不支持搜索</label></td>
			<td><label><input type="radio" name="search" value="1" onclick="search_set(1)" />完全匹配搜索</label></td>
			<td><label><input type="radio" name="search" value="2" onclick="search_set(2)" />部分匹配搜索</label></td>
			<td><label><input type="radio" name="search" value="3" onclick="search_set(3)" />区间搜索</label></td>
			<td id="search_separator_html"  style="display:none">
				搜索字段分隔符：
				<input type="text" name="search_separator" id="search_separator" class="short" />
			</td>
		</tr>
		</table>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->
