<!-- include tpl=head_lay -->
<script type="text/javascript">
function update_taxis(val,id)
{
	$.ajax({
		'url':get_url('module','field_taxis','taxis='+val+"&id="+id),
		'dataType':'json',
		'cache':false,
		'async':true,
		'beforeSend': function (XMLHttpRequest){
			XMLHttpRequest.setRequestHeader("request_type","ajax");
		},
		'success':function(rs){
			if(rs.status){
				$.phpok.reload();
			}else{
				$.dialog.alert(rs.info);
				return false;
			}
		}
	});
}
$(document).ready(function(){
	$("div[name=taxis]").click(function(){
		var oldval = $(this).text();
		var id = $(this).attr('data');
		$.dialog.prompt('{lang请填写新的排序：}',function(val){
			if(val != oldval){
				update_taxis(val,id);
			}
		},oldval);
	});
});
</script>
<div class="layui-card">
	<div class="layui-card-header">
		{lang列表}
		<div class="fr">
			<input type="button" value="{lang添加字段}" onclick="$.admin_module.field_create('{$id}')" class="layui-btn layui-btn-sm" />
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
			<tr>
				<th class="id">ID</th>
				<th>{lang字段名}</th>
				<th>{lang名称}</th>
				<th>{lang备注}</th>
				<th>{lang字段类型}</th>
				<th>{lang表单}</th>
				<th>{lang格式化}</th>
				<th class="center">{lang排序}</th>
				<th></th>
			</tr>
		</thead>
		<!-- loop from=$used_list key=$key value=$value id=$tmpid -->
		<tr>
			<td class="center">{$value.id}</td>
			<td>{$value.identifier}</td>
			<td>{$value.title}</td>
			<td>{$value.note}</td>
			<td>{$value.field_type_name}</td>
			<td>{$value.form_type_name}</td>
			<td>{$value.format_type_name}</td>
			<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang编辑}" onclick="$.admin_module.field_edit('{$value.id}')" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang删除}" onclick="$.admin_module.field_del('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<!-- if $fields_list -->
<ul class="layui-row layui-col-space15">
	<!-- loop from=$fields_list key=$key value=$value id=$tmpid -->
	<div class="layui-col-md3">
      <div class="layui-card color-hover">
        <div class="layui-card-body ">
          {$value.title}<br />{$value.identifier}<span class=" layuiadmin-badge"> <input type="button" value="{lang添加}" onclick="$.admin_module.field_add('{$id}','{$value.identifier}')" class="layui-btn  layui-btn-sm" /></span> 
        </div>
      </div>
    </div>
	<!-- /loop -->
</ul>
<!-- /if -->


<!-- include tpl=foot_lay -->