<!-- include tpl=head_lay -->
<form method="post" class="layui-form" id="module_submit_post" onsubmit="return $.admin_module.set_save(this);">
<!-- if $id --><input type="hidden" id="id" name="id" value="{$id}" /><!-- /if -->
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang名称}
			</label>
			<div class="layui-input-block">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-input-block mtop">{lang设置一个名称，该名称将在应用中读取，不受站点影响}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang备注}
			</label>
			<div class="layui-input-block">
				<input type="text" id="note" name="note" class="layui-input" value="{$rs.note}" />
			</div>
			<div class="layui-input-block mtop">{lang仅限后台管理使用，用于查看该模块主要做什么}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang独立运行}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="mtype" lay-filter="mtype" value="0"{if !$rs.mtype} checked{/if} title="{lang否}" />
				<input type="radio" name="mtype" lay-filter="mtype" value="1"{if $rs.mtype} checked{/if} title="{lang是}" />
			</div>
			<div class="layui-form-mid">{lang启用独立运行后，需要设置相应的标识}</div>
		</div>
		<div class="layui-form-item{if $rs && $rs.mtype} hide{/if}" id="tbl_html">
			<label class="layui-form-label">
				{lang关联主表}
			</label>
			<div class="layui-input-inline short">
				<select id="tbl" name="tbl">
				<!-- loop from=$tblist key=$key value=$value id=$tmpid -->
				<option value="{$key}"{if $key == $tblid} selected{/if}>{$value}</option>
				<!-- /loop -->
				</select>
			</div>
			<div class="layui-form-mid">{lang请选择集成环境对应的主表，目前官网仅对分类及主题进行横向扩展}</div>
		</div>
		<div class="layui-form-item{if !$rs || !$rs.mtype} hide{/if}" id="tbl_single">
			<label class="layui-form-label">
				{lang表别名}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="tbname" name="tbname" class="layui-input" value="{$rs.tbname}" />
			</div>
			<div class="layui-input-inline">
				<select name="tbname_exit">
					<option value="">已存在表…</option>
					<!-- loop from=$elist key=$key value=$value id=$tmpid -->
					<optgroup label="{if $key == 'system'}{lang系统表}{elseif $key == 'ext'}扩展表{else}其它表{/if}">
						<!-- loop from=$value key=$k value=$v id=$idxx -->
						<option value="{$v.id}"{if $v.id == $rs.id} selected{/if}>{$v.title}<!-- if $v.note -->_{$v.note}<!-- /if --></option>
						<!-- /loop -->
					</optgroup>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-form-mid">
				{lang设置表别名，留空使用数字，必须有字母，注意系统不做验证判断}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang排序}
			</label>
			<div class="layui-input-inline short">
				<input type="text" id="taxis" name="taxis" class="layui-input" value="{$rs.taxis}" />
			</div>
			<div class="layui-form-mid">
				{lang值越小越往前靠，最小值为0，最大值为255}
			</div>
		</div>
		
	</div>
</div>
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang保存数据}" class="layui-btn layui-btn-danger" id="save_button" />
		<input type="button" value="{lang关闭}" class="layui-btn layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>

</form>
<!-- include tpl=foot_lay -->