<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	var obj = art.dialog.opener;
	$("#form_save").ajaxSubmit({
		'url':get_url('module','field_edit_save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status == 'ok'){
				$.dialog.alert('{lang字段编辑成功}',function(){
					obj.$.phpok.reload();
				},'succeed');
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
</script>

<form method="post" id="form_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang字段名称：}
		<span class="note">{lang设置一个名称，该名称在表单的头部信息显示}</span></span>
	</div>
	<div class="content">
		<input type="text" id="title" name="title" class="w99" value="{$rs.title}" />
	</div>
</div>

<div class="table">
	<div class="title">
		{lang字段备注}：
		<span class="note">{lang填写表单时，指定这个项目的注意事项}</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="w99" value="{$rs.note}" /></div>
</div>
<div class="table">
	<div class="title">
		{lang字段类型：}<span class="note">{lang请慎重选择，不建议修改}</span>
	</div>
	<div class="content">
		<select name="field_type" id="field_type" class="w99">
			<!-- loop from=$field_list key=$key value=$value -->
			<option value="{$key}"{if $rs.field_type == $key} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
			<!-- /loop -->
		</select>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang表单类型：}
		<span class="note">{lang请选择字段要使用的表单}</span>
	</div>
	<div class="content">
		<select id="form_type" name="form_type" class="w99" onchange="$._configForm.option(this.value,'form_type_ext','{$id}','module')">
			<option value="">{lang请选择表单…}</option>
			<!-- loop from=$form_list key=$key value=$value id=$tmpid -->
			<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div id="form_type_ext" style="display:none;"></div>

<div class="table">
	<div class="title">
		<span class="edit">
			{lang表单样式：}
			<span class="note">{lang不能超过250个字符，不熟悉CSS，请查相关手册}</span>
		</span>
	</div>
	<div class="content"><input type="text" id="form_style" name="form_style" class="w99" value="{$rs.form_style}" /></div>
</div>
<div class="table">
	<div class="title">
		{lang表单默认值：}
		<span class="note">{lang设置表单默认值，如果表单中有多个值，请用英文逗号隔开}</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="w99" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		{lang接收数据格式化：}
		<span class="note">{lang设置文本常见格式，如HTML，整型，浮点型等}</span>
	</div>
	<div class="content">
		<select name="format" id="format" class="w99">
			<!-- loop from=$format_list key=$key value=$value id=$tmpid -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		{lang排序}：
		<span class="note">{lang值越小越往前靠，可选范围：1-255}</span>
	</div>
	<div class="content">
		<input type="text" name="taxis" id="taxis" value="{$rs.taxis ? $rs.taxis : 255}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang前端处理}：
		<span class="note">{lang设置前端是否可用，如果需要前端加载相应属性请在这里操作}</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><label><input type="radio" name="is_front" value="0"{if !$rs.is_front} checked{/if} />{lang禁用}</label></td>
			<td><label><input type="radio" name="is_front" value="1"{if $rs.is_front} checked{/if} />{lang使用}</label></td>
		</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
function search_set(val){
	if(val == 3){
		$("#search_separator_html").show();
	}else{
		$("#search_separator_html").hide();
	}
}
</script>
<div class="table">
	<div class="title">
		{lang搜索}：
		<span class="note">{lang指定该字段的搜索类型，使用区间搜索需要设置分隔符}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="search" value="0"{if !$rs.search} checked{/if} onclick="search_set(0)" />{lang不支持搜索}</label></li>
			<li><label><input type="radio" name="search" value="1"{if $rs.search == 1} checked{/if} onclick="search_set(1)" />{lang完全匹配搜索}</label></li>
			<li><label><input type="radio" name="search" value="2"{if $rs.search == 2} checked{/if} onclick="search_set(2)" />{lang部分匹配搜索}</label></li>
			<li><label><input type="radio" name="search" value="3"{if $rs.search == 3} checked{/if} onclick="search_set(3)" />{lang区间搜索}</label></li>
			<li id="search_separator_html" {if !$rs.search || $rs.search != 3}style="display:none"{/if}><input type="text" name="search_separator" id="search_separator" class="short" value="{$rs.search_separator}" placeholder="{lang分隔符}" /></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	_phpok_form_opt("{$rs.form_type}","form_type_ext",'{$id}','module');
});
</script>
<!-- include tpl=foot_open -->