<!-- include tpl=head_lay nopadding=true overflowy=true -->
<input type="hidden" id="id" value="{$id}" />
<input type="hidden" id="vid" value="{$vid}" />
<div class="layui-card">
	<input type="hidden" name="content" id="content" />
	<div class="layui-card-body layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang加粗}
			</label>
			<div class="layui-input-block">
				<input type="checkbox" id="bold" title="{lang加粗}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang斜体}
			</label>
			<div class="layui-input-block">
				<input type="checkbox" id="italic" title="{lang斜体}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang划线}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="text-decoration" id="text-decoration_default" checked title="{lang默认}" />
				<input type="radio" name="text-decoration" id="text-decoration_overline" value="overline" title="{lang上划线}" />
				<input type="radio" name="text-decoration" id="text-decoration_through" value="line-through" title="{lang删除线}" />
				<input type="radio" name="text-decoration" id="text-decoration_underline" value="underline" title="{lang下划线}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				文本颜色
			</label>
			<div class="layui-input-block">
				{$colorhtml}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				背景色
			</label>
			<div class="layui-input-block">
				{$bgcolorhtml}
			</div>
		</div>
	</div>
</div>

<!-- include tpl=foot_lay is_open=true -->