<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function select_input(val,title)
{
	var obj = $.dialog.opener;
	obj.$("#{$id},#{$id}_default").val("index.php?id="+val);
	obj.$("#{$id}_rewrite").val(val+".html");
	var old = obj.$("#title").val();
	if(!old && old != 'undefined'){
		obj.$("#title").val(title)
	}
	$.dialog.close();
}
function go_back()
{
	$.phpok.go('{url ctrl=open func=url id=$id /}');
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th class="id">ID</th>
			<th class="title">{lang主题名称}</th>
			<th style='width:80px;'>&nbsp;</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td class="center" height="25px">{$value.id}</td>
			<td style="text-align: left;padding-left:10px;">{$value.title}</td>
			<td>
				<input type="button" value="{lang网址}" onclick="select_input('{$value.identifier ? $value.identifier : $value.id}','{$value.title}')" class="layui-btn layui-btn-xs" />
			</td>
		</tr>
			<!-- loop from=$value.sonlist key=$kk value=$vv -->
			<tr>
				<td class="center">{$vv.id}</td>
				<td style="text-align: left;padding-left:10px;">
					&nbsp; &nbsp; ├─ {$vv.title}
				</td>
				<td>
					<input type="button" value="{lang网址}" onclick="select_input('{$vv.identifier ? $vv.identifier : $vv.id}','{$vv.title}')" class="layui-btn layui-btn-xs" />
				</td>
			</tr>
			<!-- /loop -->		
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
		<div align="center" style="margin:10px;"><input type="button" value="返回" class="layui-btn" onclick="go_back()" /></div>
		
	</div>
</div>
<!-- include tpl=foot_lay is_open=true -->
