<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function select_input(val)
{
	var opener = $.dialog.opener;
	opener.$("#{$id}").val(val);
	$.dialog.close();
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<!-- loop from=$showlist key=$key value=$value id=$tmpid -->
			<th>{$value}</th>
			<!-- /loop -->
			<th></th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td>{$value.id}</td>
			<!-- loop from=$showlist key=$k value=$v id=$idxx -->
			<td>
				<!-- if $value[$k] && is_array($value[$k]) -->
				{func current $value[$k]}
				<!-- else -->
				{$value[$k]}
				<!-- /if -->
			</td>
			<!-- /loop -->
			<td><input type="button" value="{lang确认}" onclick="select_input('{$value[$field]}')" class="layui-btn layui-btn-sm" /></td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
	</div>
</div>

<!-- include tpl=foot_lay is_open=true -->