<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function select_input(val,val2,title)
{
	var obj = $.dialog.opener;
	if(val == "index"){
		obj.$("#{$id},#{$id}_default").val("index.php");
		obj.$("#{$id}_rewrite").val("index.html");
	}else{
		var old = obj.$("#title").val();
		if(!old && old != 'undefined'){
			obj.$("#title").val(title)
		}
		obj.$("#{$id},#{$id}_default").val("index.php?id="+val+"&cate="+val2);
		obj.$("#{$id}_rewrite").val(val+"/"+val2+".html");
	}
	$.dialog.close();
}
function go_back()
{
	$.phpok.go('{url ctrl=open func=url id=$id /}');
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<table width="100%" class="layui-table">
		<tr>
			<th class="id">ID</th>
			<th class="title">{lang分类名称}</th>
			<th style='width:80px;'>&nbsp;</th>
		</tr>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td class="center" height="25px">{$value.id}</td>
			<td>
				<!-- for($i=1;$i<$value[_layer];$i++) -->
				&nbsp;
				<!-- /for -->
				<!-- if $value[_layer]>0 -->
					├─
				<!-- /if -->
				{$value.title}<small class="gray i"> / {$value.identifier}</small>
				<!-- if !$value.status --><small class="red i"> / {lang未审核}</small><!-- /if -->
			</td>
			<td>
				<input type="button" value="{lang网址}" onclick="select_input('{$p_rs.identifier}','{$value.identifier}','{$value.title}')" class="layui-btn layui-btn-xs" />
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<div align="center" style="margin:10px;"><input type="button" value="{lang返回}" class="layui-btn" onclick="go_back()" /></div>
	</div>
</div>


<!-- include tpl=foot_lay -->
