<!-- inc:head_open -->
<script type="text/javascript">
function select_input(val,val2,title)
{
	var obj = $.dialog.opener;
	if(val == "index"){
		obj.$("#{$id},#{$id}_default").val("index.php");
		obj.$("#{$id}_rewrite").val("index.html");
	}else{
		var old = obj.$("#title").val();
		if(!old && old != 'undefined'){
			obj.$("#title").val(title)
		}
		obj.$("#{$id},#{$id}_default").val("index.php?id="+val+"&cate="+val2);
		obj.$("#{$id}_rewrite").val(val+"/"+val2+".html");
	}
	$.dialog.close();
}
function go_back()
{
	$.phpok.go('{url ctrl=open func=url id=$id /}');
}
</script>
<div class="list">
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th class="id">ID</th>
	<th class="title">分类名称</th>
	<th style='width:80px;'>操作</th>
</tr>
<!-- foreach($rslist AS $key=>$value) -->
<tr>
	<td class="center" height="25px">{$value.id}</td>
	<td style="text-align: left;padding-left:10px;">
		<table cellpadding="0" cellspacing="0" class="bdnone">
		<tr>
			<!-- for($i=1;$i<$value[_layer];$i++) -->
			<td class="cate_line">&nbsp;</td>
			<!-- /for -->
			<!-- if $value[_layer]>0 -->
				<td class="cate_middle">&nbsp;</td>
			<!-- /if -->
			<td><label for="id_{$value.id}">{$value.title}<span class="gray i">（{$value.identifier}）</span></label></td>
			<!-- if !$value[status] -->
			<td><span class="red i">未审核</span></td>			
			<!-- /if -->
			<!-- if($value[note]) -->
			<td class="cate_note">（{$value.note}）</td>
			<!-- /if -->
		</tr>
		</table>
	</td>
	<td>
		<a href="javascript:select_input('{$p_rs.identifier}','{$value.identifier}','{$value.title}');void(0)">提交</a>
	</td>
</tr>
<!-- /foreach -->
</table>
</div>
<div align="center" style="margin:10px;"><input type="button" value="返回" class="btn" onclick="go_back()" /></div>
<!-- inc:foot_open -->
