<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function select_input(val,title)
{
	var obj = $.dialog.opener;
	if(val == "index")
	{
		obj.$("#{$id}").val("index.php");
		obj.$("#{$id}_default").val("index.php");
		obj.$("#{$id}_rewrite").val("index.html");
	}
	else
	{
		var old = obj.$("#title").val();
		if(!old && old != 'undefined'){
			obj.$("#title").val(title)
		}
		obj.$("#{$id},#{$id}_default").val("{$sys.www_file}?id="+val);
		obj.$("#{$id}_rewrite").val(val+".html");
	}
	$.dialog.close();
}
function select_post(val,title)
{
	var obj = $.dialog.opener;
	obj.$("#{$id},#{$id}_default").val("{$sys.www_file}?{$sys.ctrl_id}=post&id="+val);
	obj.$("#{$id}_rewrite").val("post/"+val+".html");
	var old = obj.$("#title").val();
	if(!old && old != 'undefined'){
		obj.$("#title").val(title)
	}
	$.dialog.close();
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th class="id" height="30px">ID</th>
			<th class="title">{lang项目名称}</th>
			<th>{lang获取链接}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td>{$value.id}</td>
			<td>{$value.space}{$value.title}<span class="gray"> / {$value.identifier}</span></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang项目网址}" onclick="select_input('{$value.identifier}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- if $value.cate -->
					<a class="layui-btn layui-btn-sm" href="{url ctrl=open func=url pid=$value.id type=cate id=$id/}">分类</a>
					<!-- /if -->
					<!-- if $value.module -->
					<a class="layui-btn layui-btn-sm" href="{url ctrl=open func=url pid=$value.id type=list id=$id/}">内容</a>
					<!-- /if -->
					<!-- if $value.post_status -->
					<input type="button" value="{lang发布网址}" onclick="select_post('{$value.identifier}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- /if -->
					
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		
	</div>
</div>
<!-- include tpl=foot_lay is_open=true -->
