<!-- inc:head -->
<script type="text/javascript" src="{echo add_js('opt.js')}"></script>
<div class="tips">
	您当前的位置：
	<a href="{echo admin_url('opt')}">选项维护</a>
	&raquo; <a href="{echo admin_url('opt','list')}&group_id={$group_id}">选项组【<span class="red">{$rs.title}</span>】</a>
	<!-- $lead_list AS $key=>$value -->
	&raquo; <a href="{echo admin_url('opt','list')}&pid={$value.id}"><span class="red">{$value.title}</span></a>
	<!-- end -->
	&raquo; 内容维护
</div>

<div class="list">
<input type="hidden" id="parent_0" value="{$pid}" />
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="id">ID</th>
	<th>值</th>
	<th>显示</th>
	<th>排序</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th>删除</th>
</tr>
<!-- if $popedom.set -->
<tr>
	<td class="center">添加</td>
	<td class="center"><input type="text" id="val_0" class="width120" /></td>
	<td class="center"><input type="text" id="title_0" class="width120" /></td>
	<td class="center"><input type="text" id="taxis_0" value="255" class="short center" /></td>
	<td><input type="button" value="添加" class="btn" onclick="add_opt('{$rs.id}')" /></td>
	<td class="center" colspan="2">-</td>
</tr>
<!-- /if -->
<!-- loop from=$rslist key=$key value=$value -->
<tr{if $rslist_id.num%2 == ""} class="list"{/if}>
	<td class="center">{$value.id}</td>
	<td class="center"><input type="text" id="val_{$value.id}" value="{$value.val}" class="width120" /></td>
	<td class="center"><input type="text" id="title_{$value.id}" value="{$value.title}" class="width120" /></td>
	<td class="center"><input type="text" id="taxis_{$value.id}" value="{$value.taxis}" class="short center" /></td>
	<td><!-- if $popedom.set --><input type="button" value="更新" class="btn" onclick="update_opt({$value.id})" /><!-- /if --></td>
	<td><input type="button" value="子项" class="btn" onclick="son_opt({$value.id})" /></td>
	<td class="center"><!-- if $popedom.set --><input type="button" value="删除" class="btn" onclick="delete_opt({$value.id})" /><!-- /if --></td>
</tr>
<!-- /foreach -->
</table>
</div>
<!-- inc:pagelist -->

<!-- inc:foot -->