<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang表单选项}
		<div class="layui-btn-group fr">
			<input type="button" value="{lang添加新组}" onclick="$.admin_opt.group_add()" class="layui-btn layui-btn-sm" />
			<input type="button" value="{lang导入项目}" onclick="$.admin_opt.opt_import()" class="layui-btn layui-btn-sm" />
		</div>
	</div>
	<div class="layui-card-body">
		<table lay-even class="layui-table">
		<thead>
		<tr>
			<th width="30">ID</th>
			<th>{lang名称}</th>
			<th><i class="layui-icon layui-tips" lay-tips="{lang仅限用户自定义字段使用多选时有效，留空使用英文竖线}">&#xe702;</i> {lang连字符}</th>
			<th></th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td>{$value.id}</td>
			<td>{$value.title}</td>
			<td><!-- if $value.link_symbol -->{$value.link_symbol}<!-- /if --></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang内容}" onclick="$.win('{lang内容}_{$value.title}','{url ctrl=opt func=list group_id=$value.id/}');" class="layui-btn  layui-btn-sm" />
					<!-- if $popedom.set -->
					<input type="button" value="{lang导入}" onclick="$.admin_opt.opt_import('{$value.id}')" class="layui-btn  layui-btn-sm" />
					<!-- if $value._export --><input type="button" value="{lang导出}" onclick="$.admin_opt.opt_export('{$value.id}',true)" class="layui-btn  layui-btn-sm" /><!-- /if -->
					<input type="button" value="{lang编辑}" onclick="$.admin_opt.group_edit('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang删除}" onclick="$.admin_opt.group_delete('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm" />
					<!-- /if -->
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->