<!-- include tpl=head_lay nopadding=true -->
<div class="layui-card">
	<div class="layui-card-header" style="padding:5px 5px 0 5px;">
		<form method="post" id="postsave" class="layui-form" onsubmit="return $.admin_order_express.save()">
		<input type="hidden" name="id" id="id" value="{$rs.id}" />
		<ul class="layout">
			<li>
				<select name="express_id" id="express_id">
					<option value="">{lang请选择物流公司}</option>
					<!-- loop from=$expresslist key=$key value=$value id=$tmpid -->
					<option value="{$value.id}">{$value.title}</option>
					<!-- /loop -->
				</select>
			</li>
			<li><input type="text" name="code" id="code" class="layui-input" placeholder='{lang快递单号}' /></li>
			<li><input type="submit" value="{lang添加}" class="layui-btn" /></li>
		</ul>
		</form>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>{lang单号}</th>
			<th>{lang信息}</th>
			<th>{lang公司名称}</th>
			<th>{lang时间}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td>{$value.code}</td>
			<td>{$value.title}</td>
			<td>{$value.company}</td>
			<td>{func date "Y-m-d H:i" $value.addtime}</td>
			<td>
				<!-- if !$value.is_end -->
				<div><input type="button" value="{lang远程更新数据}" onclick="$.admin_order_express.remote('{$value.id}')" class="layui-btn layui-btn-sm" /></div>
				<!-- /if -->
				<div class="mtop"><input type="button" value="{lang删除记录}" onclick="$.admin_order_express.del('{$value.id}')" class="layui-btn layui-btn-sm" /></div>
			</td>
		</tr>
		<!-- loop from=$value.invoicelist key=$k value=$v -->
		<tr>
			<td>{$value.code}</td>
			<td>{$v.note}</td>
			<td>{$v.who}</td>
			<td>{func date "Y-m-d H:i" $v.addtime}</td>
			<td></td>
		</tr>
		<!-- /loop -->
		<!-- /loop -->
		</table>
	</div>
</div>

<!-- include tpl=foot_lay -->