<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function add_pro(id)
{
	var obj = $.dialog.opener;
	obj.load_product(id);
	$.dialog.close();
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" class="layui-form" action="{$formurl}">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang搜索}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="keywords" name="keywords" value="{$keywords}" placeholder="{lang请输入产品关键字}" class="layui-input" />
			</div>
			<div class="layui-input-inline auto"><input type="submit" value="搜索" class="layui-btn" /></div>
		</div>
		</form>
		<table class="layui-table">
			<thead>
			<tr>
				<th>{lang名称}</th>
				<th>{lang价格}</th>
				<th>{lang添加时间}</th>
				<th>{lang操作}</th>
			</tr>
			</thead>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
			<tr>
				<td>{$value.title}</td>
				<td>{func price_format $value.price $value.currency_id $currency_id}</td>
				<td>{func date "Y-m-d H:i" $value.dateline}</td>
				<td><input type="button" class="layui-btn layui-btn-sm" value="{lang添加}" onclick="add_pro({$value.id})" /></td>
			</tr>
			<!-- /loop -->
		</table>
		<!-- if $pagelist --><div class="center"><!-- include tpl=pagelist --></div><!-- /if -->
	</div>
</div>



<!-- include tpl=foot_lay -->