<!-- php:$title = $id ? '编辑订单' : '添加新订单' --><!-- include tpl=head title=$title -->
<script type="text/javascript" src="{func add_js order.js,pcas.js}"></script>
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<script type="text/javascript">
var is_id = '{$id}';
$(document).ready(function(){
$("#ordersave").submit(function(){
	$(this).ajaxSubmit({
		'url':get_url('order','save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			//订单状态为否时
			if(rs.status != 'ok')
			{
				if(!rs.content) rs.content = '提交失败';
				$.dialog.alert(rs.content);
				return false;
			}
			//订单操作成功的提示
			if(is_id)
			{
				$.dialog.alert('订单：<span class="red">{$rs.sn}</span> 编辑成功');
			}
			else
			{
				var sn = $("#sn").val();
				$.dialog.alert("订单创建成功，编号是：<span class='red'>"+sn+"</span>",function(){
					$.phpok.reload();
				});
			}
		}
	});
	return false;
});
});
function update_price()
{
	var val = 0;
	$("input[class=price]").each(function(){
		var t = $(this).val();
		t = parseFloat(t);
		if(t>0)
		{
			val = val + t;
		}
	});
	$("#price").val(val.toString());
}
</script>
<div class="tips">
	<a href="{func admin_url order}" title="订单管理">订单管理</a>
	&raquo; <!-- if $id -->编辑订单<!-- else -->添加新订单<!-- /if -->
</div>
<form method="post" id="ordersave">
<!-- if $id -->
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="table">
	<div class="title">
		订单编号：
		<span class="red b">{$rs.sn}</span>
	</div>
</div>
<!-- else -->
<div class="table">
	<div class="title">
		订单编号：
		<span class="note">这里创建的订单编号不受网站信息里规则限制，是随机的，请慎用</span>
	</div>
	<div class="content">
		<input type="text" id="sn" name="sn" class="default" value="{$rs.sn}" />
		<input type="button" value="随机创建" onclick="update_sn()" class="btn" />
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	update_sn();
});
</script>
<!-- /if -->
<div class="table">
	<div class="title">
		查看密码：
		<span class="note">该项用于游客查看订单的凭证，无此凭证只能查看订单的状态（是否审核，是否付款）</span>
	</div>
	<div class="content">
		<input type="text" id="passwd" name="passwd" class="long" value="{$rs.passwd}" />
		<input type="button" value="随机生成" onclick="update_passwd()" class="btn" />
	</div>
</div>
<div class="table">
	<div class="title">
		订单金额：
		<span class="note">提交订单前，请先计算产品总额，注意货币单位</span>
	</div>
	<div class="content">
		<input type="text" id="price" name="price" value="{$rs.price}" />
		<select name="currency_id" id="currency_id">
		<!-- loop from=$currency_list key=$key value=$value -->
		<option value="{$value.id}"{if $rs.currency_id == $value.id} selected{/if}>{$value.title}（标识：{$value.code}，汇率：{$value.val}）</option>
		<!-- /loop -->
		</select>
		<input type="button" value="根据产品计算价格" onclick="update_price()" class="btn" />
	</div>
</div>

<div class="table">
	<div class="title">
		订单状态：
		<span class="note">已完成订单在前台将不能执行付款，删除，退款等操作</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><label><input type="radio" name="pay_end" value="0"{if !$rs.pay_status} checked{/if} />进行中</label></td>
			<td><label><input type="radio" name="pay_end" value="1"{if $rs.pay_status} checked{/if} />已完成</label></td>
			<td>&nbsp; &nbsp; 状态说明：</td>
			<td><input type="text" id="status" name="status" value="{$rs.status}" /></td>
			<td style="padding-left:10px;">
				<select onchange="$('#status').val(this.value);">
					<option value="">请选择……</option>
					<option>审核中</option>
					<option>已审核</option>
					<option>已确认</option>
					<option>已完成</option>
				</select>
			</td>
		</tr>
		</table>
	</div>
</div>


<div class="table">
	<div class="title">
		会员：
		<span class="note">指定会员ID，为空表示游客下单</span>
	</div>
	<div class="content">
		{func form_edit user_id $rs.user_id user}
	</div>
</div>
<div class="table_lc" style="margin-top:5px;margin-right:3px;">
<table width="100%" id="prolist">
<tr class="prolist">
	<th width="80px">产品图片</th>
	<th>产品名称/产品单价</th>
	<th width="60px" width="60px">购买数量</th>
	<th width="50px" ><input type="button" value="增加产品" onclick="add_row()" class="btn" /></th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr id="pro_{$rslist_id.num}" class="prolist">
	<input type="hidden" name="pro_id[]" value="{$value.id}" />
	<input type="hidden" name="pro_tid[]" value="{$value.tid}" class="p_proid" id="pro_tid_{$rslist_id.num}" />
	<input type="hidden" name="pro_thumb[]" value="{$value.thumb.id}" id="pro_thumb_{$rslist_id.num}" />
	<td widtha="90px" align="center" id="pro_thumb_view_{$rslist_id.num}"><img src="{$value.thumb.ico}" style="cursor:pointer;" onclick="update_pic('{$rslist_id.num}')" width="80px" height="80px" border="0" /></td>
	<td>
		<table>
			<tr>
				<td><input type="text" name="pro_title[]" id="pro_title_{$value.id}" class="long" value="{$value.title}" /></td>
			</tr>
			<tr>
				<td><input type="text" name="pro_price[]" class="price" id="pro_price_{$rslist_id.num}" value="{$value.price}" /> <input type="button" value="选择产品" onclick="pro_select('{$rslist_id.num}')" class="btn" /></td>
			</tr>
		</table>
	</td>
	<td class="center"><input type="text" name="pro_qty[]" class="qty" id="pro_qty_{$rslist_id.num}" value="{$value.qty}" /></td>
	<td class="center"><input type="button" value="删除" onclick="order_pro_delete({$value.id})" class="btn" /></td>
</tr>
<!-- /loop -->
</table>
</div>
<div class="tips clearfix">收货地址</div>
<input type="hidden" name="s-id" value="{$shipping.id}" />
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">收件人姓名：</td>
		<td><input type="text" name="s-fullname" id="s-fullname" value="{$shipping.fullname}" /></td>
		<td>&nbsp; &nbsp;性别：</td>
		<td><label><input type="radio" name="s-gender" value="0"{if !$shipping.gender} checked{/if} />女</label></td>
		<td><label><input type="radio" name="s-gender" value="1"{if $shipping.gender} checked{/if} />男</label></td>
	</tr>
	</table>
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">地址：</td>
		<td><select name="s-country"><option value="中国">中国</option></select></td>
		<td><select name="s-province"></select></td>
		<td><select name="s-city"></select></td>
		<td><select name="s-county"></select></td>
	</tr>
	</table>
	<script type="text/javascript">
	$(document).ready(function(){
		new PCAS("s-province={$shipping.province}","s-city={$shipping.city}","s-county={$shipping.county}");
	});
	</script>
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">&nbsp;</td>
		<td><input type="text" id="s-address" name="s-address" class="long" value="{$shipping.address}" /></td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">邮编：</td>
		<td><input type="text" id="s-zipcode" name="s-zipcode" value="{$shipping.zipcode}" /></td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">联系电话：</td>
		<td><input type="text" id="s-tel" name="s-tel" value="{$shipping.tel}" class="default" /></td>
		<td class="gray i">电话号码，格式：0755-12345678</td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">手机号：</td>
		<td><input type="text" id="s-mobile" name="s-mobile" value="{$shipping.mobile}" class="default" /></td>
		<td class="gray i">手机，格式：13xxxxxxxxx，长度是11位</td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">Email：</td>
		<td><input type="text" id="s-email" name="s-email" value="{$shipping.email}" class="default" /></td>
		<td class="gray i">邮箱，可用于手工客户订单状态</td>
	</tr>
	</table>	
</div>
<!-- if $site_rs.biz_billing || $billing -->
<div class="tips">
	<table width="100%">
	<tr>
		<td>账单地址，用于接收该笔订单的收据，发票等信息，一般填写您付款的信用卡地址信息，适用于外贸及给朋友送礼物时接收这一类信息</td>
		<td align="right"><!-- <input type="button" value="获取会员地址" onclick="get_billing()" class="btn" /> --></td>
	</tr>
	</table>
</div>
<input type="hidden" name="b-id" value="{$billing.id}" />
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">姓名：</td>
		<td><input type="text" name="b-fullname" id="b-fullname" value="{$billing.fullname}" /></td>
		<td>&nbsp; &nbsp;性别：</td>
		<td><label><input type="radio" name="b-gender" value="0"{if !$billing.gender} checked{/if} />女</label></td>
		<td><label><input type="radio" name="b-gender" value="1"{if $billing.gender} checked{/if} />男</label></td>
	</tr>
	</table>
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">地址：</td>
		<td><select name="b-country"><option value="中国">中国</option></select></td>
		<td><select name="b-province"></select></td>
		<td><select name="b-city"></select></td>
		<td><select name="b-county"></select></td>
	</tr>
	</table>
	<script type="text/javascript">
	$(document).ready(function(){
		new PCAS("b-province={$billing.province}","b-city={$billing.city}","b-county={$billing.county}");
	});
	</script>
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">&nbsp;</td>
		<td><input type="text" id="b-address" name="b-address" class="long" value="{$billing.address}" /></td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">邮编：</td>
		<td><input type="text" id="b-zipcode" name="b-zipcode" value="{$billing.zipcode}" /></td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">联系电话：</td>
		<td><input type="text" id="b-tel" name="b-tel" value="{$billing.tel}" class="default" /></td>
		<td class="gray i">电话号码，格式：0755-12345678</td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">手机号：</td>
		<td><input type="text" id="b-mobile" name="b-mobile" value="{$billing.mobile}" class="default" /></td>
		<td class="gray i">手机，格式：13xxxxxxxxx，长度是11位</td>
	</tr>
	</table>	
</div>
<div class="table">
	<table>
	<tr>
		<td width="130px" align="right">Email：</td>
		<td><input type="text" id="b-email" name="b-email" value="{$billing.email}" class="default" /></td>
		<td class="gray i">邮箱，可用于手工客户订单状态</td>
	</tr>
	</table>	
</div>
<!-- /if -->
<div class="tips clearfix">付款信息信息</div>
<div class="table">
	<div class="title">
		付款金额：
		<span class="note">请填写客户实际支付的金额，为空将使用 <span class="red">订单金额</span>。货币类型会根据支付类型自动匹配</span>
	</div>
	<div class="content">
		<input type="text" id="pay_price" name="pay_price" value="{$rs.pay_price}" />
		<input type="button" value="读订单金额" onclick="$('#pay_price').val($('#price').val());" class="btn" />
	</div>
</div>
<div class="table">
	<div class="title">
		付款时间：
		<span class="note">设置付款时间，为空使用系统当前时间：{func date "Y-m-d H:i" $app->time}</span>
	</div>
	<div class="content">
		<input type="text" id="pay_date" name="pay_date" value="{$rs.pay_date ? date('Y-m-d H:i:s',$rs.pay_date) : ''}" onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
	</div>
</div>
<div class="table">
	<div class="title">
		付款方式：
		<span class="note">请选择一种付款方式</span>
	</div>
	<div class="content">
		<select name="pay_id">
			<!-- loop from=$paylist key=$key value=$value -->
			<!-- if $value.paylist -->
			<optgroup label="{$value.title}">
				<!-- loop from=$value.paylist key=$k value=$v -->
				<option value="{$v.id}"{if $v.id == $rs.pay_id} selected{/if}>{$v.title}（货币：{$v.currency}）</option>
				<!-- /loop -->
			</optgroup>
			<!-- /if -->
			<!-- /loop -->
		</select>
	</div>
</div>
<div class="table">
	<div class="title">
		付款状态：
		<span class="note">设置付款状态信息，仅用于显示</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><input type="text" id="pay_status" name="pay_status" value="{$rs.pay_status}" /></td>
			<td style="padding-left:10px;">
				<select onchange="$('#pay_status').val(this.value);">
					<option value="">请选择……</option>
					<option>等待付款</option>
					<option>待款中</option>
					<option>已付款</option>
				</select>
			</td>
		</tr>
		</table>
	</div>
</div>

<div class="tips">订单说明，这里可填写一些客户的特殊要求说明，不支持HTML</div>
<div class="table">
	<div class="content">
		<textarea name="note" id="note" style="width:700px;height:80px;">{$rs.note}</textarea>
	</div>
</div>

<div class="table">
	<div class="content">
		<input type="submit" value="提 交" class="submit2" />
	</div>
</div>
</form>

<!-- include tpl=foot -->