<!-- inc:head -->
<script type="text/javascript" src="{func add_js order.js}"></script>
<script type="text/javascript">
function www_show(sn,passwd)
{
	var url = "{$sys.url}{$sys.www_file}?{$sys.ctrl_id}=order&{$sys.func_id}=info";
	url += "&sn="+sn+"&passwd="+passwd;
	window.open(url);
}
$(document).ready(function(){
	$(".status").each(function(){
		if($(this).text() == '未审核'){
			$(this).addClass('darkblue');
		}
	});
	$(".pay_status").each(function(){
		if($(this).text() == '未付款'){
			$(this).addClass('red');
		}
	});
	top.$.desktop.title('订单管理');
});
</script>
<div class="tips">
	<table width="100%" cellpadding="0" cellspacing="0" height="100%">
	<tr>
		<td>&raquo; 订单列表</td>
		<td>
			<table>
			<tr>
				<form method="post" action="{func admin_url order}">
				<td>
					<select name="status">
					<option value="">全部</option>
					<!-- loop from=$statuslist key=$key value=$value id=$tmpid -->
					<option value="{$key}"{if $key == $status} selected{/if}>{$value}</option>
					<!-- /loop -->
					</select>
				</td>
				<td><input type="text" id="keywords" name="keywords" value="{$keywords}" /></td>
				<td><input type="submit" value="搜索" class="submit" /></td>
				</form>
			</tr>
			</table>
		</td>
		<td align="right">
			<div class="action"><a href="{url ctrl=order func=set/}">创建新订单</a></div>
		</div>
	</tr>
	</table>
</div>

<table width="100%" class="list" cellpadding="0" cellspacing="0">
<tr>
	<th width="70px">ID</th>
	<th class="lft">&nbsp;编号</th>
	<th class="lft">&nbsp;会员</th>
	<th class="lft">&nbsp;金额</th>
	<th>状态</th>
	<th class="lft">付款</th>
	<th width="130px">创建时间</th>
	<th>操作</th>
</tr>
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->

<tr>
	<td align="center"{if $value.pay_status == 'PAID'} rowspan="2"{/if}>{$value.id}</td>
	<td>{$value.sn}</td>
	<td>{$value.user}</td>
	<td>{func price_format $value.price $value.currency_id $value.currency_id}</td>
	<td align="center" class="status">{$statuslist[$value.status] ? $statuslist[$value.status] : $value.status}</td>
	<td class="pay_status">
		<!-- if $value.pay_title -->{$value.pay_title}：<!-- /if -->
		<!-- if $value.pay_price && $value.pay_dateline --><span class="darkblue">{func price_format $value.pay_price $value.currency_id $value.currency_id}</span>，付款时间：<span class="darkblue">{func date "Y-m-d H:i" $value.pay_dateline}</span><!-- /if -->
	</td>
	<td align="center">{func date "Y-m-d H:i" $value.addtime}</td>
	<td align="center">
		<input type="button" value="查看" onclick="www_show('{$value.sn}','{$value.passwd}')" class="btn" />
		<input type="button" value="物流快递" onclick="order_express({$value.id},'{$value.sn}')" class="btn" />
		<!-- if $popedom.modify -->
		<input type="button" value="编辑" onclick="order_edit({$value.id})" class="btn" />
		<!-- /if -->
		<!-- if $popedom.delete -->
		<input type="button" value="删除" onclick="order_delete({$value.id},'{$value.sn}')" class="btn" />
		<!-- /if -->
	</td>
</tr>
<!-- /loop -->
</table>
<!-- include tpl=pagelist -->

<!-- inc:foot -->