<!-- if $pagelist -->
<div class="layui-box layui-laypage layui-laypage-default">
	<!-- loop from=$pagelist key=$key value=$value id=$idx -->
		<!-- if $value.type != 'opt' -->
			<!-- if $value.type == 'add' -->
			<span>{$value.title}</span>
			<!-- else -->
			<a{if $value.url} href="{$value.url}"{/if} {if $value.status} class="current"{/if}>{$value.title}</a>
			<!-- /if -->

		<!-- /if -->
		<!-- if $value.type == 'opt' -->
			<select onchange="$.phpok.go('{$value.url}'+this.value)">
				<!-- loop from=$value.title key=$k value=$v id=$idxx -->
				<option value="{$v.value}"{if $v.status} selected{/if}>{$v.title}</option>
				<!-- /loop -->
			</select>
		<!-- /if -->
	<!-- /loop -->
	<input type="number" name="go_to_page" id="go_to_page" value="{$get.pageid}" class="short" min="0" max="{$total_page}"  />
	<button type="button" onclick="go_to_page_action()" class="layui-btn layui-btn-xs" style="background-color:#1E9FFF;border:0;">GO</button>
</div>
<!-- /if -->