<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang支付管理}
		<div class="fr">
			<a href="{url ctrl=payment func=groupset /}" class="layui-btn layui-btn-sm" >{lang创建组}</a>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>{lang名称}</th>
			<th>{lang排序}</th>
			<th>{lang操作}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<thead>
		<tr>
			<td>{$value.title}
				<!-- if !$value.status --> <span class="gray i">{lang停用}</span><!-- /if -->
				<!-- if $value.is_wap --><span class="red">{lang手机端}</span><!-- /if -->
			</td>
			<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}" onclick="$.admin_payment.taxis(this)" type="group">{$value.taxis}</div></td>
			<td>
				<div class="layui-btn-group">
					<!-- if $popedom.groupedit --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=payment func=groupset id=$value.id/}')" class="layui-btn  layui-btn-sm" /><!-- /if -->
					<!-- if $popedom.groupdelete --><input type="button" value="{lang删除}" onclick="$.admin_payment.group_delete('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm layui-btn-danger" /><!-- /if -->
					<!-- if $popedom.add --><input type="button" value="添加支付方案" onclick="$.admin_payment.add('{$value.id}')" class="layui-btn  layui-btn-sm layui-btn-normal" /><!-- /if -->
				</div>
			</td>
		</tr>
		</thead>
		<!-- loop from=$value.paylist key=$k value=$v -->
		<tr>
			<td>
				<div style="padding-left:2em;">{$v.title}
					<!-- if !$v.status --><span class="gray i">{lang停用}</span><!-- /if -->
					<!-- if $v.wap --><span class="red">{lang手机端}</span><!-- /if -->
				</div>
			</td>
			<td>
				<div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$v.id}" onclick="$.admin_payment.taxis(this)" type="payment">{$v.taxis}</div>
			</td>
			<td>
				<div class="layui-btn-group">
					<!-- if $popedom.edit --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=payment func=set id=$v.id/}')" class="layui-btn  layui-btn-sm" /><!-- /if -->
					<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="$.admin_payment.del('{$v.id}','{$v.title}')" class="layui-btn  layui-btn-sm layui-btn-danger" /><!-- /if -->
				</div>
			</td>
		</tr>	
		<!-- /loop -->
		<!-- /loop -->
		</table>
	</div>
</div>

<div class="hide" id="payment_select_info">
<select id="code">
	<!-- loop from=$codelist key=$key value=$value -->
	<option value="{$value.id}">{$value.title}</option>
	<!-- /loop -->
</select>
</div>
<!-- include tpl=foot_lay -->