<!-- inc:head -->
<script type="text/javascript" src="{echo add_js('call.js')}"></script>
<div class="tips">
	<!-- if $popedom.add -->
	<div class="action"><a href="{echo admin_url('call','set')}">添加调用</a></div>
	<!-- /if -->
	您当前的位置：<a href="{echo admin_url('call')}" title="调用列表">调用列表</a>
</div>
<div class="list">
<table class="list" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="w50">ID</th>
	<th class="lft">名称</th>
	<th class="lft">类型</th>
	<th class="lft">关联的项目</th>
	<th class="lft">关联的分类</th>
	<th class="w150 lft">参数变量</th>
	<th>&nbsp;</th>
</tr>
<!-- foreach($rslist AS $key=>$value) -->
<tr>
	<td class="center">{$value.id}</td>
	<td>{$value.title}</td>
	<td>{$phpok_type_list[$value.type_id].title}</td>
	<td>{$value.project ? $value.project : '-'}</td>
	<td>{$value.cate ? $value.cate : '-'}</td>
	<td>{$value.identifier}</td>
	<td>
		<div class="button-group">
			<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=call func=set id=$value.id/}')" class="phpok-btn" /><!-- /if -->
			<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="call_del('{$value.id}','{$value.title}')" class="phpok-btn" /><!-- /if -->
		</div>
	</td>
</tr>
<!-- /foreach -->
</table>
</div>
<div class="table"><!-- inc:pagelist --></div>

<!-- inc:foot -->