<!-- include tpl=head_lay -->
<div id="create_plugin_html" style="display:none">
	<div class="layui-fluid">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">{lang插件名称}</label>
				<div class="layui-input-inline" style="width: 350px;">
					<input type="text" id="plugin_name" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">{lang设置插件的名称}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang插件标识}</label>
				<div class="layui-input-inline" style="width: 350px;">
					<input type="text" id="plugin_id" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">{lang限英文字母和数字，为空由系统生成32位长度字串}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang插件功能}</label>
				<div class="layui-input-inline" style="width: 350px;">
					<input type="text" id="plugin_note" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">{lang简单一句话描述这个插件做什么}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang开发者}</label>
				<div class="layui-input-inline" style="width: 350px;">
					<input type="text" id="plugin_author" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">{lang设置这个插件的开发人员或团队}</div>
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">
		{lang已安装的插件}
		<div class="layui-btn-group fr">
			<button class="layui-btn layui-btn-sm" onclick="$.admin_plugin.create()">
				<i class="layui-icon">&#xe608;</i> {lang创建插件}
			</button>
			<button class="layui-btn layui-btn-sm" onclick="$.admin_plugin.upload()">
				<i class="layui-icon">&#xe67c;</i> {lang本地上传插件}
			</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table" lay-size="sm">
			<thead>
			<tr>
				<th>{lang序号}</th>
				<th>{lang状态}</th>
				<th>{lang标识}</th>
				<th>{lang名称}</th>
				<th class="center">{lang排序}</th>
				<th>{lang操作}</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value id=$idx -->
			<tr>
				<td>{$idx.num}</td>
				<td>
					<span class="status{$value.status}" id="status_{$key}" onclick="$.admin_plugin.status('{$key}')" value="{$value.status}"></span>
				</td>
				<td>{$key}</td>
				<td>{$value.title} <!-- if $value.note --><span class="gray i">（{$value.note}）</span><!-- /if --></td>
				<td class="center pointer" onclick="$.admin_plugin.taxis('{$value.id}','{$value.taxis}')">{$value.taxis}</td>
				<td>
					<div class="layui-btn-group">
						<!-- if $popedom.config -->
						<!-- if $value.extconfig --><input type="button" value="{lang配置}" class="layui-btn layui-btn-sm" onclick="$.admin_plugin.config('{$key}','{$value.title}')" /><!-- /if -->
						<input type="button" value="{lang管理}" class="layui-btn layui-btn-sm" onclick="$.admin_plugin.setting('{$key}','{$idx.num}')" />
						<input type="button" value="{lang导出}" class="layui-btn layui-btn-sm" onclick="$.admin_plugin.tozip('{$key}')" />
						<!-- /if -->
						<!-- if $popedom.uninstall -->
						<input type="button" value="{lang卸载}" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.admin_plugin.uninstall('{$key}','{$value.title}')" />
						<!-- /if -->
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- if $popedom.install -->
<div class="layui-card">
	<div class="layui-card-header">{lang未安装插件}</div>
	<div class="layui-card-body">
		<table class="layui-table" lay-size="sm">
			<thead>
			<tr>
				<th>{lang名称}</th>
				<th>{lang标识}</th>
				<th>{lang摘要}</th>
				<th>{lang操作}</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$not_install key=$key value=$value -->
			<tr>
				<td>{$value.title}</td>
				<td>{$key}</td>
				<td>{$value.note ? $value.note : $value.desc}</td>
				<td><input  type="button" value="{lang安装}" onclick="$.admin_plugin.install('{$key}','{$value.title}')" class="layui-btn  layui-btn-sm"></td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- /if -->

<!-- include tpl=foot_lay -->