<!-- include tpl=head_lay -->
<form method="post" class="layui-form" id="{$ext_module}" onsubmit="return $.admin_project.extinfo_save('{$ext_module}')">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-header">{lang扩展字段}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang名称}</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-input-inline auto gray">{lang设置名称，该名称将在网站前台导航中使用}</div>
		</div>
		<!-- loop from=$extlist key=$key value=$value id=$tmpid -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{$value.title}
				<div class="darkblue"><small>[{$value.identifier}]</small></div>
			</label>
			<!-- if $value.note --><div class="layui-input-block gray" style="line-height:38px;">{$value.note}</div><!-- /if -->
			<div class="layui-input-block">
				{$value.html}
			</div>
			<!-- if $popedom.ext && $session.adm_develop -->
			<div class="layui-input-block mtop">
				<div class="layui-btn-group">
					<!-- if $ext_module != 'add-cate' -->
					<input type="button" value="{lang编辑}" class="layui-btn layui-btn-xs" onclick="ext_edit('{$value.identifier}','{$ext_module}')" />
					<!-- /if -->
					<input type="button" value="{lang删除}" class="layui-btn layui-btn-xs layui-btn-normal" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')" />
				</div>
			</div>
			<!-- /if -->
		</div>
		<!-- /loop -->
		<!-- if $popedom.ext -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang扩展字段}</label>
			<div class="layui-input-inline long" id="_quick_insert" data-module="{$ext_module}"></div>
		</div>
		<!-- /if -->
	
	</div>
</div>
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang保存数据}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang关闭}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
		<span style="padding-left:2em;color:#ccc;">保存不会关闭页面，请手动关闭</span>
	</div>
</div>

</form>
<!-- include tpl=foot_lay -->