<!-- include tpl=head_open -->
<script type="text/javascript" src="{func include_js}"></script>
<div class="help">
	<div class="title red">
		{$title_rs.title}
		<span class="darkblue i">（发布时间：{echo date("Y-m-d H:i:s",$title_rs.dateline)}）</span>
	</div>
	<!-- if $title_rs.content -->
	<div class="content">{func phpok_cut $title_rs.content 255 …}</div>
	<!-- /if -->
</div>
<script type="text/javascript">
function save()
{
	var url = get_url('reply','edit_save','id={$id}');
	var star = $("input[name=star]:checked").val();
	if(!star){
		$.dialog.alert('{lang星级评等不能为空}');
		return false;
	}
	url += "&star="+star;
	var content = edit_content.getContent();
	if(!content){
		$.dialog.alert("内容不能为空");
		return false;
	}
	url += "&content="+$.str.encode(content);
	var status = $("input[name=status]:checked").val();
	url += "&status="+status;
	var info = $.phpok.json(url);
	if(info.status == 'ok'){
		return true;
	}else{
		$.dialog.alert(info.content);
		return false;
	}
}
</script>
<form method="post" onsubmit="return false">
<div class="table">
	<div class="title">
		评论星级：
		<span class="note">设置该评论的星级数，默认为3星</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="1">
		<tr>
			<td><input type="radio" name="star" id="star_1" value="1"{if $rs.star == 1} checked{/if}></td>
			<td><label for="star_1">一星</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="star" id="star_2" value="2"{if $rs.star == 2} checked{/if}></td>
			<td><label for="star_2">二星</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="star" id="star_3" value="3"{if $rs.star == 3 || !$rs.star} checked{/if}></td>
			<td><label for="star_3">三星</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="star" id="star_4" value="4"{if $rs.star == 4} checked{/if}></td>
			<td><label for="star_4">四星</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="star" id="star_5" value="5"{if $rs.star == 5} checked{/if}></td>
			<td><label for="star_5">五星</label></td>
		</tr>
		</table>
	</div>
</div>
<div class="table">
	<div class="title">
		评论内容：
		<span class="note">一般情况不用修改。</span>
	</div>
	<div class="content">{$edit_content}</div>
</div>
<div class="table">
	<div class="title">
		审核：
		<span class="note"></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="1">
		<tr>
			<td><input type="radio" name="status" id="status_0" value="0"{if !$rs.status} checked{/if}></td>
			<td><label for="status_0" class="red">未审核</label></td>
			<td>&nbsp;</td>
			<td><input type="radio" name="status" id="status_1" value="1"{if $rs.status} checked{/if}></td>
			<td><label for="status_1">已审核</label></td>
		</tr>
		</table>
	</div>
</div>
</form>
<!-- inc:foot_open -->