<!-- include tpl=head_lay nopadding=true -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<input type="hidden" name="id" value="{$rs.id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang评论内容}
			</label>
			<div class="layui-input-block" style="border:1px dotted #ccc;padding:10px;">
				{$rs.content}
			</div>
			<div class="layui-input-block mtop">{lang评论时间} {func date 'Y-m-d H:i:s' $rs.addtime}</div>
		</div>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang回复}_{$tmpid.num}
			</label>
			<div class="layui-input-block" style="border:1px dotted #ccc;padding:10px;">
				{$value.content}
			</div>
			<div class="layui-input-block mtop">{lang回复时间} {func date 'Y-m-d H:i:s' $value.addtime}</div>
		</div>
		<!-- /loop -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang新回复}
			</label>
			<div class="layui-input-block">
				{$edit_content}
			</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->