<!-- include tpl=head_lay nopadding=true -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<input type="hidden" name="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="help">
			<div class="title red">
				{$rs.title}
				<!-- if $title_rs --><span class="darkblue i">{lang发布时间} {func date 'Y-m-d H:i:s' $title_rs.dateline}</span><!-- /if -->
			</div>
			<!-- if $title_rs && $title_rs.content -->
			<div class="content">{func phpok_cut $title_rs.content 255 …}</div>
			<!-- /if -->
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang评论星级}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="star" id="star_1" value="1"{if $rs.star == 1} checked{/if} title="{lang一星}" />
				<input type="radio" name="star" id="star_2" value="2"{if $rs.star == 2} checked{/if} title="{lang二星}">
				<input type="radio" name="star" id="star_3" value="3"{if !$rs.star || $rs.star == 3} checked{/if} title="{lang三星}">
				<input type="radio" name="star" id="star_4" value="4"{if $rs.star == 4} checked{/if} title="{lang四星}">
				<input type="radio" name="star" id="star_5" value="5"{if $rs.star == 5} checked{/if} title="{lang五星}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang附件图片}
			</label>
			<div class="layui-input-block">
				{$res_content}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang评论内容}
			</label>
			<div class="layui-input-block">
				{$edit_content}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang审核状态}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="status" id="status_0" value="0"{if !$rs.status} checked{/if} title="{lang未审核}" />
				<input type="radio" name="status" id="status_1" value="1"{if $rs.status} checked{/if} title="{lang已审核}" />
			</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->