<!-- if $popedom.pl -->
<div class="action"><a href="{url ctrl=res func=pl/}">批处理</a></div>
<div class="action"><a href="javascript:update_pl_pictures();void(0);">图片全部更新</a></div>
<!-- /if -->
<!-- if $popedom.gd -->
<div class="action"><a href="{url ctrl=res func=gd/}">GD方案</a></div>
<!-- /if -->
<!-- if $popedom.cate -->
<div class="action"><a href="{url ctrl=res func=cate/}">资源分类</a></div>
<!-- /if -->
<div class="action"><a href="{url ctrl=res func=add/}">添加资源</a></div>
<!-- if $sys.func != 'index' -->
<div class="action"><a href="{url ctrl=res/}">资源管理</a></div>
<!-- /if -->
