<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<div class="table">
	<div class="title">
		{lang忽略域名：}<span class="note">{lang请填写图片不需要本地化的域名，一行一个域名，网站自身域名自动忽略}</span>
	</div>
	<div class="content">
		<textarea name="domain1" id="domain1" class="long" style="height:160px">{$rs.domain1}</textarea>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang本地化的域名：}<span class="note">{lang全部都要请填写星号，一行一个域名}</span>
	</div>
	<div class="content">
		<textarea name="domain2" id="domain2" class="long" style="height:160px">{$rs.domain2}</textarea>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->