<!-- include tpl=head -->
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<script type="text/javascript">
//删除附件信息
function file_delete(id)
{
	$.dialog.confirm('{lang确定要删除此附件吗？删除后不能恢复}<br />附件ID：<span class="red">'+id+'</span>',function(){
		url = "{url ctrl=upload func=delete/}&id="+id;
		$.phpok.json(url,function(rs){
			if(rs.status == 'ok'){
				$.phpok.reload();
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		})
	});
}
function preview_attr(id)
{
	$.dialog.open(get_url('upload','preview','id='+id),{
		'title':'预览附件信息',
		'width':'700px',
		'height':'400px',
		'lock':true,
		'okVal':'关闭',
		'ok':function(){}
	});
}
function modify(id)
{
	$.dialog.open(get_url('res','set','id='+id),{
		'title':'编辑附件信息',
		'width':'700px',
		'height':'400px',
		'lock':true,
		'okVal':'提交',
		'ok':function(){
			var iframe = this.iframe.contentWindow;
			if (!iframe.document.body) {
				alert('iframe还没加载完毕呢');
				return false;
			};
			iframe.save();
			return false;
		},
		'cancelVal':'取消修改',
		'cancel':function(){}
	});
}
function add_file()
{
	$.dialog.open(get_url('res','add'),{
		'title':'添加附件信息',
		'width':'700px',
		'height':'400px',
		'lock':true,
		'ok':function(){
			var iframe = this.iframe.contentWindow;
			if (!iframe.document.body) {
				alert('iframe还没加载完毕呢');
				return false;
			};
			iframe.save();
			return false;
		},
		'okVal':'执行附件上传',
		'cancelVal':'取消上传并关闭',
		'cancel':function(){
			var iframe = this.iframe.contentWindow;
			if (!iframe.document.body) {
				alert('iframe还没加载完毕呢');
				return false;
			};
			iframe.cancel();
			return true;
		}
	});
}
function update_pl_pictures()
{
	var qc = confirm('确定要全部更新图片吗？执行此操作占用时间很长，程序会新开桌面，请不要关闭这个页面');
	if(qc == '0')
	{
		return false;
	}
	var url = get_url("res","update_pl") + "&id=all";
	top.$.win('附件批量更新中',url,{'is_max':true,'win_max':false,'width':600,'height':400});
}
</script>
<div class="tips">
	<!-- if $popedom.pl -->
	<div class="action"><a href="{url ctrl=res func=pl/}">批处理</a></div>
	<div class="action"><a href="javascript:update_pl_pictures();void(0);">图片全部更新</a></div>
	<!-- /if -->
	<div class="action"><a href="javascript:add_file();void(0)">添加资源</a></div>
	{lang您当前的位置：}{lang资源管理} &raquo; {lang列表}
	<div class="clear"></div>
</div>
<div class="tips" id="adv_search">
	<form method="post" action="{echo admin_url('res')}">
	<table width="100%">
	<tr>
		<td width="50%">
			<div class="table">
				<div class="title">
					关键字：
					<span class="note">填写附件名称关键字</span>
				</div>
				<div class="content"><input type="text" id="keywords" name="keywords" class="long" value="{$keywords}" /></div>
			</div>
		</td>
		<td>
			<div class="table">
				<div class="title">
					附件分类：
				</div>
				<div class="content">
					<select id="cate_id" name="cate_id">
						<option value="0">不限</option>
						<!-- $catelist AS $key=>$value -->
						<option value="{$value.id}"{if $cate_id == $value.id} selected{/if}>{$value.title}</option>
						<!-- /if -->
					</select>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="table">
				<div class="title">
					时间范围：
					<span class="note">左侧是开始时间，右边是结束时间</span>
				</div>
				<div class="content">
					<table cellpadding="0" cellspacing="0">
					<tr>
						<td><input type="text" id="start_date" name="start_date" value="{$start_date}" placeholder="开始时间" onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" /></td>
						<td>&nbsp; - &nbsp;</td>
						<td><input type="text" id="stop_date" name="stop_date" value="{$stop_date}" placeholder="结束时间" onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" /></td>
					</tr>
					</table>
				</div>
			</div>
			
		</td>
		<td>
			<div class="table">
				<div class="content">
					<input type="submit" value="开始搜索" class="submit" />
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="table">
				<div class="title">
					附件类型：
					<span class="note">勾选要搜索的附件类型，如果有未列出来的附件类型，请在编辑框中输入，多种附件类型用逗号隔开</span>
				</div>
				<div class="content">
					<table>
					<tr>
						<td><label><input type="checkbox" id="type_jpg" name="ext[]" value="jpg"{if $ext && in_array('jpg',$ext)} checked{/if} /> JPG</label></td>
						<td><label><input type="checkbox" id="type_gif" name="ext[]" value="gif"{if $ext && in_array('gif',$ext)} checked{/if} /> GIF</label></td>
						<td><label><input type="checkbox" id="type_png" name="ext[]" value="png"{if $ext && in_array('png',$ext)} checked{/if} /> PNG</label></td>
						<td><label><input type="checkbox" id="type_rar" name="ext[]" value="rar"{if $ext && in_array('rar',$ext)} checked{/if} /> RAR</label></td>
						<td><label><input type="checkbox" id="type_zip" name="ext[]" value="zip"{if $ext && in_array('zip',$ext)} checked{/if} /> ZIP</label></td>
						<td><label><input type="checkbox" id="type_flv" name="ext[]" value="flv"{if $ext && in_array('flv',$ext)} checked{/if} /> FLV</label></td>
						<td><label><input type="checkbox" id="type_swf" name="ext[]" value="swf"{if $ext && in_array('swf',$ext)} checked{/if} /> SWF</label></td>
						<td><label><input type="checkbox" id="type_mp3" name="ext[]" value="mp3"{if $ext && in_array('mp3',$ext)} checked{/if} /> MP3</label></td>
					</tr>
					<tr>
						<td>&nbsp;  &nbsp; 其他：</td>
						<td colspan="7"><input type="text" id="myext" name="myext" value="{$myext}" class="long" /></td>
					</tr>
					</table>
				</div>
			</div>
		</td>
	</tr>
	</table>
	</form>
</div>
<style type="text/css">
.thumb{float:left;width:144px;margin:3px 5px;padding:1px;border:1px solid #ccc;border-radius:3px;position:relative;}
</style>

<ul class="attrlist clearfix" id="attrlist">
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<div class="thumb" name="_elist">
		<div style="text-align:center;"><img src="{$value.ico}" width="100" height="100" /></div>
		<div class="file-action" style="text-align:center;"><div class="button-group">
			<input type="button" value="修改" class="phpok-btn" onclick="modify('{$value.id}')" />
			<input type="button" value="预览" class="phpok-btn" onclick="preview_attr('{$value.id}')" />
			<input type="button" value="删除" class="phpok-btn" onclick="file_delete('{$value.id}')" /></div>
		</div></div>
	</div>
	<!-- /loop -->
	<div class="clear"></div>
</ul>
<div class="table"><!-- include tpl=pagelist --></div>

<!-- include tpl=foot -->