<!-- include tpl=head_open title=$rs.title -->
<div class="list">
<table width="100%">
<tr>
	<td>{lang复制操作}</td>
	<td>
		<div class="button-group">
			<input type="button" value="{lang名称}" class="layui-btn phpok-copy" data-clipboard-text="{$rs.title}" title="{$rs.title}" />
			<input type="button" value="{lang文件名}" class="layui-btn phpok-copy" data-clipboard-text="{$rs.name}" title="{$rs.name}" />
			<input type="button" value="{lang扩展名}" class="layui-btn phpok-copy" data-clipboard-text="{$rs.ext}" title="{$rs.ext}" />
			<input type="button" value="{lang目录}" class="layui-btn phpok-copy" data-clipboard-text="{$rs.folder}" title="{$rs.folder}" />
			<input type="button" value="{lang目录+文件名}" class="layui-btn phpok-copy" data-clipboard-text="{$rs.filename}" title="{$rs.filename}" />
			<input type="button" value="{lang附件地址}" class="layui-btn phpok-copy" data-clipboard-text="{$sys.url}{$rs.filename}" title="{$sys.url}{$rs.filename}" />
		</div>
	</td>
</tr>
<tr>
	<td>{lang附件名称}</td>
	<td>{$rs.title}</td>
</tr>
<tr>
	<td>上传时间：</td>
	<td>{func date "Y-m-d H:i:s" $rs.addtime}</td>
</tr>
<tr>
	<td>存储目录：</td>
	<td>{$rs.folder}</td>
</tr>
<tr>
	<td>文件名：</td>
	<td>{$rs.name}</td>
</tr>
<tr>
	<td>下载次数：</td>
	<td>{$rs.download}</td>
</tr>
</table>
</div>
<!-- if $ispic -->
<style type="text/css">
.img{max-width:100%}
</style>
<div style="margin-top:3px;"><img src="{$rs.filename}" class="img"/></div>
<!-- else -->
<div class="list">
<table>
<tr>
	<td>&nbsp;</td>
	<td><input type="button" value="点这里下载" class="layui-btn" onclick="window.open('{$rs.filename}')" /></td>
</tr>
</table>
</div>
<!-- /if -->

<!-- include tpl=foot_open -->