<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang资源分类列表}
		<div class="fr">
			<button class="layui-btn layui-btn-sm" onclick="$.win('{lang创建资源分类}','{url ctrl=rescate func=set/}');">
				<i class="layui-icon">&#xe608;</i> {lang创建资源分类}
			</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>{lang名称}</th>
				<th>{lang根目录}</th>
				<th>{lang子目录}</th>
				<th>{lang附件类型}</th>
				<th>{lang是否默认}</th>
				<th>{lang操作}</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value -->
			<tr>
				<td>{$value.id}</td>
				<td>{$value.title}</td>
				<td>{$value.root}</td>
				<td>{$value.folder}</td>
				<td>{$value.filetypes}</td>
				<td><!-- if $value.is_default --><span class="darkblue">{lang是}</span><!-- else -->{lang否}<!-- /if --></td>
				<td>
					<div class="layui-btn-group">
						<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.win('{lang编辑附件分类}_#{$value.id}','{url ctrl=rescate func=set id=$value.id/}')" class="layui-btn layui-btn-sm" /><!-- /if -->
						<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="$.admin_rescate.del('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm layui-btn-danger" /><!-- /if -->
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->