<!-- include tpl=head title=伪静态页规则管理 -->
<script type="text/javascript" src="{func include_js rewrite.js}&_"></script>
<div class="tips">
	{lang您当前的位置：}
	<a href="{url ctrl=seo/}">{lang伪静态网址规则管理}</a>
	&raquo; {lang列表}
	<!-- if $optlist -->
	<div class="action"><a href="javascript:add_it();void(0)">添加规则</a></div>
	<!-- /if -->
</div>
<div class="tips">
	要使用此规则，需要在 framework/config/config.global.php 设置 <span class="red">$config['user_rewrite'] = true</span>
	<br />要使用此伪静态功能需要您对各个WEB服务器的伪静态规则熟悉了解<br />
	本功能主要用于定制，不做常态处理
	<div class="clear"></div>
</div>
<div class="list">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="lft">主题</th>
	<th class="lft">网址规则</th>
	<th class="action">操作</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr id="edit_{$value.id}">
	<td>{$value.title}</td>
	<td>{$value.urltype}</td>
	<td>
		<!-- if $popedom.set -->
		<input type="button" value="修改" class="btn" onclick="edit_it('{$value.id}','{$value.title}')" />
		<!-- /if -->
		<!-- if $popedom.delete -->
		<input type="button" value="删除" onclick="delete_it('{$value.id}','{$value.title}')" class="btn" />
		<!-- /if -->
	</td>
</tr>
<!-- /loop -->
</table>
</div>
<!-- include tpl=foot -->