<!-- include tpl=head title=伪静态页规则管理 -->
<script type="text/javascript">
function update_taxis(val,id)
{
	url = get_url('rewrite','taxis','id='+id+"&sort="+val);
	var rs = $.phpok.json(url);
	if(rs.status){
		$.phpok.reload();
	}else{
		$.dialog.alert(rs.content);
		return false;
	}
}
function add_it()
{
	var url = get_url('rewrite','set');
	$.phpok.go(url);
}
function edit_it(id)
{
	var url = get_url('rewrite','set','id='+id);
	$.phpok.go(url);
}
function delete_it(id,title)
{
	$.dialog.confirm("确定要删除规则：<span class='red'>"+title+"</span> 吗？",function(){
		var url = get_url('rewrite','delete','id='+id);
		var rs = $.phpok.json(url);
		if(rs.status == 'ok'){
			$.dialog.alert("删除成功",function(){
				$.phpok.reload();
			},'succeed');
		}else{
			$.dialog.alert(rs.info);
			return false;
		}
	});
}
$(document).ready(function(){
	$("div[name=taxis]").click(function(){
		var oldval = $(this).text();
		var id = $(this).attr('data');
		$.dialog.prompt('{lang请填写新的排序：}',function(val){
			if(val != oldval){
				update_taxis(val,id);
			}
		},oldval);
	});
});
function copy_it(id)
{
	var url = get_url('rewrite','copy','id='+id);
	var rs = $.phpok.json(url);
	if(rs.status){
		$.phpok.reload();
	}else{
		$.dialog.alert(rs.info);
		return false;
	}
}
</script>
<div class="tips">
	{lang您当前的位置：}
	<a href="{url ctrl=rewrite/}">{lang伪静态网址规则管理}</a>
	&raquo; {lang列表}
	<!-- if $popedom.set -->
	<div class="action"><a href="javascript:add_it();void(0)">添加规则</a></div>
	<!-- /if -->
</div>
<div class="tips">
	伪静态页规则顺序很重要，读伪静态页规则顺序从小到大依次读取，只要一符合条件即刻中止匹配<br />
	标题是为了方便管理而设置，在伪静态页中无其他意义<br />
	使用伪静态页功能，需要您的WEB服务器支持，同时您必须对此有所了解
	<div class="clear"></div>
</div>
<div class="list">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="lft">主题</th>
	<th class="lft">正则</th>
	<th class="lft">目标网址</th>
	<th class="lft">格式化</th>
	<th>排序</th>
	<th>操作</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr id="edit_{$value.id}">
	<td>{$value.title}</td>
	<td>{$value.rule}</td>
	<td>{$value.val}</td>
	<td>{$value.format}</td>
	<td><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}">{$value.sort}</div></td>
	<td>
		<div class="button-group">
			<!-- if $popedom.set -->
			<input type="button" value="{lang编辑}" onclick="edit_it('{$value.id}')" class="phpok-btn" />
			<input type="button" value="{lang复制}" onclick="copy_it('{$value.id}')" class="phpok-btn" />
			<!-- /if -->
			<!-- if $popedom.delete -->
			<input type="button" value="{lang删除}" onclick="delete_it('{$value.id}','{$value.title}')" class="phpok-btn" />
			<!-- /if -->
		</div>
	</td>
</tr>
<!-- /loop -->
</table>
</div>
<!-- include tpl=foot -->