<!-- include tpl=head_lay nopadding=true overflowy=true -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<input type="hidden" name="id" value="{$rs.id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang关键字}
			</label>
			<div class="layui-input-inline">
				<input type="text" name="title" value="{$rs.title}" class="layui-input" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang次数}
			</label>
			<div class="layui-input-inline">
				<input type="text" name="hits" value="{$rs.hits}" class="layui-input" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang标记}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="sign" value="0"{if !$rs.sign} checked{/if} title="{lang否}" />
				<input type="radio" name="sign" value="1"{if $rs.sign} checked{/if} title="{lang是}" />
			</div>
		</div>
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->