<!-- include tpl=head_open -->
<form method="post" id="postsave" onsubmit="return false">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang状态名称}
	</div>
	<div class="content"><input type="text" id="title" name="title" value="{$rs.title}" class="w99" /></div>
</div>
<div class="table">
	<div class="title">
		{lang通知会员}
		<span class="note">{lang选择模板，订单状态更新后，会以邮件或短信通知客户}</span>
	</div>
	<div class="content">
		<select name="email_tpl_user" style="width:475px">
			<option value="">{lang邮件模板：}{lang不通知会员}</option>
			<!-- loop from=$emailtpl key=$key value=$value -->
			<!-- if substr($value.identifier,0,4) != 'sms_' -->
			<option value="{$value.identifier}"{if $rs.email_tpl_user == $value.identifier} selected{/if}>{lang邮件模板：}{$value.title}<!-- if $value.note --> / {$value.note}<!-- /if --></option>
			<!-- /if -->
			<!-- /loop -->
		</select>
		<div style="padding-top:5px">
			<select name="sms_tpl_user" style="width:475px">
				<option value="">{lang短信模板：}{lang不通知会员}</option>
				<!-- loop from=$emailtpl key=$key value=$value -->
				<!-- if substr($value.identifier,0,4) == 'sms_' -->
				<option value="{$value.identifier}"{if $rs.sms_tpl_user == $value.identifier} selected{/if}>{lang短信模板：}{$value.title}<!-- if $value.note --> / {$value.note}<!-- /if --></option>
				<!-- /if -->
				<!-- /loop -->
			</select>
		</div>
	</div>
</div>

<div class="table">
	<div class="title">
		{lang通知管理员}
		<span class="note">{lang选择模板，订单状态更新后，会以邮件或短信通知管理员}</span>
	</div>
	<div class="content">
		<select name="email_tpl_admin" style="width:475px">
			<option value="">{lang邮件模板：}{lang不通知管理员}</option>
			<!-- loop from=$emailtpl key=$key value=$value -->
			<!-- if substr($value.identifier,0,4) != 'sms_' -->
			<option value="{$value.identifier}"{if $rs.email_tpl_admin == $value.identifier} selected{/if}>{lang邮件模板：}{$value.title}<!-- if $value.note --> / {$value.note}<!-- /if --></option>
			<!-- /if -->
			<!-- /loop -->
		</select>
		<div style="padding-top:5px">
			<select name="sms_tpl_admin" style="width:475px">
			<option value="">{lang短信模板：}{lang不通知管理员}</option>
				<!-- loop from=$emailtpl key=$key value=$value -->
				<!-- if substr($value.identifier,0,4) == 'sms_' -->
				<option value="{$value.identifier}"{if $rs.sms_tpl_admin == $value.identifier} selected{/if}>{lang短信模板：}{$value.title}<!-- if $value.note --> / {$value.note}<!-- /if --></option>
				<!-- /if -->
				<!-- /loop -->
			</select>
		</div>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang前台可操作的下一步}
		<span class="note">{lang设置前台会员可操作的下一步}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<!-- loop from=$statuslist key=$key value=$value id=$tmpid -->
			<li><label><input type="checkbox" name="next[]" value="{$key}"{if $rs.next && in_array($key,$rs.next) } checked{/if} />{$value}</label></li>
			<!-- /loop -->
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang状态}
		<span class="note">{lang设置是否使用，不使用将跳过进入下一项，如不存在则为结束}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="status" value="1"{if $rs.status} checked{/if} />{lang启用}</label></li>
			<li><label><input type="radio" name="status" value="0"{if !$rs.status} checked{/if} />{lang禁用}</label></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="table">
	<div class="title">
		{lang订单状态顺序}
		<span class="note">{lang请保持唯一，以确保客户能正常显示订单进度}</span>
	</div>
	<div class="content">
		<input type="text" name="taxis" id="taxis" value="{$rs.taxis}" class="short" />
	</div>
</div>
</form>

<!-- include tpl=foot_open -->