<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header " style="visibility: visible;">
		<div>明细</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
					<!--<colgroup>  .<col width="150"> <col width="200"> <col> </colgroup>-->
					<thead>
					<tr>
						<th >&nbsp;{lang字段}</th>
						<th>{lang类型}</th>
						<th>{lang空}</th>
						<th width="30px">{lang默认}</th>
						<th>{lang备注}</th>
					</tr>
					</thead>
					<tbody>
					<!-- loop from=$rslist key=$key value=$value -->
					<tr>
						<td>{$value.field}</td>
						<td>{$value.type}</td>
						<td><!-- if $value.null -->{lang是}<!-- else -->{lang否}<!-- /if --></td>
						<td class="center"><!-- if $value.default == '' -->无<!-- else -->{$value.default}<!-- /if --></td>
						<td class="break">{$value.note}</td>
					</tr>
					<!-- /loop -->
					</tbody>
		</table>
	</div>
</div>
