<!-- include tpl=head -->
<link rel="stylesheet" type="text/css" href="css/icomoon.css" />
<script type="text/javascript">
function set_status(id,obj)
{
	var url = get_url("system","status") + '&id='+id;
	$.ajax({
		'url':url,
		'dataType':'json',
		'cache':false,
		'async':true,
		'beforeSend': function (XMLHttpRequest){
			XMLHttpRequest.setRequestHeader("request_type","ajax");
		},
		'success':function(rs){
			if(!rs.content){
				rs.content = '0';
			}
			var oldvalue = $(obj).val();
			if(oldvalue == '禁用'){
				$(obj).val('启用');
			}else{
				$(obj).val('禁用');
			}
		}
	});
}
function delete_sysmenu(id,title)
{
	$.dialog.confirm("确定要删除导航：<span class='red'>"+title+"</span>，删除后是不能恢复的！",function(){
		var url = get_url('system','delete','id='+id);
		var rs = $.phpok.json(url);
		if(rs.status != 'ok'){
			$.dialog.alert(rs.content);
			return false;
		}
		$.phpok.reload();
	});
}
function update_taxis(val,id)
{
	var url = get_url('system','taxis','taxis['+id+']='+val);
	$.phpok.json(url,function(rs){
		if(rs.status == 'ok'){
			$("div[data="+id+"]").html(val);
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	})
}
function set_icon(id)
{
	var url = get_url('system','icon','id='+id);
	$.dialog.open(url,{
		'title':'设置图标',
		'width':'70%',
		'height':'70%',
		'lock':true,
		'ok':function(){
			var iframe = this.iframe.contentWindow;
			if (!iframe.document.body) {
				alert('iframe还没加载完毕呢');
				return false;
			};
			iframe.save();
			return false;
		},'okVal':'提交保存',
		'cancel':function(){
			return true;
		}
	});
}
$(document).ready(function(){
	$("div[name=taxis]").click(function(){
		var oldval = $(this).text();
		var id = $(this).attr('data');
		$.dialog.prompt('{lang请填写新的排序：}',function(val){
			if(val != oldval){
				update_taxis(val,id);
			}
		},oldval);
	});
});
</script>
<div class="tips">
	您当前的位置：
	<div class="action"><a href="javascript:desktop_show_set();void(0)">桌面左侧显示</a></div>
	<a href="{echo admin_url('system')}">核心配置</a>
	&raquo; 后台菜单列表
</div>
<div class="list2">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<th class="lft">&nbsp;名称</th>
	<th class="lft">&nbsp;控制器</th>
	<th width="60">状态</th>
	<th width="90" class="lft">桌面显示</th>
	<th width="65">排序</th>
	<th width="135" class="lft">操作</th>
</tr>
<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<tr class="list">
		<td>&nbsp;{$value.title}</td>
		<td>&nbsp;</td>
		<td class="center">
			<input type="button" value="{$value.status ? '启用' : '禁用'}" class="phpok-btn"{if $popedom.status} onclick="set_status({$value.id},this)"{else} onclick="$.dialog.alert('{lang您没有权限执行此功能}')"{/if} />
		</td>
		<td>&nbsp;</td>
		<td class="center"><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
		<td>
			<div class="button-group">
			<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=system func=set id=$value.id/}')" class="phpok-btn" /><!-- /if -->
			<!-- if $popedom.add --><input type="button" value="{lang添加子项}" onclick="$.phpok.go('{url ctrl=system func=set pid=$value.id/}')" class="phpok-btn" /><!-- /if -->
			</div>
		</td>
	</tr>
	<!-- loop from=$value.sublist key=$k value=$v id=$tmpid2 -->
	<tr class="sub">
		<td><div class="pleft">{$v.title}</div></td>
		<td>&nbsp;framework/admin/{$v.appfile}_control.php</td>
		<td class="center"><input type="button" value="{$v.status ? '启用' : '禁用'}" class="phpok-btn"{if $popedom.status} onclick="set_status({$v.id},this)"{else} onclick="$.dialog.alert('{lang您没有权限执行此功能}')"{/if} /></td>
		<td><input type="button" class="phpok-btn" id="icon_status_{$v.id}" onclick="set_icon('{$v.id}')" value="{if $v.icon}{lang显示}{else}{lang隐藏}{/if}" /> <i{if $v.icon} class="icon-{$v.icon}"{/if} id="icon_{$v.id}" style="font-size:16px;"></i></td>
		<td class="center"><div class="gray i hand center" title="{lang点击调整排序}" name="taxis" data="{$v.id}">{$v.taxis}</div></td>
		<td>
			<div class="button-group">
				<!-- if $popedom.modify --><input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=system func=set id=$v.id/}')" class="phpok-btn" /><!-- /if -->
				<!-- if $popedom.delete --><input type="button" value="{lang删除}" onclick="delete_sysmenu('{$v.id}','{$v.title}')" class="phpok-btn" /><!-- /if -->
			</div>
		</td>
	</tr>
	<!-- /loop -->
<!-- /loop -->
</table>
</div>
<!-- inc:foot -->
