<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>友情提示</title>
<!-- if $sys.url --><base href="{$sys.url}" /><!-- /if -->
<meta name="author" content="phpok.com" />
<link href="css/tips.css{if $sys.debug}?_noCache={func str_rand}{/if}" rel="stylesheet" type="text/css" />
<style type="text/css">
body{font-size:12px;font-family:"Verdana","Microsoft Yahei","Geneva","sans-serif","Arial","Tahoma","HELVETICA";}
</style>
</head>
<body>
<div class="body">
	<div class="tips {$type}">
		<!-- if($url) -->
		<div class="title">{$tips}</div>
		<div class="note"><a href="{$url}">{lang系统将在[time]秒后跳转，手动跳转请点这里|time:$time}</a></div>
		<!-- else -->
		<div class="txt" style="line-height:52px;">{$tips}</div>
		<!-- /if -->
	</div>
</div>
<!-- if($url) -->
	<script type="text/javascript">
	var url = "{$url}";
	var mtime = {$time} * 1000;
	function refresh()
	{
		url = url.replace(/&amp;/g,"&");
		window.location.href = url;
	}
	window.setTimeout("refresh()",mtime);
	</script>
<!-- /if -->
</body>
</html>
