<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>友情提示</title>
<meta name="author" content="phpok.com" />
<link href="css/tips.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{echo admin_url('js')}"></script>
</head>
<body>
<div class="body" style="width:400px;border:0;margin:30px;">
	<div class="tips {$type}">
		<!-- if $btn -->
		<div class="title">{$tips}</div>
		<div class="note">{$btn}</div>
		<!-- else -->
		<div class="txt" style="line-height:45px;">{$tips}</div>
		<!-- /if -->
	</div>
</div>
</body>
</html>
