<!-- include tpl=head_lay nopadding=true overflowy=true -->
<script type="text/javascript">
function check_save()
{
	
	return true;
}
</script>
<form method="post" id="post_save" class="layui-form" onsubmit="return false">
<!-- if $id --><input type="hidden" name="id" id="id" value="{$id}" /><!-- /if -->
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang风格名称}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-form-mid">{lang设置风格的名称，支持各种语言，此名称仅用于管理}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang开发人员}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="author" name="author" class="layui-input" value="{$rs.author}" />
			</div>
			<div class="layui-form-mid">{lang设置风格的开发人员名称，团体请填写团体名称}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang文件夹}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="folder" name="folder" class="layui-input" value="{$rs.folder}" />
			</div>
			<div class="layui-form-mid">{lang请风格根目录tpl下创建相应的文件夹名称}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang刷新参数}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" lay-skin="primary" name="refresh_auto" id="refresh_auto" {if $rs.refresh_auto} checked{/if} title="{lang自动刷新}" />
				<input type="checkbox" lay-skin="primary" name="refresh" id="refresh" {if $rs.refresh} checked{/if} title="{lang强制刷新}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang设置是否自动判断刷新和是否使用强制刷新}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang目录改写}
			</label>
			<div class="layui-input-block">
				<div><input type="text" id="folder_change" name="folder_change" class="layui-input" value="{$rs.folder_change}" /></div>
				<div class="layui-btn-group" style="margin-top:5px;">
					<input type="button" value="CSS" onclick="$.admin_tpl.set_folder('css')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Style" onclick="$.admin_tpl.set_folder('style')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Js" onclick="$.admin_tpl.set_folder('js')" class="layui-btn layui-btn-sm" />
					<input type="button" value="JavaScript" onclick="$.admin_tpl.set_folder('javascript')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Script" onclick="$.admin_tpl.set_folder('script')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Images" onclick="$.admin_tpl.set_folder('images')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Image" onclick="$.admin_tpl.set_folder('image')" class="layui-btn layui-btn-sm" />
					<input type="button" value="清空" onclick="$('#folder_change').val('');" class="layui-btn layui-btn-sm layui-btn-warm" />
				</div>
			</div>
			<div class="layui-input-block mtop">{lang多个目录用英文逗号隔开，点按钮添加再点一次删除（Linux下大小写有区分）}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langPHP目录}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="phpfolder" name="phpfolder" class="layui-input" value="{$rs.phpfolder}" />
			</div>
			<div class="layui-form-mid">{lang指定可执行PHP的文件目录，在模板中手动使用或是自动加载}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang模板后缀名}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="ext" name="ext" class="layui-input" value="{$rs.ext}" />
			</div>
			<div class="layui-form-mid">{lang推荐您使用php作为模板后缀，防止别人下载模板}</div>
		</div>		
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->