<!-- include tpl=head_open -->
<div class="tips">
	{lang允许选择其他风格文件的模板}
	<select name="tpl_id" onchange="$.admin_tpl.open_select('{$id}',this.value)">
	<!-- loop from=$tplist key=$key value=$value id=$tmpid -->
	<option value="{$value.id}"{if $value.id == $tpl_id} selected{/if}>{$value.title}</option>
	<!-- /loop -->
	</select>
</div>
<div class="list">
	<table class="list" width="100%">
	<tr>
		<th width="20px">&nbsp;</th>
		<th>名称</th>
		<th width="150px">时间</th>
	</tr>
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<tr class="hand" onclick="$.admin_tpl.phpok_input('{if $site_rs.tpl_id != $tpl_id}{$tpl_id}:{/if}{$value.tplid}','{$id}')">
		<td align="center"><img src="images/filetype/html.gif" border="0" alt="文件：{$value.title}"></td>
		<td class="lft">{$value.title}</td>
		<td>{$value.date}</td>
	</tr>
	<!-- /loop -->
	</table>
</div>
<!-- include tpl=foot_open -->