<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang欢迎您使用在线升级功能}
	</div>
	<div class="layui-card-body">
		<ul class="project" id="project">
			<!-- if $popedom.update -->
				<!-- if $update.online -->
				<li title="{lang升级PHPOK核心程序}" onclick="$.admin_update.main()">
					<div class="img"><img src="images/ico/update.png" /></div>
					<div class="txt">在线升级</div>
				</li>
				<!-- /if -->
				<!-- if $update.zip -->
				<li title="{langZIP压缩包升级}" onclick="$.admin_update.zip()">
					<div class="img"><img src="images/ico/zip.png" /></div>
					<div class="txt">{lang压缩包升级}</div>
				</li>
				<!-- /if -->
				<li title="{lang远程检测是否有升级包}" onclick="$.admin_update.check()">
					<div class="img"><img src="images/ico/find.png" /></div>
					<div class="txt">{lang远程检测}</div>
				</li>

			<!-- /if -->
			<!-- if $popedom.set -->
			<li title="{lang配置升级服务器环境}" onclick="$.admin_update.setting()">
				<div class="img"><img src="images/ico/setting.png" /></div>
				<div class="txt">{lang环境配置}</div>
			</li>
			<!-- /if -->
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!-- include tpl=foot_lay -->