<!-- include tpl=head_lay title="配置升级服务环境 - 程序升级" nopadding=true overflowy=true -->
<form method="post" class="layui-form" id="post_save" onsubmit="return false">
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang状态}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="status" value="1"{if $rs.status} checked{/if} title="{lang启用}" />
				<input type="radio" name="status" value="0"{if !$rs.status} checked{/if} title="{lang禁用}" />
			</div>
			<div class="layui-form-mid">
				{lang启用升级后才能实现在线升级}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang地址}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="server" name="server" class="layui-input" value="{$rs.server}" />
			</div>
			<div class="layui-form-mid">
				{lang设置升级服务器地址信息}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				IP
			</label>
			<div class="layui-input-inline">
				<input type="text" name="ip" value="{$rs.ip}" class="layui-input" />
			</div>
			<div class="layui-form-mid">
				{lang如远程访问获取失败，可以在这里设置远程IP}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang检测周期}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="date" name="date" class="layui-input" value="{$rs.date}" />
			</div>
			<div class="layui-form-mid">
				{lang单位：天，设为0不检测}
			</div>
		</div>
		
	</div>
</div>
</form>
<!-- include tpl=foot_lay is_open=true -->