<!-- include tpl=head_lay nopadding=true -->
<form method="post" id="post_save" class="layui-form" onsubmit="return false">
<!-- if $id --><input type="hidden" id="id" name="id" value="{$id}" /><!-- /if -->
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang字段名称：}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-form-mid">
				{lang设置一个名称，该名称在表单的头部信息显示}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang字段备注：}
			</label>
			<div class="layui-input-block gray">{lang仅限后台管理使用，用于查看这个字段主要做什么}</div>
			<div class="layui-input-block">
				<input type="text" id="note" name="note" class="layui-input" value="{$rs.note}" />
			</div>
		</div>
		<!-- if !$id -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang字段标识：}
			</label>
			<div class="layui-input-block">
				<div class="gray">
					{lang要求}<span class="darkblue">{lang字母、数字及下划线，且必须以字母开头}</span>
				</div>
				<div class="layui-input-inline auto">
					<input type="text" id="identifier" name="identifier" class="layui-input" value="{$rs.identifier}" />
				</div>
				<div class="layui-input-inline auto gray lh38" data-id="identifier">
					<input type="button" value="{lang随机生成}" onclick="$('#identifier').val($.phpok.rand(10,'letter'))" class="layui-btn layui-btn-sm" />
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang字段类型：}
			</label>
			<div class="layui-input-block gray">{lang请慎重选择，一经确定后是不能修改的}</div>
			<div class="layui-input-block">
				<select name="field_type" id="field_type">
					<option value="">{lang请选择字段类型…}</option>
					<!-- loop from=$field_list key=$key value=$value -->
					<option value="{$key}"{if $rs.field_type == $key} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
		</div>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang表单类型：}
			</label>
			<div class="layui-input-block gray">{lang请选择字段要使用的表单}</div>
			<div class="layui-input-block">
				<select id="form_type" name="form_type" lay-ignore onchange="$._configForm.option(this.value,'form_type_ext','{$id}','user')">
				<option value="">{lang请选择表单…}</option>
				<!-- loop from=$form_list key=$key value=$value id=$tmpid -->
				<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
				<!-- /loop -->
			</select>
			</div>
		</div>
		<div id="form_type_ext"></div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang表单样式：}
			</label>
			<div class="layui-input-block gray">{lang不能超过250个字符，不熟悉CSS，请查相关手册}</div>
			<div class="layui-input-block">
				<input type="text" id="form_style" name="form_style" class="layui-input" value="{$rs.form_style}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang默认值：}
			</label>
			<div class="layui-input-block gray">{lang设置表单默认值，如果表单中有多个值，请用英文逗号隔开}</div>
			<div class="layui-input-block">
				<input type="text" id="content" name="content" class="layui-input" value="{$rs.content}" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang格式化：}
			</label>
			<div class="layui-input-block gray">{lang设置文本常见格式，如HTML，整型，浮点型等}</div>
			<div class="layui-input-block">
				<select name="format" id="format">
					<!-- loop from=$format_list key=$key value=$value id=$tmpid -->
					<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				排序：
			</label>
			<div class="layui-input-inline short">
				<input type="text" id="taxis" name="taxis" class="layui-input" value="{$rs.taxis ? $rs.taxis : 255}" />
			</div>
			<div class="layui-form-mid">
				值越小越往前靠，最小值为0，最大值为255
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				前台：
			</label>
			<div class="layui-input-inline default-auto">
				<input type="radio" name="is_front" value="1"{if $rs.is_front} checked{/if} title="是" />
				<input type="radio" name="is_front" value="0"{if !$rs.is_front} checked{/if} title="否" />
			</div>
			<div class="layui-form-mid">
				设置字段在前台个人中心是否可编写
			</div>
		</div>
		

		
	</div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	$._configForm.option("{$rs.form_type}","form_type_ext",'{$id}','user');
});
</script>
<!-- include tpl=foot_lay is_open=true -->