<!-- inc:head_open -->
<script type="text/javascript">
function check_save()
{
	var id = $("#id").val();
	if(!id || id == "undefined")
	{
		$.dialog.alert("未指定ID！");
		return false;
	}
	var title = $("#title").val();
	if(!title || title == "undefined")
	{
		$.dialog.alert("名称不能为空");
		return false;
	}
	return true;
}
</script>
<form method="post" action="{echo admin_url('user','field_edit_save')}" onsubmit="return check_save();">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		字段名称：
		<span class="note">设置一个名称，该名称在表单的头部信息显示</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="title" name="title" class="default" value="{$rs.title}" /></td>
			<td><div id="title_note"></div></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		字段备注：
		<span class="note">仅限后台管理使用，用于查看这个字段主要做什么</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" value="{$rs.note}" /></div>
</div>

<div class="table">
	<div class="title">
		表单类型：
		<span class="note">请选择字段要使用的表单 <span class="red n">添加完后，将不允许再修改</span></span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><select id="form_type" name="form_type" onchange="_phpok_form_opt(this.value,'form_type_ext','{$id}','module')">
					<option value="">请选择表单</option>
					<!-- foreach($form_list AS $key=>$value) -->
					<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
					<!-- /foreach -->
				</select>
			</td>
			
		</tr>
		</table>
	</div>
</div>
<div id="form_type_ext" style="display:noen;"></div>
<div class="table">
	<div class="title">
		<span class="edit">
			表单样式（CSS）：
			<span class="note">不能超过250个字符，不熟悉CSS，请查手册：<a href="http://www.phpok.com" target="_blank">phpok.com</a></span>
		</span>
	</div>
	<div class="content"><input type="text" id="form_style" name="form_style" class="long" value="{$rs.form_style}" /></div>
</div>

<div class="table">
	<div class="title">
		表单默认值：
		<span class="note">设置表单默认值，如果表单中有多个值，请用英文逗号隔开</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="long" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		接收数据格式化：
		<span class="note">设置文本常见格式，如HTML，整型，浮点型等</span>
	</div>
	<div class="content">
		<select name="format" id="format">
			<!-- foreach($format_list AS $key=>$value) -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>
			<!-- /foreach -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		排序：
		<span class="note">值越小越往前靠，最小值为0，最大值为255</span>
	</div>
	<div class="content"><input type="text" id="taxis" name="taxis" class="short" value="{$rs.taxis ? $rs.taxis : 255}" /></div>
</div>

<div class="table">
	<div class="title">
		前台可编辑：
		<span class="note">设置字段在前台个人中心是否可编写</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="is_edit" value="1"{if $rs.is_edit} checked{/if}>是</label></li>
			<li><label><input type="radio" name="is_edit" value="0"{if !$rs.is_edit} checked{/if}>否</label></li>
		</ul>
	</div>
</div>


<div class="table">
	<div class="content">
		<br />
		<input type="submit" value="提 交" class="submit" />
		<br />
	</div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	_phpok_form_opt("{$rs.form_type}","form_type_ext",'{$id}','user');
});
</script>
<!-- inc:foot_open -->