<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang用户组列表}
		<div class="fr">
			<button class="layui-btn layui-btn-sm" onclick="$.admin_usergroup.add()">
				<i class="layui-icon">&#xe608;</i> {lang添加用户组}
			</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th class="center">组ID</th>
			<th width="20px"></th>
			<th>{lang组名称}</th>
			<th>{lang审核机制}</th>
			<th class="center">{lang排序}</th>
			<th{lang>操作}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td align='center'>{$value.id}</td>
			<td><span class="status{$value.status}" id="status_{$value.id}" {if $popedom.status}onclick="$.admin_usergroup.status({$value.id})"{else}style="cursor: default;"{/if} value="{$value.status}"></span></td>
			<td>
				{$value.title}
				<!-- if $value.is_open -->
				/ <span class="darkblue i">{lang开放选择}</span>
				<!-- /if -->
				<!-- if $value.is_default -->
				/ <span class="red">{lang默认用户组}</span>
				<!-- /if -->
				<!-- if $value.is_guest -->
				/ <span class="red">{lang游客组}</span>
				<!-- /if -->
			</td>
			<td>
				<!-- if $value.register_status == 'email' -->
				{lang邮件验证}
				<!-- elseif $value.register_status == 'code' -->
				{lang邀请码验证}
				<!-- elseif $value.register_status -->
				{lang自动审核}
				<!-- else -->
				{lang人工审核}
				<!-- /if -->
			</td>
			<td align="center">{$value.taxis}</td>
			<td>
				<div class="layui-btn-group">
					<!-- if $popedom.modify -->
					<input type="button" value="{lang编辑}" class="layui-btn layui-btn-sm" onclick="$.admin_usergroup.modify('{:$value[id]}')" />
					<!-- /if -->
					<!-- if !$value.is_default && !$value.is_guest && $session.admin_rs.if_system -->
					<input type="button" value="{lang设默认组}" onclick="$.admin_usergroup.set_default('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang设游客组}" onclick="$.admin_usergroup.guest('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- /if -->
					<!-- if $popedom.delete -->
					<input type="button" value="{lang删除}" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.admin_usergroup.del('{:$value[id]}')" />
					<!-- /if -->
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		
	</div>
</div>
<!-- include tpl=foot_lay -->