<!-- include tpl=head title=会员管理 -->
<script type="text/javascript" src="{func include_js user.js}"></script>
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<div class="tips">
	<a href="{echo admin_url('user')}" title="会员列表">会员列表</a> &raquo; {if $id}编辑{else}添加新{/if}会员
</div>

<form method="post" action="{echo admin_url('user','setok')}" onsubmit="return check_add()">
<input type="hidden" name="id" id="id" value="{$id}" />

<div class="table">
	<div class="title">
		会员头像：
		<span class="note"></span>
	</div>
	<div class="content">
		{func form_edit avatar $rs.avatar text form_btn=image&width=500}
	</div>
</div>
<div class="table">
	<div class="title">
		会员账号：
		<span class="note">请填写会员账号，必须保证唯一，建议使用邮箱作为账号</span>
	</div>
	<div class="content">
		<input type="text" id="user" name="user" class="default" value="{$rs.user}" />
	</div>
</div>

<div class="table">
	<div class="title">
		会员密码：
		<span class="note">设置会员的密码，此项不能为空</span>
	</div>
	<div class="content">
		<input type="text" id="pass" name="pass" class="default" value="" />
	</div>
</div>

<div class="table">
	<div class="title">
		Email：
		<span class="note"></span>
	</div>
	<div class="content">
		<input type="text" id="email" name="email" class="default" value="{$rs.email}" />
	</div>
</div>

<div class="table">
	<div class="title">
		手机：
		<span class="note">设置会员的密码，此项不能为空</span>
	</div>
	<div class="content">
		<input type="text" id="mobile" name="mobile" class="default" value="{$rs.mobile}" />
	</div>
</div>

<div class="table">
	<div class="title">
		会员组：
		<span class="note">请选择会员所属主要身份</span>
	</div>
	<div class="content">
		<select id="group_id" name="group_id">
		<option value="0">请选择会员组</option>
		<!-- loop from=$grouplist key=$key value=$value -->
		<option value="{$value.id}"{if $value.id == $rs.group_id} selected{/if}>{$value.title}</option>
		<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		状态：
		<span class="note">设置会员状态，未审核会员不能登录，锁定会员将只有查看权限</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><label for="status_0"><input type="radio" name="status" id="status_0" value="0"{if !$rs.status} checked{/if} />未审核</label></td>
			<td><label for="status_1"><input type="radio" name="status" id="status_1" value="1"{if $rs.status == 1} checked{/if} />正常</label></td>
			<td><label for="status_2"><input type="radio" name="status" id="status_2" value="2"{if $rs.status == 2} checked{/if} />锁定</label></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		注册时间：
		<span class="note">人工设置会员的注册时间，默认使用当前时间</span>
	</div>
	<div class="content">
		<input type="text" id="regtime" name="regtime" class="default" value="{$rs.regtime ? date('Y-m-d H:i:s',$rs['regtime']) : ''}" onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
	</div>
</div>

<!-- loop from=$extlist key=$key value=$value id=extlist_id -->
<div class="table">
	<div class="title">
		{$value.title}：
		<span class="note">{$value.note}</span>
	</div>
	<div class="content">{$value.html}</div>
</div>
<!-- /loop -->


<div class="table">
	<div class="content">
		<input type="submit" value="提 交" class="submit" />
	</div>
</div>
</form>
<!-- inc:foot -->