<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		<div class="layui-btn-group fr">
			<input type="button" value="{lang添加方案}" onclick="$.admin_wealth.set()" class="layui-btn layui-btn-sm" />
			<input type="button" value="{lang未审核财富}" onclick="$.win('{lang未审核财富}','{url ctrl=wealth func=notcheck/}')" class="layui-btn layui-btn-sm layui-btn-normal" />
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>&nbsp;</th>
			<th>{lang名称}</th>
			<th>{lang标识}</th>
			<th>{lang计量单位}</th>
			<th>{lang在线支付}</th>
			<th>{lang抵现}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td>{$value.id}</td>
			<td><span class="status{$value.status}" id="status_{$value.id}" {if $popedom.status}onclick="$.admin_wealth.status({$value.id})"{else} style="cursor: default;"{/if} value="{$value.status}"></span></td>
			<td>{$value.title}</td>
			<td>{$value.identifier}</td>
			<td>{$value.unit}</td>
			<td><!-- if $value.ifpay -->{lang支持} <span class="gray i">（购买：1元={$value.pay_ratio}{$value.unit}）</span><!-- else -->{lang不支持}<!-- /if --></td>
			<td><!-- if $value.ifcash -->{lang支持} <span class="gray i">（兑换：100{$value.unit}={$value.cash_ratio}元）</span><!-- else -->{lang不支持}<!-- /if --></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang编辑}" onclick="$.admin_wealth.set({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang规则}" onclick="$.admin_wealth.rule({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang记录}" onclick="$.admin_wealth.info({$value.id})" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang删除}" onclick="$.admin_wealth.del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<script type="text/javascript">

</script>

<!-- include tpl=foot_lay -->