<!-- include tpl=head_lay nopadding=true -->
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th class="center" width="140">时间</th>
			<th class="center" width="100">{$rs.title}</th>
			<th>备注</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td class="center">{func date "Y-m-d H:i" $value.dateline}</td>
			<td class="center">{$value.val}{$rs.unit}</td>
			<td height="22">{$value.note}</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
	</div>
</div>

<!-- include tpl=foot_lay is_open=true -->