<!-- include tpl=head -->
<div class="tips">
	{lang当前位置：}<a href="{url ctrl=wealth/}">{lang财富方案}</a>
	&raquo; <b class="red">{$rs.title}</b>{lang收支规则}
	<div class="clear"></div>
</div>
<script type="text/javascript">
function delete_it(id)
{
	$.dialog.confirm('{lang确定要删除当前规则吗？}',function(){
		var url = get_url('wealth','delete_rule','id='+id);
		var rs = $.phpok.json(url);
		if(rs.status == 'ok'){
			$.dialog.alert('{lang删除成功}',function(){
				$.phpok.reload();
			},'succeed');
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	});
}
$(document).ready(function(){
	$("#add_rule").submit(function(){
		$(this).ajaxSubmit({
			'url':"{url ctrl=wealth func=save_rule wid=$rs.id/}",
			'type':'post',
			'dataType':'json',
			'success':function(rs){
				if(rs.status == 'ok'){
					$.dialog.alert('{lang规则创建成功}',function(){
						$.phpok.reload();
					},'succeed');
				}else{
					$.dialog.alert(rs.content);
					return false;
				}
			}
		});
		return false;
	});
});
</script>
<div class="help">
	<ol>
		<li>执行动作允许重复，所以请在设置规则时注意，是否需要多个动作</li>
		<li>重复支持/时间：这里时间是指在多少秒内，重复同样的动作是无效的，默认是30秒</li>
		<li>值：此框支持填写负数，正数，负数表示扣除，当{$rs.title}为0时，不能再执行扣除操作</li>
		<li>值支持变量price和hits两个！仅在特定场合使用，支持数学计算，如-(price/10+10)</li>
		<li>对象：所有财富在未指定规则时，都计算到用户，除非您指定了介绍人（也就是推荐人）</li>
		<li class="red">规则不支持修改，但可以删除后创建新的规则</li>
		<li>主键ID仅限阅读，评论，订单，发布及分享（注册及登录这两项无效）</li>
	</ol>
</div>
<form method="post" id="add_rule">
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th width="75">ID</th>
	<th width="110">{lang执行动作}</th>
	<th width="170">{lang重复支持/时间}</th>
	<th width="100">{lang值}</th>
	<th width="80">{lang对象}</th>
	<th width="80">{lang主键ID}</th>
	<th width="75">{lang排序}</th>
	<th class="lft">{lang操作}</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<tr>
	<td class="center">{$value.id}</td>
	<td class="center">{$alist[$value[action]]}</td>
	<td class="center">
		{$repeatlist[$value[repeat]]}
		<!-- if $value.repeat -->/ {$value.mintime}秒<!-- /if -->
	</td>
	<td class="center">{$value.val}</td>
	<td class="center">{$value.goal !='user' ? '介绍人' : '用户'}</td>
	<td class="center">{$value.linkid ? '关联' : '不关联'}</td>
	<td class="center">{$value.taxis}</td>
	<td><input type="button" value="{lang删除}" onclick="delete_it('{$value.id}')" class="phpok-btn" /></td>
</tr>
<!-- /loop -->
<tr>
	<td class="center">添加</td>
	<td class="center">
		<select name="action">
			<option value="">{lang动作…}</option>
			<!-- loop from=$alist key=$key value=$value id=$tmpid -->
			<option value="{$key}">{$value}</option>
			<!-- /loop -->
		</select>
	</td>
	<td class="center">
		<select name="repeat">
			<!-- loop from=$repeatlist key=$k value=$v id=$tmpid -->
			<option value="{$k}">{$v}</option>
			<!-- /loop -->
		</select><input type="text" name="mintime" value="30" class="short" style="margin-left:5px;" />
	</td>
	<td class="center"><input type="text" name="val"  class="short center" style="width:88px"/></td>
	<td class="center">
		<select name="goal">
			<option value="user">用户</option>
			<option value="introducer">介绍人</option>
		</select>
	</td>
	<td class="center">
		<select name="linkid">
			<option value="0">不关联</option>
			<option value="1">关联</option>
		</select>
	</td>
	<td class="center"><input type="text" name="taxis" value="255" class="short center" /></td>
	<td><input type="submit" value="{lang添加}" class="phpok-btn" /></td>
</tr>
</table>
</form>
<!-- include tpl=foot -->