<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>会员ID</th>
			<th>会员账号</th>
			<th>{$rs.title}</th>
			<th>最后记录时间</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td>{$value.uid}</td>
			<td>{$value.user}</td>
			<td>{$value.val}{$rs.unit}</td>
			<td>{func date "Y-m-d H:i" $value.lasttime}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang日志}" onclick="$.admin_wealth.log('{$rs.id}','{$value.uid}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang赚送}" onclick="$.admin_wealth.act('{$rs.id}','{$value.uid}','+','{$rs.title}','{$rs.unit}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang扣除}" onclick="$.admin_wealth.act('{$rs.id}','{$value.uid}','-','{$rs.title}','{$rs.unit}')" class="layui-btn layui-btn-sm" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
	</div>
</div>

<!-- include tpl=foot_lay -->