<!-- include tpl=head_lay nopadding=true overflowy=false -->
<style type="text/css">
.content{
	height:calc(100vh - 155px);
	min-height:50px;
	overflow-x:hidden;
	overflow-y:auto
}
.thumb{
	width:120px;
	padding:2px;
	border:1px solid #EBEDF0;
	border-radius:4px;
	margin-top:20px;
}
.thumb-default{
	margin-top:3px;
}
</style>
<link rel="stylesheet" type="text/css" href="js/highlighter/emacs.css" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-row">
			<div class="layui-col-xs2" align="center">
				<!-- if $rs.thumb -->
				<img src="{$rs.thumb}" class="thumb" />
				<!-- else -->
				<img src="images/ext.png" class="thumb-default" />
				<!-- /if -->
			</div>
			<div class="layui-col-xs10">
				<table class="layui-table" lay-size="sm">
				<tr>
					<td width="80">所属类别</td>
					<td>{$rs.cate_title}</td>
				</tr>
				<!-- if $rs.note -->
				<tr>
					<td>说明摘要</td>
					<td>{$rs.note}</td>
				</tr>
				<!-- /if -->
				<tr>
					<td>更新时间</td>
					<td><!-- if $rs.lastdate -->{func time_format $rs.lastdate}<!-- else -->{func time_format $rs.dateline}<!-- /if --></td>
				</tr>
				<tr>
					<td>安装路径</td>
					<td>{$rs.folder}</td>
				</tr>
				</table>
			</div>
		</div>
		<div class="content" id="content">
			{$rs.content}
		</div>
	</div>
</div>
<script type="text/javascript" src="js/highlighter/shcore.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	SyntaxHighlighter.all();
});
</script>
<!-- include tpl=foot_lay -->