<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>阿里云点播上传</title>
	<note>直接上传文件到阿里云的点播平台，支持增删操作</note>
	<code>
		<appkey>
			<title><![CDATA[AK 密钥]]></title>
			<note><![CDATA[即 AccessKey ID，请到阿里云提供的https://ak-console.aliyun.com/#/accesskey/申请]]></note>
			<type>text</type>
			<required>true</required>
		</appkey>
		<appsecret>
			<title><![CDATA[SK 密钥]]></title>
			<note><![CDATA[即 Access Key Secret，同上]]></note>
			<type>text</type>
			<required>true</required>
		</appsecret>
		<regoin_id>
			<title><![CDATA[区域节点]]></title>
			<type>text</type>
			<note><![CDATA[不清楚的请填写：cn-shanghai]]></note>
			<type>text</type>
			<required>true</required>
			<default><![CDATA[cn-shanghai]]></default>
		</regoin_id>
		<account>
			<title>账号ID</title>
			<note><![CDATA[即阿里云账号ID，不清楚请查看手册：<a href="https://help.aliyun.com/knowledge_detail/37196.html" target="_blank">https://help.aliyun.com/knowledge_detail/37196.html</a>]]></note>
			<type>text</type>
			<required>true</required>
		</account>
		<storage-location>
			<title>存储地址</title>
			<note><![CDATA[当不为空时，会使用该指定的存储地址上传视频文件。登录点播控制台，选择配置管理 > 媒资管理配置 > 存储管理查看存储地址。]]></note>
			<type>text</type>
		</storage-location>
		<end_point>
			<title>访问地址</title>
			<note><![CDATA[即阿里云 End Point，阿里云 VOD 服务器节点]]></note>
			<type>text</type>
			<required>true</required>
		</end_point>
		<vtype>
			<title>类型</title>
			<note><![CDATA[请选择要上传的附件类型，仅支持音视频及图片]]></note>
			<type>radio</type>
			<required>true</required>
			<option>
				<video>音视频</video>
				<picture>图片</picture>
			</option>
			<default>video</default>
		</vtype>
	</code>
</root>