@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
input{ font-family:"微软雅黑";}

.cl{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.fz_16{ font-size:16px;}
.fz_14{ font-size:14px;}
.col_red{ color:#ff0000;}
.lft{text-align:left;}


.header{ height:63px; width:980px; margin:0 auto; padding:40px 0 30px;}
.logo{ float:left; width:266px; height:63px; }
.step{ width:650px; float:right; height:50px; position:relative; margin-top:15px;}
.step .line{ width:650px; height:3px; background:#dde6ed; position:absolute; left:0; top:13px; z-index:9;}
.step .step_num{ width:650px; height:50px; position:absolute; left:0; top:0; z-index:10;margin:0;padding:0;list-style:none;}
.step .step_num li{ width:130px; float:left; list-style:none;}
.step .step_num li .num{ height:28px; width:28px; background:url(../images/step_bg.jpg) no-repeat; text-align:center; line-height:28px; color:#333; margin:0 auto; display:block;}
.step .step_num li .name{ display:block; text-align:center; padding:5px 0 0; font-size:12px; color:#333;}
.step .step_num .current .num{ background:url(../images/step_on_bg.jpg) no-repeat; color:#fff;}
.step .step_num .current .name{ color:#5496dd;}

.agreement{ width:938px; border:1px solid #e6e6e6; background:#fdfdfd; margin:0 auto; height:400px; overflow-x:hidden; overflow-y:scroll; padding:20px;}
.agreement .txt_box{ width:100%; font-size:12px; line-height:22px;}
.agreement .txt_box p{ margin-bottom:20px;}

.btn_wrap{ width:980px; margin:15px auto ; height:32px; overflow:hidden;}
.btn_wrap .choose_check{ float:left; line-height:32px;}
.btn_wrap .choose_check input{ float:left; margin:9px 5px 0 0;}
.next_btn{ background:url(../images/next_btn.png) no-repeat; border:0; width:107px; height:32px; color:#fff; text-align:center; font-size:14px; line-height:32px; cursor:pointer; float:right; margin-left:15px;}
.previous_btn{ background:url(../images/previous_btn.jpg) no-repeat; border:0; width:107px; height:32px; color:#fff; text-align:center; font-size:14px; line-height:32px; cursor:pointer; float:right; margin-left:15px;}

.footer{ width:980px; padding:20px 0 30px; border-top:1px solid #c7c7c7; text-align:center; font-size:14px; margin:0 auto;}


.tips_box{ width:978px; border:1px solid #e6e6e6; margin:0 auto 15px;}
.tips_box .tips_title{ background:url(../images/title_bg.jpg) left top repeat-x; height:39px; border-bottom:1px solid #e6e6e6; padding:0 20px; line-height:39px; font-size:16px; color:#03C;}
.tips_box .tips_txt{ padding:20px; line-height:22px; font-size:14px;}
.tips_box .tips_txt p{ margin-bottom:15px;}

.tablebox{ border-collapse:collapse; width:980px; margin:0 auto 15px; text-align:center; }
.tablebox td{ border:#e6e6e6 solid 1px; padding:5px; height:30px; }
.tablebox .head_bg{ background:url(../images/title_bg.jpg) repeat-x; height:38px;}

.input_box{ padding:20px; overflow:hidden;}
.input_box ul{list-style:none;}
.input_box li{ line-height:30px; margin-bottom:10px; overflow:hidden;}
.input_box select{padding:3px;}
.input_box .l_name{ width:150px; float:left; text-align:right; font-size:14px; margin-right:5px;}
.input_box .infor_input {width: 350px;height: 22px;border: 1px solid #cacaca;padding: 3px;float: left; margin-right:10px;}
.input_box .tips_p{ float:left; line-height:30px;}

.install{ overflow:hidden;}
.install ul{list-style:none;margin:0;padding:0;}
.install li{ height:30px; line-height:30px; padding:0 30px;}
.install .grey_bg{ background:#fcfcfc;}
.install li span{ color:#03C;}
