<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>SMTP邮件</title>
	<note>所有支持SMTP邮件发送的都可以使用</note>
	<code>
		<server>
			<title>SMTP服务器</title>
			<note>如smtp.126.com</note>
			<type>text</type>
			<required>true</required>
		</server>
		<port>
			<title>端口号</title>
			<note>为空使用25作为默认端口号</note>
			<type>text</type>
		</port>
		<account>
			<title>帐号</title>
			<note>填写邮件服务器发送涉及到的账号</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密码</title>
			<note>邮件服务帐号登录密码</note>
			<type>password</type>
			<required>true</required>
		</password>
		<charset>
			<title>邮件内容编码</title>
			<note>国外邮件建议使用UTF-8，国内邮件建议使用GBK</note>
			<type>radio</type>
			<option>
				<gbk>GBK</gbk>
				<utf8>UTF-8</utf8>
			</option>
			<default>utf8</default>
		</charset>
		<ssl>
			<title>是否使用SSL</title>
			<note>一般不需要使用</note>
			<type>radio</type>
			<option>
				<yes>启用</yes>
				<no>不使用</no>
			</option>
			<default>no</default>
		</ssl>
		<fullname>
			<title>发件人姓名</title>
			<note>设置发件人的姓名</note>
			<type>text</type>
		</fullname>
		<email>
			<title>发件人邮箱</title>
			<note>填写发件人的邮箱（要求登录的账号和密码能匹配）</note>
			<type>text</type>
		</email>
	</code>
	<manage>
		<send>
			<title>发邮件</title>
			<exec>sendemail</exec>
			<type>page</type>
		</send>
	</manage>
</root>