<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>财付通支付引挈</title>
	<code>
		<pid>
			<title>财付通商户号</title>
			<note>设置支付的商户号，您可以登录财付通商家服务查询</note>
			<type>text</type>
		</pid>
		<key>
			<title>财付通密钥</title>
			<note>该密钥初始申请成功后，将在邮件中查看到</note>
			<type>text</type>
		</key>
		<email>
			<title>财付通账号</title>
			<note>设置您的财付通账号，以保证正常收款，一般就是QQ号</note>
			<type>text</type>
		</email>
		<ptype>
			<title>支付类型</title>
			<note>设置支付的类型，我们推荐您使用即时到账</note>
			<type>radio</type>
			<option>
				<create_direct_pay_by_user>即时到账</create_direct_pay_by_user>
				<trade_create_by_buyer>标准双支付接口</trade_create_by_buyer>
			</option>
			<default>create_direct_pay_by_user</default>
		</ptype>
		<bank>
			<title>即时到账可选银行</title>
			<note>不选默认为“财付通”，您可以单独指定某个银行支付</note>
			<type>select</type>
			<option>
				<DEFAULT>财付通</DEFAULT>
				<CMB_D>招商银行</CMB_D>
				<ICBC_D>中国工商银行</ICBC_D>
				<CCB_D>中国建设银行</CCB_D>
				<SPDB>上海浦东发展银行</SPDB>
				<ABC>中国农业银行</ABC>
				<CMBC_D>中国民生银行</CMBC_D>
				<SDB>深圳发展银行</SDB>
				<CIB_D>兴业银行</CIB_D>
				<PAB>平安银行</PAB>
				<COMM_D>交通银行</COMM_D>
				<CITIC>中信银行</CITIC>
				<CEB_D>中国光大银行</CEB_D>
				<GDB_D>广东发展银行</GDB_D>
				<POSTGC>中国邮政储蓄银行（仅支持广东地区）</POSTGC>
				<BOB>北京银行</BOB>
				<BOC_D>中国银行</BOC_D>
				<BEA_D>东亚银行</BEA_D>
				<CMB_C>招商银行信用卡</CMB_C>
				<ICBC_C>中国工商银行信用卡</ICBC_C>
				<CCB_C>中国建设银行信用卡</CCB_C>
				<CMBC_C>中国民生银行信用卡</CMBC_C>
				<CIB_C>兴业银行信用卡</CIB_C>
				<COMM_C>交通银行信用卡</COMM_C>
				<CEB_C>中国光大银行信用卡</CEB_C>
				<GDB_C>广东发展银行信用卡</GDB_C>
				<BOC_C>中国银行信用卡</BOC_C>
				<BEA_C>东亚银行信用卡</BEA_C>
			</option>
		</bank>
	</code>
</root>