
.layui-form-label{overflow:hidden;white-space:nowrap;}

.layui-card-header .fr .layui-icon{line-height:180%;position:static;right:auto;vertical-align: middle;}


.layui-form .layui-form-item .long{width: 500px;}
.layui-form .layui-form-item .w99{width:99%}
.layui-form .layui-form-item select[multiple]{height:120px;}
.layui-form .layui-form-item .long-auto{width:auto;min-width:500px;}
.layui-form .layui-form-item .long textarea{height:80px;}
.layui-form .layui-form-item .default{width: 350px;}
.layui-form .layui-form-item .auto{width: auto;}
.layui-form .layui-form-item .default-auto{width:auto;min-width:350px;}
.layui-form .layui-form-item .title{padding-top:0;}

.layui-laypage>a:hover{text-decoration:none}
.layui-color-blue {color:#1E9FFF;}
.layui-col-offset01{margin-left: 5%;}
.layui-mg-bottom7{margin-bottom: 7px;}
.hide{display: none;}
.layui-form .layui-disabled{background: #eee;color: #666!important;}
body{overflow-x: hidden;}

.red{color:red;}
.fr{float:right;}
.fl{float:left;}
.hand{cursor: pointer;}
.darkblue{color:darkblue;}
.gray{color:gray;}
.center{text-align:center !important;}
.mtop{margin-top:10px;}
.mbtm{margin-bottom:10px;}
.lh38{line-height:38px;}
.lh30{line-height:30px;}
.clear{clear:both; height:0; margin:0; padding:0; width:0; border:none; overflow:hidden;font-size:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;clear:both;height:0;line-height:0;margin:0;padding:0;}
.hide{display:none;}
* html .clearfix{zoom: 1;}
*:first-child + html .clearfix{zoom: 1;}

.phpok-search .layui-inline{min-width:310px;}


.ext_edit{position: absolute;left:0;top:0;z-index:99999;padding:5px;border:1px solid #ccc;border-radius:2px;background:#eee;display:none;}
.layui-form-item:hover .ext_edit{display:block;}