<?xml version="1.0" encoding="UTF-8"?>
<root>
	<title><![CDATA[微信应用]]></title>
	<status>
		<admin><![CDATA[1]]></admin>
		<www><![CDATA[1]]></www>
		<api><![CDATA[1]]></api>
	</status>
	<install><![CDATA[install.php]]></install>
	<uninstall><![CDATA[uninstall.php]]></uninstall>
	<note><![CDATA[集成微信所有接口功能，包括公众号（mp），开放平台（op），小程序（ap）等相关服务]]></note>
</root>