@charset "utf-8";
/* CSS Document */

body{
	font-size:14px;
	font-family:"微软雅黑","宋体","Arial","Arial Narrow","HELVETICA";
	color:#666;
}
input{
	font-family:"微软雅黑","Arial","Arial Narrow",HELVETICA;
}

a{color:#232323;text-decoration:none}
a:hover{color:#E77718;}
em{font-style:normal}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;font-size:1.1em;}
.fl{ float:left;}
.fr{ float:right;}
.cl,.clear{ clear:both;height:0;line-height:0;content:'.';display:block;visibility:hidden;}
.wrap{ width:1200px; margin:0 auto;}
.hand{cursor:pointer;}
.red{color:red;}
.red a{color:red;}
.gray{color:#D3D3D3;}
.darkblue{color:darkblue;}
.tag{color:#000;text-decoration:underline;}
.price{font-size:1em;}
.price span{color:red;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px !important;}
.mbottom10{margin-bottom:10px;}
.center{text-align:center;}
.bt_line{border-bottom:1px dashed #eee;}
.toTop{background:url('../images/to-top.png') center center no-repeat;width:48px;height:48px;border:0;}
.date{font-size:12px;color:gray;}


/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

/*变更AmaeUI默认信息*/
.am-panel-primary{
	border-color:#1f5796
}
.am-panel-primary > .am-panel-hd{
	background-color:#1f5796;
	border-color:#1f5796	
}
.am-btn-primary{
	background-color:#1f5796;
	border-color:#1f5796
}
.am-list > li > a.am-active, .am-list > li > a.am-active:focus, .am-list > li > a.am-active:hover{
	background-color:#1f5796;
	border-color:#1f5796
}
.am-pagination > .am-active > a, .am-pagination > .am-active > a:focus, .am-pagination > .am-active > a:hover, .am-pagination > .am-active > span, .am-pagination > .am-active > span:focus, .am-pagination > .am-active > span:hover{
	background-color:#1f5796;
	border-color:#1f5796
}
.am-slider-c3 .am-slider-counter{
	background-color:#1f5796;
}
.am-comment-highlight .am-comment-avatar, .am-comment-secondary .am-comment-avatar{
	border-color:#1f5796
}
.am-comment-highlight .am-comment-main, .am-comment-secondary .am-comment-main{
	border-color:#1f5796
}
.am-comment-highlight.am-comment-flip .am-comment-main::before, .am-comment-secondary.am-comment-flip .am-comment-main::before{
	border-left-color:#1f5796
}

.am-titlebar{margin-top:0;}
.am-panel{margin-bottom:0;}
.am-panel-title .more{float:right;font-weight:normal;}
.am-panel-bd{padding:0.5rem;}
.am-panel-bd .am-list{margin-bottom:0;}
.am-panel-bd .am-list li:first-child{border-top:0;}
.am-panel-bd .am-list li:last-child{border-bottom:0;}

.am-thumbnail{margin-bottom:0.5em;}
.am-titlebar-default .am-titlebar-title{color:#1f5796}
.am-titlebar-default .am-titlebar-title::before{border-color:#1f5796}
.am-titlebar-default a{color:#1f5796}

.am-breadcrumb{
	font-size:100%;
	margin-top:0.5em;
	margin-bottom:1em;
}

.am-comment-bd img{
	max-width:100%;
}


/* Banner 图片，限宽高*/
.banner{width:100%;min-width:1200px;background-position: center;background-size:cover;background-repeat:no-repeat;}
.banner img{width:100%;height:500px;}
.am-slider-a1 .am-control-nav li a{width:24px;height:24px;background-color:#1f5796}
.am-slider-a1 .am-control-nav li a.am-active {
    background-color: #e0690c;
    cursor: default;
}
.am-slider-a1 .am-control-nav{bottom:10px;}
.am-slider-c2 .am-control-nav{bottom:18px;}
.am-slider-c2 .am-control-nav li a{width:12px;height:12px;}


/* 购物车 */
#head_cart_num{display:inline-block;min-width:16px;line-height:16px;border-radius:50%;background-color:red;color:#fff;text-align: center;font-size:0.7em;}


/* 布局页面 */
.main{margin:0 auto;width:1200px;position:relative;}
.main:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.main div.left{width:260px;float:left;}
.main div.right{width:920px;float:right;}
.main-single{margin:5% auto;background:#fff;padding:20px 0;border:1px solid #ccc;border-radius:5px;}
.main-login{margin:10% auto;width:500px;padding:20px;}


/* 通用框架可选线条布局 */
div.pfw{position:relative;border:1px solid #3375b9;}
div.pfw:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;overflow:hidden;}
div.pfw h3{line-height:30px;font-size:1.2em;font-weight:500;margin:0;padding:0 0 0 20px;background:#3375b9 url('../images/heading_bg.png') 8px top no-repeat;border-bottom:1px solid #ccc;color:#fff;}
div.pfw h3 small{font-size:12px;color:#fff;font-weight:normal;padding-left:4px;font-style:italic;}
div.pfw h3 .more{display:block;float:right;height:30px;line-height:30px;padding-right:8px;font-weight:normal;font-size:12px;background:url('../images/arrow-right.png') right center no-repeat;margin-right:5px;color:#fff;}
div.pfw .content{margin:5px;font-size:1em;line-height: 1.5em;}

	/* 文章列表 */
	div.pfw ul.artlist{list-style:none;margin:0;padding:0 0 5px 0;}
	div.pfw ul.artlist li{display:block;height:24px;line-height:24px;overflow:hidden;white-space:nowrap;word-wrap:nowrap;background:url('../images/icon3.gif') 10px center no-repeat;padding-left:20px;margin:0 3px 0 7px;text-overflow:ellipsis}
	div.pfw ul.artlist li div.date{float:right;line-height:24px;}
	div.pfw ul.artlist li:hover{color:#164476;}

	/*下载列表*/
	div.pfw ul.downlist{list-style:none;margin:0;padding:0 0 5px 0;}
	div.pfw ul.downlist li{display:block;height:24px;line-height:24px;overflow:hidden;white-space:nowrap;word-wrap:nowrap;background:url('../images/download.png') left center no-repeat;padding-left:20px;margin:0 3px 0 7px;}
	div.pfw ul.downlist li:hover a{color:#007A27;}

	/*分类列表*/
	div.pfw ul.catelist{list-style:none;margin:0;padding:0;}
	div.pfw ul.catelist li{height:33px;line-height:33px;background:#FDFDFD;border-bottom:1px solid #ededed;text-indent:2em;}
	div.pfw ul.catelist li.on{background:#fff;color:red;}
	div.pfw ul.catelist li.on a{color:red;font-weight:500;}
	div.pfw ul.catelist li:last-child{border-bottom:0;}

	div.pfw dl.catelist{list-style:none;margin:0;padding:0;}
	div.pfw dl.catelist dt{height:33px;line-height:33px;background:#FDFDFD;border-bottom:1px solid #ededed;padding-left:20px;}
	div.pfw dl.catelist dt.on{background:#fff;color:red;}
	div.pfw dl.catelist dt.on a{color:red;font-weight:500;}
	div.pfw dl.catelist dd{height:33px;line-height:33px;background:#FDFDFD;border-bottom:1px solid #ededed;text-indent:2em;padding-left:20px;}
	div.pfw dl.catelist dd.on{background:#fff;color:red;}
	div.pfw dl.catelist dd.on a{color:red;font-weight:500;}

	div.pfw ul.imglist{ overflow:hidden;margin:0;padding:0;}
	div.pfw ul.imglist li{padding:5px 5px 0 5px; float:left;margin:5px 10px;text-align:center;}
	div.pfw ul.imglist li img{border-radius:5px;box-shadow:1px 1px 5px 0px #ccc;}
	div.pfw ul.imglist li .tit{ line-height:22px; padding:2px; text-align:center;overflow:hidden;height:22px;}



/* 页头属性 */
header{min-width:1200px;margin:0 auto;position:relative;}
header div.top{width:1200px;position:relative;margin:10px auto;}
header div.top:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
header div.top .logo{float:left;}
header div.top .right{float:right;}
header div.top nav.top{height:26px; line-height:26px; text-align:right; color:#666;display:block;}

header nav.menu{width:100%;margin:0; height:48px;line-height:48px; background:#1f5796;list-style:none;position:relative;z-index:1799;}
header nav.menu div.menu{width:1200px;margin:0 auto;}
header nav.menu ul{width:1200px;list-style:none;margin:0;padding:0;position:absolute;z-index:1800;}
header nav.menu ul li{ float:left;position:relative;width:12.5%;overflow:hidden;}
header nav.menu ul li dl{list-style:none;color:#fff;font-size:1em;margin:0;text-align:center;}
header nav.menu ul li dl dd{display:none;}
header nav.menu ul li a{color:#fff;text-decoration: none;}
header nav.menu ul li:hover{background:#0c79b1;transition: all 1s ease;}
header nav.menu ul li:hover dd{display:block;}
header nav.menu ul li:hover dd:hover{background:#0c79b1;}
header nav.menu ul li.current{ background:#e0690c;}

/*轮播*/
.index-banner{position: relative;height:500px;overflow:hidden;}
.index-banner ul.bd{margin:0;padding:0;position: relative;list-style:none;}
.index-banner ul.bd li{position:relative;text-align:center;background-repeat:no-repeat;background-position: center;background-size:cover;height:500px;display;block;overflow:hidden;}
.index-banner ul.hd{margin:0;padding:0;position: absolute;z-index:9;bottom:10px;width:auto;display:inline-block;text-align:center;}
.index-banner ul.hd li{width:20px;height:20px;margin:0 5px;border-radius:50%;background-color:#0c79b1;display: inline-block;border:2px solid #0c79b1;}
.index-banner ul.hd li.on{background-color:red;border-color:#fff}
/* 首页 */

.index-about .thumb{float:left;margin-right:10px;max-width:300px;}
.index-about p{margin:0;text-indent:2em;}




/* 友情链接 */
.link{ padding:10px; line-height:30px;}
.link a{ margin-right:10px;}


.m_box{ overflow:hidden; margin-bottom:10px;}
.m_t{ border-bottom:1px solid #3375b9; height:30px; line-height:30px; margin-bottom:5px; overflow:hidden;}
.m_t .more{ float:right; font-size:11px; padding-top:5px; line-height:25px;color:#3375b9; background:url("../images/arrow-right.png") right 13px no-repeat; padding-right:8px;}
.m_t .name{ float:left;float: left;padding: 0px;margin: 0px;height: 30px;line-height: 30px; font-size:14px; color:#000; font-weight:bold;}
.m_t .name_en{ font-size:13px; color:#666; float:left; padding-left:5px; line-height:32px;}
.home_news { overflow:hidden;}




.foot{ width:100%; background:#efefef; border-top:1px solid #ccc;margin-top:10px;}
.copyright{ width:1200px; margin:0 auto; padding:30px 0; color:#666; line-height:24px;text-align:center;}



/* 详细页对表格的处理 */
.content{ line-height:170%;font-size:1em;font-weight:500;}
.content p{ margin-bottom:1em;}
.content table {border: 1px solid #ddd;border-collapse: collapse;display: table;}
.content table td {border: 1px solid #ddd;padding: 5px 10px;}
.content table th {border: 1px solid #ddd;background-color: #f7f7f7;padding: 5px 10px;}


.news_list{ overflow:hidden; margin-bottom:10px;}
.news_list li{ overflow:hidden; padding:10px; margin-bottom:10px; background:#fafafa;}
.news_list .n-img {float: left;padding-right: 15px;width: 131px;text-align: center;}
.news_list .n-img img{ width:131px; height:97px;}
.news_list h3 {padding: 5px 0 11px; font-size:13px;}
.news_list h3 a{font-size:13px;}
.news_list .n-txt {color: #979797;text-indent: 24px;line-height: 20px;}
.news_list .more, .news_list .more a {color: #34ACE2;}



.vcode{border: 1px solid #CCCCCC; line-height: 20px; padding:3px;width:130px;text-transform:uppercase;margin-right:3px;}


/* 会员个人中心涉及到的CSS，以cp-为前缀 */
.cp-avatar{margin:5% 0}
.cp-avatar img{width:60px;height:60px;}
.cp-ico{width:50px;}




/* 自定义表示用到的样式 */
input[type=text] + input[type=button]{padding:0.415em 1em;margin-left:5px;}
input[type=text] + input[type=button] + input[type=button]{padding:0.415em 1em;}


/* 产品详细页 开始 */
.proimg{height:470px;border:1px solid #dedede;box-shadow:1px 1px 1px #dedede;}
.proimg .product_img{position:relative; width:450px;height:450px;overflow:hidden;margin:10px;overflow:hidden;}
.proimg .product_img img{width:100%;}
.proimg .product_img ul{list-style:none;margin:0;padding:0;}
.proimg .product_img ul.hd{right:10px;bottom:10px;height:12px;overflow:hidden;z-index:3;position:absolute;}
.proimg .product_img ul.hd li{float:left;width:20px;height:10px;margin-left:5px;cursor:pointer;background:#ccc;}
.proimg .product_img ul.hd li.on{background:red;}
div.attr{border:1px solid #ccc;margin-bottom:5px;line-height:26px;padding:3px 10px;cursor:pointer;}
div.attr.selected{border:1px solid red;}

/* 产品详细页 结束 */

/* 地址信息编辑 */
.address .pca:after{clear:both;content:'.';display: block;visibility: hidden;height:0;line-height:0;font-size:0;}
.address select{width:30%;float:left;}
.address select + select{margin-left:3px;}


/* 留言回复 */
.adm_reply {margin:4px 0 0 0;font-size:1em;line-height:180%;border-top:1px solid #ccc;padding:5px;position:relative;background:#fafafa;}
.adm_reply .adminer{color:darkred;}
.adm_reply p{margin:5px 0;text-indent:2em;}

.im_floatonline{position: fixed;right:10px;top:40%;width:150px;}
.im_floatonline .kf a{text-align:center;}

/* 页脚客服 */
.floatbar {
	border-top:#e0690c 2px solid;
	left: 0px;
	padding-top:8px;
	margin: 0px auto;
	width: 100%;
	bottom: 0px! important;
	position: fixed;
	height:50px;
	z-index:99999;
	background:#0e90d2;
}
.floatbar .weixin{position: relative;}
.floatbar .wxpic{display:none;position:absolute;left:50%;margin-left:-60px;top:-130px;}
.floatbar .wxpic img{width:120px;height:120px;border:1px solid #000;padding:5px;background:#fff;}
.floatbar a{color:#fff;}


.weixin_product{position: relative;}
.weixin_product .wxpic{display:none;position:absolute;left:50%;margin-left:-60px;top:-130px;}
.weixin_product .wxpic img{width:120px;height:120px;border:1px solid #000;padding:5px;background:#fff;}


h2.title {text-align:center;height:200%;color:#e0690c;font-size:2.4em;font-weight:400;margin:0.8em auto;background:url('../images/h2_background.png') center center no-repeat;}
h2.title small{font-size:0.6em;color:#ddd;font-weight:lighter;display: block;}


ul.products li{position: relative;}
ul.products li .am-title{margin-top:0;height:2em;}
.discount{width:60px;height:60px;overflow:hidden;position: absolute;right:0;top:0}
.discount img{width:100%;}

/* 搜索 */
section.search{
	background:#1f5796;
	padding:20px 0;
	color:#fff;
}

section.search a{
	color:#fff;
	padding-right:10px;
}

.am-container{
	min-width:1200px;
}