<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>银联（UnionPay）支付</title>
	<code>
		<cvn2_encode>
			<title>CVN2加密</title>
			<note>请配置CVN2是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</cvn2_encode>
		<date_encode>
			<title>有效期加密</title>
			<note>请配置有效期是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</date_encode>
		<pan_encode>
			<title>卡号加密</title>
			<note>请配置卡号是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</pan_encode>
		<sign_cert_file>
			<title>私钥证书</title>
			<note>基于程序根目录下而言，为空使用 payment/unionpay/default.pfx，检测不到将会报错</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</sign_cert_file>
		<sign_cert_pwd>
			<title>签名证书密码</title>
			<note>请填写证书的密码，为空或0，则为000000</note>
			<type>text</type>
		</sign_cert_pwd>
		<encrypt_cert_file>
			<title>密码加密证书</title>
			<note>不使用时请留空</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</encrypt_cert_file>
		<verify_cert_file>
			<title>生产验签证书</title>
			<note>基于网站根目录，为空使用payment/unionpay/default.cer，检测不到将会报错</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</verify_cert_file>
		<single_query_url>
			<title>单笔查询请求地址</title>
			<note>用于查询支付进度情况</note>
			<type>text</type>
		</single_query_url>
		<trans_url_type>
			<title>交易模式</title>
			<note>请接口访问模式</note>
			<type>radio</type>
			<option>
				<front>前台请求</front>
				<back>后台请求</back>
				<card>有卡交易</card>
				<app>APP交易</app>
			</option>
			<default>front</default>
		</trans_url_type>
		<trans_url>
			<title>请求地址</title>
			<note>请填写接口请求地址</note>
			<type>text</type>
		</trans_url>
		<mer_id>
			<title>商户号</title>
			<note>请填写自己的商户号</note>
			<type>text</type>
		</mer_id>
		<txn_sub_type>
			<title>交易消费子类</title>
			<note>请选择交易消费子类，分期付款仅限信用卡，请检查您的商户是否已支持</note>
			<type>radio</type>
			<option>
				<default>自助消费</default>
				<installment>分期付款</installment>
			</option>
			<default>default</default>
		</txn_sub_type>
	</code>
</root>