<?xml version="1.0" encoding="utf-8"?>
<root>
	<form>
		<text>
			<title><![CDATA[文本框]]></title>
			<note><![CDATA[不支持回车符号，不超过255个字符或80个汉字的时候建议选择]]></note>
		</text>
		<password>
			<title><![CDATA[密码框]]></title>
			<note><![CDATA[文本框变种，保留首页和末位字符显示，中间用星号表示]]></note>
		</password>
		<radio>
			<title><![CDATA[单选框]]></title>
			<note><![CDATA[适合使用于数据量小，比较固定的选项，如性别，是否等]]></note>
		</radio>
		<checkbox>
			<title><![CDATA[复选框]]></title>
			<note><![CDATA[适用于数据量小，但要有多种选择，如兴趣爱好等]]></note>
		</checkbox>
		<select>
			<title><![CDATA[下拉菜单]]></title>
			<note><![CDATA[与单选框类似，适用于数据量小使用]]></note>
		</select>
		<textarea>
			<title><![CDATA[文本区]]></title>
			<note><![CDATA[支持回车符号，注意容易与HTML代码冲突，建议实体文本使用]]></note>
		</textarea>
		<editor>
			<title><![CDATA[编辑器]]></title>
			<note><![CDATA[支持HTML编写，提交数据时建议选择：安全HTML]]></note>
		</editor>
		<code_editor>
			<title><![CDATA[代码编辑器]]></title>
			<note><![CDATA[手写代码，适用于放置统计代码，分享代码等，提交时建议选择：完整HTML]]></note>
		</code_editor>
		<upload>
			<title><![CDATA[附件]]></title>
			<note><![CDATA[请注意，仔细配置好上传的附件类型等信息]]></note>
		</upload>
		<title>
			<title><![CDATA[主题]]></title>
			<note><![CDATA[所选择的主题必须预先设定好，建议使用【扩展模型】取代]]></note>
		</title>
		<extitle>
			<title><![CDATA[扩展模型]]></title>
			<note><![CDATA[仅能单选一个项目，项目要求绑定模块]]></note>
		</extitle>
		<user>
			<title><![CDATA[会员]]></title>
			<note><![CDATA[支持单选和多选，仅限后台使用]]></note>
		</user>
		<url>
			<title><![CDATA[网址]]></title>
			<note><![CDATA[字段类型一定要选择长文本，否则可能会被截断出错]]></note>
		</url>
		<param>
			<title><![CDATA[规格参数]]></title>
			<note><![CDATA[字段类型请选择长文本，否则数据会被截断出错]]></note>
		</param>
		<pca>
			<title><![CDATA[省市县联动]]></title>
			<note><![CDATA[仅限国内使用，同时也用于物流应用]]></note>
		</pca>
	</form>
	<field>
		<varchar>
			<title><![CDATA[字符串]]></title>
			<note><![CDATA[长度是255个字符，最多只能放80个汉字]]></note>
		</varchar>
		<int>
			<title><![CDATA[整型]]></title>
			<note><![CDATA[11位整数，最大值为2147483647，最小值为-2147483648]]></note>
		</int>
		<float>
			<title><![CDATA[浮点型]]></title>
			<note><![CDATA[支持负号，主要适用于有小数点的数据]]></note>
		</float>
		<date>
			<title><![CDATA[日期]]></title>
			<note><![CDATA[数据库保存格式是：YYYY-MM-DD，请注意，这个不是时间戳]]></note>
		</date>
		<datetime>
			<title><![CDATA[日期时间]]></title>
			<note><![CDATA[存储格式是：YYYY-MM-DD HH:ii:ss]]></note>
		</datetime>
		<longtext>
			<title><![CDATA[长文本]]></title>
			<note><![CDATA[适用于存储文章内容及其他长文]]></note>
		</longtext>
		<longblob>
			<title><![CDATA[二进制信息]]></title>
			<note><![CDATA[适用于存储二进制数据，不清楚请不要选这一项]]></note>
		</longblob>
	</field>
	<format>
		<safe>
			<title><![CDATA[实体文本]]></title>
			<note><![CDATA[HTML实体化，包括单双引号，尖括号都会实体化显示]]></note>
		</safe>
		<text>
			<title><![CDATA[普通文本]]></title>
			<note><![CDATA[HTML代码都会被清除掉，即所有尖括号内容都会被清除]]></note>
		</text>
		<html>
			<title><![CDATA[安全HTML]]></title>
			<note><![CDATA[过滤了 js，iframe，css 等相关信息，以保证数据安全]]></note>
		</html>
		<html_js>
			<title><![CDATA[完整HTML]]></title>
			<note><![CDATA[保留所有输入样式，包括 js，iframe，css 等信息，有安全隐患]]></note>
		</html_js>
		<int>
			<title><![CDATA[整数]]></title>
			<note><![CDATA[仅支持数字及负号]]></note>
		</int>
		<float>
			<title><![CDATA[浮点型]]></title>
			<note><![CDATA[支持小数点，数字及负号]]></note>
		</float>
		<time>
			<title><![CDATA[时间戳]]></title>
			<note><![CDATA[将输入的信息转化成10位数字，注意数据表必须建成字符串类型]]></note>
		</time>
	</format>
</root>