<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>微信支付接口</title>
	<code>
		<mch_id>
			<title>商户号</title>
			<note>微信支付分配的商户号</note>
			<type>text</type>
		</mch_id>
		<app_key>
			<title>支付密钥</title>
			<note>参考开户邮件设置（必须配置，登录商户平台自行设置）</note>
			<type>text</type>
		</app_key>
		<appid>
			<title>公众号AppID</title>
			<note>微信公众号ID，示例值：wxd678efh567hg6787，用于公众号支付，H5支付</note>
			<type>text</type>
		</appid>
		<open_appid>
			<title>开放平台AppID</title>
			<note><![CDATA[<a href="//open.weixin.qq.com/" target="_blank" class="red">腾迅开放平台</a>申请到的AppID，用于APP支付和扫码支付]]></note>
			<type>text</type>
		</open_appid>
		<mini_appid>
			<title>小程序AppID</title>
			<note>微信小程序申请到的AppID，适用于小程序支付</note>
			<type>text</type>
		</mini_appid>
		<pem_cert>
			<title>证书文件</title>
			<note>PEM格式，部分接口中强制要求时需携带的证书文件</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_cert>
		<pem_key>
			<title>证书密钥</title>
			<note>PEM格式，部分接口中强制要求时需携带的密钥文件</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_key>
		<pem_ca>
			<title>中间证书</title>
			<note>也是指CA证书，严格审核需要</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_ca>
		<proxy_host>
			<title>代理IP</title>
			<note>只有需要代理的时候才设置，不需要代理，请设置为0.0.0.0</note>
			<type>text</type>
			<default>0.0.0.0</default>
		</proxy_host>
		<proxy_port>
			<title>代理端口号</title>
			<note>同上，不需要代理请留空或设为0</note>
			<type>text</type>
		</proxy_port>
	</code>
</root>