<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>微信支付接口</title>
	<code>
		<appid>
			<title>公众账号ID</title>
			<note>微信分配的公众账号ID（企业号corpid即为此appId）</note>
			<type>text</type>
		</appid>
		<mch_id>
			<title>商户号</title>
			<note>微信支付分配的商户号</note>
			<type>text</type>
		</mch_id>
		<app_key>
			<title>商户支付密钥</title>
			<note>参考开户邮件设置（必须配置，登录商户平台自行设置）</note>
			<type>text</type>
		</app_key>
		<app_secret>
			<title>公众帐号Secert</title>
			<note>仅使用公众号支付需要配置，登录公众平台，进入开发者中心可设置</note>
			<type>text</type>
		</app_secret>
		<device_info>
			<title>设备号</title>
			<note>终端设备号(门店号或收银设备ID)，注意：PC网页或公众号内支付请传“WEB”</note>
			<type>text</type>
		</device_info>
		<trade_type>
			<title>交易类型</title>
			<note>请选择该交易支持的类型</note>
			<type>radio</type>
			<option>
				<native>原生扫码支付</native>
				<jsapi>公众号支付</jsapi>
				<wap>WAP支付</wap>
			</option>
			<default>native</default>
		</trade_type>
		<pem_cert>
			<title>证书pem格式</title>
			<note>接口中强制要求时需携带的证书文件</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_cert>
		<pem_key>
			<title>证书密钥pem格式</title>
			<note>同上</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_key>
		<pem_ca>
			<title>CA证书</title>
			<note>同上</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_ca>
		<proxy_host>
			<title>代理IP</title>
			<note>只有需要代理的时候才设置，不需要代理，请设置为0.0.0.0</note>
			<type>text</type>
			<default>0.0.0.0</default>
		</proxy_host>
		<proxy_port>
			<title>代码端口号</title>
			<note>同上，不需要代码请留空或设为0</note>
			<type>text</type>
		</proxy_port>
	</code>
</root>