.smileytable td {height: 37px;}
#tabPanel{overflow: hidden;}
#tabContent {float:left;background:#FFFFFF;}
#tabContent div{display: none;width:480px;overflow:hidden;}
#tabIconReview.show{left:17px;display:block;}
.menuFocus{background:#ACCD3C;}
.menuDefault{background:#FFFFFF;}

#tabPanel table{width: 100%;}
#tabPanel td{border:1px solid #BAC498;text-align:center;}
#tabPanel td:hover{background:#ACCD3C}
#tabPanel td img{width:80%;padding-top:1px;cursor:pointer;}
