<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>汉特（HantePay）支付网关</title>
	<note></note>
	<code>
		<merchant_no>
			<title>商户号</title>
			<note>汉物官方提供的商户号，请到商户中心里获取</note>
			<type>text</type>
		</merchant_no>
		<store_no>
			<title>门店编号</title>
			<note>设置门店的编号，请登录官网平台进行查看</note>
			<type>text</type>
		</store_no>
		<key_secret>
			<title>MD5密钥</title>
			<note>设置支付的KEY，您可以登录商家服务查询 MD5 密钥</note>
			<type>text</type>
		</key_secret>
		<payment_method>
			<title>支付方式</title>
			<note>请填写支付方式，仅部分支付支持智能判断</note>
			<type>radio</type>
			<option>
				<wechatpay>微信支付</wechatpay>
				<alipay>支付宝支付</alipay>
				<fixed>智能判断</fixed>
			</option>
			<default>fixed</default>
		</payment_method>
		<micro_appid>
			<title>小程序AppId</title>
			<note>使用小程序支付，不能使用智能判断，请选择微信或是支付宝，并填上对应的AppId</note>
			<type>text</type>
		</micro_appid>
		<ptype>
			<title>支付类型</title>
			<type>radio</type>
			<option>
				<securepay>标准支付（PC或手机）</securepay>
				<qrcode>二维码支付</qrcode>
				<qrpay>多合一二维码（支付方式请选择智能判断）</qrpay>
				<micropay>小程序支付（请填写小程序AppId）</micropay>
				<pospay>线下扫码支付（需要终端设备配合）</pospay>
				<apppay>APP支付（主要是针对App订单支付）</apppay>
			</option>
			<default>securepay</default>
		</ptype>
		<auto_rmb>
			<title>货币置换</title>
			<note>汉特支付仅支持美元，是否启用人民币自动结算美元，设为【自动】传入到汉特支付将自动根据当前汇率转成相应的美元，设为【内置】使用系统内置汇率转换</note>
			<type>radio</type>
			<option>
				<auto>自动</auto>
				<user>内置</user>
			</option>
			<default>user</default>
		</auto_rmb>
	</code>
</root>