<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>快递100接口</title>
	<code>
		<kd_id>
			<title>身份授权Key</title>
			<note>注意区分大小写，请到快递100官网申请</note>
			<type>text</type>
		</kd_id>
		<kd_com>
			<title>所属快递公司</title>
			<note>请选择要支持的快递公司</note>
			<type>select</type>
			<option>
				<dhl>DHL中国</dhl>
				<guangdongyouzhengwuliu>广东邮政</guangdongyouzhengwuliu>
				<tiantian>天天快递</tiantian>
				<lianbangkuaidi>FedEx</lianbangkuaidi>
				<ups>UPS中文</ups>
				<zhaijisong>宅急送</zhaijisong>
			</option>
		</kd_com>
	</code>
</root>