<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>京东支付接口</title>
	<code>
		<merchant>
			<title>商户号</title>
			<note>商户号（由京东分配）</note>
			<type>text</type>
		</merchant>
		<pay_merchant>
			<title>收款商户</title>
			<note>收银台展示的收款商户，默认为商户号对应的商户</note>
			<type>text</type>
		</pay_merchant>
		<device>
			<title>门店号</title>
			<note>商户门店号</note>
			<type>text</type>
		</device>
		<key_3des>
			<title>3DES加密密钥</title>
			<note>京东提供的用于实现3DES加密的字串</note>
			<type>text</type>
		</key_3des>
		<key_md5>
			<title>MD5加密密钥</title>
			<note>京东提供的用于实现MD5加密的字串</note>
			<type>text</type>
		</key_md5>
		<prikey>
			<title>私钥</title>
			<note>设置支付的私钥</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</prikey>
		<pubkey>
			<title>验签公钥</title>
			<note>设置支付的公钥，以确保数据的准确无串改</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pubkey>
		<expire_time>
			<title>有效期</title>
			<note>设置订单的超时时间，单位是秒，不能低600秒</note>
			<type>text</type>
		</expire_time>
		<enterprise_id>
			<title>企业站商户ID</title>
			<note>调用代理商商户报备接口，报备成功后，京东侧返回的报备商户的唯一id</note>
			<type>text</type>
		</enterprise_id>
		<brand>
			<title>商品品牌</title>
			<note>此为风控参数，是否必填请咨询京东客服</note>
			<type>text</type>
		</brand>
	</code>
</root>