<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>易源接口之快递查询</title>
	<code>
		<app_id>
			<title>应用id</title>
			<note>即showapi.com里的：appid</note>
			<type>text</type>
		</app_id>
		<app_secret>
			<title>密钥</title>
			<note>即showapi.com里的secret</note>
			<type>text</type>
		</app_secret>
		<app_com>
			<title>快递公司</title>
			<note>请选择要支持的快递公司</note>
			<type>select</type>
			<option>
				<pingyou>包裹/挂号信/小包</pingyou>
				<gdems>广东EMS快递</gdems>
				<gjbg>国际包裹</gjbg>
				<yitongda>易通达</yitongda>
				<gtsd>高铁速递</gtsd>
				<hkpost>香港邮政</hkpost>
				<intmail>中国邮政国际包裹</intmail>
				<zhongxinda>中信达快递</zhongxinda>
				<tiantian>天天快递</tiantian>
				<shentong>申通快递</shentong>
				<ups>UPS快递</ups>
				<yousu>优速快递</yousu>
				<yuantong>圆通快递</yuantong>
				<yunda>韵达快递</yunda>
				<zhongtong>中通快递</zhongtong>
				<zhongtie>中铁快运</zhongtie>
				<jingdong>京东快递</jingdong>
				<bgpyghx>包裹、平邮、挂号信</bgpyghx>
				<ems>EMS</ems>
				<zjs>宅急送</zjs>
				<chengji>城际快递</chengji>
				<chengshi100>城市100快递</chengshi100>
				<dhl>DHL快递</dhl>
				<fedexcn>Fedex联邦快递(国内)</fedexcn>
				<fedex>Fedex联邦快递(国际)</fedex>
				<guotong>国通快递</guotong>
				<shunfeng>顺丰快递</shunfeng>
			</option>
		</app_com>
	</code>
</root>