<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>快递查询</title>
	<note>基于易源（ShowApi）接口查询</note>
	<content><![CDATA[接口申请地址：<a href="https://www.showapi.com/api/view/64" target="_blank">申请并购买接口</a>]]></content>
	<code>
		<app_id>
			<title>应用id</title>
			<note>即showapi.com里的：appid</note>
			<type>text</type>
		</app_id>
		<app_secret>
			<title>密钥</title>
			<note>即showapi.com里的secret</note>
			<type>text</type>
		</app_secret>
		<app_com>
			<title>快递公司</title>
			<note>请选择要支持的快递公司</note>
			<type>select</type>
			<option>
				<djy56><![CDATA[天翔东捷运]]></djy56>
				<yuantong><![CDATA[圆通速递]]></yuantong>
				<cnexps><![CDATA[CNE]]></cnexps>
				<el56><![CDATA[易联通达物流]]></el56>
				<jincheng><![CDATA[锦程快递]]></jincheng>
				<yisong><![CDATA[宜送]]></yisong>
				<hangbang><![CDATA[美国汉邦快递]]></hangbang>
				<sccod><![CDATA[丰程物流]]></sccod>
				<LONGSHENWL><![CDATA[龙胜物流]]></LONGSHENWL>
				<kyue><![CDATA[跨跃国际]]></kyue>
				<pochta><![CDATA[俄罗斯邮政(RussianPost)]]></pochta>
				<wuliu><![CDATA[56快运]]></wuliu>
				<tntitaly><![CDATA[TNTItaly]]></tntitaly>
				<parcelforcecn><![CDATA[英国邮政大包EMS]]></parcelforcecn>
				<zuochuan><![CDATA[佐川急便]]></zuochuan>
				<xiyoute><![CDATA[希优特快递]]></xiyoute>
				<hqtd><![CDATA[环球通达]]></hqtd>
				<zhima><![CDATA[芝麻开门]]></zhima>
				<huacheng><![CDATA[华诚物流]]></huacheng>
				<zhongjia><![CDATA[中加国际]]></zhongjia>
				<toll><![CDATA[Toll]]></toll>
				<kongfzorder><![CDATA[孔夫子]]></kongfzorder>
				<tykd><![CDATA[天翼快递]]></tykd>
				<ghtexpress><![CDATA[GHT物流]]></ghtexpress>
				<shanghaikuaitong><![CDATA[上海快通]]></shanghaikuaitong>
				<abcglobal><![CDATA[全球快运]]></abcglobal>
				<polarexpress><![CDATA[极地快递]]></polarexpress>
				<hebeijianhua><![CDATA[河北建华物流]]></hebeijianhua>
				<emirates><![CDATA[阿联酋邮政(EmiratesPost)]]></emirates>
				<gvpexpress><![CDATA[宏观国际快递]]></gvpexpress>
				<sendtochina><![CDATA[速递中国]]></sendtochina>
				<lasership><![CDATA[LaserShip]]></lasership>
				<LIMINWL><![CDATA[利民物流]]></LIMINWL>
				<elta><![CDATA[希腊邮政包裹（ELTAHellenicPost）]]></elta>
				<jixianda><![CDATA[急先达物流]]></jixianda>
				<stkd><![CDATA[顺通快递]]></stkd>
				<dhlnetherlands><![CDATA[DHL-荷兰（DHLNetherlands）]]></dhlnetherlands>
				<safexpress><![CDATA[Safexpress]]></safexpress>
				<azlt><![CDATA[澳洲蓝天国际快递]]></azlt>
				<quanritong><![CDATA[全日通快递]]></quanritong>
				<bangladesh><![CDATA[孟加拉国邮政(EMS)]]></bangladesh>
				<iyoungspeed><![CDATA[驿扬国际速运]]></iyoungspeed>
				<zhe800order><![CDATA[折800]]></zhe800order>
				<ywexpress><![CDATA[远为快递]]></ywexpress>
				<dehaoyi><![CDATA[德豪驿]]></dehaoyi>
				<ZGWL><![CDATA[振刚物流]]></ZGWL>
				<eucpost><![CDATA[德国邮政EUCPOST]]></eucpost>
				<oman><![CDATA[阿曼邮政(OmanPost)]]></oman>
				<sfpost><![CDATA[曹操到]]></sfpost>
				<jsexpress><![CDATA[骏绅物流]]></jsexpress>
				<shiyun><![CDATA[世运快递]]></shiyun>
				<flowerkd><![CDATA[花瓣转运]]></flowerkd>
				<PHOENIXEXP><![CDATA[凤凰快递]]></PHOENIXEXP>
				<shpost><![CDATA[同城快寄]]></shpost>
				<cnmcpl><![CDATA[马珂博逻]]></cnmcpl>
				<purolator><![CDATA[加拿大邮政(Purolator)]]></purolator>
				<gtgogo><![CDATA[GT国际快运]]></gtgogo>
				<xiaoxiangchenbao><![CDATA[潇湘晨报]]></xiaoxiangchenbao>
				<shenma><![CDATA[神马快递]]></shenma>
				<hltop><![CDATA[海联快递]]></hltop>
				<morocco><![CDATA[摩洛哥邮政(MoroccoPost)]]></morocco>
				<aplusex><![CDATA[Aplus物流]]></aplusex>
				<zhdwl><![CDATA[众辉达物流]]></zhdwl>
				<wanggeng><![CDATA[万庚国际]]></wanggeng>
				<quantwl><![CDATA[全通快运]]></quantwl>
				<hengyu><![CDATA[恒宇运通]]></hengyu>
				<ruexp><![CDATA[捷网俄全通]]></ruexp>
				<sdsy888><![CDATA[首达速运]]></sdsy888>
				<mangguo><![CDATA[芒果速递]]></mangguo>
				<ibuy8><![CDATA[爱拜物流]]></ibuy8>
				<fyex><![CDATA[飞云快递系统]]></fyex>
				<TIANHEWL><![CDATA[天河物流]]></TIANHEWL>
				<jerseypost><![CDATA[泽西岛邮政]]></jerseypost>
				<JIAYU><![CDATA[佳宇物流]]></JIAYU>
				<phlpost><![CDATA[菲律宾邮政（PhilippinePostal）]]></phlpost>
				<fedexcn><![CDATA[Fedex联邦快递(国内)]]></fedexcn>
				<xiangdawuliu><![CDATA[湘达物流]]></xiangdawuliu>
				<feibang><![CDATA[飞邦物流]]></feibang>
				<speeda><![CDATA[行必达]]></speeda>
				<kazpost><![CDATA[哈萨克斯坦邮政(Kazpost)]]></kazpost>
				<jingshi><![CDATA[京世物流]]></jingshi>
				<maple><![CDATA[今枫国际快运]]></maple>
				<bester><![CDATA[飛斯特]]></bester>
				<sdto><![CDATA[速达通]]></sdto>
				<YBWL><![CDATA[邮联物流]]></YBWL>
				<sfjhd><![CDATA[圣飞捷快递]]></sfjhd>
				<zhonghuan><![CDATA[中环国际快递]]></zhonghuan>
				<xiaomi><![CDATA[小米]]></xiaomi>
				<pca><![CDATA[澳大利亚PCA快递]]></pca>
				<botspost><![CDATA[博茨瓦纳邮政]]></botspost>
				<sujievip><![CDATA[郑州速捷]]></sujievip>
				<tiezhong><![CDATA[铁中快运]]></tiezhong>
				<maldives><![CDATA[马尔代夫邮政(MaldivesPost)]]></maldives>
				<cccc58><![CDATA[中集冷云]]></cccc58>
				<bcwelt><![CDATA[BCWELT]]></bcwelt>
				<yidihui><![CDATA[驿递汇速递]]></yidihui>
				<airgtc><![CDATA[航空快递]]></airgtc>
				<pingandatengfei><![CDATA[平安达腾飞]]></pingandatengfei>
				<nedahm><![CDATA[红马速递]]></nedahm>
				<dpex><![CDATA[DPEX快递]]></dpex>
				<diantong><![CDATA[店通快递]]></diantong>
				<chengshi100><![CDATA[城市100快递]]></chengshi100>
				<bangsongwuliu><![CDATA[邦送物流]]></bangsongwuliu>
				<dpdgermany><![CDATA[DPDGermany]]></dpdgermany>
				<qdants><![CDATA[ANTSEXPRESS]]></qdants>
				<sutong><![CDATA[速通物流]]></sutong>
				<ecallturn><![CDATA[E跨通]]></ecallturn>
				<buytong><![CDATA[百通物流]]></buytong>
				<sunjex><![CDATA[新杰物流]]></sunjex>
				<correios><![CDATA[莫桑比克邮政（CorreiosdeMoçambique）]]></correios>
				<gtsd><![CDATA[高铁速递]]></gtsd>
				<lao><![CDATA[老挝邮政(LaoExpress)]]></lao>
				<sanshengco><![CDATA[三盛快递]]></sanshengco>
				<sihiexpress><![CDATA[四海捷运]]></sihiexpress>
				<sdyoupei><![CDATA[优配速运]]></sdyoupei>
				<changjiang><![CDATA[长江国际速递]]></changjiang>
				<nlebv><![CDATA[亚欧专线]]></nlebv>
				<ausexpress><![CDATA[澳世速递]]></ausexpress>
				<cjkoreaexpress><![CDATA[大韩通运]]></cjkoreaexpress>
				<zhuoshikuaiyun><![CDATA[卓实快运]]></zhuoshikuaiyun>
				<mchy><![CDATA[木春货运]]></mchy>
				<jinyue><![CDATA[晋越快递]]></jinyue>
				<SHHX><![CDATA[昊昕物流]]></SHHX>
				<vipshoporder><![CDATA[唯品会]]></vipshoporder>
				<hongxun><![CDATA[鸿讯物流]]></hongxun>
				<qianli><![CDATA[千里速递]]></qianli>
				<transrush><![CDATA[TransRush]]></transrush>
				<ukraine><![CDATA[乌克兰邮政(UkrPoshta)]]></ukraine>
				<bosind><![CDATA[堡昕德速递]]></bosind>
				<sudapost><![CDATA[苏丹邮政（Sudapost）]]></sudapost>
				<dcs><![CDATA[DCS]]></dcs>
				<italysad><![CDATA[ItalySDA]]></italysad>
				<xinning><![CDATA[新宁物流]]></xinning>
				<yyexpress><![CDATA[远洋国际]]></yyexpress>
				<hyeship><![CDATA[鸿远物流]]></hyeship>
				<csxss><![CDATA[新时速物流]]></csxss>
				<gdct56><![CDATA[广东诚通物流]]></gdct56>
				<bpostinter><![CDATA[比利时国际邮政(Bpostinternational)]]></bpostinter>
				<ugoexpress><![CDATA[邮鸽速运]]></ugoexpress>
				<rpx><![CDATA[RPX保时达]]></rpx>
				<zgyzt><![CDATA[一站通快递]]></zgyzt>
				<huaxialong><![CDATA[华夏龙物流]]></huaxialong>
				<zhpex><![CDATA[众派速递]]></zhpex>
				<dpduk><![CDATA[DPDUK]]></dpduk>
				<bohei><![CDATA[波黑邮政(JPBHPosta)]]></bohei>
				<youban><![CDATA[邮邦国际]]></youban>
				<XINTIAN><![CDATA[鑫天顺物流]]></XINTIAN>
				<overseaex><![CDATA[波音速递]]></overseaex>
				<cnup><![CDATA[CNUP中联邮]]></cnup>
				<yilingsuyun><![CDATA[亿领速运]]></yilingsuyun>
				<SJWL><![CDATA[宋军物流]]></SJWL>
				<decnlh><![CDATA[德中快递]]></decnlh>
				<upsmailinno><![CDATA[UPSMailInnovations]]></upsmailinno>
				<jordan><![CDATA[约旦邮政(JordanPost)]]></jordan>
				<zhongtian><![CDATA[中天快运]]></zhongtian>
				<greenland><![CDATA[格陵兰[丹麦]邮政（TELEGreenlandA/S）]]></greenland>
				<rwanda><![CDATA[卢旺达邮政(Rwandai-posita)]]></rwanda>
				<ubuy><![CDATA[德国优拜物流]]></ubuy>
				<maxeed><![CDATA[迈速快递]]></maxeed>
				<hongjie><![CDATA[宏捷国际物流]]></hongjie>
				<jieborne><![CDATA[捷邦物流]]></jieborne>
				<iceland><![CDATA[冰岛邮政(IcelandPost)]]></iceland>
				<malta><![CDATA[马耳他邮政（MaltaPost）]]></malta>
				<ltexp><![CDATA[乐天速递]]></ltexp>
				<saiaodi><![CDATA[赛澳递]]></saiaodi>
				<subida><![CDATA[速必达物流]]></subida>
				<bulgarian><![CDATA[保加利亚邮政（BulgarianPosts）]]></bulgarian>
				<deltec><![CDATA[DeltecCourier]]></deltec>
				<bolivia><![CDATA[玻利维亚邮政]]></bolivia>
				<postdanmarken><![CDATA[丹麦邮政(PostDenmark)]]></postdanmarken>
				<clsp><![CDATA[CL日中速运]]></clsp>
				<gjbg><![CDATA[国际包裹]]></gjbg>
				<nederlandpost><![CDATA[荷兰速递(NederlandPost)]]></nederlandpost>
				<yhtlogistics><![CDATA[宇航通物流]]></yhtlogistics>
				<euasia><![CDATA[欧亚专线]]></euasia>
				<laposte><![CDATA[塞内加尔邮政]]></laposte>
				<haixingqiao><![CDATA[海星桥快递]]></haixingqiao>
				<portugalctt><![CDATA[葡萄牙邮政（PortugalCTT）]]></portugalctt>
				<ilogen><![CDATA[logen路坚]]></ilogen>
				<yuntongkuaidi><![CDATA[运通中港]]></yuntongkuaidi>
				<bdt><![CDATA[八达通物流]]></bdt>
				<feikuaida><![CDATA[飞快达物流]]></feikuaida>
				<htwd><![CDATA[华通务达物流]]></htwd>
				<deguo8elog><![CDATA[德国八易转运]]></deguo8elog>
				<quansutong><![CDATA[全速通国际快递]]></quansutong>
				<yiqisong><![CDATA[一起送]]></yiqisong>
				<zhongsukuaidi><![CDATA[中速快件]]></zhongsukuaidi>
				<pengyuan><![CDATA[鹏远国际速递]]></pengyuan>
				<ht22><![CDATA[海淘物流]]></ht22>
				<aolau><![CDATA[AOL澳通速递]]></aolau>
				<alog><![CDATA[心怡物流]]></alog>
				<skynet><![CDATA[skynet]]></skynet>
				<dekuncn><![CDATA[德坤物流]]></dekuncn>
				<imlb2c><![CDATA[艾姆勒]]></imlb2c>
				<ruifeng><![CDATA[瑞丰速递]]></ruifeng>
				<wanjiatong><![CDATA[宁夏万家通快递]]></wanjiatong>
				<albania><![CDATA[阿尔巴尼亚邮政(Postashqipatre)]]></albania>
				<kaolaexpress><![CDATA[考拉国际速递]]></kaolaexpress>
				<chinatzx><![CDATA[同舟行物流]]></chinatzx>
				<suchengzhaipei><![CDATA[速呈宅配]]></suchengzhaipei>
				<hkpost><![CDATA[香港邮政]]></hkpost>
				<la911><![CDATA[鼎润物流]]></la911>
				<zzjh><![CDATA[郑州建华快递]]></zzjh>
				<chuanzhi><![CDATA[传志快递]]></chuanzhi>
				<dangdang><![CDATA[当当]]></dangdang>
				<camekong><![CDATA[到了港]]></camekong>
				<belgiumpost><![CDATA[比利时邮政(BelgiumPost)]]></belgiumpost>
				<xipost><![CDATA[西邮寄]]></xipost>
				<auod><![CDATA[澳德物流]]></auod>
				<huoban><![CDATA[伙伴物流]]></huoban>
				<jumeiyoupinorder><![CDATA[聚美优品]]></jumeiyoupinorder>
				<gdems><![CDATA[广东ems快递]]></gdems>
				<haypost><![CDATA[亚美尼亚邮政(Haypost-ArmenianPostal)]]></haypost>
				<slpost><![CDATA[斯里兰卡邮政(SriLankaPost)]]></slpost>
				<hipito><![CDATA[海派通]]></hipito>
				<borderguru><![CDATA[BorderGuru]]></borderguru>
				<baotongda><![CDATA[宝通达物流]]></baotongda>
				<flysman><![CDATA[飞力士物流]]></flysman>
				<suijia><![CDATA[穗佳物流]]></suijia>
				<ajexpress><![CDATA[捷记方舟]]></ajexpress>
				<dtdcindia><![CDATA[DTDCIndia]]></dtdcindia>
				<huiwen><![CDATA[汇文配送]]></huiwen>
				<emsukrainecn><![CDATA[乌克兰邮政EMS-中文(EMSUkraine)]]></emsukrainecn>
				<nengda><![CDATA[港中能达快递]]></nengda>
				<hjs><![CDATA[猴急送]]></hjs>
				<tianzong><![CDATA[天纵物流]]></tianzong>
				<pjbest><![CDATA[品骏快递]]></pjbest>
				<beijingfengyue><![CDATA[北京丰越供应链]]></beijingfengyue>
				<sureline><![CDATA[Sureline冠泰]]></sureline>
				<montenegro><![CDATA[黑山邮政(Po?taCrneGore)]]></montenegro>
				<xlyt><![CDATA[祥龙运通]]></xlyt>
				<huahang><![CDATA[华航快递]]></huahang>
				<cameroon><![CDATA[喀麦隆邮政(CAMPOST)]]></cameroon>
				<xiangteng><![CDATA[翔腾物流]]></xiangteng>
				<yihangmall><![CDATA[易航物流]]></yihangmall>
				<canpar><![CDATA[Canpar]]></canpar>
				<huiqiang><![CDATA[汇强快递]]></huiqiang>
				<ukrpostcn><![CDATA[乌克兰邮政包裹]]></ukrpostcn>
				<bht><![CDATA[BHT]]></bht>
				<chuangyi><![CDATA[创一快递]]></chuangyi>
				<jppost><![CDATA[日本邮政]]></jppost>
				<panex><![CDATA[泛捷国际速递]]></panex>
				<cnws><![CDATA[中国翼]]></cnws>
				<mailongdy><![CDATA[迈隆递运]]></mailongdy>
				<feihang><![CDATA[原飞航快递]]></feihang>
				<shengfeng><![CDATA[盛丰物流]]></shengfeng>
				<ahdf><![CDATA[德方物流]]></ahdf>
				<xiyoug><![CDATA[西游寄]]></xiyoug>
				<szuem><![CDATA[联运通物流]]></szuem>
				<bgn><![CDATA[布谷鸟快递]]></bgn>
				<xindan><![CDATA[新蛋物流]]></xindan>
				<SHUNFAWL><![CDATA[顺发物流]]></SHUNFAWL>
				<zhongxinda><![CDATA[中信达快递]]></zhongxinda>
				<pzhjst><![CDATA[急顺通]]></pzhjst>
				<yibang><![CDATA[一邦快递]]></yibang>
				<tonghe><![CDATA[通和天下物流]]></tonghe>
				<chukouyi><![CDATA[出口易]]></chukouyi>
				<yourscm><![CDATA[雅澳物流]]></yourscm>
				<cloudexpress><![CDATA[CE易欧通国际速递]]></cloudexpress>
				<sxexpress><![CDATA[三象速递]]></sxexpress>
				<zhongwaiyun><![CDATA[中外运速递]]></zhongwaiyun>
				<cnausu><![CDATA[中澳速递]]></cnausu>
				<quantium><![CDATA[Quantium]]></quantium>
				<airpak><![CDATA[airpakexpresss]]></airpak>
				<yue777><![CDATA[玥玛速运]]></yue777>
				<skynetmalaysia><![CDATA[SkyNetMalaysia]]></skynetmalaysia>
				<jdpplus><![CDATA[急递]]></jdpplus>
				<aosu><![CDATA[澳速物流]]></aosu>
				<ZTKY><![CDATA[中铁物流]]></ZTKY>
				<bluesky><![CDATA[蓝天快递]]></bluesky>
				<juzhongda><![CDATA[聚中大]]></juzhongda>
				<papascm><![CDATA[啪啪供应链]]></papascm>
				<nuoer><![CDATA[诺尔国际物流]]></nuoer>
				<kuaijie><![CDATA[快捷速递]]></kuaijie>
				<guada><![CDATA[冠达快递]]></guada>
				<hrbzykd><![CDATA[卓烨快递]]></hrbzykd>
				<luben><![CDATA[陆本速递]]></luben>
				<finland><![CDATA[芬兰邮政(ItellaPostiOy)]]></finland>
				<jiaji><![CDATA[佳吉物流]]></jiaji>
				<beebird><![CDATA[锋鸟物流]]></beebird>
				<yufeng><![CDATA[御风速运]]></yufeng>
				<anlexpress><![CDATA[新干线快递]]></anlexpress>
				<pdstow><![CDATA[全球速递]]></pdstow>
				<interlink><![CDATA[InterlinkExpress]]></interlink>
				<TSWL><![CDATA[汤氏物流]]></TSWL>
				<gnxb><![CDATA[邮政小包]]></gnxb>
				<canhold><![CDATA[能装能送]]></canhold>
				<yyox><![CDATA[邮客全球速递]]></yyox>
				<ycgky><![CDATA[远成物流]]></ycgky>
				<ypsd><![CDATA[壹品速递]]></ypsd>
				<lejiedi><![CDATA[乐捷递]]></lejiedi>
				<jiajiatong56><![CDATA[佳家通]]></jiajiatong56>
				<koreapost><![CDATA[韩国邮政（KoreaPost）]]></koreapost>
				<emsen><![CDATA[EMS(英文)]]></emsen>
				<hengrui56><![CDATA[恒瑞物流]]></hengrui56>
				<farlogistis><![CDATA[泛远国际物流]]></farlogistis>
				<boyol><![CDATA[贝业物流]]></boyol>
				<HENGCHENGWL><![CDATA[恒诚物流]]></HENGCHENGWL>
				<citylink><![CDATA[CityLink快递]]></citylink>
				<di5pll><![CDATA[递五方云仓]]></di5pll>
				<ytchengnuoda><![CDATA[圆通承诺达]]></ytchengnuoda>
				<starex><![CDATA[星速递]]></starex>
				<intmail><![CDATA[中国邮政国际包裹]]></intmail>
				<kfwnet><![CDATA[快服务]]></kfwnet>
				<guangtong><![CDATA[广通速递]]></guangtong>
				<meidaexpress><![CDATA[美达快递]]></meidaexpress>
				<hangyu><![CDATA[航宇快递]]></hangyu>
				<zhongruisudi><![CDATA[中睿速递]]></zhongruisudi>
				<parcelchina><![CDATA[诚一物流]]></parcelchina>
				<kuaiyouda><![CDATA[快优达速递]]></kuaiyouda>
				<homecourier><![CDATA[如家国际快递]]></homecourier>
				<shd56><![CDATA[商海德物流]]></shd56>
				<lianhaotong><![CDATA[联昊通快递]]></lianhaotong>
				<hmus><![CDATA[华美快递]]></hmus>
				<fedexuk><![CDATA[FedEx英国]]></fedexuk>
				<XFHONG><![CDATA[鑫飞鸿物流快递]]></XFHONG>
				<ewe><![CDATA[EWE全球快递]]></ewe>
				<astexpress><![CDATA[安世通快递]]></astexpress>
				<quanyi><![CDATA[全一快递]]></quanyi>
				<coe><![CDATA[东方快递COE]]></coe>
				<ibenben><![CDATA[途鲜物流]]></ibenben>
				<kxda><![CDATA[凯信达]]></kxda>
				<jiugong><![CDATA[九宫物流]]></jiugong>
				<bjxsrd><![CDATA[鑫锐达]]></bjxsrd>
				<gml><![CDATA[英脉物流]]></gml>
				<fedexus><![CDATA[Fedex(英文-美国件)]]></fedexus>
				<yuanzhi><![CDATA[元智捷诚快递]]></yuanzhi>
				<dazhong><![CDATA[大众佐川急便]]></dazhong>
				<guoeryue><![CDATA[天天快物流]]></guoeryue>
				<cargolux><![CDATA[卢森堡航空]]></cargolux>
				<tmxd><![CDATA[天马迅达]]></tmxd>
				<auspost><![CDATA[澳大利亚邮政(英文)]]></auspost>
				<taimek><![CDATA[天美快递]]></taimek>
				<lutong><![CDATA[鲁通快运]]></lutong>
				<gslexpress><![CDATA[德尚国际速递]]></gslexpress>
				<BALIANGWL><![CDATA[八梁物流]]></BALIANGWL>
				<speedoex><![CDATA[申必达]]></speedoex>
				<ririshun><![CDATA[日日顺物流]]></ririshun>
				<gdrz58><![CDATA[容智快运]]></gdrz58>
				<shlindao><![CDATA[上海林道货运]]></shlindao>
				<tnten><![CDATA[TNT(英文)]]></tnten>
				<ocaargen><![CDATA[OCAArgentina]]></ocaargen>
				<longlangkuaidi><![CDATA[隆浪快递]]></longlangkuaidi>
				<ptt><![CDATA[土耳其邮政]]></ptt>
				<yishunhang><![CDATA[亿顺航]]></yishunhang>
				<gaticn><![CDATA[GATI快递]]></gaticn>
				<lianbangkuaidien><![CDATA[联邦快递(英文)]]></lianbangkuaidien>
				<kjde><![CDATA[跨境直邮通]]></kjde>
				<ethiopia><![CDATA[埃塞俄比亚邮政(Ethiopianpostal)]]></ethiopia>
				<israelpost><![CDATA[以色列邮政(IsraelPost)]]></israelpost>
				<F5XM><![CDATA[伍圆速递]]></F5XM>
				<gangkuai><![CDATA[港快速递]]></gangkuai>
				<gome><![CDATA[国美]]></gome>
				<jingshun><![CDATA[景顺物流]]></jingshun>
				<beckygo><![CDATA[佰麒快递]]></beckygo>
				<cpsair><![CDATA[华中快递]]></cpsair>
				<nsf><![CDATA[新顺丰（NSF）]]></nsf>
				<yousu><![CDATA[UC优速快递]]></yousu>
				<westwing><![CDATA[西翼物流]]></westwing>
				<aramex><![CDATA[Aramex]]></aramex>
				<CNGLS><![CDATA[GLS快递]]></CNGLS>
				<minhang><![CDATA[民航快递]]></minhang>
				<hitaoe><![CDATA[Hi淘易快递]]></hitaoe>
				<wtdex><![CDATA[WTD海外通]]></wtdex>
				<yatexpress><![CDATA[乾坤物流]]></yatexpress>
				<jinguangsudikuaijian><![CDATA[京广速递快件]]></jinguangsudikuaijian>
				<youzhengguoji><![CDATA[邮政(国际)]]></youzhengguoji>
				<chinaicip><![CDATA[卓志速运]]></chinaicip>
				<yunfeng56><![CDATA[韵丰物流]]></yunfeng56>
				<aliexpress><![CDATA[无忧物流]]></aliexpress>
				<zhonghuanus><![CDATA[中环转运]]></zhonghuanus>
				<tongcheng><![CDATA[通成物流]]></tongcheng>
				<gscq365><![CDATA[哥士传奇速递]]></gscq365>
				<bjcustoms><![CDATA[北京海关]]></bjcustoms>
				<chile><![CDATA[智利邮政(CorreosChile)]]></chile>
				<yuxin><![CDATA[宇鑫物流]]></yuxin>
				<feite><![CDATA[飞特物流]]></feite>
				<changtong><![CDATA[长通物流]]></changtong>
				<aoxing><![CDATA[澳行快递]]></aoxing>
				<pinsuxinda><![CDATA[品速心达快递]]></pinsuxinda>
				<jiujiuwl><![CDATA[久久物流]]></jiujiuwl>
				<xiaocex><![CDATA[小C海淘]]></xiaocex>
				<highsince><![CDATA[海欣斯Highsince]]></highsince>
				<anxun><![CDATA[安迅物流]]></anxun>
				<kingfreight><![CDATA[货运皇]]></kingfreight>
				<fastgoexpress><![CDATA[速派快递]]></fastgoexpress>
				<letseml><![CDATA[美联快递]]></letseml>
				<higo><![CDATA[黑狗物流]]></higo>
				<goon><![CDATA[金岸物流]]></goon>
				<wlfast><![CDATA[凡仕特物流]]></wlfast>
				<dfpost><![CDATA[达方物流]]></dfpost>
				<rrt><![CDATA[香港日日通国际速递]]></rrt>
				<youyou><![CDATA[优优速递]]></youyou>
				<ups><![CDATA[UPS快递]]></ups>
				<juwu><![CDATA[聚物物流]]></juwu>
				<giant><![CDATA[捷安达国际速递]]></giant>
				<ztoKy><![CDATA[中通快运]]></ztoKy>
				<tntau><![CDATA[TNTAustralia]]></tntau>
				<agopost><![CDATA[全程快递]]></agopost>
				<scorejp><![CDATA[中国流通王]]></scorejp>
				<cangspeed><![CDATA[仓鼠快递]]></cangspeed>
				<meibang><![CDATA[美邦国际快递]]></meibang>
				<feiyang><![CDATA[飞洋快递]]></feiyang>
				<chronopostfren><![CDATA[法国邮政大包、EMS-英文(ChronopostFrance)]]></chronopostfren>
				<dongjun><![CDATA[东骏快捷物流]]></dongjun>
				<goldjet><![CDATA[高捷快运]]></goldjet>
				<mongolpost><![CDATA[蒙古国邮政(MongolPost)]]></mongolpost>
				<gts><![CDATA[GTS快递]]></gts>
				<globaltracktrace><![CDATA[globaltracktrace]]></globaltracktrace>
				<eyoubao><![CDATA[E邮宝]]></eyoubao>
				<yizhengdasuyun><![CDATA[一正达速运]]></yizhengdasuyun>
				<ccd><![CDATA[河南次晨达]]></ccd>
				<yuandun><![CDATA[远盾物流]]></yuandun>
				<njcustoms><![CDATA[南京海关]]></njcustoms>
				<LBWL><![CDATA[联邦物流]]></LBWL>
				<fengxingtianxia><![CDATA[风行天下]]></fengxingtianxia>
				<fangfangda><![CDATA[方方达物流]]></fangfangda>
				<southafrican><![CDATA[南非邮政（SouthAfricanPostOffice）]]></southafrican>
				<gsm><![CDATA[GSM]]></gsm>
				<zhongtie><![CDATA[中铁快运]]></zhongtie>
				<redexpress><![CDATA[RedExpress]]></redexpress>
				<pfcexpress><![CDATA[皇家物流]]></pfcexpress>
				<jiete><![CDATA[捷特快递]]></jiete>
				<postenab><![CDATA[瑞典邮政(PostNord[PostenAB])]]></postenab>
				<mengsu><![CDATA[蒙速快递]]></mengsu>
				<hlyex><![CDATA[好运来]]></hlyex>
				<yfsuyun><![CDATA[驭丰速运]]></yfsuyun>
				<xinfeng><![CDATA[信丰物流]]></xinfeng>
				<cdek><![CDATA[CDEK]]></cdek>
				<guanting><![CDATA[冠庭国际物流]]></guanting>
				<postelbe><![CDATA[PostElbe]]></postelbe>
				<cex><![CDATA[城铁速递]]></cex>
				<lbbk><![CDATA[宝凯物流]]></lbbk>
				<yemen><![CDATA[也门邮政(YemenPost)]]></yemen>
				<tcxbthai><![CDATA[TCXB国际物流]]></tcxbthai>
				<anjie><![CDATA[安捷快递]]></anjie>
				<ems><![CDATA[EMS]]></ems>
				<ycky><![CDATA[远成快运]]></ycky>
				<GZWENJIE><![CDATA[文捷航空速递]]></GZWENJIE>
				<hfwuxi><![CDATA[和丰同城]]></hfwuxi>
				<upsen><![CDATA[UPS(英文)]]></upsen>
				<quanchuan56><![CDATA[全川物流]]></quanchuan56>
				<advancing><![CDATA[安达信]]></advancing>
				<jxfex><![CDATA[集先锋快递]]></jxfex>
				<koalaexp><![CDATA[考拉速递]]></koalaexp>
				<guosong><![CDATA[国送快运]]></guosong>
				<kaolaorder><![CDATA[考拉订单]]></kaolaorder>
				<baiEurope><![CDATA[败欧洲]]></baiEurope>
				<yingchao><![CDATA[英超物流]]></yingchao>
				<bphchina><![CDATA[速方国际物流]]></bphchina>
				<vipshop><![CDATA[唯品会(vip)]]></vipshop>
				<bangbangpost><![CDATA[帮帮发]]></bangbangpost>
				<leopard><![CDATA[云豹国际货运]]></leopard>
				<JUNCHUANWL><![CDATA[骏川物流]]></JUNCHUANWL>
				<anneng><![CDATA[安能物流]]></anneng>
				<vipexpress><![CDATA[鹰运国际速递]]></vipexpress>
				<juanpiorder><![CDATA[卷皮]]></juanpiorder>
				<mauritius><![CDATA[毛里求斯邮政(MauritiusPost)]]></mauritius>
				<yongchang><![CDATA[永昌物流]]></yongchang>
				<euguoji><![CDATA[易邮国际]]></euguoji>
				<newsway><![CDATA[家家通快递]]></newsway>
				<nle><![CDATA[NLE]]></nle>
				<hivewms><![CDATA[海沧无忧]]></hivewms>
				<colombia><![CDATA[哥伦比亚邮政(4-72LaRedPostaldeColombia)]]></colombia>
				<hangrui><![CDATA[上海航瑞货运]]></hangrui>
				<zhwl><![CDATA[中骅物流]]></zhwl>
				<uluckex><![CDATA[优联吉运]]></uluckex>
				<estes><![CDATA[Estes]]></estes>
				<gotoubi><![CDATA[UBIAustralia]]></gotoubi>
				<ybsy><![CDATA[优邦速运]]></ybsy>
				<lianyun><![CDATA[联运快递]]></lianyun>
				<bgky100><![CDATA[邦工快运]]></bgky100>
				<posta><![CDATA[坦桑尼亚邮政（TanzaniaPostsCorporation）]]></posta>
				<bjqywl><![CDATA[青云物流]]></bjqywl>
				<yiqiguojiwuliu><![CDATA[一柒物流]]></yiqiguojiwuliu>
				<hzcustoms><![CDATA[杭州海关]]></hzcustoms>
				<uzbekistan><![CDATA[乌兹别克斯坦邮政(PostofUzbekistan)]]></uzbekistan>
				<xunsuexpress><![CDATA[迅速快递]]></xunsuexpress>
				<quanfeng><![CDATA[全峰快递]]></quanfeng>
				<sure><![CDATA[速尔物流]]></sure>
				<meilishuoorder><![CDATA[美丽说]]></meilishuoorder>
				<postennorge><![CDATA[挪威邮政（PostenNorge）]]></postennorge>
				<yafeng><![CDATA[亚风速递]]></yafeng>
				<vanuatu><![CDATA[瓦努阿图邮政(VanuatuPost)]]></vanuatu>
				<jamaicapost><![CDATA[牙买加邮政（JamaicaPost）]]></jamaicapost>
				<neweggozzo><![CDATA[新蛋奥硕物流]]></neweggozzo>
				<xianchenglian><![CDATA[西安城联速递]]></xianchenglian>
				<yujiawuliu><![CDATA[煜嘉物流]]></yujiawuliu>
				<romanian><![CDATA[罗马尼亚邮政（PostaRomanian）]]></romanian>
				<yongbangwuliu><![CDATA[永邦国际物流]]></yongbangwuliu>
				<sinatone><![CDATA[信联通]]></sinatone>
				<ALP><![CDATA[阿里物流]]></ALP>
				<feihu><![CDATA[飞狐快递]]></feihu>
				<samoa><![CDATA[萨摩亚邮政(SamoaPost)]]></samoa>
				<yumeijie><![CDATA[誉美捷快递]]></yumeijie>
				<postserv><![CDATA[台湾（中华邮政）]]></postserv>
				<sevendays><![CDATA[七天连锁]]></sevendays>
				<bsky><![CDATA[百世快运]]></bsky>
				<shunjiefengda><![CDATA[顺捷丰达]]></shunjiefengda>
				<sxjdfreight><![CDATA[顺心捷达]]></sxjdfreight>
				<gxwl><![CDATA[光线速递]]></gxwl>
				<ltparcel><![CDATA[联通快递]]></ltparcel>
				<ledii><![CDATA[乐递供应链]]></ledii>
				<ckeex><![CDATA[城晓国际快递]]></ckeex>
				<jjx888><![CDATA[佳捷翔物流]]></jjx888>
				<ilyang><![CDATA[ILYANG]]></ilyang>
				<litong><![CDATA[立通快递]]></litong>
				<italiane><![CDATA[意大利邮政(PosteItaliane)]]></italiane>
				<ddwl><![CDATA[大道物流]]></ddwl>
				<sinoairinex><![CDATA[中外运空运]]></sinoairinex>
				<adodoxm><![CDATA[澳多多国际速递]]></adodoxm>
				<parcelforce><![CDATA[英国邮政（ParcelForce）]]></parcelforce>
				<bsht><![CDATA[百事亨通]]></bsht>
				<emsguoji><![CDATA[EMS(中文-国际件)]]></emsguoji>
				<eucnrail><![CDATA[苏州中欧国际物流]]></eucnrail>
				<jiayunmei><![CDATA[加运美物流]]></jiayunmei>
				<uhi><![CDATA[优海国际速递]]></uhi>
				<kjwl><![CDATA[科捷物流]]></kjwl>
				<gzcustoms><![CDATA[广州海关]]></gzcustoms>
				<macroexpressco><![CDATA[ME物流]]></macroexpressco>
				<eusacn><![CDATA[优莎速运]]></eusacn>
				<cszx><![CDATA[城市之星]]></cszx>
				<adapost><![CDATA[安达速递]]></adapost>
				<lesotho><![CDATA[莱索托邮政(LesothoPost)]]></lesotho>
				<canpost><![CDATA[加拿大邮政(英文)]]></canpost>
				<egypt><![CDATA[埃及邮政（EgyptPost）]]></egypt>
				<guexp><![CDATA[全联速运]]></guexp>
				<cbo56><![CDATA[钏博物流]]></cbo56>
				<cnair><![CDATA[CNAIR]]></cnair>
				<dashun><![CDATA[大顺物流]]></dashun>
				<axexpress><![CDATA[澳新物流]]></axexpress>
				<longfx><![CDATA[龙飞祥快递]]></longfx>
				<gjwl><![CDATA[冠捷物流]]></gjwl>
				<edragon><![CDATA[龙象国际物流]]></edragon>
				<directlink><![CDATA[DirectLink]]></directlink>
				<kxtx><![CDATA[卡行天下]]></kxtx>
				<mxe56><![CDATA[中俄速通（淼信）]]></mxe56>
				<chengda><![CDATA[成达国际速递]]></chengda>
				<ucs><![CDATA[合众速递]]></ucs>
				<zhongchuan><![CDATA[众川国际]]></zhongchuan>
				<xintianjie><![CDATA[信天捷快递]]></xintianjie>
				<georgianpost><![CDATA[格鲁吉亚邮政(GeorgianPos）]]></georgianpost>
				<ande><![CDATA[安得物流]]></ande>
				<eshunda><![CDATA[俄顺达]]></eshunda>
				<sfau><![CDATA[澳丰速递]]></sfau>
				<klwl><![CDATA[康力物流]]></klwl>
				<yousutongda><![CDATA[优速通达]]></yousutongda>
				<indonesia><![CDATA[印度尼西亚邮政EMS(PosIndonesia-EMS)]]></indonesia>
				<fastgo><![CDATA[速派快递(FastGo)]]></fastgo>
				<ksudi><![CDATA[快速递]]></ksudi>
				<ecfirstclass><![CDATA[EC-Firstclass]]></ecfirstclass>
				<ariesfar><![CDATA[艾瑞斯远]]></ariesfar>
				<xlobo><![CDATA[贝海国际速递]]></xlobo>
				<azerbaijan><![CDATA[阿塞拜疆邮政EMS(EMSAzerExpressPost)]]></azerbaijan>
				<wanbo><![CDATA[万博快递]]></wanbo>
				<yiex><![CDATA[宜送物流]]></yiex>
				<ynztsy><![CDATA[纵通速运]]></ynztsy>
				<hd><![CDATA[宏递快运]]></hd>
				<cqxingcheng><![CDATA[重庆星程快递]]></cqxingcheng>
				<byht><![CDATA[博源恒通]]></byht>
				<csuivi><![CDATA[法国邮政(LaPoste)]]></csuivi>
				<banma><![CDATA[斑马物流]]></banma>
				<longbang><![CDATA[龙邦快运]]></longbang>
				<weilaimingtian><![CDATA[未来明天快递]]></weilaimingtian>
				<dhlen><![CDATA[DHL(英文)]]></dhlen>
				<xingchengzhaipei><![CDATA[星程宅配]]></xingchengzhaipei>
				<gongsuda><![CDATA[共速达物流]]></gongsuda>
				<tstexp><![CDATA[TST速运通]]></tstexp>
				<chnexp><![CDATA[中翼国际物流]]></chnexp>
				<annengkd><![CDATA[安锐速运]]></annengkd>
				<europeanecom><![CDATA[europeanecom]]></europeanecom>
				<ueq><![CDATA[UEQ快递]]></ueq>
				<sihaiet><![CDATA[四海快递]]></sihaiet>
				<yongwangda><![CDATA[永旺达快递]]></yongwangda>
				<bahrain><![CDATA[巴林邮政(BahrainPost)]]></bahrain>
				<supinexpress><![CDATA[速品快递]]></supinexpress>
				<uex><![CDATA[UEX]]></uex>
				<sundarexpress><![CDATA[顺达快递]]></sundarexpress>
				<postpng><![CDATA[巴布亚新几内亚邮政(PNGPost)]]></postpng>
				<yuanhhk><![CDATA[远航国际快运]]></yuanhhk>
				<malaysiapost><![CDATA[马来西亚邮政小包（MalaysiaPost(Registered)）]]></malaysiapost>
				<ghl><![CDATA[环创物流]]></ghl>
				<humpline><![CDATA[驼峰国际]]></humpline>
				<tntuk><![CDATA[TNTUK]]></tntuk>
				<logistics><![CDATA[華信物流WTO]]></logistics>
				<huitong><![CDATA[百世快递(原汇通)]]></huitong>
				<youzhengguonei><![CDATA[包裹/平邮/挂号信]]></youzhengguonei>
				<hungary><![CDATA[匈牙利邮政（MagyarPosta）]]></hungary>
				<yatfai><![CDATA[一辉物流]]></yatfai>
				<guangdongyouzhengwuliu><![CDATA[广东邮政]]></guangdongyouzhengwuliu>
				<yunexpress><![CDATA[德国云快递]]></yunexpress>
				<heimao><![CDATA[黑猫速递]]></heimao>
				<ceskaposta><![CDATA[捷克邮政（?eskápo?ta）]]></ceskaposta>
				<shangcheng><![CDATA[尚橙物流]]></shangcheng>
				<jdexpressusa><![CDATA[骏达快递]]></jdexpressusa>
				<wanxiang><![CDATA[万象物流]]></wanxiang>
				<ydglobe><![CDATA[云达通]]></ydglobe>
				<shunfengen><![CDATA[顺丰(英文)]]></shunfengen>
				<crazyexpress><![CDATA[疯狂快递]]></crazyexpress>
				<kjdsy><![CDATA[跨境电商易]]></kjdsy>
				<jdiex><![CDATA[JDIEX]]></jdiex>
				<zengyisudi><![CDATA[增益速递]]></zengyisudi>
				<zysf><![CDATA[转运四方]]></zysf>
				<jgwl><![CDATA[景光物流]]></jgwl>
				<simai><![CDATA[思迈快递]]></simai>
				<nigerianpost><![CDATA[尼日利亚邮政(NigerianPostal)]]></nigerianpost>
				<eta100><![CDATA[易达国际速递]]></eta100>
				<haoyoukuai><![CDATA[好又快物流]]></haoyoukuai>
				<dada><![CDATA[大达物流]]></dada>
				<wdm><![CDATA[万达美]]></wdm>
				<polarisexpress><![CDATA[北极星快运]]></polarisexpress>
				<emonitoring><![CDATA[波兰邮政小包(PocztaPolska)]]></emonitoring>
				<hnssd56><![CDATA[顺时达物流]]></hnssd56>
				<scs><![CDATA[伟邦快递(SCS快递)]]></scs>
				<aol><![CDATA[AOL快递]]></aol>
				<nfcmwl><![CDATA[南方传媒物流]]></nfcmwl>
				<minbang><![CDATA[民邦速递]]></minbang>
				<shangqiao56><![CDATA[商桥物流]]></shangqiao56>
				<stong><![CDATA[苏通快运]]></stong>
				<sfift><![CDATA[十方通物流]]></sfift>
				<lmfex><![CDATA[良藤国际速递]]></lmfex>
				<benteng><![CDATA[奔腾物流]]></benteng>
				<ocs><![CDATA[OCS国际快递]]></ocs>
				<weidianorder><![CDATA[微店]]></weidianorder>
				<ycgglobal><![CDATA[YCG物流]]></ycgglobal>
				<expressplus><![CDATA[澳洲新干线快递]]></expressplus>
				<iparcel><![CDATA[洋包裹]]></iparcel>
				<emsukraine><![CDATA[乌克兰邮政EMS(EMSUkraine)]]></emsukraine>
				<shenghui><![CDATA[盛辉物流]]></shenghui>
				<quanjitong><![CDATA[全际通快递]]></quanjitong>
				<riyu><![CDATA[日昱物流]]></riyu>
				<efs><![CDATA[新西兰平安快递]]></efs>
				<debang><![CDATA[德邦快递/物流]]></debang>
				<sucmj><![CDATA[特急便物流]]></sucmj>
				<fanyu><![CDATA[凡宇速递]]></fanyu>
				<yinsu><![CDATA[音速速运]]></yinsu>
				<nalexpress><![CDATA[新亚物流]]></nalexpress>
				<superb><![CDATA[SuperbGrace]]></superb>
				<staky><![CDATA[首通快运]]></staky>
				<whgjkd><![CDATA[香港伟豪国际物流]]></whgjkd>
				<chinapostcb><![CDATA[中邮电商]]></chinapostcb>
				<xilaikd><![CDATA[喜来快递]]></xilaikd>
				<pingyou><![CDATA[中国邮政快递/包裹/挂号信/小包]]></pingyou>
				<hkposten><![CDATA[中国香港(HongKongPost)英文]]></hkposten>
				<tcixps><![CDATA[TCIXPS]]></tcixps>
				<zsky123><![CDATA[准实快运]]></zsky123>
				<wto56kj><![CDATA[温通物流]]></wto56kj>
				<hutongwuliu><![CDATA[户通物流]]></hutongwuliu>
				<feiyuan><![CDATA[飞远物流]]></feiyuan>
				<shengbang><![CDATA[晟邦物流]]></shengbang>
				<nmhuahe><![CDATA[华赫物流]]></nmhuahe>
				<longvast><![CDATA[长风物流]]></longvast>
				<ees><![CDATA[百福东方快递]]></ees>
				<tiantian><![CDATA[天天快递]]></tiantian>
				<sixroad><![CDATA[易普递]]></sixroad>
				<correos><![CDATA[哥斯达黎加邮政(CorreosdeCostaRica)]]></correos>
				<emms><![CDATA[澳州顺风快递]]></emms>
				<fecobv><![CDATA[丰客物流]]></fecobv>
				<yad><![CDATA[源安达快递]]></yad>
				<donghong><![CDATA[东红物流]]></donghong>
				<bmlchina><![CDATA[标杆物流]]></bmlchina>
				<jldt><![CDATA[嘉里大通]]></jldt>
				<libanpost><![CDATA[黎巴嫩邮政(LibanPost)]]></libanpost>
				<ubi><![CDATA[利通物流UBI]]></ubi>
				<gda><![CDATA[安的快递]]></gda>
				<wandougongzhu><![CDATA[豌豆物流]]></wandougongzhu>
				<england><![CDATA[英国邮政(大包,EMS)]]></england>
				<swisspost><![CDATA[瑞士邮政(SwissPost)]]></swisspost>
				<yamato><![CDATA[黑猫雅玛多]]></yamato>
				<kcs><![CDATA[KCS]]></kcs>
				<moldova><![CDATA[摩尔多瓦邮政(PostaMoldovei)]]></moldova>
				<shipbyace><![CDATA[王牌快递]]></shipbyace>
				<yundaexus><![CDATA[韵达美国件]]></yundaexus>
				<haidaibao><![CDATA[海带宝]]></haidaibao>
				<PEISI><![CDATA[配思货运]]></PEISI>
				<BHTEXP><![CDATA[华慧快递]]></BHTEXP>
				<caledonia><![CDATA[新喀里多尼亚[法国]邮政(NewCaledonia)]]></caledonia>
				<BFWL><![CDATA[滨发物流]]></BFWL>
				<kuaima><![CDATA[快马速递]]></kuaima>
				<xdexpress><![CDATA[迅达速递]]></xdexpress>
				<auexpress><![CDATA[澳邮中国快运]]></auexpress>
				<hongpinwuliu><![CDATA[宏品物流]]></hongpinwuliu>
				<lundao><![CDATA[论道国际物流]]></lundao>
				<abc><![CDATA[爱彼西快递]]></abc>
				<ireland><![CDATA[爱尔兰邮政(AnPost)]]></ireland>
				<landmarkglobal><![CDATA[LandmarkGlobal]]></landmarkglobal>
				<abf><![CDATA[ABF]]></abf>
				<gomeorder><![CDATA[国美]]></gomeorder>
				<zdepost><![CDATA[直德邮]]></zdepost>
				<shipsoho><![CDATA[苏豪快递]]></shipsoho>
				<thailand><![CDATA[泰国邮政（ThailandThaiPost）]]></thailand>
				<arke><![CDATA[方舟速递]]></arke>
				<dajin><![CDATA[大金物流]]></dajin>
				<nzzto><![CDATA[新西兰中通]]></nzzto>
				<changyuwuliu><![CDATA[长宇物流]]></changyuwuliu>
				<zhongyou><![CDATA[中邮物流]]></zhongyou>
				<superoz><![CDATA[速配欧翼]]></superoz>
				<disifang><![CDATA[递四方速递]]></disifang>
				<cosco><![CDATA[中远e环球]]></cosco>
				<meilong><![CDATA[美龙快递]]></meilong>
				<ztwy><![CDATA[中天万运快递]]></ztwy>
				<euexpress><![CDATA[EU-EXPRESS]]></euexpress>
				<aae><![CDATA[AAE快递]]></aae>
				<jcex><![CDATA[jcex]]></jcex>
				<hmzjb><![CDATA[黑猫宅急便]]></hmzjb>
				<wykjt><![CDATA[51跨境通]]></wykjt>
				<ezhuanyuan><![CDATA[易转运]]></ezhuanyuan>
				<qichen><![CDATA[启辰国际物流]]></qichen>
				<wzhaunyun><![CDATA[微转运]]></wzhaunyun>
				<gansuandi><![CDATA[甘肃安的快递]]></gansuandi>
				<chronopostport><![CDATA[法国邮政(ChronopostPortugal)]]></chronopostport>
				<yhdshop><![CDATA[1号店]]></yhdshop>
				<xiaohongshuorder><![CDATA[小红书]]></xiaohongshuorder>
				<wtdchina><![CDATA[威时沛运]]></wtdchina>
				<cypruspost><![CDATA[塞浦路斯邮政(CyprusPost)]]></cypruspost>
				<mosuda><![CDATA[魔速达]]></mosuda>
				<austria><![CDATA[奥地利邮政(AustrianPost)]]></austria>
				<hnht><![CDATA[鸿泰物流]]></hnht>
				<singpost><![CDATA[新加坡邮政]]></singpost>
				<chinasqk><![CDATA[SQK国际速递]]></chinasqk>
				<kuaidawuliu><![CDATA[快达物流]]></kuaidawuliu>
				<anposten><![CDATA[爱尔兰邮政(AnPost)]]></anposten>
				<huada><![CDATA[华达快运]]></huada>
				<beibeiorder><![CDATA[贝贝]]></beibeiorder>
				<qzx56><![CDATA[全之鑫物流]]></qzx56>
				<vnpost><![CDATA[越南邮政EMS(VNPostExpress)]]></vnpost>
				<shunshid><![CDATA[顺士达速运]]></shunshid>
				<ywfex><![CDATA[源伟丰快递]]></ywfex>
				<emssouthafrica><![CDATA[南非邮政EMS]]></emssouthafrica>
				<HENGFENGWL><![CDATA[恒丰物流]]></HENGFENGWL>
				<yyqc56><![CDATA[一运全成物流]]></yyqc56>
				<yzswuliu><![CDATA[亚洲顺物流]]></yzswuliu>
				<zhaijibian><![CDATA[宅急便]]></zhaijibian>
				<eltahell><![CDATA[希腊邮政EMS（ELTACourier）]]></eltahell>
				<vietnam><![CDATA[越南邮政小包(VietnamPosts)]]></vietnam>
				<ukrpost><![CDATA[乌克兰邮政小包、大包(UkrPost)]]></ukrpost>
				<balunzhi><![CDATA[巴伦支快递]]></balunzhi>
				<zhaijisong><![CDATA[宅急送]]></zhaijisong>
				<luxembourg><![CDATA[卢森堡邮政(LuxembourgPost)]]></luxembourg>
				<auvanda><![CDATA[中联速递]]></auvanda>
				<shunfeng><![CDATA[顺丰速运]]></shunfeng>
				<haiMiPai><![CDATA[海米派供应链]]></haiMiPai>
				<ztjieda><![CDATA[泰捷达国际物流]]></ztjieda>
				<easyexpress><![CDATA[EASYEXPRESS]]></easyexpress>
				<dechuangwuliu><![CDATA[德创物流]]></dechuangwuliu>
				<usps><![CDATA[USPS快递]]></usps>
				<correosdees><![CDATA[西班牙邮政(CorreosdeEspaña)]]></correosdees>
				<paraguay><![CDATA[巴拉圭邮政(CorreoParaguayo)]]></paraguay>
				<ge2d><![CDATA[GE2D跨境物流]]></ge2d>
				<suteng><![CDATA[速腾快递]]></suteng>
				<mingliang><![CDATA[明亮物流]]></mingliang>
				<kuachangwuliu><![CDATA[直邮易]]></kuachangwuliu>
				<haosheng><![CDATA[昊盛物流]]></haosheng>
				<hnfy><![CDATA[飞鹰物流]]></hnfy>
				<shandiantu><![CDATA[闪电兔]]></shandiantu>
				<deutschepost><![CDATA[德国邮政(DeutschePost)]]></deutschepost>
				<jmjss><![CDATA[金马甲]]></jmjss>
				<afl><![CDATA[AFL]]></afl>
				<twkd56><![CDATA[缔惠盛合]]></twkd56>
				<estafeta><![CDATA[Estafeta]]></estafeta>
				<yidatong><![CDATA[易达通快递]]></yidatong>
				<chunfai><![CDATA[中国香港骏辉物流]]></chunfai>
				<runhengfeng><![CDATA[全时速运]]></runhengfeng>
				<ppbyb><![CDATA[贝邮宝]]></ppbyb>
				<bluedart><![CDATA[BlueDart]]></bluedart>
				<shengan><![CDATA[圣安物流]]></shengan>
				<republic><![CDATA[叙利亚邮政(SyrianPost)]]></republic>
				<quanxintong><![CDATA[全信通快递]]></quanxintong>
				<seur><![CDATA[InternationalSeur]]></seur>
				<qinyuan><![CDATA[秦远物流]]></qinyuan>
				<jiayi><![CDATA[佳怡物流]]></jiayi>
				<yhdshoporder><![CDATA[一号店]]></yhdshoporder>
				<xinbang><![CDATA[新邦物流]]></xinbang>
				<shentong><![CDATA[申通快递]]></shentong>
				<mantoo><![CDATA[优能物流]]></mantoo>
				<jindawuliu><![CDATA[金大物流]]></jindawuliu>
				<sofast56><![CDATA[嗖一下同城快递]]></sofast56>
				<pengcheng><![CDATA[鹏程快递]]></pengcheng>
				<afghan><![CDATA[阿富汗邮政(AfghanPost)]]></afghan>
				<haimeng><![CDATA[海盟速递]]></haimeng>
				<shunjieda><![CDATA[顺捷达]]></shunjieda>
				<lineone><![CDATA[一号线]]></lineone>
				<adp><![CDATA[ADP国际快递]]></adp>
				<uganda><![CDATA[乌干达邮政(PostaUganda)]]></uganda>
				<ruidaex><![CDATA[瑞达国际速递]]></ruidaex>
				<homexpress><![CDATA[居家通]]></homexpress>
				<zhichengtongda><![CDATA[至诚通达快递]]></zhichengtongda>
				<omniva><![CDATA[爱沙尼亚邮政(EestiPost)]]></omniva>
				<auvexpress><![CDATA[AUV国际快递]]></auvexpress>
				<adi><![CDATA[安达易]]></adi>
				<cncexp><![CDATA[C&C国际速递]]></cncexp>
				<huanqiu><![CDATA[环球速运]]></huanqiu>
				<huilian><![CDATA[辉联物流]]></huilian>
				<dhlde><![CDATA[DHL(德文)]]></dhlde>
				<wherexpess><![CDATA[威盛快递]]></wherexpess>
				<chengji><![CDATA[城际速递]]></chengji>
				<sd138><![CDATA[泰国138]]></sd138>
				<junfengguoji><![CDATA[骏丰国际速递]]></junfengguoji>
				<siodemka><![CDATA[Siodemka]]></siodemka>
				<zsmhwl><![CDATA[明辉物流]]></zsmhwl>
				<handboy><![CDATA[汉邦国际速递]]></handboy>
				<canpostfr><![CDATA[加拿大邮政(德文)]]></canpostfr>
				<iran><![CDATA[伊朗邮政（IranPost）]]></iran>
				<yuefeng><![CDATA[越丰快递]]></yuefeng>
				<xsrd><![CDATA[鑫世锐达]]></xsrd>
				<yitongda><![CDATA[易通达]]></yitongda>
				<peex><![CDATA[派尔快递]]></peex>
				<haihongwangsong><![CDATA[海红网送]]></haihongwangsong>
				<koali><![CDATA[番薯国际货运]]></koali>
				<goldhaitao><![CDATA[金海淘]]></goldhaitao>
				<kuaitao><![CDATA[快淘快递]]></kuaitao>
				<hrvatska><![CDATA[克罗地亚邮政（HrvatskaPosta）]]></hrvatska>
				<eupackage><![CDATA[易优包裹]]></eupackage>
				<yodel><![CDATA[YODEL]]></yodel>
				<hermes><![CDATA[Hermes]]></hermes>
				<yuntrack><![CDATA[YUNTRACK]]></yuntrack>
				<chronopostfra><![CDATA[法国邮政大包、EMS-法文（ChronopostFrance）]]></chronopostfra>
				<nanjing><![CDATA[南京100]]></nanjing>
				<zenzen><![CDATA[三三国际物流]]></zenzen>
				<PEWKEE><![CDATA[彪记快递]]></PEWKEE>
				<jcsuda><![CDATA[嘉诚速达]]></jcsuda>
				<emsinten><![CDATA[EMS(英文-国际件)]]></emsinten>
				<nell><![CDATA[尼尔物流(尼尔快递)]]></nell>
				<mexicodenda><![CDATA[MexicoSendaExpress]]></mexicodenda>
				<acs><![CDATA[ACS国际快递]]></acs>
				<zqlwl><![CDATA[青旅物流]]></zqlwl>
				<freakyquick><![CDATA[FQ狂派速递]]></freakyquick>
				<jxy><![CDATA[吉祥邮]]></jxy>
				<henglu><![CDATA[恒路物流]]></henglu>
				<ymdd><![CDATA[壹米滴答]]></ymdd>
				<nepalpost><![CDATA[尼泊尔邮政（NepalPostalServices）]]></nepalpost>
				<tanzania><![CDATA[坦桑尼亚邮政(TanzaniaPosts)]]></tanzania>
				<fengda><![CDATA[丰达快递]]></fengda>
				<dangdangorder><![CDATA[当当]]></dangdangorder>
				<pakistan><![CDATA[巴基斯坦邮政(PakistanPost)]]></pakistan>
				<yiJingDa><![CDATA[易境达国际物流]]></yiJingDa>
				<huayu><![CDATA[天地华宇物流]]></huayu>
				<czwlyn><![CDATA[云南中诚]]></czwlyn>
				<yunwuliu><![CDATA[云物流]]></yunwuliu>
				<postnl><![CDATA[荷兰邮政(PostNLinternationalregisteredmail)]]></postnl>
				<dpd><![CDATA[英国DPD]]></dpd>
				<menduimen><![CDATA[门对门]]></menduimen>
				<fedex><![CDATA[Fedex联邦快递(国际)]]></fedex>
				<ecotransite><![CDATA[东西E全运]]></ecotransite>
				<rufeng><![CDATA[如风达快递]]></rufeng>
				<huandonglg><![CDATA[环东物流]]></huandonglg>
				<rufengda><![CDATA[凡客如风达]]></rufengda>
				<littlebearbear><![CDATA[小熊物流]]></littlebearbear>
				<s2c><![CDATA[S2C]]></s2c>
				<correoargentino><![CDATA[阿根廷邮政(CorreoArgentina)]]></correoargentino>
				<meiquick><![CDATA[美快国际物流]]></meiquick>
				<ykouan><![CDATA[洋口岸]]></ykouan>
				<hgy56><![CDATA[环国运物流]]></hgy56>
				<edtexpress><![CDATA[e直运]]></edtexpress>
				<jinchengwuliu><![CDATA[锦程国际物流]]></jinchengwuliu>
				<jingdong><![CDATA[京东快递]]></jingdong>
				<huangmajia><![CDATA[黄马甲快递]]></huangmajia>
				<serbia><![CDATA[塞尔维亚邮政(PEPostofSerbia)]]></serbia>
				<yamaxunwuliu><![CDATA[亚马逊物流]]></yamaxunwuliu>
				<bee001><![CDATA[蜜蜂速递]]></bee001>
				<fastontime><![CDATA[加拿大联通快运]]></fastontime>
				<huahan><![CDATA[华翰物流]]></huahan>
				<chengtong><![CDATA[城通物流]]></chengtong>
				<peru><![CDATA[秘鲁邮政(SERPOST)]]></peru>
				<lishi><![CDATA[丽狮物流]]></lishi>
				<shunbang><![CDATA[顺邦国际物流]]></shunbang>
				<jrypex><![CDATA[吉日优派]]></jrypex>
				<spring><![CDATA[春风物流]]></spring>
				<mrw><![CDATA[MRW]]></mrw>
				<wanjia><![CDATA[万家物流]]></wanjia>
				<xtb><![CDATA[鑫通宝物流]]></xtb>
				<bpost><![CDATA[比利时邮政（Bpost）]]></bpost>
				<epspost><![CDATA[联众国际]]></epspost>
				<wangyiyxorder><![CDATA[网易严选]]></wangyiyxorder>
				<vctrans><![CDATA[越中国际物流]]></vctrans>
				<winit><![CDATA[万邑通]]></winit>
				<dayang><![CDATA[大洋物流快递]]></dayang>
				<baitengwuliu><![CDATA[百腾物流]]></baitengwuliu>
				<mailikuaidi><![CDATA[麦力快递]]></mailikuaidi>
				<novaposhta><![CDATA[NovaPoshta]]></novaposhta>
				<zf365><![CDATA[珠峰速运]]></zf365>
				<huanqiuabc><![CDATA[中国香港环球快运]]></huanqiuabc>
				<speedpost><![CDATA[新加坡邮政EMS、大包(SingaporeSpeedpost)]]></speedpost>
				<belpost><![CDATA[白俄罗斯邮政(Belpochta)]]></belpost>
				<xingyuankuaidi><![CDATA[新元快递]]></xingyuankuaidi>
				<wowvip><![CDATA[沃埃家]]></wowvip>
				<barbados><![CDATA[巴巴多斯邮政(BarbadosPost)]]></barbados>
				<SUYUE><![CDATA[苏粤货运]]></SUYUE>
				<adaexpress><![CDATA[明大快递]]></adaexpress>
				<xynyc><![CDATA[新元国际]]></xynyc>
				<surpassgo><![CDATA[天越物流]]></surpassgo>
				<dasu><![CDATA[达速物流]]></dasu>
				<ftd><![CDATA[富腾达]]></ftd>
				<baiqian><![CDATA[百千诚国际物流]]></baiqian>
				<dpdpoland><![CDATA[DPDPoland]]></dpdpoland>
				<dsu><![CDATA[D速快递]]></dsu>
				<mogujieorder><![CDATA[蘑菇街]]></mogujieorder>
				<macedonia><![CDATA[马其顿邮政(MacedonianPost)]]></macedonia>
				<youlai><![CDATA[邮来速递]]></youlai>
				<shlexp><![CDATA[SHL畅灵国际物流]]></shlexp>
				<yuntong><![CDATA[运通快递]]></yuntong>
				<SWHY><![CDATA[盛旺货运]]></SWHY>
				<tswlcloud><![CDATA[天使物流云]]></tswlcloud>
				<ztong><![CDATA[智通物流]]></ztong>
				<onway><![CDATA[昂威物流]]></onway>
				<trackparcel><![CDATA[track-parcel]]></trackparcel>
				<anxb><![CDATA[安能小包]]></anxb>
				<gdxp><![CDATA[新鹏快递]]></gdxp>
				<excocotree><![CDATA[可可树美中速运]]></excocotree>
				<ost><![CDATA[欧速通]]></ost>
				<mexico><![CDATA[墨西哥邮政（CorreosdeMexico）]]></mexico>
				<royalmail><![CDATA[英国邮政小包（RoyalMail）]]></royalmail>
				<haiwaihuanqiu><![CDATA[海外环球]]></haiwaihuanqiu>
				<quansu><![CDATA[全速快运]]></quansu>
				<fandaguoji><![CDATA[颿达国际快递]]></fandaguoji>
				<kuayue><![CDATA[跨越快递]]></kuayue>
				<uspscn><![CDATA[USPSCN]]></uspscn>
				<tny><![CDATA[TNY物流]]></tny>
				<hanrun><![CDATA[韩润物流]]></hanrun>
				<tnt><![CDATA[TNT快递]]></tnt>
				<tiandihuayu><![CDATA[华宇物流]]></tiandihuayu>
				<lanhu><![CDATA[蓝弧快递]]></lanhu>
				<ruidianyouzheng><![CDATA[瑞典邮政(英文)]]></ruidianyouzheng>
				<colissimo><![CDATA[法国邮政小包（colissimo）]]></colissimo>
				<guangdongtonglu><![CDATA[广东通路]]></guangdongtonglu>
				<correo><![CDATA[乌拉圭邮政（CorreoUruguayo）]]></correo>
				<tywl99><![CDATA[天翼物流]]></tywl99>
				<gksd><![CDATA[港快速递]]></gksd>
				<zongxing><![CDATA[纵行物流]]></zongxing>
				<nanbei><![CDATA[南北快递]]></nanbei>
				<slovak><![CDATA[斯洛伐克邮政(SlovenskáPosta)]]></slovak>
				<newgistics><![CDATA[Newgistics]]></newgistics>
				<comexpress><![CDATA[邦通国际]]></comexpress>
				<yuezhongsh><![CDATA[粤中国际货运代理（上海）有限公司]]></yuezhongsh>
				<lntjs><![CDATA[特急送]]></lntjs>
				<turtle><![CDATA[海龟国际快递]]></turtle>
				<asendiausa><![CDATA[AsendiaUSA]]></asendiausa>
				<myhermes><![CDATA[MyHermes]]></myhermes>
				<cityYj><![CDATA[城市应急]]></cityYj>
				<haolaiyun><![CDATA[好来运快递]]></haolaiyun>
				<youjia><![CDATA[友家速递]]></youjia>
				<shiningexpress><![CDATA[阳光快递]]></shiningexpress>
				<cces><![CDATA[CCES快递]]></cces>
				<peixing><![CDATA[陪行物流]]></peixing>
				<suning><![CDATA[苏宁快递]]></suning>
				<cnpex><![CDATA[中环快递(澳邮)]]></cnpex>
				<edlogistics><![CDATA[益递物流]]></edlogistics>
				<qpost><![CDATA[卡塔尔邮政（QatarPost）]]></qpost>
				<fedroad><![CDATA[FedRoad联邦转运]]></fedroad>
				<dianyi><![CDATA[云南滇驿物流]]></dianyi>
				<hlkytj><![CDATA[互联快运]]></hlkytj>
				<rytsd><![CDATA[日益通速递]]></rytsd>
				<ahkbps><![CDATA[卡邦配送]]></ahkbps>
				<portugalseur><![CDATA[PortugalSeur]]></portugalseur>
				<valueway><![CDATA[美通快递]]></valueway>
				<STARS><![CDATA[星晨急便]]></STARS>
				<pinganda><![CDATA[平安达快递]]></pinganda>
				<hsgtsd><![CDATA[海硕高铁速递]]></hsgtsd>
				<tunisia><![CDATA[突尼斯邮政EMS(Rapid-Poste)]]></tunisia>
				<httx56><![CDATA[汇通天下物流]]></httx56>
				<topshey><![CDATA[顶世国际物流]]></topshey>
				<chengguang><![CDATA[程光快递]]></chengguang>
				<tollpriority><![CDATA[TollPriority(TollOnline)]]></tollpriority>
				<sunspeedy><![CDATA[新速航]]></sunspeedy>
				<fox><![CDATA[FOX国际速递]]></fox>
				<lqht><![CDATA[恒通快递]]></lqht>
				<jiacheng><![CDATA[佳成快递]]></jiacheng>
				<seino><![CDATA[西濃運輸]]></seino>
				<quanchen><![CDATA[全晨快递]]></quanchen>
				<datian><![CDATA[大田物流]]></datian>
				<brunei><![CDATA[文莱邮政(BruneiPostal)]]></brunei>
				<ftky365><![CDATA[丰通快运]]></ftky365>
				<birdex><![CDATA[笨鸟海淘]]></birdex>
				<weitepai><![CDATA[微特派快递]]></weitepai>
				<huaqi><![CDATA[华企快运]]></huaqi>
				<yujiawl><![CDATA[宇佳物流]]></yujiawl>
				<auex><![CDATA[澳货通]]></auex>
				<scxingcheng><![CDATA[四川星程快递]]></scxingcheng>
				<opek><![CDATA[OPEK]]></opek>
				<hyk><![CDATA[上海昊宏国际货物]]></hyk>
				<zytdscm><![CDATA[中宇天地]]></zytdscm>
				<aruba><![CDATA[阿鲁巴邮政（PostAruba）]]></aruba>
				<xdshipping><![CDATA[国晶物流]]></xdshipping>
				<syjiahuier><![CDATA[沈阳佳惠尔]]></syjiahuier>
				<gtongsudi><![CDATA[广通速递（山东）]]></gtongsudi>
				<ealceair><![CDATA[东方航空物流]]></ealceair>
				<yiyou><![CDATA[易邮速运]]></yiyou>
				<adlerlogi><![CDATA[德国雄鹰速递]]></adlerlogi>
				<wlwex><![CDATA[星空国际速递]]></wlwex>
				<fiji><![CDATA[斐济邮政(FijiPost)]]></fiji>
				<chuanxi><![CDATA[传喜物流(传喜快递)]]></chuanxi>
				<sxhongmajia><![CDATA[山西红马甲]]></sxhongmajia>
				<lijisong><![CDATA[成都立即送快递]]></lijisong>
				<onehcang><![CDATA[一号仓]]></onehcang>
				<synship><![CDATA[SYNSHIP快递]]></synship>
				<SUNDAPOST><![CDATA[上大物流]]></SUNDAPOST>
				<tianxiang><![CDATA[天翔快递]]></tianxiang>
			</option>
		</app_com>
	</code>
</root>