<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>全球快递物流查询</title>
	<note>基于阿里云市场接口获取</note>
	<content><![CDATA[接口申请地址：<a href="https://market.aliyun.com/products/56928004/cmapi023201.html#sku=yuncode1720100000" target="_blank">申请并购买接口</a>]]></content>
	<code>
		<server>
			<title>请求地址</title>
			<note><![CDATA[即接口请求地址，如：http(s)://wdexpress.market.alicloudapi.com/gxali]]></note>
			<type>text</type>
			<required>true</required>
			<default>http://wdexpress.market.alicloudapi.com/gxali</default>
		</server>
		<authmode>
			<title>认证模式</title>
			<note>选择接口认证模式</note>
			<type>radio</type>
			<option>
				<appcode>简单身份认证</appcode>
				<appkey>签名认证</appkey>
			</option>
			<default>appcode</default>
		</authmode>
		<appcode>
			<title>APPCODE</title>
			<note><![CDATA[填写您申请成功的接口中关于APPCODE码，<span style="color:darkblue">使用简单身份认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appcode>
		<appkey>
			<title>AppKey</title>
			<note><![CDATA[填写在阿里去申请到的AppKey，<span style="color:red">此项使用签名认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appkey>
		<appsecret>
			<title>AppSecret</title>
			<note><![CDATA[填写在阿里去申请到的AppSecret，<span style="color:red">此项使用签名认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appsecret>
		<company>
			<title>物流公司</title>
			<note>选择要使用的物流公司</note>
			<type>select</type>
			<option>
				<SF><![CDATA[顺丰速运]]></SF>
				<HTKY><![CDATA[百世快递]]></HTKY>
				<ZTO><![CDATA[中通快递]]></ZTO>
				<ZTO56><![CDATA[中通快运(物流)]]></ZTO56>
				<STO><![CDATA[申通快递]]></STO>
				<YTO><![CDATA[圆通速递]]></YTO>
				<YD><![CDATA[韵达速递]]></YD>
				<YZPY><![CDATA[邮政快递包裹]]></YZPY>
				<EMS><![CDATA[EMS]]></EMS>
				<HHTT><![CDATA[天天快递]]></HHTT>
				<JD><![CDATA[京东物流]]></JD>
				<QFKD><![CDATA[全峰快递]]></QFKD>
				<GTO><![CDATA[国通快递]]></GTO>
				<UC><![CDATA[优速快递]]></UC>
				<DBL><![CDATA[德邦]]></DBL>
				<FAST><![CDATA[快捷快递]]></FAST>
				<AMAZON><![CDATA[亚马逊]]></AMAZON>
				<ZJS><![CDATA[宅急送]]></ZJS>
				<AJ><![CDATA[安捷快递]]></AJ>
				<AOMENYZ><![CDATA[澳门邮政]]></AOMENYZ>
				<ANE><![CDATA[安能物流]]></ANE>
				<AXD><![CDATA[安信达快递]]></AXD>
				<AYCA><![CDATA[澳邮专线]]></AYCA>
				<BDT><![CDATA[八达通]]></BDT>
				<BFDF><![CDATA[百福东方]]></BFDF>
				<BHGJ><![CDATA[贝海国际]]></BHGJ>
				<BQXHM><![CDATA[北青小红帽]]></BQXHM>
				<BFAY><![CDATA[八方安运]]></BFAY>
				<BTWL><![CDATA[百世快运]]></BTWL>
				<CCES><![CDATA[CCES快递]]></CCES>
				<CG><![CDATA[程光]]></CG>
				<CITY100><![CDATA[城市100]]></CITY100>
				<CJKD><![CDATA[城际快递]]></CJKD>
				<CNPEX><![CDATA[CNPEX中邮快递]]></CNPEX>
				<COE><![CDATA[COE快递]]></COE>
				<CSCY><![CDATA[长沙创一]]></CSCY>
				<CDSTKY><![CDATA[成都善途速运]]></CDSTKY>
				<CTG><![CDATA[联合运通]]></CTG>
				<DSWL><![CDATA[D速物流]]></DSWL>
				<D4PX><![CDATA[递四方速递]]></D4PX>
				<DTWL><![CDATA[大田物流]]></DTWL>
				<EWE><![CDATA[EWE]]></EWE>
				<FEDEX><![CDATA[FEDEX联邦(国内件）]]></FEDEX>
				<FEDEX_GJ><![CDATA[FEDEX联邦(国际件）]]></FEDEX_GJ>
				<FKD><![CDATA[飞康达]]></FKD>
				<FTD><![CDATA[富腾达]]></FTD>
				<GD><![CDATA[冠达]]></GD>
				<GDEMS><![CDATA[广东邮政]]></GDEMS>
				<GSD><![CDATA[共速达]]></GSD>
				<GTONG><![CDATA[广通]]></GTONG>
				<GTSD><![CDATA[高铁速递]]></GTSD>
				<HFWL><![CDATA[汇丰物流]]></HFWL>
				<HGLL><![CDATA[黑狗冷链]]></HGLL>
				<HLWL><![CDATA[恒路物流]]></HLWL>
				<HOAU><![CDATA[天地华宇]]></HOAU>
				<HOTSCM><![CDATA[鸿桥供应链]]></HOTSCM>
				<HPTEX><![CDATA[海派通物流公司]]></HPTEX>
				<hq568><![CDATA[华强物流]]></hq568>
				<HQSY><![CDATA[环球速运]]></HQSY>
				<HXLWL><![CDATA[华夏龙物流]]></HXLWL>
				<HXWL><![CDATA[豪翔物流]]></HXWL>
				<HYLSD><![CDATA[好来运快递]]></HYLSD>
				<JAD><![CDATA[捷安达]]></JAD>
				<JGSD><![CDATA[京广速递]]></JGSD>
				<JIUYE><![CDATA[九曳供应链]]></JIUYE>
				<JJKY><![CDATA[佳吉快运]]></JJKY>
				<JLDT><![CDATA[嘉里物流]]></JLDT>
				<JTKD><![CDATA[捷特快递]]></JTKD>
				<JXD><![CDATA[急先达]]></JXD>
				<JYKD><![CDATA[晋越快递]]></JYKD>
				<JYM><![CDATA[加运美]]></JYM>
				<JGWL><![CDATA[景光物流]]></JGWL>
				<JYWL><![CDATA[佳怡物流]]></JYWL>
				<KYSY><![CDATA[跨越速运]]></KYSY>
				<LB><![CDATA[龙邦快递]]></LB>
				<LHT><![CDATA[联昊通速递]]></LHT>
				<MB><![CDATA[民邦快递]]></MB>
				<MHKD><![CDATA[民航快递]]></MHKD>
				<MK><![CDATA[美快]]></MK>
				<MLWL><![CDATA[明亮物流]]></MLWL>
				<NF><![CDATA[南方]]></NF>
				<NEDA><![CDATA[能达速递]]></NEDA>
				<PADTF><![CDATA[平安达腾飞快递]]></PADTF>
				<PANEX><![CDATA[泛捷快递]]></PANEX>
				<PJKD><![CDATA[品骏快递]]></PJKD>
				<PCA><![CDATA[PCA Express]]></PCA>
				<QRT><![CDATA[全日通快递]]></QRT>
				<QXT><![CDATA[全信通]]></QXT>
				<RFEX><![CDATA[瑞丰速递]]></RFEX>
				<RFD><![CDATA[如风达]]></RFD>
				<SAD><![CDATA[赛澳递]]></SAD>
				<SAWL><![CDATA[圣安物流]]></SAWL>
				<SBWL><![CDATA[盛邦物流]]></SBWL>
				<SDWL><![CDATA[上大物流]]></SDWL>
				<SFWL><![CDATA[盛丰物流]]></SFWL>
				<SHWL><![CDATA[盛辉物流]]></SHWL>
				<ST><![CDATA[速通物流]]></ST>
				<STWL><![CDATA[速腾快递]]></STWL>
				<SUBIDA><![CDATA[速必达物流]]></SUBIDA>
				<SDEZ><![CDATA[速递e站]]></SDEZ>
				<SURE><![CDATA[速尔快递]]></SURE>
				<SUNING><![CDATA[苏宁]]></SUNING>
				<TAIWANYZ><![CDATA[台湾邮政]]></TAIWANYZ>
				<UAPEX><![CDATA[全一快递]]></UAPEX>
				<UEQ><![CDATA[UEQ Express]]></UEQ>
				<WJK><![CDATA[万家康]]></WJK>
				<WJWL><![CDATA[万家物流]]></WJWL>
				<WXWL><![CDATA[万象物流]]></WXWL>
				<XBWL><![CDATA[新邦物流]]></XBWL>
				<XCWL><![CDATA[迅驰物流]]></XCWL>
				<XFEX><![CDATA[信丰快递]]></XFEX>
				<XYT><![CDATA[希优特]]></XYT>
				<XJ><![CDATA[新杰物流]]></XJ>
				<YADEX><![CDATA[源安达快递]]></YADEX>
				<YCWL><![CDATA[远成物流]]></YCWL>
				<YDH><![CDATA[义达国际物流]]></YDH>
				<YDT><![CDATA[易达通]]></YDT>
				<YFEX><![CDATA[越丰物流]]></YFEX>
				<YFHEX><![CDATA[原飞航物流]]></YFHEX>
				<YFSD><![CDATA[亚风快递]]></YFSD>
				<YTKD><![CDATA[运通快递]]></YTKD>
				<YXKD><![CDATA[亿翔快递]]></YXKD>
				<YUNDX><![CDATA[运东西]]></YUNDX>
				<ZENY><![CDATA[增益快递]]></ZENY>
				<ZHQKD><![CDATA[汇强快递]]></ZHQKD>
				<ZTE><![CDATA[众通快递]]></ZTE>
				<ZTKY><![CDATA[中铁快运]]></ZTKY>
				<ZTWL><![CDATA[中铁物流]]></ZTWL>
				<ZYWL><![CDATA[中邮物流]]></ZYWL>
				<AAE><![CDATA[AAE全球专递]]></AAE>
				<ACS><![CDATA[ACS雅仕快递]]></ACS>
				<ADP><![CDATA[ADP Express Tracking]]></ADP>
				<ANGUILAYOU><![CDATA[安圭拉邮政]]></ANGUILAYOU>
				<APAC><![CDATA[APAC]]></APAC>
				<ARAMEX><![CDATA[Aramex]]></ARAMEX>
				<AT><![CDATA[奥地利邮政]]></AT>
				<AUSTRALIA><![CDATA[Australia Post Tracking]]></AUSTRALIA>
				<BEL><![CDATA[比利时邮政]]></BEL>
				<BHT><![CDATA[BHT快递]]></BHT>
				<BILUYOUZHE><![CDATA[秘鲁邮政]]></BILUYOUZHE>
				<BR><![CDATA[巴西邮政]]></BR>
				<BUDANYOUZH><![CDATA[不丹邮政]]></BUDANYOUZH>
				<CA><![CDATA[加拿大邮政]]></CA>
				<DHL><![CDATA[DHL]]></DHL>
				<DHL_EN><![CDATA[DHL]]></DHL_EN>
				<DHL_GLB><![CDATA[DHL全球]]></DHL_GLB>
				<DHLGM><![CDATA[DHL Global Mail]]></DHLGM>
				<DK><![CDATA[丹麦邮政]]></DK>
				<DPD><![CDATA[DPD]]></DPD>
				<DPEX><![CDATA[DPEX]]></DPEX>
				<EMSGJ><![CDATA[EMS国际]]></EMSGJ>
				<ESHIPPER><![CDATA[EShipper]]></ESHIPPER>
				<GJEYB><![CDATA[国际e邮宝]]></GJEYB>
				<GJYZ><![CDATA[国际邮政包裹]]></GJYZ>
				<GLS><![CDATA[GLS]]></GLS>
				<IADLSQDYZ><![CDATA[安的列斯群岛邮政]]></IADLSQDYZ>
				<IADLYYZ><![CDATA[澳大利亚邮政]]></IADLYYZ>
				<IAEBNYYZ><![CDATA[阿尔巴尼亚邮政]]></IAEBNYYZ>
				<IAEJLYYZ><![CDATA[阿尔及利亚邮政]]></IAEJLYYZ>
				<IAFHYZ><![CDATA[阿富汗邮政]]></IAFHYZ>
				<IAGLYZ><![CDATA[安哥拉邮政]]></IAGLYZ>
				<IAGTYZ><![CDATA[阿根廷邮政]]></IAGTYZ>
				<IAJYZ><![CDATA[埃及邮政]]></IAJYZ>
				<IALBYZ><![CDATA[阿鲁巴邮政]]></IALBYZ>
				<IALQDYZ><![CDATA[奥兰群岛邮政]]></IALQDYZ>
				<IALYYZ><![CDATA[阿联酋邮政]]></IALYYZ>
				<IAMYZ><![CDATA[阿曼邮政]]></IAMYZ>
				<IASBJYZ><![CDATA[阿塞拜疆邮政]]></IASBJYZ>
				<IASEBYYZ><![CDATA[埃塞俄比亚邮政]]></IASEBYYZ>
				<IASNYYZ><![CDATA[爱沙尼亚邮政]]></IASNYYZ>
				<IASSDYZ><![CDATA[阿森松岛邮政]]></IASSDYZ>
				<IBCWNYZ><![CDATA[博茨瓦纳邮政]]></IBCWNYZ>
				<IBDLGYZ><![CDATA[波多黎各邮政]]></IBDLGYZ>
				<IBDYZ><![CDATA[冰岛邮政]]></IBDYZ>
				<IBELSYZ><![CDATA[白俄罗斯邮政]]></IBELSYZ>
				<IBHYZ><![CDATA[波黑邮政]]></IBHYZ>
				<IBJLYYZ><![CDATA[保加利亚邮政]]></IBJLYYZ>
				<IBJSTYZ><![CDATA[巴基斯坦邮政]]></IBJSTYZ>
				<IBLNYZ><![CDATA[黎巴嫩邮政]]></IBLNYZ>
				<IBLSD><![CDATA[便利速递]]></IBLSD>
				<IBLWYYZ><![CDATA[玻利维亚邮政]]></IBLWYYZ>
				<IBLYZ><![CDATA[巴林邮政]]></IBLYZ>
				<IBMDYZ><![CDATA[百慕达邮政]]></IBMDYZ>
				<IBOLYZ><![CDATA[波兰邮政]]></IBOLYZ>
				<IBTD><![CDATA[宝通达]]></IBTD>
				<IBYB><![CDATA[贝邮宝]]></IBYB>
				<ICKY><![CDATA[出口易]]></ICKY>
				<IDFWL><![CDATA[达方物流]]></IDFWL>
				<IDGYZ><![CDATA[德国邮政]]></IDGYZ>
				<IE><![CDATA[爱尔兰邮政]]></IE>
				<IEGDEYZ><![CDATA[厄瓜多尔邮政]]></IEGDEYZ>
				<IELSYZ><![CDATA[俄罗斯邮政]]></IELSYZ>
				<IELTLYYZ><![CDATA[厄立特里亚邮政]]></IELTLYYZ>
				<IFTWL><![CDATA[飞特物流]]></IFTWL>
				<IGDLPDEMS><![CDATA[瓜德罗普岛EMS]]></IGDLPDEMS>
				<IGDLPDYZ><![CDATA[瓜德罗普岛邮政]]></IGDLPDYZ>
				<IGJESD><![CDATA[俄速递]]></IGJESD>
				<IGLBYYZ><![CDATA[哥伦比亚邮政]]></IGLBYYZ>
				<IGLLYZ><![CDATA[格陵兰邮政]]></IGLLYZ>
				<IGSDLJYZ><![CDATA[哥斯达黎加邮政]]></IGSDLJYZ>
				<IHGYZ><![CDATA[韩国邮政]]></IHGYZ>
				<IHHWL><![CDATA[华翰物流]]></IHHWL>
				<IHLY><![CDATA[互联易]]></IHLY>
				<IHSKSTYZ><![CDATA[哈萨克斯坦邮政]]></IHSKSTYZ>
				<IHSYZ><![CDATA[黑山邮政]]></IHSYZ>
				<IJBBWYZ><![CDATA[津巴布韦邮政]]></IJBBWYZ>
				<IJEJSSTYZ><![CDATA[吉尔吉斯斯坦邮政]]></IJEJSSTYZ>
				<IJKYZ><![CDATA[捷克邮政]]></IJKYZ>
				<IJNYZ><![CDATA[加纳邮政]]></IJNYZ>
				<IJPZYZ><![CDATA[柬埔寨邮政]]></IJPZYZ>
				<IKNDYYZ><![CDATA[克罗地亚邮政]]></IKNDYYZ>
				<IKNYYZ><![CDATA[肯尼亚邮政]]></IKNYYZ>
				<IKTDWEMS><![CDATA[科特迪瓦EMS]]></IKTDWEMS>
				<IKTDWYZ><![CDATA[科特迪瓦邮政]]></IKTDWYZ>
				<IKTEYZ><![CDATA[卡塔尔邮政]]></IKTEYZ>
				<ILBYYZ><![CDATA[利比亚邮政]]></ILBYYZ>
				<ILKKD><![CDATA[林克快递]]></ILKKD>
				<ILMNYYZ><![CDATA[罗马尼亚邮政]]></ILMNYYZ>
				<ILSBYZ><![CDATA[卢森堡邮政]]></ILSBYZ>
				<ILTWYYZ><![CDATA[拉脱维亚邮政]]></ILTWYYZ>
				<ILTWYZ><![CDATA[立陶宛邮政]]></ILTWYZ>
				<ILZDSDYZ><![CDATA[列支敦士登邮政]]></ILZDSDYZ>
				<IMEDFYZ><![CDATA[马尔代夫邮政]]></IMEDFYZ>
				<IMEDWYZ><![CDATA[摩尔多瓦邮政]]></IMEDWYZ>
				<IMETYZ><![CDATA[马耳他邮政]]></IMETYZ>
				<IMJLGEMS><![CDATA[孟加拉国EMS]]></IMJLGEMS>
				<IMLGYZ><![CDATA[摩洛哥邮政]]></IMLGYZ>
				<IMLQSYZ><![CDATA[毛里求斯邮政]]></IMLQSYZ>
				<IMLXYEMS><![CDATA[马来西亚EMS]]></IMLXYEMS>
				<IMLXYYZ><![CDATA[马来西亚邮政]]></IMLXYYZ>
				<IMQDYZ><![CDATA[马其顿邮政]]></IMQDYZ>
				<IMTNKEMS><![CDATA[马提尼克EMS]]></IMTNKEMS>
				<IMTNKYZ><![CDATA[马提尼克邮政]]></IMTNKYZ>
				<IMXGYZ><![CDATA[墨西哥邮政]]></IMXGYZ>
				<INFYZ><![CDATA[南非邮政]]></INFYZ>
				<INRLYYZ><![CDATA[尼日利亚邮政]]></INRLYYZ>
				<INWYZ><![CDATA[挪威邮政]]></INWYZ>
				<IPTYYZ><![CDATA[葡萄牙邮政]]></IPTYYZ>
				<IQQKD><![CDATA[全球快递]]></IQQKD>
				<IQTWL><![CDATA[全通物流]]></IQTWL>
				<ISDYZ><![CDATA[苏丹邮政]]></ISDYZ>
				<ISEWDYZ><![CDATA[萨尔瓦多邮政]]></ISEWDYZ>
				<ISEWYYZ><![CDATA[塞尔维亚邮政]]></ISEWYYZ>
				<ISLFKYZ><![CDATA[斯洛伐克邮政]]></ISLFKYZ>
				<ISLWNYYZ><![CDATA[斯洛文尼亚邮政]]></ISLWNYYZ>
				<ISNJEYZ><![CDATA[塞内加尔邮政]]></ISNJEYZ>
				<ISPLSYZ><![CDATA[塞浦路斯邮政]]></ISPLSYZ>
				<ISTALBYZ><![CDATA[沙特阿拉伯邮政]]></ISTALBYZ>
				<ITEQYZ><![CDATA[土耳其邮政]]></ITEQYZ>
				<ITGYZ><![CDATA[泰国邮政]]></ITGYZ>
				<ITLNDHDBGE><![CDATA[特立尼达和多巴哥EMS]]></ITLNDHDBGE>
				<ITNSYZ><![CDATA[突尼斯邮政]]></ITNSYZ>
				<ITSNYYZ><![CDATA[坦桑尼亚邮政]]></ITSNYYZ>
				<IWDMLYZ><![CDATA[危地马拉邮政]]></IWDMLYZ>
				<IWGDYZ><![CDATA[乌干达邮政]]></IWGDYZ>
				<IWKLEMS><![CDATA[乌克兰EMS]]></IWKLEMS>
				<IWKLYZ><![CDATA[乌克兰邮政]]></IWKLYZ>
				<IWLGYZ><![CDATA[乌拉圭邮政]]></IWLGYZ>
				<IWLYZ><![CDATA[文莱邮政]]></IWLYZ>
				<IWZBKSTEMS><![CDATA[乌兹别克斯坦EMS]]></IWZBKSTEMS>
				<IWZBKSTYZ><![CDATA[乌兹别克斯坦邮政]]></IWZBKSTYZ>
				<IXBYYZ><![CDATA[西班牙邮政]]></IXBYYZ>
				<IXFLWL><![CDATA[小飞龙物流]]></IXFLWL>
				<IXGLDNYYZ><![CDATA[新喀里多尼亚邮政]]></IXGLDNYYZ>
				<IXJPEMS><![CDATA[新加坡EMS]]></IXJPEMS>
				<IXJPYZ><![CDATA[新加坡邮政]]></IXJPYZ>
				<IXLYYZ><![CDATA[叙利亚邮政]]></IXLYYZ>
				<IXLYZ><![CDATA[希腊邮政]]></IXLYZ>
				<IXPSJ><![CDATA[夏浦世纪]]></IXPSJ>
				<IXPWL><![CDATA[夏浦物流]]></IXPWL>
				<IXXLYZ><![CDATA[新西兰邮政]]></IXXLYZ>
				<IXYLYZ><![CDATA[匈牙利邮政]]></IXYLYZ>
				<IYDLYZ><![CDATA[意大利邮政]]></IYDLYZ>
				<IYDNXYYZ><![CDATA[印度尼西亚邮政]]></IYDNXYYZ>
				<IYDYZ><![CDATA[印度邮政]]></IYDYZ>
				<IYGYZ><![CDATA[英国邮政]]></IYGYZ>
				<IYLYZ><![CDATA[伊朗邮政]]></IYLYZ>
				<IYMNYYZ><![CDATA[亚美尼亚邮政]]></IYMNYYZ>
				<IYMYZ><![CDATA[也门邮政]]></IYMYZ>
				<IYNYZ><![CDATA[越南邮政]]></IYNYZ>
				<IYSLYZ><![CDATA[以色列邮政]]></IYSLYZ>
				<IYTG><![CDATA[易通关]]></IYTG>
				<IYWWL><![CDATA[燕文物流]]></IYWWL>
				<IZBLTYZ><![CDATA[直布罗陀邮政]]></IZBLTYZ>
				<IZLYZ><![CDATA[智利邮政]]></IZLYZ>
				<JP><![CDATA[日本邮政]]></JP>
				<NL><![CDATA[荷兰邮政]]></NL>
				<ONTRAC><![CDATA[ONTRAC]]></ONTRAC>
				<QQYZ><![CDATA[全球邮政]]></QQYZ>
				<RDSE><![CDATA[瑞典邮政]]></RDSE>
				<SWCH><![CDATA[瑞士邮政]]></SWCH>
				<TNT><![CDATA[TNT快递]]></TNT>
				<UPS><![CDATA[UPS]]></UPS>
				<USPS><![CDATA[USPS美国邮政]]></USPS>
				<YAMA><![CDATA[日本大和运输(Yamato)]]></YAMA>
				<YODEL><![CDATA[YODEL]]></YODEL>
				<YUEDANYOUZ><![CDATA[约旦邮政]]></YUEDANYOUZ>
				<AOL><![CDATA[AOL（澳通）]]></AOL>
				<BCWELT><![CDATA[BCWELT]]></BCWELT>
				<BN><![CDATA[笨鸟国际]]></BN>
				<UEX><![CDATA[UEX]]></UEX>
				<ZY_AG><![CDATA[爱购转运]]></ZY_AG>
				<ZY_AOZ><![CDATA[爱欧洲]]></ZY_AOZ>
				<ZY_AUSE><![CDATA[澳世速递]]></ZY_AUSE>
				<ZY_AXO><![CDATA[AXO]]></ZY_AXO>
				<ZY_AZY><![CDATA[澳转运]]></ZY_AZY>
				<ZY_BDA><![CDATA[八达网]]></ZY_BDA>
				<ZY_BEE><![CDATA[蜜蜂速递]]></ZY_BEE>
				<ZY_BH><![CDATA[贝海速递]]></ZY_BH>
				<ZY_BL><![CDATA[百利快递]]></ZY_BL>
				<ZY_BM><![CDATA[斑马物流]]></ZY_BM>
				<ZY_BOZ><![CDATA[败欧洲]]></ZY_BOZ>
				<ZY_BT><![CDATA[百通物流]]></ZY_BT>
				<ZY_BYECO><![CDATA[贝易购]]></ZY_BYECO>
				<ZY_CM><![CDATA[策马转运]]></ZY_CM>
				<ZY_CTM><![CDATA[赤兔马转运]]></ZY_CTM>
				<ZY_CUL><![CDATA[CUL中美速递]]></ZY_CUL>
				<ZY_DGHT><![CDATA[德国海淘之家]]></ZY_DGHT>
				<ZY_DYW><![CDATA[德运网]]></ZY_DYW>
				<ZY_EFS><![CDATA[EFS POST]]></ZY_EFS>
				<ZY_ESONG><![CDATA[宜送转运]]></ZY_ESONG>
				<ZY_ETD><![CDATA[ETD]]></ZY_ETD>
				<ZY_FD><![CDATA[飞碟快递]]></ZY_FD>
				<ZY_FG><![CDATA[飞鸽快递]]></ZY_FG>
				<ZY_FLSD><![CDATA[风雷速递]]></ZY_FLSD>
				<ZY_FX><![CDATA[风行快递]]></ZY_FX>
				<ZY_FXSD><![CDATA[风行速递]]></ZY_FXSD>
				<ZY_FY><![CDATA[飞洋快递]]></ZY_FY>
				<ZY_HC><![CDATA[皓晨快递]]></ZY_HC>
				<ZY_HCYD><![CDATA[皓晨优递]]></ZY_HCYD>
				<ZY_HDB><![CDATA[海带宝]]></ZY_HDB>
				<ZY_HFMZ><![CDATA[汇丰美中速递]]></ZY_HFMZ>
				<ZY_HJSD><![CDATA[豪杰速递]]></ZY_HJSD>
				<ZY_HTAO><![CDATA[360hitao转运]]></ZY_HTAO>
				<ZY_HTCUN><![CDATA[海淘村]]></ZY_HTCUN>
				<ZY_HTKE><![CDATA[365海淘客]]></ZY_HTKE>
				<ZY_HTONG><![CDATA[华通快运]]></ZY_HTONG>
				<ZY_HXKD><![CDATA[海星桥快递]]></ZY_HXKD>
				<ZY_HXSY><![CDATA[华兴速运]]></ZY_HXSY>
				<ZY_HYSD><![CDATA[海悦速递]]></ZY_HYSD>
				<ZY_JA><![CDATA[君安快递]]></ZY_JA>
				<ZY_JD><![CDATA[时代转运]]></ZY_JD>
				<ZY_JDKD><![CDATA[骏达快递]]></ZY_JDKD>
				<ZY_JDZY><![CDATA[骏达转运]]></ZY_JDZY>
				<ZY_JH><![CDATA[久禾快递]]></ZY_JH>
				<ZY_JHT><![CDATA[金海淘]]></ZY_JHT>
				<ZY_LBZY><![CDATA[联邦转运FedRoad]]></ZY_LBZY>
				<ZY_LPZ><![CDATA[领跑者快递]]></ZY_LPZ>
				<ZY_LX><![CDATA[龙象快递]]></ZY_LX>
				<ZY_LZWL><![CDATA[量子物流]]></ZY_LZWL>
				<ZY_MBZY><![CDATA[明邦转运]]></ZY_MBZY>
				<ZY_MGZY><![CDATA[美国转运]]></ZY_MGZY>
				<ZY_MJ><![CDATA[美嘉快递]]></ZY_MJ>
				<ZY_MST><![CDATA[美速通]]></ZY_MST>
				<ZY_MXZY><![CDATA[美西转运]]></ZY_MXZY>
				<ZY_MZ><![CDATA[168 美中快递]]></ZY_MZ>
				<ZY_OEJ><![CDATA[欧e捷]]></ZY_OEJ>
				<ZY_OZF><![CDATA[欧洲疯]]></ZY_OZF>
				<ZY_OZGO><![CDATA[欧洲GO]]></ZY_OZGO>
				<ZY_QMT><![CDATA[全美通]]></ZY_QMT>
				<ZY_QQEX><![CDATA[QQ-EX]]></ZY_QQEX>
				<ZY_RDGJ><![CDATA[润东国际快线]]></ZY_RDGJ>
				<ZY_RT><![CDATA[瑞天快递]]></ZY_RT>
				<ZY_RTSD><![CDATA[瑞天速递]]></ZY_RTSD>
				<ZY_SCS><![CDATA[SCS国际物流]]></ZY_SCS>
				<ZY_SDKD><![CDATA[速达快递]]></ZY_SDKD>
				<ZY_SFZY><![CDATA[四方转运]]></ZY_SFZY>
				<ZY_SOHO><![CDATA[SOHO苏豪国际]]></ZY_SOHO>
				<ZY_SONIC><![CDATA[Sonic-Ex速递]]></ZY_SONIC>
				<ZY_ST><![CDATA[上腾快递]]></ZY_ST>
				<ZY_TCM><![CDATA[通诚美中快递]]></ZY_TCM>
				<ZY_TJ><![CDATA[天际快递]]></ZY_TJ>
				<ZY_TM><![CDATA[天马转运]]></ZY_TM>
				<ZY_TN><![CDATA[滕牛快递]]></ZY_TN>
				<ZY_TPAK><![CDATA[TrakPak]]></ZY_TPAK>
				<ZY_TPY><![CDATA[太平洋快递]]></ZY_TPY>
				<ZY_TSZ><![CDATA[唐三藏转运]]></ZY_TSZ>
				<ZY_TTHT><![CDATA[天天海淘]]></ZY_TTHT>
				<ZY_TWC><![CDATA[TWC转运世界]]></ZY_TWC>
				<ZY_TX><![CDATA[同心快递]]></ZY_TX>
				<ZY_TY><![CDATA[天翼快递]]></ZY_TY>
				<ZY_TZH><![CDATA[同舟快递]]></ZY_TZH>
				<ZY_UCS><![CDATA[UCS合众快递]]></ZY_UCS>
				<ZY_WDCS><![CDATA[文达国际DCS]]></ZY_WDCS>
				<ZY_XC><![CDATA[星辰快递]]></ZY_XC>
				<ZY_XDKD><![CDATA[迅达快递]]></ZY_XDKD>
				<ZY_XDSY><![CDATA[信达速运]]></ZY_XDSY>
				<ZY_XF><![CDATA[先锋快递]]></ZY_XF>
				<ZY_XGX><![CDATA[新干线快递]]></ZY_XGX>
				<ZY_XIYJ><![CDATA[西邮寄]]></ZY_XIYJ>
				<ZY_XJ><![CDATA[信捷转运]]></ZY_XJ>
				<ZY_YGKD><![CDATA[优购快递]]></ZY_YGKD>
				<ZY_YJSD><![CDATA[友家速递(UCS)]]></ZY_YJSD>
				<ZY_YPW><![CDATA[云畔网]]></ZY_YPW>
				<ZY_YQ><![CDATA[云骑快递]]></ZY_YQ>
				<ZY_YQWL><![CDATA[一柒物流]]></ZY_YQWL>
				<ZY_YSSD><![CDATA[优晟速递]]></ZY_YSSD>
				<ZY_YSW><![CDATA[易送网]]></ZY_YSW>
				<ZY_YTUSA><![CDATA[运淘美国]]></ZY_YTUSA>
				<ZY_ZCSD><![CDATA[至诚速递]]></ZY_ZCSD>
				<YIMIDIDA><![CDATA[壹米滴答]]></YIMIDIDA>
				<ZMKMEX><![CDATA[芝麻开门]]></ZMKMEX>
				<RRS><![CDATA[日日顺物流]]></RRS>
				<YXWL><![CDATA[宇鑫物流]]></YXWL>
				<DJ56><![CDATA[东骏快捷]]></DJ56>
				<ANXL><![CDATA[安迅物流]]></ANXL>
				<EXFRESH><![CDATA[安鲜达]]></EXFRESH>
				<AJWL><![CDATA[安捷物流]]></AJWL>
				<ANTS><![CDATA[ANTS]]></ANTS>
				<ASTEXPRESS><![CDATA[安世通快递]]></ASTEXPRESS>
				<IBUY8><![CDATA[爱拜物流]]></IBUY8>
				<ADODOXOM><![CDATA[澳多多国际速递]]></ADODOXOM>
				<APLUSEX><![CDATA[Aplus物流]]></APLUSEX>
				<ADAPOST><![CDATA[安达速递]]></ADAPOST>
				<AUSEXPRESS><![CDATA[澳世速递]]></AUSEXPRESS>
				<MAXEEDEXPRESS><![CDATA[澳洲迈速快递]]></MAXEEDEXPRESS>
				<ONWAY><![CDATA[昂威物流]]></ONWAY>
				<AOTSD><![CDATA[澳天速运]]></AOTSD>
			</option>
			<default>SF</default>
		</company>
	</code>
	<manage>
		<readme>
			<title>帮助说明</title>
			<exec>readme</exec>
			<type>page</type>
		</readme>
	</manage>
</root>