<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>腾迅云点播服务</title>
	<note>直接上传文件到腾迅云的VOD服务，支持增删操作</note>
	<code>
		<SecretId>
			<title>SecretId</title>
			<note><![CDATA[腾迅云的 SecretId，同上]]></note>
			<type>text</type>
			<required>true</required>
		</SecretId>
		<SecretKey>
			<title>SecretKey</title>
			<type>text</type>
			<note><![CDATA[腾迅云的 SecretKey，同上]]></note>
			<required>true</required>
		</SecretKey>
		<region>
			<title>存储地域</title>
			<type>text</type>
			<note><![CDATA[腾迅云上传存储地域，不清楚请查看：<a href="//cloud.tencent.com/document/api/266/31756#.E5.9C.B0.E5.9F.9F.E5.88.97.E8.A1.A8" target="_blank">存储地域说明</a>]]></note>
			<required>true</required>
		</region>
		<deleteAct>
			<title>删除刷新</title>
			<type>radio</type>
			<note><![CDATA[删除云文件时是否及时刷新，默认配额每天最多10000次]]></note>
			<option>
				<yes>是</yes>
				<no>否</no>
			</option>
			<default>no</default>
		</deleteAct>
	</code>
</root>