<?xml version="1.0" encoding="utf-8"?>
<root>
	<title><![CDATA[阿里云消息服务（短信）]]></title>
	<note><![CDATA[与阿里云市场短信有所区别，此处使用阿里云自带的SDK包]]></note>
	<code>
		<appkey>
			<title><![CDATA[Access Key ID]]></title>
			<note><![CDATA[请到阿里云提供的https://ak-console.aliyun.com/#/accesskey/申请]]></note>
			<type>text</type>
			<required>true</required>
		</appkey>
		<appsecret>
			<title><![CDATA[Access Key Secret（密钥）]]></title>
			<note><![CDATA[同上，在申请Key ID后，会同时提供密钥]]></note>
			<type>text</type>
			<required>true</required>
		</appsecret>
		<server>
			<title><![CDATA[外网访问域名，即EndPoint]]></title>
			<note><![CDATA[最新短信使用 dysmsapi.aliyuncs.com]]></note>
			<type>text</type>
			<required>true</required>
			<default><![CDATA[dysmsapi.aliyuncs.com]]></default>
		</server>
		<regoin_id>
			<title><![CDATA[区域节点]]></title>
			<note><![CDATA[不清楚的请填写：cn-hangzhou]]></note>
			<type>text</type>
			<required>true</required>
			<default><![CDATA[cn-hangzhou]]></default>
		</regoin_id>
		<signame>
			<title><![CDATA[签名]]></title>
			<note><![CDATA[请填写您在阿里上设置的短信签名]]></note>
			<type>text</type>
			<required>true</required>
		</signame>
		<mobile>
			<title><![CDATA[手机号]]></title>
			<note><![CDATA[填写管理员接收短信要用到的手机号，仅支持一个手机号]]></note>
			<type>text</type>
			<required>true</required>
		</mobile>
	</code>
	<manage>
		<send>
			<title><![CDATA[发短信]]></title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
		<readme>
			<title><![CDATA[帮助说明]]></title>
			<exec>readme</exec>
			<type>page</type>
		</readme>
	</manage>
</root>