<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>阿里云市场短信</title>
	<note>官网（http://www.aliyun.com）</note>
	<code>
		<sendtype>
			<title>发送短信方式</title>
			<note>选择发送短信的方式</note>
			<type>radio</type>
			<option>
				<appcode>简单身份认证</appcode>
				<appkey>签名认证</appkey>
			</option>
			<default>appcode</default>
		</sendtype>
		<appcode>
			<title>APPCODE</title>
			<note><![CDATA[填写您申请成功的短信接口中关于APPCODE码，<span style="color:darkblue">使用简单身份认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appcode>
		<appkey>
			<title>AppKey</title>
			<note><![CDATA[填写在阿里去申请到的AppKey，<span style="color:red">此项使用签名认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appkey>
		<appsecret>
			<title>AppSecret</title>
			<note><![CDATA[填写在阿里去申请到的AppSecret，<span style="color:red">此项使用签名认证必填</span>]]></note>
			<type>text</type>
			<required>false</required>
		</appsecret>
		<server>
			<title>请求地址</title>
			<note><![CDATA[即接口请求地址，如：http://sms.market.alicloudapi.com/singleSendSms]]></note>
			<type>text</type>
			<required>true</required>
			<default>http://sms.market.alicloudapi.com/singleSendSms</default>
		</server>
		<signame>
			<title>签名</title>
			<note><![CDATA[请填写您在阿里上设置的短信签名]]></note>
			<type>text</type>
			<required>true</required>
		</signame>
		<mobile>
			<title>手机号</title>
			<note>填写管理员接收短信要用到的手机号，仅支持一个手机号</note>
			<type>text</type>
			<required>true</required>
		</mobile>
	</code>
	<manage>
		<send>
			<title>发短信</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
		<readme>
			<title>帮助说明</title>
			<exec>readme</exec>
			<type>page</type>
		</readme>
	</manage>
</root>