<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>腾迅云对象存储COS</title>
	<note>直接上传文件到腾迅云的对象存储COS，支持增删操作</note>
	<code>
		<SecretId>
			<title>SecretId</title>
			<note><![CDATA[腾迅云的 SecretId，同上]]></note>
			<type>text</type>
			<required>true</required>
		</SecretId>
		<SecretKey>
			<title>SecretKey</title>
			<type>text</type>
			<note><![CDATA[腾迅云的 SecretKey，同上]]></note>
			<required>true</required>
		</SecretKey>
		<region>
			<title>存储地域</title>
			<type>text</type>
			<note><![CDATA[腾迅云上传存储地域，不清楚请查看：<a href="//cloud.tencent.com/document/api/266/31756" target="_blank">存储地域说明</a>]]></note>
			<required>true</required>
		</region>
		<bucket>
			<title><![CDATA[Bucket 名称]]></title>
			<type>text</type>
			<note><![CDATA[请登录腾迅云对象存储管理，找到Bucket列表，填写您设置Bucket名称]]></note>
			<type>text</type>
			<required>true</required>
		</bucket>
		<bucket_domain>
			<title><![CDATA[域名]]></title>
			<type>text</type>
			<note><![CDATA[即填写当前Bucket的域名，有自定义加速域名请填写自定义的加速域名]]></note>
			<type>text</type>
		</bucket_domain>
	</code>
</root>