<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>国迅通短信</title>
	<note>官网网址http://www.gxt106.com，基于http的v1版本制作</note>
	<code>
		<companyid>
			<title>企业ID号</title>
			<note>请登录http://www.gxt106.com/找到我的信息那里可以看到企业ID号</note>
			<type>text</type>
			<required>true</required>
		</companyid>
		<account>
			<title>帐号</title>
			<note>接口账号，不能为空</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密码</title>
			<note>帐号登录密码</note>
			<type>text</type>
			<required>true</required>
		</password>
		<server>
			<title>请求地址</title>
			<note>即接口请求地址，如：http://www.gxt106.com/sms.aspx</note>
			<type>text</type>
			<required>true</required>
		</server>
		<mobile>
			<title>手机号</title>
			<note>填写管理员接收短信要用到的手机号，多个手机号用英文逗号“,”隔开</note>
			<type>text</type>
			<required>false</required>
		</mobile>
	</code>
	<manage>
		<balance>
			<title>查余额</title>
			<exec>balance</exec>
			<type>ajax</type>
		</balance>
		<send>
			<title>发短信</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
	</manage>
</root>