@charset "utf-8";
/* CSS Document */

.main{padding:0.5em;}
.mtop{margin-top:1em;}
.red{color:red;}
.gray{color:gray;}
.center{text-align:center;}
.hidden{display:none;}
.hide{display:none;}
.clear{clear:both;height:0;line-height:0;content:'.';display:block;visibility:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.toTop{background:#0e90d2 url('../images/to-top.png') center center no-repeat;background-size:92%;width:32px;height:32px;border:0;;border-radius:50%}


.content{ line-height:170%;font-size:1em;font-weight:500;}
.content p{ margin-bottom:1em;}
.content table {border: 1px solid #ddd;border-collapse: collapse;display: table;}
.content table td {border: 1px solid #ddd;padding: 5px 10px;}
.content table th {border: 1px solid #ddd;background-color: #f7f7f7;padding: 5px 10px;}
.content img{max-width:100%}

/* 产品详细页 开始 */
div.attr{border:1px solid #ccc;margin-bottom:5px;line-height:26px;padding:3px 10px;cursor:pointer;}
div.attr.selected{border:1px solid red;}
/* 产品详细页 结束 */


/* 购物车图标 */
.cart{width:100%;height:100%;position: relative;}
.cart #head_cart_num{position:absolute;top:0.5em;right:2em;font-size:0.8rem;border-radius:100%;min-height:16px;min-width:16px;line-height:16px;padding:0.1em 0.2em;}

.cart_checkbox{position: absolute;left:0.1em;top:0.1em;z-index:9;}
.cart_note{color:#757575;font-size:1.2rem;overflow: hidden;text-overflow: ellipsis;line-height:1.3em;}

ul.cart_price_setting{list-style:none;margin:0.5em 0;padding:0;}
ul.cart_price_setting li{float:left;width:30%;}
ul.cart_price_setting li.minus{padding:0.7em;width:auto;background:#EEE;border:1px solid #ccc;border-right:0;}
ul.cart_price_setting li.plus{padding:0.7em;width:auto;background:#EEE;border:1px solid #ccc;border-left:0;}


/* 会员中心 */
.usercp{}
.usercp .avatar{padding:5% 10%;text-align:center;}
.usercp .nickname{text-align:center;}
.usercp .avatar img{width:100px;border-radius:50%;}
.usercp .group{border:0;box-shadow:none}

/**
  * 页脚导航主题: gray
  * 作者： phpok (admin@phpok.com)
  */
.am-navbar-gray{
	border-top:1px solid #CFCFCF;
}
.am-navbar-gray .am-active{
	color:#0e90d2;
}
.am-navbar-gray .am-active a{
	color:#0e90d2;
}
.am-navbar-gray a {
  color: #858585;
}
.am-navbar-gray .am-navbar-nav {
  background-color:#FAFAFA;
}

/**
 * 左侧导航高亮
 */
.am-menu a.am-active{
	color:darkred;
	background:#FFF;
}

/**
 * 两行省略号
 */
.am-ellipsis2{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*
 * OK 涉及到的页脚图标
 */
.ok-icon{
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	width: 24px;
    height: 24px;
    margin: 4px auto 0;
    display: block;
    line-height: 24px;
}
.ok-icon-account{
	background-image:url('../images/footbar/account.png');
}
.am-active .ok-icon-account{
	background-image:url('../images/footbar/account-selected.png');
}

.ok-icon-all{
	background-image:url('../images/footbar/all.png');
}
.am-active .ok-icon-all{
	background-image:url('../images/footbar/all-selected.png');
}

.ok-icon-cart{
	background-image:url('../images/footbar/cart.png');
}
.am-active .ok-icon-cart{
	background-image:url('../images/footbar/cart-selected.png');
}

.ok-icon-service{
	background-image:url('../images/footbar/service.png');
}
.am-active .ok-icon-service{
	background-image:url('../images/footbar/service-selected.png');
}

.ok-icon-home{
	background-image:url('../images/footbar/home.png');
}
.am-active .ok-icon-home{
	background-image:url('../images/footbar/home-selected.png');
}