/***********************************************************
	Filename: css/style.css
	Note	: 手机板风格样式
	Version : 4.0
	Web		: www.phpok.com
	Author  : qinggan <qinggan@188.com>
	Update  : 2014年1月2日
***********************************************************/
 @charset"utf-8";
html, body {line-height:170%;font-size:14px;margin:0;padding:0;}
body, input, select, textarea, button, .ui-btn{font-family:'Microsoft Yahei','苹果丽中黑',Sans-serif}
h1,h2,h3,h4,h5,h6,p,div{margin:0;padding:0;}
body{max-width:320px;}
img {border:0}
a {text-decoration:none;color:#3164cd}
em {font-style:normal}
.red{color:red !important;}
.clear{clear:both;height:0;display: block;visibility:hidden;content:"."}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.hand{cursor:pointer;}
.price{font-size:18px;color:red;}
.ui-content{padding:5px;}
.wrap{white-space:normal !important;}

.ui-icon-cart .num{float:right;width:10px;height:10px;background:red;border-radius:5px;font-size:0.4em;line-height:10px;text-align:center;display:none;margin:2px 7px 0 0;}

.btn-blue{border:0;margin:0;padding:0 20px;height:30px;line-height:30px;background:darkblue;color:#fff;font-size:14px;}
.btn-blue:hover{background:#0000CC;}

ul.pictures{list-style:none;margin:0;padding:0;}
ul.pictures li{margin-top:5px;width:48%;float:left;border:1px solid #ccc;overflow:hidden;height:185px;text-align:center;background:#fff;}
ul.pictures li:nth-child(2n){margin-left:2%;}

.home_banner{width:310px;overflow:hidden;position:relative;margin:0 auto 5px auto;}
.home_banner .pro_ul{margin:0;padding:0;list-style:none;}
.home_banner .pro_ul li{text-align:center;}

.content table {border: 1px solid #ddd;border-collapse: collapse;display: table;}
.content table td {border: 1px solid #ddd;padding: 5px 10px;}

img.thumb{width:80px;height:80px;border:0;}

ul.np{list-style:none;margin:0;padding:0;font-size:12px;}
ul.np li{height:24px;overflow:hidden;}
ul.np li a{display:block;font-weight:normal;line-height:24px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;letter-spacing:1px;}
ul.np b{color:#000;letter-spacing:normal;}

div.product_img{padding:5px;background:#fff;}
div.product_img ul{list-style:none;}
div.product_img li{width:100%;overflow:hidden;}
div.product_img li img{width:100%;border:0;}

div.product{background:#fff;padding:5px;}
div.product h1{font-size:1.2em;}
div.product ul.alist{list-style:none;padding:0;margin:0;}
div.product ul.alist li{position:relative;line-height:2em;padding-left:88px;}
div.product ul.alist li em{position:absolute;left:0;top:0;width:87px;text-align:right;font-style:normal;}
div.product ul.alist li hr{border:0;border-top:1px dashed #ccc;}
div.product ul.alist li li{padding:0;margin-bottom:5px;}
div.product ul.attr{list-style:none;padding:0;margin:0;}

.numbg{background:#888888;width:26px;height:26px;cursor:pointer;text-align:center;font-size:1em;color:#fff;line-height:26px;}
.numtxt{width:40px;height:24px;text-align:center;padding:0;margin:0;border:1px solid #888;border-radius:0;}

div.attr{border:1px solid #ccc;margin-right:10px;line-height:26px;padding:3px 10px;cursor:pointer;}
div.attr.selected{border:1px solid red;}



.joblist .ui-li-count{line-height:26px;margin-top:0.45em;min-width:40px;margin-right:-30px;text-align:center;}
.vcode{width:80px;}

.uinfo{width:100%;margin:10px auto 0 auto;}
.uinfo:after{content:'.';display:block;visibility:hidden;height:0;line-height:0;clear:both;}
.uinfo .img{float:left;width:30%;text-align:right;margin-right:3%;}
.uinfo .img img{width:48px;height:48px;border-radius:24px;background:#fff;}
.uinfo .fullname{float:left;width:50%;overflow:hidden;font-size:1.3em;font-weight:600;}
.uinfo .logout{float:left;width:50%;overflow:hidden;font-size:0.8em;}

/*在线客服样式*/
ul.kfonline{list-style:none;margin:0;padding:0}
ul.kfonline li{line-height:30px;border-bottom:1px solid #ccc;padding:5px 10px;font-size:1em;}
ul.kfonline li.qq{background:url('../images/qq.png') 5px center no-repeat;}
ul.kfonline li.phone{background:url('../images/phone.png') 5px center no-repeat;}
ul.kfonline li a{display:block;width:100%;height:100%;margin-left:30px;}
ul.kfonline li:last-child{border-bottom:0;}

.ui-icon-cart:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M6%2014.5c0%200.828-0.672%201.5-1.5%201.5s-1.5-0.672-1.5-1.5c0-0.828%200.672-1.5%201.5-1.5s1.5%200.672%201.5%201.5z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%2014.5c0%200.828-0.672%201.5-1.5%201.5s-1.5-0.672-1.5-1.5c0-0.828%200.672-1.5%201.5-1.5s1.5%200.672%201.5%201.5z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%208v-6h-12c0-0.552-0.448-1-1-1h-3v1h2l0.751%206.438c-0.458%200.367-0.751%200.93-0.751%201.562%200%201.105%200.895%202%202%202h12v-1h-12c-0.552%200-1-0.448-1-1%200-0.003%200-0.007%200-0.010l13-1.99z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.ui-icon-cart2:after{
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M6%2014.5c0%200.828-0.672%201.5-1.5%201.5s-1.5-0.672-1.5-1.5c0-0.828%200.672-1.5%201.5-1.5s1.5%200.672%201.5%201.5z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%2014.5c0%200.828-0.672%201.5-1.5%201.5s-1.5-0.672-1.5-1.5c0-0.828%200.672-1.5%201.5-1.5s1.5%200.672%201.5%201.5z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%208v-6h-12c0-0.552-0.448-1-1-1h-3v1h2l0.751%206.438c-0.458%200.367-0.751%200.93-0.751%201.562%200%201.105%200.895%202%202%202h12v-1h-12c-0.552%200-1-0.448-1-1%200-0.003%200-0.007%200-0.010l13-1.99z%22%3E%3C%2Fpath%3E%3Ccircle%20r%3D%223%22%20cy%3D%223.25%22%20cx%3D%2212.5%22%20fill%3D%22%23ff0000%22%2F%3E%3C%2Fsvg%3E");
}
.ui-icon-bin:after{
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M2%205v10c0%200.55%200.45%201%201%201h9c0.55%200%201-0.45%201-1v-10h-11zM5%2014h-1v-7h1v7zM7%2014h-1v-7h1v7zM9%2014h-1v-7h1v7zM11%2014h-1v-7h1v7z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.25%202h-3.25v-1.25c0-0.412-0.338-0.75-0.75-0.75h-3.5c-0.412%200-0.75%200.338-0.75%200.75v1.25h-3.25c-0.413%200-0.75%200.337-0.75%200.75v1.25h13v-1.25c0-0.413-0.338-0.75-0.75-0.75zM9%202h-3v-0.987h3v0.987z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");


}