.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
    clip: rect(1px,1px,1px,1px);
}
.webuploader-select{
	height:23px;
	padding:1px;
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	background:#1E9FFF;
	border-radius:2px;
	line-height:30px;
	padding:0px 10px;
	text-align: center;
	overflow: hidden;
	color:#fff;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.webuploader-pick-hover {
	opacity: 0.8;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

/* PHPOK后台附件上传样式 */

.phpok-upfile-list{
	border:solid 1px #E8E8E8;
	background:#F7F7F7;
	position:relative;
	margin-bottom:3px;
}

.phpok-upfile-list .title{
	padding:3px 8px;
	margin:0;
	font-size:12px;
	color:#000;
}

.phpok-upfile-list .state{
	padding:3px 8px;
	font-style:italic;
	color:#333300;
}

.phpok-upfile-list .cancel{
	background:url('delete.png') right top no-repeat;
	width:16px;
	height:16px;
	top:10px;
	right:10px;
	position:absolute;
	cursor:pointer;
}
.phpok-upfile-list .progress{
	height:10px;
	margin:0 8px;
	overflow:hidden;
}
.phpok-upfile-list .progress span{
	width:1px;
	height:5px;
	border:0;
	border-top:2px solid blue;
	display:block;
}

.phpok-btn{
	position:relative;
	overflow:visible;
	display:inline-block;
	padding:0.2em 0.6em;
	border:1px solid #d4d4d4;
	margin:0;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
	font:14px/normal "Microsoft Yahei","宋体","Arial",sans-serif;
	color:#333;
	white-space:nowrap;
	cursor:pointer;
	outline:none;
	background-color:#ececec;
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));
	background-image:-moz-linear-gradient(#f4f4f4,#ececec);
	background-image:-ms-linear-gradient(#f4f4f4,#ececec);
	background-image:-o-linear-gradient(#f4f4f4,#ececec);
	background-image:linear-gradient(#f4f4f4,#ececec);
	-moz-background-clip:padding;
	background-clip:padding-box;
	border-radius:3px;
	zoom:1;
	*display:inline
}

.phpok-btn:hover,
.phpok-btn:focus,
.phpok-btn:active,
.phpok-btn.active {
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3c8dde;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	background-image: -moz-linear-gradient(#599bdc, #3072b3);
	background-image: -o-linear-gradient(#599bdc, #3072b3);
	background-image: linear-gradient(#599bdc, #3072b3);
}

.phpok-btn:active,
.phpok-btn.active {
	border-color: #2a65a0;
	border-bottom-color: #3884cd;
	background-color: #3072b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
	background-image: -moz-linear-gradient(#3072b3, #599bdc);
	background-image: -ms-linear-gradient(#3072b3, #599bdc);
	background-image: -o-linear-gradient(#3072b3, #599bdc);
	background-image: linear-gradient(#3072b3, #599bdc);
}

.phpok-btn::-moz-focus-inner {padding: 0;border: 0;}

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.phpok-btn + .phpok-btn,
.phpok-btn + .button-group,
.button-group + .phpok-btn,
.button-group + .button-group {
    margin-left: 15px;
}

.button-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.button-group .phpok-btn {
    float: left;
    margin-left: -1px;
}

.button-group > .phpok-btn:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .phpok-btn {
    border-radius: 0;
}

.button-group > .phpok-btn:first-child,
.button-group li:first-child .phpok-btn {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .phpok-btn:last-child,
.button-group li:last-child > .phpok-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}